{"recorded_with": "betamax/0.8.1", "http_interactions": [{"response": {"url": "https://api.github.com:443/repos/mergify-test1/repo-635de56e-8215-4e12-92ef-1e314e27cb3e-test_reviews/statuses/9f7539aed0c36e07c3fa8d775f32f2bff301ab83", "body": {"string": "{\"url\":\"https://api.github.com/repos/mergify-test1/repo-635de56e-8215-4e12-92ef-1e314e27cb3e-test_reviews/statuses/9f7539aed0c36e07c3fa8d775f32f2bff301ab83\",\"id\":5154157946,\"node_id\":\"MDEzOlN0YXR1c0NvbnRleHQ1MTU0MTU3OTQ2\",\"state\":\"success\",\"description\":\"Your change works\",\"target_url\":null,\"context\":\"continuous-integration/fake-ci\",\"created_at\":\"2018-06-30T12:30:33Z\",\"updated_at\":\"2018-06-30T12:30:33Z\",\"creator\":{\"login\":\"mergify-test1\",\"id\":38494943,\"node_id\":\"MDQ6VXNlcjM4NDk0OTQz\",\"avatar_url\":\"https://avatars3.githubusercontent.com/u/38494943?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test1\",\"html_url\":\"https://github.com/mergify-test1\",\"followers_url\":\"https://api.github.com/users/mergify-test1/followers\",\"following_url\":\"https://api.github.com/users/mergify-test1/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test1/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test1/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test1/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test1/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test1/repos\",\"events_url\":\"https://api.github.com/users/mergify-test1/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test1/received_events\",\"type\":\"User\",\"site_admin\":false}}", "encoding": "utf-8"}, "status": {"message": "Created", "code": 201}, "headers": {"Location": ["https://api.github.com/repos/mergify-test1/repo-635de56e-8215-4e12-92ef-1e314e27cb3e-test_reviews/statuses/9f7539aed0c36e07c3fa8d775f32f2bff301ab83"], "Content-Type": ["application/json; charset=utf-8"], "ETag": ["\"737f15a732e7e49c5f6afcdead8738ee\""], "X-RateLimit-Remaining": ["4742"], "X-RateLimit-Reset": ["1530363170"], "X-RateLimit-Limit": ["5000"], "X-GitHub-Media-Type": ["github.machine-man-preview; format=json"], "Status": ["201 Created"], "X-OAuth-Scopes": ["repo"], "X-Accepted-OAuth-Scopes": [""]}}, "recorded_at": "2018-06-30T12:30:33", "request": {"uri": "https://api.github.com:443/repos/mergify-test1/repo-635de56e-8215-4e12-92ef-1e314e27cb3e-test_reviews/statuses/9f7539aed0c36e07c3fa8d775f32f2bff301ab83", "body": {"string": "{\"description\": \"Your change works\", \"context\": \"continuous-integration/fake-ci\", \"state\": \"success\"}", "encoding": "utf-8"}, "method": "POST", "headers": {"Authorization": ["token <MAIN_TOKEN>"], "Content-Type": ["application/json"]}}}]}