{"recorded_with": "betamax/0.8.1", "http_interactions": [{"response": {"url": "https://api.github.com:443/repos/mergify-test1/repo-635de56e-8215-4e12-92ef-1e314e27cb3e-test_reviews/pulls", "body": {"string": "{\"url\":\"https://api.github.com/repos/mergify-test1/repo-635de56e-8215-4e12-92ef-1e314e27cb3e-test_reviews/pulls/1\",\"id\":198474732,\"node_id\":\"MDExOlB1bGxSZXF1ZXN0MTk4NDc0NzMy\",\"html_url\":\"https://github.com/mergify-test1/repo-635de56e-8215-4e12-92ef-1e314e27cb3e-test_reviews/pull/1\",\"diff_url\":\"https://github.com/mergify-test1/repo-635de56e-8215-4e12-92ef-1e314e27cb3e-test_reviews/pull/1.diff\",\"patch_url\":\"https://github.com/mergify-test1/repo-635de56e-8215-4e12-92ef-1e314e27cb3e-test_reviews/pull/1.patch\",\"issue_url\":\"https://api.github.com/repos/mergify-test1/repo-635de56e-8215-4e12-92ef-1e314e27cb3e-test_reviews/issues/1\",\"number\":1,\"state\":\"open\",\"locked\":false,\"title\":\"Pull request n1 from fork\",\"user\":{\"login\":\"mergify-test2\",\"id\":38495008,\"node_id\":\"MDQ6VXNlcjM4NDk1MDA4\",\"avatar_url\":\"https://avatars1.githubusercontent.com/u/38495008?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test2\",\"html_url\":\"https://github.com/mergify-test2\",\"followers_url\":\"https://api.github.com/users/mergify-test2/followers\",\"following_url\":\"https://api.github.com/users/mergify-test2/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test2/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test2/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test2/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test2/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test2/repos\",\"events_url\":\"https://api.github.com/users/mergify-test2/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test2/received_events\",\"type\":\"User\",\"site_admin\":false},\"body\":\"Pull request n1 from fork\",\"created_at\":\"2018-06-30T12:30:26Z\",\"updated_at\":\"2018-06-30T12:30:26Z\",\"closed_at\":null,\"merged_at\":null,\"merge_commit_sha\":null,\"assignee\":null,\"assignees\":[],\"requested_reviewers\":[],\"requested_teams\":[],\"labels\":[],\"milestone\":null,\"commits_url\":\"https://api.github.com/repos/mergify-test1/repo-635de56e-8215-4e12-92ef-1e314e27cb3e-test_reviews/pulls/1/commits\",\"review_comments_url\":\"https://api.github.com/repos/mergify-test1/repo-635de56e-8215-4e12-92ef-1e314e27cb3e-test_reviews/pulls/1/comments\",\"review_comment_url\":\"https://api.github.com/repos/mergify-test1/repo-635de56e-8215-4e12-92ef-1e314e27cb3e-test_reviews/pulls/comments{/number}\",\"comments_url\":\"https://api.github.com/repos/mergify-test1/repo-635de56e-8215-4e12-92ef-1e314e27cb3e-test_reviews/issues/1/comments\",\"statuses_url\":\"https://api.github.com/repos/mergify-test1/repo-635de56e-8215-4e12-92ef-1e314e27cb3e-test_reviews/statuses/9f7539aed0c36e07c3fa8d775f32f2bff301ab83\",\"head\":{\"label\":\"mergify-test2:fork/pr1\",\"ref\":\"fork/pr1\",\"sha\":\"9f7539aed0c36e07c3fa8d775f32f2bff301ab83\",\"user\":{\"login\":\"mergify-test2\",\"id\":38495008,\"node_id\":\"MDQ6VXNlcjM4NDk1MDA4\",\"avatar_url\":\"https://avatars1.githubusercontent.com/u/38495008?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test2\",\"html_url\":\"https://github.com/mergify-test2\",\"followers_url\":\"https://api.github.com/users/mergify-test2/followers\",\"following_url\":\"https://api.github.com/users/mergify-test2/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test2/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test2/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test2/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test2/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test2/repos\",\"events_url\":\"https://api.github.com/users/mergify-test2/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test2/received_events\",\"type\":\"User\",\"site_admin\":false},\"repo\":{\"id\":139247790,\"node_id\":\"MDEwOlJlcG9zaXRvcnkxMzkyNDc3OTA=\",\"name\":\"repo-635de56e-8215-4e12-92ef-1e314e27cb3e-test_reviews\",\"full_name\":\"mergify-test2/repo-635de56e-8215-4e12-92ef-1e314e27cb3e-test_reviews\",\"owner\":{\"login\":\"mergify-test2\",\"id\":38495008,\"node_id\":\"MDQ6VXNlcjM4NDk1MDA4\",\"avatar_url\":\"https://avatars1.githubusercontent.com/u/38495008?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test2\",\"html_url\":\"https://github.com/mergify-test2\",\"followers_url\":\"https://api.github.com/users/mergify-test2/followers\",\"following_url\":\"https://api.github.com/users/mergify-test2/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test2/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test2/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test2/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test2/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test2/repos\",\"events_url\":\"https://api.github.com/users/mergify-test2/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test2/received_events\",\"type\":\"User\",\"site_admin\":false},\"private\":false,\"html_url\":\"https://github.com/mergify-test2/repo-635de56e-8215-4e12-92ef-1e314e27cb3e-test_reviews\",\"description\":null,\"fork\":true,\"url\":\"https://api.github.com/repos/mergify-test2/repo-635de56e-8215-4e12-92ef-1e314e27cb3e-test_reviews\",\"forks_url\":\"https://api.github.com/repos/mergify-test2/repo-635de56e-8215-4e12-92ef-1e314e27cb3e-test_reviews/forks\",\"keys_url\":\"https://api.github.com/repos/mergify-test2/repo-635de56e-8215-4e12-92ef-1e314e27cb3e-test_reviews/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/mergify-test2/repo-635de56e-8215-4e12-92ef-1e314e27cb3e-test_reviews/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/mergify-test2/repo-635de56e-8215-4e12-92ef-1e314e27cb3e-test_reviews/teams\",\"hooks_url\":\"https://api.github.com/repos/mergify-test2/repo-635de56e-8215-4e12-92ef-1e314e27cb3e-test_reviews/hooks\",\"issue_events_url\":\"https://api.github.com/repos/mergify-test2/repo-635de56e-8215-4e12-92ef-1e314e27cb3e-test_reviews/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/mergify-test2/repo-635de56e-8215-4e12-92ef-1e314e27cb3e-test_reviews/events\",\"assignees_url\":\"https://api.github.com/repos/mergify-test2/repo-635de56e-8215-4e12-92ef-1e314e27cb3e-test_reviews/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/mergify-test2/repo-635de56e-8215-4e12-92ef-1e314e27cb3e-test_reviews/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/mergify-test2/repo-635de56e-8215-4e12-92ef-1e314e27cb3e-test_reviews/tags\",\"blobs_url\":\"https://api.github.com/repos/mergify-test2/repo-635de56e-8215-4e12-92ef-1e314e27cb3e-test_reviews/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/mergify-test2/repo-635de56e-8215-4e12-92ef-1e314e27cb3e-test_reviews/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/mergify-test2/repo-635de56e-8215-4e12-92ef-1e314e27cb3e-test_reviews/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/mergify-test2/repo-635de56e-8215-4e12-92ef-1e314e27cb3e-test_reviews/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/mergify-test2/repo-635de56e-8215-4e12-92ef-1e314e27cb3e-test_reviews/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/mergify-test2/repo-635de56e-8215-4e12-92ef-1e314e27cb3e-test_reviews/languages\",\"stargazers_url\":\"https://api.github.com/repos/mergify-test2/repo-635de56e-8215-4e12-92ef-1e314e27cb3e-test_reviews/stargazers\",\"contributors_url\":\"https://api.github.com/repos/mergify-test2/repo-635de56e-8215-4e12-92ef-1e314e27cb3e-test_reviews/contributors\",\"subscribers_url\":\"https://api.github.com/repos/mergify-test2/repo-635de56e-8215-4e12-92ef-1e314e27cb3e-test_reviews/subscribers\",\"subscription_url\":\"https://api.github.com/repos/mergify-test2/repo-635de56e-8215-4e12-92ef-1e314e27cb3e-test_reviews/subscription\",\"commits_url\":\"https://api.github.com/repos/mergify-test2/repo-635de56e-8215-4e12-92ef-1e314e27cb3e-test_reviews/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/mergify-test2/repo-635de56e-8215-4e12-92ef-1e314e27cb3e-test_reviews/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/mergify-test2/repo-635de56e-8215-4e12-92ef-1e314e27cb3e-test_reviews/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/mergify-test2/repo-635de56e-8215-4e12-92ef-1e314e27cb3e-test_reviews/issues/comments{/number}\",\"contents_url\":\"https://api.github.com/repos/mergify-test2/repo-635de56e-8215-4e12-92ef-1e314e27cb3e-test_reviews/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/mergify-test2/repo-635de56e-8215-4e12-92ef-1e314e27cb3e-test_reviews/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/mergify-test2/repo-635de56e-8215-4e12-92ef-1e314e27cb3e-test_reviews/merges\",\"archive_url\":\"https://api.github.com/repos/mergify-test2/repo-635de56e-8215-4e12-92ef-1e314e27cb3e-test_reviews/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/mergify-test2/repo-635de56e-8215-4e12-92ef-1e314e27cb3e-test_reviews/downloads\",\"issues_url\":\"https://api.github.com/repos/mergify-test2/repo-635de56e-8215-4e12-92ef-1e314e27cb3e-test_reviews/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/mergify-test2/repo-635de56e-8215-4e12-92ef-1e314e27cb3e-test_reviews/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/mergify-test2/repo-635de56e-8215-4e12-92ef-1e314e27cb3e-test_reviews/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/mergify-test2/repo-635de56e-8215-4e12-92ef-1e314e27cb3e-test_reviews/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/mergify-test2/repo-635de56e-8215-4e12-92ef-1e314e27cb3e-test_reviews/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/mergify-test2/repo-635de56e-8215-4e12-92ef-1e314e27cb3e-test_reviews/releases{/id}\",\"deployments_url\":\"https://api.github.com/repos/mergify-test2/repo-635de56e-8215-4e12-92ef-1e314e27cb3e-test_reviews/deployments\",\"created_at\":\"2018-06-30T12:30:19Z\",\"updated_at\":\"2018-06-30T12:30:21Z\",\"pushed_at\":\"2018-06-30T12:30:26Z\",\"git_url\":\"git://github.com/mergify-test2/repo-635de56e-8215-4e12-92ef-1e314e27cb3e-test_reviews.git\",\"ssh_url\":\"git@github.com:mergify-test2/repo-635de56e-8215-4e12-92ef-1e314e27cb3e-test_reviews.git\",\"clone_url\":\"https://github.com/mergify-test2/repo-635de56e-8215-4e12-92ef-1e314e27cb3e-test_reviews.git\",\"svn_url\":\"https://github.com/mergify-test2/repo-635de56e-8215-4e12-92ef-1e314e27cb3e-test_reviews\",\"homepage\":null,\"size\":0,\"stargazers_count\":0,\"watchers_count\":0,\"language\":null,\"has_issues\":false,\"has_projects\":true,\"has_downloads\":true,\"has_wiki\":true,\"has_pages\":false,\"forks_count\":0,\"mirror_url\":null,\"archived\":false,\"open_issues_count\":0,\"license\":null,\"forks\":0,\"open_issues\":0,\"watchers\":0,\"default_branch\":\"master\"}},\"base\":{\"label\":\"mergify-test1:master\",\"ref\":\"master\",\"sha\":\"e72ebda28f46ac348d33f9697df9faebdbd25b8b\",\"user\":{\"login\":\"mergify-test1\",\"id\":38494943,\"node_id\":\"MDQ6VXNlcjM4NDk0OTQz\",\"avatar_url\":\"https://avatars3.githubusercontent.com/u/38494943?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test1\",\"html_url\":\"https://github.com/mergify-test1\",\"followers_url\":\"https://api.github.com/users/mergify-test1/followers\",\"following_url\":\"https:/[...]
