{"recorded_with": "betamax/0.8.1", "http_interactions": [{"response": {"url": "https://gh.mergify.io/events-testing?id=22", "headers": {"Content-Type": ["application/json"]}, "body": {"encoding": null, "string": "[]\n"}, "status": {"message": "OK", "code": 200}}, "request": {"method": "GET", "headers": {}, "uri": "https://gh.mergify.io/events-testing?id=22", "body": {"encoding": "utf-8", "string": ""}}, "recorded_at": "2018-06-18T09:27:03"}, {"request": {"method": "GET", "headers": {"X-Hub-Signature": ["sha1=<FAKE_HMAC>"]}, "uri": "https://gh.mergify.io/events-testing?id=22", "body": {"encoding": "utf-8", "string": "<FAKE_DATA>"}}, "response": {"url": "https://gh.mergify.io/events-testing?id=22", "headers": {"Content-Type": ["application/json"]}, "body": {"encoding": null, "string": "[]\n"}, "status": {"message": "OK", "code": 200}}, "recorded_at": "2018-06-21T07:42:49"}]}