{"http_interactions": [{"response": {"url": "https://api.github.com:443/repos/mergify-test1/repo-edae3e31-24bc-4ccd-9279-6373227c444f-test_disabling_files/statuses/589ba142f277ff9c910e4135ed199e68925afc86", "body": {"string": "{\"url\":\"https://api.github.com/repos/mergify-test1/repo-edae3e31-24bc-4ccd-9279-6373227c444f-test_disabling_files/statuses/589ba142f277ff9c910e4135ed199e68925afc86\",\"id\":5112604774,\"node_id\":\"MDEzOlN0YXR1c0NvbnRleHQ1MTEyNjA0Nzc0\",\"state\":\"success\",\"description\":\"Your change works\",\"target_url\":null,\"context\":\"continuous-integration/fake-ci\",\"created_at\":\"2018-06-21T08:22:30Z\",\"updated_at\":\"2018-06-21T08:22:30Z\",\"creator\":{\"login\":\"mergify-test1\",\"id\":38494943,\"node_id\":\"MDQ6VXNlcjM4NDk0OTQz\",\"avatar_url\":\"https://avatars3.githubusercontent.com/u/38494943?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test1\",\"html_url\":\"https://github.com/mergify-test1\",\"followers_url\":\"https://api.github.com/users/mergify-test1/followers\",\"following_url\":\"https://api.github.com/users/mergify-test1/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test1/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test1/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test1/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test1/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test1/repos\",\"events_url\":\"https://api.github.com/users/mergify-test1/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test1/received_events\",\"type\":\"User\",\"site_admin\":false}}", "encoding": "utf-8"}, "headers": {"ETag": ["\"4a5f0d732ab22174359ba1792f7204a4\""], "X-RateLimit-Limit": ["5000"], "Status": ["201 Created"], "X-RateLimit-Reset": ["1529572616"], "X-RateLimit-Remaining": ["4932"], "X-OAuth-Scopes": ["repo"], "Location": ["https://api.github.com/repos/mergify-test1/repo-edae3e31-24bc-4ccd-9279-6373227c444f-test_disabling_files/statuses/589ba142f277ff9c910e4135ed199e68925afc86"], "X-GitHub-Media-Type": ["github.machine-man-preview; format=json"], "X-Accepted-OAuth-Scopes": [""], "Content-Type": ["application/json; charset=utf-8"]}, "status": {"code": 201, "message": "Created"}}, "request": {"method": "POST", "body": {"string": "{\"context\": \"continuous-integration/fake-ci\", \"state\": \"success\", \"description\": \"Your change works\"}", "encoding": "utf-8"}, "headers": {"Content-Type": ["application/json"], "Authorization": ["token <MAIN_TOKEN>"]}, "uri": "https://api.github.com:443/repos/mergify-test1/repo-edae3e31-24bc-4ccd-9279-6373227c444f-test_disabling_files/statuses/589ba142f277ff9c910e4135ed199e68925afc86"}, "recorded_at": "2018-06-21T08:22:30"}], "recorded_with": "betamax/0.8.1"}