{"recorded_with": "betamax/0.8.1", "http_interactions": [{"response": {"headers": {"Content-Type": ["text/html; charset=utf-8"]}, "url": "https://gh.mergify.io/events-testing", "status": {"message": "ACCEPTED", "code": 202}, "body": {"string": "", "encoding": "utf-8"}}, "request": {"headers": {}, "uri": "https://gh.mergify.io/events-testing", "method": "DELETE", "body": {"string": "", "encoding": "utf-8"}}, "recorded_at": "2018-06-18T09:26:39"}, {"response": {"headers": {"X-RateLimit-Limit": ["5000"], "X-GitHub-Media-Type": ["github.v3; format=json"], "X-RateLimit-Remaining": ["4995"], "Content-Type": ["application/json; charset=utf-8"], "Status": ["202 Accepted"], "X-RateLimit-Reset": ["1529316071"], "X-Accepted-OAuth-Scopes": [""], "X-OAuth-Scopes": ["repo"]}, "url": "https://api.github.com:443/repos/mergify-test1/repo-16e748b1-ac18-4f06-b7ee-97d67c1b1dd9-test_disabling_files/forks", "status": {"message": "Accepted", "code": 202}, "body": {"string": "{\"id\":137732918,\"node_id\":\"MDEwOlJlcG9zaXRvcnkxMzc3MzI5MTg=\",\"name\":\"repo-16e748b1-ac18-4f06-b7ee-97d67c1b1dd9-test_disabling_files\",\"full_name\":\"mergify-test2/repo-16e748b1-ac18-4f06-b7ee-97d67c1b1dd9-test_disabling_files\",\"owner\":{\"login\":\"mergify-test2\",\"id\":38495008,\"node_id\":\"MDQ6VXNlcjM4NDk1MDA4\",\"avatar_url\":\"https://avatars1.githubusercontent.com/u/38495008?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test2\",\"html_url\":\"https://github.com/mergify-test2\",\"followers_url\":\"https://api.github.com/users/mergify-test2/followers\",\"following_url\":\"https://api.github.com/users/mergify-test2/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test2/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test2/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test2/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test2/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test2/repos\",\"events_url\":\"https://api.github.com/users/mergify-test2/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test2/received_events\",\"type\":\"User\",\"site_admin\":false},\"private\":false,\"html_url\":\"https://github.com/mergify-test2/repo-16e748b1-ac18-4f06-b7ee-97d67c1b1dd9-test_disabling_files\",\"description\":null,\"fork\":true,\"url\":\"https://api.github.com/repos/mergify-test2/repo-16e748b1-ac18-4f06-b7ee-97d67c1b1dd9-test_disabling_files\",\"forks_url\":\"https://api.github.com/repos/mergify-test2/repo-16e748b1-ac18-4f06-b7ee-97d67c1b1dd9-test_disabling_files/forks\",\"keys_url\":\"https://api.github.com/repos/mergify-test2/repo-16e748b1-ac18-4f06-b7ee-97d67c1b1dd9-test_disabling_files/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/mergify-test2/repo-16e748b1-ac18-4f06-b7ee-97d67c1b1dd9-test_disabling_files/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/mergify-test2/repo-16e748b1-ac18-4f06-b7ee-97d67c1b1dd9-test_disabling_files/teams\",\"hooks_url\":\"https://api.github.com/repos/mergify-test2/repo-16e748b1-ac18-4f06-b7ee-97d67c1b1dd9-test_disabling_files/hooks\",\"issue_events_url\":\"https://api.github.com/repos/mergify-test2/repo-16e748b1-ac18-4f06-b7ee-97d67c1b1dd9-test_disabling_files/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/mergify-test2/repo-16e748b1-ac18-4f06-b7ee-97d67c1b1dd9-test_disabling_files/events\",\"assignees_url\":\"https://api.github.com/repos/mergify-test2/repo-16e748b1-ac18-4f06-b7ee-97d67c1b1dd9-test_disabling_files/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/mergify-test2/repo-16e748b1-ac18-4f06-b7ee-97d67c1b1dd9-test_disabling_files/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/mergify-test2/repo-16e748b1-ac18-4f06-b7ee-97d67c1b1dd9-test_disabling_files/tags\",\"blobs_url\":\"https://api.github.com/repos/mergify-test2/repo-16e748b1-ac18-4f06-b7ee-97d67c1b1dd9-test_disabling_files/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/mergify-test2/repo-16e748b1-ac18-4f06-b7ee-97d67c1b1dd9-test_disabling_files/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/mergify-test2/repo-16e748b1-ac18-4f06-b7ee-97d67c1b1dd9-test_disabling_files/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/mergify-test2/repo-16e748b1-ac18-4f06-b7ee-97d67c1b1dd9-test_disabling_files/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/mergify-test2/repo-16e748b1-ac18-4f06-b7ee-97d67c1b1dd9-test_disabling_files/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/mergify-test2/repo-16e748b1-ac18-4f06-b7ee-97d67c1b1dd9-test_disabling_files/languages\",\"stargazers_url\":\"https://api.github.com/repos/mergify-test2/repo-16e748b1-ac18-4f06-b7ee-97d67c1b1dd9-test_disabling_files/stargazers\",\"contributors_url\":\"https://api.github.com/repos/mergify-test2/repo-16e748b1-ac18-4f06-b7ee-97d67c1b1dd9-test_disabling_files/contributors\",\"subscribers_url\":\"https://api.github.com/repos/mergify-test2/repo-16e748b1-ac18-4f06-b7ee-97d67c1b1dd9-test_disabling_files/subscribers\",\"subscription_url\":\"https://api.github.com/repos/mergify-test2/repo-16e748b1-ac18-4f06-b7ee-97d67c1b1dd9-test_disabling_files/subscription\",\"commits_url\":\"https://api.github.com/repos/mergify-test2/repo-16e748b1-ac18-4f06-b7ee-97d67c1b1dd9-test_disabling_files/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/mergify-test2/repo-16e748b1-ac18-4f06-b7ee-97d67c1b1dd9-test_disabling_files/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/mergify-test2/repo-16e748b1-ac18-4f06-b7ee-97d67c1b1dd9-test_disabling_files/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/mergify-test2/repo-16e748b1-ac18-4f06-b7ee-97d67c1b1dd9-test_disabling_files/issues/comments{/number}\",\"contents_url\":\"https://api.github.com/repos/mergify-test2/repo-16e748b1-ac18-4f06-b7ee-97d67c1b1dd9-test_disabling_files/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/mergify-test2/repo-16e748b1-ac18-4f06-b7ee-97d67c1b1dd9-test_disabling_files/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/mergify-test2/repo-16e748b1-ac18-4f06-b7ee-97d67c1b1dd9-test_disabling_files/merges\",\"archive_url\":\"https://api.github.com/repos/mergify-test2/repo-16e748b1-ac18-4f06-b7ee-97d67c1b1dd9-test_disabling_files/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/mergify-test2/repo-16e748b1-ac18-4f06-b7ee-97d67c1b1dd9-test_disabling_files/downloads\",\"issues_url\":\"https://api.github.com/repos/mergify-test2/repo-16e748b1-ac18-4f06-b7ee-97d67c1b1dd9-test_disabling_files/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/mergify-test2/repo-16e748b1-ac18-4f06-b7ee-97d67c1b1dd9-test_disabling_files/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/mergify-test2/repo-16e748b1-ac18-4f06-b7ee-97d67c1b1dd9-test_disabling_files/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/mergify-test2/repo-16e748b1-ac18-4f06-b7ee-97d67c1b1dd9-test_disabling_files/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/mergify-test2/repo-16e748b1-ac18-4f06-b7ee-97d67c1b1dd9-test_disabling_files/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/mergify-test2/repo-16e748b1-ac18-4f06-b7ee-97d67c1b1dd9-test_disabling_files/releases{/id}\",\"deployments_url\":\"https://api.github.com/repos/mergify-test2/repo-16e748b1-ac18-4f06-b7ee-97d67c1b1dd9-test_disabling_files/deployments\",\"created_at\":\"2018-06-18T09:26:49Z\",\"updated_at\":\"2018-06-18T09:26:44Z\",\"pushed_at\":\"2018-06-18T09:26:49Z\",\"git_url\":\"git://github.com/mergify-test2/repo-16e748b1-ac18-4f06-b7ee-97d67c1b1dd9-test_disabling_files.git\",\"ssh_url\":\"git@github.com:mergify-test2/repo-16e748b1-ac18-4f06-b7ee-97d67c1b1dd9-test_disabling_files.git\",\"clone_url\":\"https://github.com/mergify-test2/repo-16e748b1-ac18-4f06-b7ee-97d67c1b1dd9-test_disabling_files.git\",\"svn_url\":\"https://github.com/mergify-test2/repo-16e748b1-ac18-4f06-b7ee-97d67c1b1dd9-test_disabling_files\",\"homepage\":null,\"size\":0,\"stargazers_count\":0,\"watchers_count\":0,\"language\":null,\"has_issues\":false,\"has_projects\":true,\"has_downloads\":true,\"has_wiki\":true,\"has_pages\":false,\"forks_count\":0,\"mirror_url\":null,\"archived\":false,\"open_issues_count\":0,\"license\":null,\"forks\":0,\"open_issues\":0,\"watchers\":0,\"default_branch\":\"master\",\"permissions\":{\"admin\":true,\"push\":true,\"pull\":true},\"parent\":{\"id\":137732902,\"node_id\":\"MDEwOlJlcG9zaXRvcnkxMzc3MzI5MDI=\",\"name\":\"repo-16e748b1-ac18-4f06-b7ee-97d67c1b1dd9-test_disabling_files\",\"full_name\":\"mergify-test1/repo-16e748b1-ac18-4f06-b7ee-97d67c1b1dd9-test_disabling_files\",\"owner\":{\"login\":\"mergify-test1\",\"id\":38494943,\"node_id\":\"MDQ6VXNlcjM4NDk0OTQz\",\"avatar_url\":\"https://avatars3.githubusercontent.com/u/38494943?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test1\",\"html_url\":\"https:[...]
