{"http_interactions": [{"response": {"url": "https://gh.mergify.io/events-testing?id=7", "body": {"string": "[]\n", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "status": {"code": 200, "message": "OK"}}, "request": {"method": "GET", "body": {"string": "<FAKE_DATA>", "encoding": "utf-8"}, "headers": {"X-Hub-Signature": ["sha1=<FAKE_HMAC>"]}, "uri": "https://gh.mergify.io/events-testing?id=7"}, "recorded_at": "2018-06-21T07:42:40"}, {"response": {"url": "https://gh.mergify.io/events-testing?id=7", "body": {"string": "[]\n", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "status": {"code": 200, "message": "OK"}}, "request": {"method": "GET", "body": {"string": "<FAKE_DATA>", "encoding": "utf-8"}, "headers": {"X-Hub-Signature": ["sha1=<FAKE_HMAC>"]}, "uri": "https://gh.mergify.io/events-testing?id=7"}, "recorded_at": "2018-06-21T08:22:24"}], "recorded_with": "betamax/0.8.1"}