{"recorded_with": "betamax/0.8.1", "http_interactions": [{"response": {"headers": {"X-GitHub-Media-Type": ["github.machine-man-preview; format=json"], "X-RateLimit-Reset": ["1529858954"], "X-Accepted-OAuth-Scopes": [""], "Location": ["https://api.github.com/repos/mergify-test1/repo-59b214a2-77c7-4f57-9788-8611a79a5870-test_disabling_files/statuses/c10fa7125c55d8836bdbf0913e4b7ea2197d2abe"], "X-RateLimit-Limit": ["5000"], "X-RateLimit-Remaining": ["4909"], "Content-Type": ["application/json; charset=utf-8"], "ETag": ["\"56c8ce9c3851ccd201dc4c8ca53ebb8c\""], "Status": ["201 Created"], "X-OAuth-Scopes": ["repo"]}, "url": "https://api.github.com:443/repos/mergify-test1/repo-59b214a2-77c7-4f57-9788-8611a79a5870-test_disabling_files/statuses/c10fa7125c55d8836bdbf0913e4b7ea2197d2abe", "status": {"message": "Created", "code": 201}, "body": {"string": "{\"url\":\"https://api.github.com/repos/mergify-test1/repo-59b214a2-77c7-4f57-9788-8611a79a5870-test_disabling_files/statuses/c10fa7125c55d8836bdbf0913e4b7ea2197d2abe\",\"id\":5124320906,\"node_id\":\"MDEzOlN0YXR1c0NvbnRleHQ1MTI0MzIwOTA2\",\"state\":\"success\",\"description\":\"Your change works\",\"target_url\":null,\"context\":\"continuous-integration/fake-ci\",\"created_at\":\"2018-06-24T15:58:31Z\",\"updated_at\":\"2018-06-24T15:58:31Z\",\"creator\":{\"login\":\"mergify-test1\",\"id\":38494943,\"node_id\":\"MDQ6VXNlcjM4NDk0OTQz\",\"avatar_url\":\"https://avatars3.githubusercontent.com/u/38494943?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test1\",\"html_url\":\"https://github.com/mergify-test1\",\"followers_url\":\"https://api.github.com/users/mergify-test1/followers\",\"following_url\":\"https://api.github.com/users/mergify-test1/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test1/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test1/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test1/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test1/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test1/repos\",\"events_url\":\"https://api.github.com/users/mergify-test1/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test1/received_events\",\"type\":\"User\",\"site_admin\":false}}", "encoding": "utf-8"}}, "request": {"headers": {"Authorization": ["token <MAIN_TOKEN>"], "Content-Type": ["application/json"]}, "uri": "https://api.github.com:443/repos/mergify-test1/repo-59b214a2-77c7-4f57-9788-8611a79a5870-test_disabling_files/statuses/c10fa7125c55d8836bdbf0913e4b7ea2197d2abe", "method": "POST", "body": {"string": "{\"context\": \"continuous-integration/fake-ci\", \"state\": \"success\", \"description\": \"Your change works\"}", "encoding": "utf-8"}}, "recorded_at": "2018-06-24T15:58:31"}, {"response": {"headers": {"X-GitHub-Media-Type": ["github.machine-man-preview; format=json"], "X-RateLimit-Reset": ["1529858954"], "X-Accepted-OAuth-Scopes": [""], "Location": ["https://api.github.com/repos/mergify-test1/repo-5bc696cc-e4d5-44fc-b65b-c664ffc9d02c-test_disabling_files/statuses/55978429f11dc6276a0210b340241a249350fdc6"], "X-RateLimit-Limit": ["5000"], "X-RateLimit-Remaining": ["4804"], "Content-Type": ["application/json; charset=utf-8"], "ETag": ["\"a2710ae[...]
