{"recorded_with": "betamax/0.8.1", "http_interactions": [{"response": {"headers": {"Content-Type": ["application/json; charset=utf-8"], "Location": ["https://api.github.com/repos/mergify-test1/repo-16e748b1-ac18-4f06-b7ee-97d67c1b1dd9-test_disabling_files/statuses/b39a600f7b030027cf7b3c1e64306298252162b2"], "X-OAuth-Scopes": ["repo"], "X-RateLimit-Reset": ["1529316071"], "X-GitHub-Media-Type": ["github.machine-man-preview; format=json"], "X-RateLimit-Limit": ["5000"], "X-Accepted-OAuth-Scopes": [""], "X-RateLimit-Remaining": ["4989"], "ETag": ["\"a770ea885afd8b1dca4a19a4807557b4\""], "Status": ["201 Created"]}, "url": "https://api.github.com:443/repos/mergify-test1/repo-16e748b1-ac18-4f06-b7ee-97d67c1b1dd9-test_disabling_files/statuses/b39a600f7b030027cf7b3c1e64306298252162b2", "body": {"encoding": "utf-8", "string": "{\"url\":\"https://api.github.com/repos/mergify-test1/repo-16e748b1-ac18-4f06-b7ee-97d67c1b1dd9-test_disabling_files/statuses/b39a600f7b030027cf7b3c1e64306298252162b2\",\"id\":5095426642,\"node_id\":\"MDEzOlN0YXR1c0NvbnRleHQ1MDk1NDI2NjQy\",\"state\":\"success\",\"description\":\"Your change works\",\"target_url\":null,\"context\":\"continuous-integration/fake-ci\",\"created_at\":\"2018-06-18T09:26:59Z\",\"updated_at\":\"2018-06-18T09:26:59Z\",\"creator\":{\"login\":\"mergify-test1\",\"id\":38494943,\"node_id\":\"MDQ6VXNlcjM4NDk0OTQz\",\"avatar_url\":\"https://avatars3.githubusercontent.com/u/38494943?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test1\",\"html_url\":\"https://github.com/mergify-test1\",\"followers_url\":\"https://api.github.com/users/mergify-test1/followers\",\"following_url\":\"https://api.github.com/users/mergify-test1/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test1/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test1/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test1/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test1/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test1/repos\",\"events_url\":\"https://api.github.com/users/mergify-test1/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test1/received_events\",\"type\":\"User\",\"site_admin\":false}}"}, "status": {"code": 201, "message": "Created"}}, "recorded_at": "2018-06-18T09:26:59", "request": {"headers": {"Content-Type": ["application/json"], "Authorization": ["token <MAIN_TOKEN>"]}, "uri": "https://api.github.com:443/repos/mergify-test1/repo-16e748b1-ac18-4f06-b7ee-97d67c1b1dd9-test_disabling_files/statuses/b39a600f7b030027cf7b3c1e64306298252162b2", "body": {"encoding": "utf-8", "string": "{\"state\": \"success\", \"context\": \"continuous-integration/fake-ci\", \"description\": \"Your change works\"}"}, "method": "POST"}}]}