interactions:
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/user
  response:
    content: '{"login":"mergify-test1","id":38494943,"node_id":"MDQ6VXNlcjM4NDk0OTQz","avatar_url":"https://avatars.githubusercontent.com/u/38494943?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-test1","html_url":"https://github.com/mergify-test1","followers_url":"https://api.github.com/users/mergify-test1/followers","following_url":"https://api.github.com/users/mergify-test1/following{/other_user}","gists_url":"https://api.github.com/users/mergify-test1/gists{/gist_id}","starred_url":"https://api.github.com/users/mergify-test1/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergify-test1/subscriptions","organizations_url":"https://api.github.com/users/mergify-test1/orgs","repos_url":"https://api.github.com/users/mergify-test1/repos","events_url":"https://api.github.com/users/mergify-test1/events{/privacy}","received_events_url":"https://api.github.com/users/mergify-test1/received_events","type":"User","site_admin":false,"name":"mergify-test-user-1","company":"@mergifyio","blog":"https://mergify.io","location":null,"email":null,"hireable":null,"bio":"This
      account is for testing purpose of the workflow of the GitHub App @mergifyio","twitter_username":"mergifyio","public_repos":0,"public_gists":0,"followers":0,"following":0,"created_at":"2018-04-18T10:42:59Z","updated_at":"2021-09-15T15:03:25Z","private_gists":0,"total_private_repos":0,"owned_private_repos":0,"disk_usage":0,"collaborators":0,"two_factor_authentication":false,"plan":{"name":"free","space":976562499,"collaborators":0,"private_repos":10000}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
      X-OAuth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
    status_code: 200
[...]
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/user/40527191/installation
  response:
    content: '{"id":15398551,"account":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"repository_selection":"all","access_tokens_url":"https://api.github.com/app/installations/15398551/access_tokens","repositories_url":"https://api.github.com/installation/repositories","html_url":"https://github.com/organizations/mergifyio-testing/settings/installations/15398551","app_id":11221,"app_slug":"mergify-test","target_id":40527191,"target_type":"Organization","permissions":{"pages":"write","checks":"write","issues":"write","members":"read","contents":"write","metadata":"read","statuses":"read","pull_requests":"write"},"events":["check_run","check_suite","issue_comment","pull_request","pull_request_review","pull_request_review_comment","push","status"],"created_at":"2021-03-15T16:12:17.000Z","updated_at":"2021-03-15T16:12:17.000Z","single_file_name":null,"has_multiple_single_files":false,"single_file_paths":[],"suspended_by":null,"suspended_at":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 200
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: POST
    uri: https://api.github.com/app/installations/15398551/access_tokens
  response:
    content: '{"token": "<TOKEN>", "expires_at": "2021-09-16T15:11:13Z", "permissions":
      {"members": "read", "checks": "write", "contents": "write", "issues": "write",
      "metadata": "read", "pages": "write", "pull_requests": "write", "statuses":
      "read"}, "repository_selection": "all"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 201
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/repositories/399462964
  response:
    content: '{"id":399462964,"node_id":"MDEwOlJlcG9zaXRvcnkzOTk0NjI5NjQ=","name":"functional-testing-repo-ErwanSimonetti","full_name":"mergifyio-testing/functional-testing-repo-ErwanSimonetti","private":false,"owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/mergifyio-testing/functional-testing-repo-ErwanSimonetti","description":null,"fork":false,"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti","forks_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/forks","keys_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/keys{/key_id}","collaborators_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/teams","hooks_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/hooks","issue_events_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/issues/events{/number}","events_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/events","assignees_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/assignees{/user}","branches_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/branches{/branch}","tags_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/tags","blobs_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/git/refs{/sha}","trees_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/git/trees{/sha}","statuses_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/statuses/{sha}","languages_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/languages","stargazers_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/stargazers","contributors_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/contributors","subscribers_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/subscribers","subscription_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/subscription","commits_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/commits{/sha}","git_commits_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/git/commits{/sha}","comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/comments{/number}","issue_comment_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/issues/comments{/number}","contents_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/contents/{+path}","compare_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/compare/{base}...{head}","merges_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/merges","archive_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/downloads","issues_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/issues{/number}","pulls_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/pulls{/number}","milestones_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/milestones{/number}","notifications_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/labels{/name}","releases_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/releases{/id}","deployments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/deployments","created_at":"2021-08-24T12:50:13Z","updated_at":"2021-09-16T14:05:35Z","pushed_at":"2021-09-16T14:11:02Z","git_url":"git://github.com/mergifyio-testing/functional-testing-repo-ErwanSimonetti.git","ssh_url":"git@github.com:mergifyio-testing/functional-testing-repo-ErwanSimonetti.git","clone_url":"https://github.com/mergifyio-testing/functional-testing-repo-ErwanSimonetti.git","svn_url":"https://github.com/mergifyio-testing/functional-testing-repo-ErwanSimonetti","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":1,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"allow_forking":true,"forks":1,"open_issues":0,"watchers":0,"default_branch":"main","permissions":{"admin":false,"maintain":false,"push":false,"triage":false,"pull":false},"temp_clone_token":"","allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"allow_auto_merge":false,"delete_branch_on_merge":false,"organization":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"network_count":1,"subscribers_count":0}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 200
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: DELETE
    uri: https://test-forwarder.mergify.io/events/github.com/11221/399462964
  response:
    content: Event queued
    headers:
    status_code: 202
- request:
    body: '{"default_branch": "20210916141104/test_assign_valid_template/main"}'
    headers:
      Authorization:
      - <TOKEN>
      content-type:
      - application/json
    method: PATCH
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti
  response:
    content: '{"id":399462964,"node_id":"MDEwOlJlcG9zaXRvcnkzOTk0NjI5NjQ=","name":"functional-testing-repo-ErwanSimonetti","full_name":"mergifyio-testing/functional-testing-repo-ErwanSimonetti","private":false,"owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercon[...]
- request:
    body: '{"base": "20210916141104/test_assign_valid_template/main", "head": "mergify-test2:20210916141104/test_assign_valid_template/fork/pr1",
      "title": "test_assign_valid_template: pull request n1 from fork", "body": "test_assign_valid_template:
      pull request n1 from fork", "draft": false}'
    headers:
      Authorization:
      - <TOKEN>
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/pulls
  response:
    content: '{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/pulls/555","id":735517753,"node_id":"PR_kwDOF89SNM4r1xw5","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-ErwanSimonetti/pull/555","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo-ErwanSimonetti/pull/555.diff","patch_url":"https://github.com/mergifyio-testing/functional-testing-repo-ErwanSimonetti/pull/555.patch","issue_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/issues/555","number":555,"state":"open","locked":false,"title":"test_assign_valid_template:
      pull request n1 from fork","user":{"login":"mergify-test2","id":38495008,"node_id":"MDQ6VXNlcjM4NDk1MDA4","avatar_url":"https://avatars.githubusercontent.com/u/38495008?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-test2","html_url":"https://github.com/mergify-test2","followers_url":"https://api.github.com/users/mergify-test2/followers","following_url":"https://api.github.com/users/mergify-test2/following{/other_user}","gists_url":"https://api.github.com/users/mergify-test2/gists{/gist_id}","starred_url":"https://api.github.com/users/mergify-test2/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergify-test2/subscriptions","organizations_url":"https://api.github.com/users/mergify-test2/orgs","repos_url":"https://api.github.com/users/mergify-test2/repos","events_url":"https://api.github.com/users/mergify-test2/events{/privacy}","received_events_url":"https://api.github.com/users/mergify-test2/received_events","type":"User","site_admin":false},"body":"test_assign_valid_template:
      pull request n1 from fork","created_at":"2021-09-16T14:11:38Z","updated_at":"2021-09-16T14:11:38Z","closed_at":null,"merged_at":null,"merge_commit_sha":null,"assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/pulls/555/commits","review_comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/pulls/555/comments","review_comment_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/pulls/comments{/number}","comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/issues/555/comments","statuses_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/statuses/c5526f824dbba5bb2c70594d5769d3b1650dae4c","head":{"label":"mergify-test2:20210916141104/test_assign_valid_template/fork/pr1","ref":"20210916141104/test_assign_valid_template/fork/pr1","sha":"c5526f824dbba5bb2c70594d5769d3b1650dae4c","user":{"login":"mergify-test2","id":38495008,"node_id":"MDQ6VXNlcjM4NDk1MDA4","avatar_url":"https://avatars.githubusercontent.com/u/38495008?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-test2","html_url":"https://github.com/mergify-test2","followers_url":"https://api.github.com/users/mergify-test2/followers","following_url":"https://api.github.com/users/mergify-test2/following{/other_user}","gists_url":"https://api.github.com/users/mergify-test2/gists{/gist_id}","starred_url":"https://api.github.com/users/mergify-test2/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergify-test2/subscriptions","organizations_url":"https://api.github.com/users/mergify-test2/orgs","repos_url":"https://api.github.com/users/mergify-test2/repos","events_url":"https://api.github.com/users/mergify-test2/events{/privacy}","received_events_url":"https://api.github.com/users/mergify-test2/received_events","type":"User","site_admin":false},"repo":{"id":399463576,"node_id":"MDEwOlJlcG9zaXRvcnkzOTk0NjM1NzY=","name":"functional-testing-repo-ErwanSimonetti","full_name":"mergify-test2/functional-testing-repo-ErwanSimonetti","private":false,"owner":{"login":"mergify-test2","id":38495008,"node_id":"MDQ6VXNlcjM4NDk1MDA4","avatar_url":"https://avatars.githubusercontent.com/u/38495008?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-test2","html_url":"https://github.com/mergify-test2","followers_url":"https://api.github.com/users/[...]
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: GET
    uri: https://test-forwarder.mergify.io/events/github.com/11221/399462964?counter=1
  response:
    content: '[{"id":"f840267c-16f7-11ec-992c-57da1b63205d","type":"push","payload":{"ref":"refs/heads/20210916141104/test_assign_valid_template/main","before":"0000000000000000000000000000000000000000","after":"47240aa7f7545210019997e31475c3d09893becb","repository":{"id":399462964,"node_id":"MDEwOlJlcG9zaXRvcnkzOTk0NjI5NjQ=","name":"functional-testing-repo-ErwanSimonetti","full_name":"mergifyio-testing/functional-testing-repo-ErwanSimonetti","private":false,"owner":{"name":"mergifyio-testing","email":null,"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.c[...]
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/pulls/555
  response:
    content: '{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/pulls/555","id":735517753,"node_id":"PR_kwDOF89SNM4r1xw5","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-ErwanSimonetti/pull/555","diff_url":"https://github.co[...]
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/pulls/555/commits?per_page=100
  response:
    content: '[{"sha":"c5526f824dbba5bb2c70594d5769d3b1650dae4c","node_id":"MDY6Q29tbWl0Mzk5NDYzNTc2OmM1NTI2ZjgyNGRiYmE1YmIyYzcwNTk0ZDU3NjlkM2IxNjUwZGFlNGM=","commit":{"author":{"name":"mergify-tester","email":"noreply@mergify.io","date":"2021-09-16T14:11:30Z"},"committer":{"name":"mergify-tester","email":"noreply@mergify.io","date":"2021-09-16T14:11:30Z"},"message":"test_assign_valid_template:
      pull request n1 from fork","tree":{"sha":"aac435010cf16026988e658b0ee7d77dbc6c4395","url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/git/trees/aac435010cf16026988e658b0ee7d77dbc6c4395"},"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/git/commits/c5526f824dbba5bb2c70594d5769d3b1650dae4c","comment_count":0,"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}},"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/commits/c5526f824dbba5bb2c70594d5769d3b1650dae4c","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-ErwanSimonetti/commit/c5526f824dbba5bb2c70594d5769d3b1650dae4c","comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/commits/c5526f824dbba5bb2c70594d5769d3b1650dae4c/comments","author":null,"committer":null,"parents":[{"sha":"47240aa7f7545210019997e31475c3d09893becb","url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/commits/47240aa7f7545210019997e31475c3d09893becb","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-ErwanSimonetti/commit/47240aa7f7545210019997e31475c3d09893becb"}]}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
      X-OAuth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
    status_code: 200
[...]
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/pulls?per_page=100
  response:
    content: '[{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/pulls/555","id":735517753,"node_id":"PR_kwDOF89SNM4r1xw5","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-ErwanSimonetti/pull/555","diff_url":"https:/[...]
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/repositories/399462964/pulls/555
  response:
    content: '{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/pulls/555","id":735517753,"node_id":"PR_kwDOF89SNM4r1xw5","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-ErwanSimonetti/pull/555","diff_url":"https://github.com/mergifyio-testing/functional-testing-r[...]
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/contents/.mergify.yml
  response:
    content: '{"name":".mergify.yml","path":".mergify.yml","sha":"29044b9dcb6b391c34c46e99732e18ccc24a49cc","size":162,"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/contents/.mergify.yml?ref=20210916141104/test_assign_valid_template/main","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-ErwanSimonetti/blob/20210916141104/test_assign_valid_template/main/.mergify.yml","git_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/git/blobs/29044b9dcb6b391c34c46e99732e18ccc24a49cc","download_url":"https://raw.githubusercontent.com/mergifyio-testing/functional-testing-repo-ErwanSimonetti/20210916141104/test_assign_valid_template/main/.mergify.yml","type":"file","content":"cHVsbF9yZXF1ZXN0X3J1bGVzOgotIGFjdGlvbnM6CiAgICBhc3NpZ246CiAg\nICAgIHVzZXJzOgogICAgICAtICd7e2F1dGhvcn19JwogIGNvbmRpdGlvbnM6\nCiAgLSBiYXNlPTIwMjEwOTE2MTQxMTA0L3Rlc3RfYXNzaWduX3ZhbGlkX3Rl\nbXBsYXRlL21haW4KICBuYW1lOiBhc3NpZ24K\n","encoding":"base64","_links":{"self":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/contents/.mergify.yml?ref=20210916141104/test_assign_valid_template/main","git":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/git/blobs/29044b9dcb6b391c34c46e99732e18ccc24a49cc","html":"https://github.com/mergifyio-testing/functional-testing-repo-ErwanSimonetti/blob/20210916141104/test_assign_valid_template/main/.mergify.yml"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 200
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/pulls/555/files?per_page=100
  response:
    content: '[{"sha":"e69de29bb2d1d6434b8b29ae775ad8c2e48c5391","filename":"test1","status":"added","additions":0,"deletions":0,"changes":0,"blob_url":"https://github.com/mergifyio-testing/functional-testing-repo-ErwanSimonetti/blob/c5526f824dbba5bb2c70594d5769d3b1650dae4c/test1","raw_url":"https://github.com/mergifyio-testing/functional-testing-repo-ErwanSimonetti/raw/c5526f824dbba5bb2c70594d5769d3b1650dae4c/test1","contents_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/contents/test1?ref=c5526f824dbba5bb2c70594d5769d3b1650dae4c"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 200
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/issues/555/comments?per_page=100
  response:
    content: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 200
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/commits/c5526f824dbba5bb2c70594d5769d3b1650dae4c/check-runs?per_page=100
  response:
    content: '{"total_count":0,"check_runs":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=antiope-preview; format=json
    status_code: 200
- request:
    body: '{"assignees": ["mergify-test2"]}'
    headers:
      Authorization:
      - <TOKEN>
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/issues/555/assignees
  response:
    content: '{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/issues/555","repository_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti","labels_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/issues/555/labels{/name}","comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/issues/555/comments","events_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/issues/555/events","html_url":"https://github.com/mergifyio-tes[...]
- request:
    body: '{"name": "Summary", "head_sha": "c5526f824dbba5bb2c70594d5769d3b1650dae4c",
      "status": "completed", "started_at": "2021-09-16T14:11:43.233168+00:00", "details_url":
      "https://github.com/mergifyio-testing/functional-testing-repo-ErwanSimonetti/pull/555/checks",
      "output": {"title": "1 rule matches", "summary": "### Rule: assign (assign)\n-
      [X] `base=20210916141104/test_assign_valid_template/main`\n\n<hr />\n:sparkling_heart:&nbsp;&nbsp;Mergify
      is proud to provide this service for free to open source projects.\n\n:rocket:&nbsp;&nbsp;You
      can help us by [becoming a sponsor](/sponsors/Mergifyio)!\n<hr />\n\n<details>\n<summary>Mergify
      commands and options</summary>\n\n<br />\n\nMore conditions and actions can
      be found in the [documentation](https://docs.mergify.io/).\n\nYou can also trigger
      Mergify actions by commenting on this pull request:\n\n- `@Mergifyio refresh`
      will re-evaluate the rules\n- `@Mergifyio rebase` will rebase this PR on its
      base branch\n- `@Mergifyio update` will merge the base branch into this PR\n-
[...]
