interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/user/40527191/installation
  response:
    content: '{"id":26894537,"account":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"repository_selection":"selected","access_tokens_url":"https://api.github.com/app/installations/26894537/access_tokens","repositories_url":"https://api.github.com/installation/repositories","html_url":"https://github.com/organizations/mergifyio-testing/settings/installations/26894537","app_id":214863,"app_slug":"mergify-sileht","target_id":40527191,"target_type":"Organization","permissions":{"pages":"write","checks":"write","issues":"write","members":"read","contents":"write","metadata":"read","statuses":"write","workflows":"write","pull_requests":"write","administration":"read"},"events":["check_run","check_suite","issue_comment","member","membership","organization","pull_request","pull_request_review","pull_request_review_comment","push","repository","status","team","team_add"],"created_at":"2022-06-27T12:22:13.000Z","updated_at":"2022-06-27T12:22:13.000Z","single_file_name":null,"has_multiple_single_files":false,"single_file_paths":[],"suspended_by":null,"suspended_at":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/user
  response:
    content: '{"login":"mergify-test1","id":38494943,"node_id":"MDQ6VXNlcjM4NDk0OTQz","avatar_url":"https://avatars.githubusercontent.com/u/38494943?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-test1","html_url":"https://github.com/mergify-test1","followers_url":"https://api.github.com/users/mergify-test1/followers","following_url":"https://api.github.com/users/mergify-test1/following{/other_user}","gists_url":"https://api.github.com/users/mergify-test1/gists{/gist_id}","starred_url":"https://api.github.com/users/mergify-test1/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergify-test1/subscriptions","organizations_url":"https://api.github.com/users/mergify-test1/orgs","repos_url":"https://api.github.com/users/mergify-test1/repos","events_url":"https://api.github.com/users/mergify-test1/events{/privacy}","received_events_url":"https://api.github.com/users/mergify-test1/received_events","type":"User","site_admin":false,"name":"mergify-test-user-1","company":"@mergifyio","blog":"https://mergify.io","location":null,"email":null,"hireable":null,"bio":"This
      account is for testing purpose of the workflow of the GitHub App @mergifyio","twitter_username":"mergifyio","public_repos":0,"public_gists":0,"followers":0,"following":0,"created_at":"2018-04-18T10:42:59Z","updated_at":"2022-03-15T14:57:16Z","private_gists":0,"total_private_repos":0,"owned_private_repos":0,"disk_usage":0,"collaborators":0,"two_factor_authentication":false,"plan":{"name":"free","space":976562499,"collaborators":0,"private_repos":10000}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
      X-OAuth-Scopes:
      - admin:org, delete_repo, read:public_key, repo, user, workflow
    status_code: 200
[...]
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/repositories/399426199
  response:
    content: '{"id":399426199,"node_id":"MDEwOlJlcG9zaXRvcnkzOTk0MjYxOTk=","name":"functional-testing-repo-sileht","full_name":"mergifyio-testing/functional-testing-repo-sileht","private":false,"owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht","description":null,"fork":false,"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht","forks_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/forks","keys_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/keys{/key_id}","collaborators_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/teams","hooks_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/hooks","issue_events_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/issues/events{/number}","events_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/events","assignees_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/assignees{/user}","branches_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/branches{/branch}","tags_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/tags","blobs_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/git/refs{/sha}","trees_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/git/trees{/sha}","statuses_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/statuses/{sha}","languages_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/languages","stargazers_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/stargazers","contributors_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/contributors","subscribers_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/subscribers","subscription_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/subscription","commits_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/commits{/sha}","git_commits_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/git/commits{/sha}","comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/comments{/number}","issue_comment_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/issues/comments{/number}","contents_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/contents/{+path}","compare_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/compare/{base}...{head}","merges_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/merges","archive_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/downloads","issues_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/issues{/number}","pulls_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/pulls{/number}","milestones_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/milestones{/number}","notifications_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/labels{/name}","releases_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/releases{/id}","deployments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/deployments","created_at":"2021-08-24T10:36:34Z","updated_at":"2022-01-10T14:33:17Z","pushed_at":"2022-07-06T09:04:56Z","git_url":"git://github.com/mergifyio-testing/functional-testing-repo-sileht.git","ssh_url":"git@github.com:mergifyio-testing/functional-testing-repo-sileht.git","clone_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht.git","svn_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht","homepage":null,"size":16,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":1,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"public","forks":1,"open_issues":0,"watchers":0,"default_branch":"main","permissions":{"admin":false,"maintain":false,"push":false,"triage":false,"pull":false},"temp_clone_token":"","allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"allow_auto_merge":false,"delete_branch_on_merge":false,"allow_update_branch":false,"use_squash_pr_title_as_default":false,"organization":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"network_count":1,"subscribers_count":1}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 200
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: DELETE
    uri: https://test-forwarder.mergify.io/events/github.com/214863/399426199
  response:
    content: Event queued
    headers:
    status_code: 202
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: GET
    uri: https://test-forwarder.mergify.io/events/github.com/214863/399426199?counter=1
  response:
    content: '[{"id":"b5216e10-fd0a-11ec-9ff6-2e3f01ed8315","type":"pull_request","payload":{"action":"closed","number":10881,"pull_request":{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/pulls/10881","id":988511171,"node_id":"PR_kwDOF87Cl84663vD","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht/pull/10881","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht/pull/10881.diff","patch_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht/pull/10881.patch","issue_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/issues/10881","number":10881,"state":"closed","locked":false,"title":"merge-queue:
      embarking 20220706090334/test_queue_manual_merge/main (30eaf6f), #10877 and
      #10878 together","user":{"login":"mergify-sileht[bot]","id":108276933,"node_id":"BOT_kgDOBnQsxQ","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-sileht%5Bbot%5D","html_url":"https://github.com/apps/mergify-sileht","followers_url":"https://api.github.com/users/mergify-sileht%5Bbot%5D/followers","following_url":"https://api.github.com/users/mergify-sileht%5Bbot%5D/following{/other_user}","gists_url":"https://api.github.com/users/mergify-sile[...]
[...]
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: GET
    uri: https://test-forwarder.mergify.io/events/github.com/214863/399426199?counter=3
  response:
    content: '[{"id":"b74b61d2-fd0a-11ec-95e2-1ebfc5c40ffb","type":"push","payload":{"ref":"refs/heads/20220706090457/test_queue_no_inplace/main","before":"0000000000000000000000000000000000000000","after":"d5f4364ce4822d4d0f46206b8c7c7c4e7a2d8218","repository":{"id":399426199,"node_id":"MDEwOlJlcG9zaXRvcnkzOTk0MjYxOTk=","name":"functional-testing-repo-sileht","full_name":"mergifyio-testing/functional-testing-repo-sileht","private":false,"owner":{"name":"mergifyio-testing","email":null,"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-tes[...]
- request:
    body: '{"default_branch": "20220706090457/test_queue_no_inplace/main"}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht
  response:
    content: '{"id":399426199,"node_id":"MDEwOlJlcG9zaXRvcnkzOTk0MjYxOTk=","name":"functional-testing-repo-sileht","full_name":"mergifyio-testing/functional-testing-repo-sileht","private":false,"owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4"[...]
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: GET
    uri: https://test-forwarder.mergify.io/events/github.com/214863/399426199?counter=4
  response:
    content: '[{"id":"b7b18ed0-fd0a-11ec-9e6f-4121ffac7ac9","type":"check_suite","payload":{"action":"requested","check_suite":{"id":7236500724,"node_id":"CS_kwDOF87Cl88AAAABr1Q89A","head_branch":"20220706090457/test_queue_no_inplace/main","head_sha":"d5f4364ce4822d4d0f46206b8c7c7c4e7a2d8218","status":"queued","conclusion":null,"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/check-suites/7236500724","before":"0000000000000000000000000000000000000000","after":"d5f4364ce4822d4d0f46206b8c7c7c4e7a2d8218","pull_requests":[],"app":{"id":214863,"slug":"mergify-sileht","node_id":"A_kwHOAmplV84AA0dP","owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"name":"mergify-sileht","description":"Mergify
      testing installation for sileht","external_url":"https://mergify.com/","html_url":"https://github.com/apps/mergify-sileht","created_at":"2022-06-27T12:22:05Z","updated_at":"2022-06-27T12:22:05Z","permissions":{"administration":"read","checks":"write","contents":"write","emails":"read","issues":"write","members":"read","metadata":"read","pages":"write","pull_requests":"write","statuses":"write","workflows":"write"},"events":["check_run","check_suite","issue_comment","member","membership","organization","pull_request","pull_request_review","pull_request_review_comment","push","repository","status","team","team_add"]},"created_at":"2022-07-06T09:05:01Z","updated_at":"2022-07-06T09:05:01Z","rerequestable":true,"runs_rerequestable":true,"latest_check_runs_count":0,"check_runs_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/check-suites/7236500724/check-runs","head_commit":{"id":"d5f4364ce4822d4d0f46206b8c7c7c4e7a2d8218","tree_id":"5e7600cd2b58b6d7794e09980b20f4e64f2c63a9","message":"initial
      commit","timestamp":"2022-07-06T09:04:59Z","author":{"name":"Mergify","email":"108276933+mergify-sileht[bot]@users.noreply.github.com"},"committer":{"name":"Mergify","email":"108276933+mergify-sileht[bot]@users.noreply.github.com"}}},"repository":{"id":399426199,"node_id":"MDEwOlJlcG9zaXRvcnkzOTk0MjYxOTk=","name":"functional-testing-repo-sileht","full_name":"mergifyio-testing/functional-testing-repo-sileht","private":false,"owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/merg[...]
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: GET
    uri: https://test-forwarder.mergify.io/events/github.com/214863/399426199?counter=5
  response:
    content: '[{"id":"b8519f60-fd0a-11ec-9f83-7990f55b5914","type":"repository","payload":{"action":"edited","changes":{"default_branch":{"from":"main"}},"repository":{"id":399426199,"node_id":"MDEwOlJlcG9zaXRvcnkzOTk0MjYxOTk=","name":"functional-testing-repo-sileht","full_name":"mergifyio-testing/functional-testing-repo-sileht","private":false,"owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_u[...]
- request:
    body: '{"base": "20220706090457/test_queue_no_inplace/main", "head": "mergifyio-testing:20220706090457/test_queue_no_inplace/integration/pr1",
      "title": "test_queue_no_inplace: pull request n1 from integration", "body":
      "test_queue_no_inplace: pull request n1 from integration", "draft": false}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/pulls
  response:
    content: '{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/pulls/10883","id":988512294,"node_id":"PR_kwDOF87Cl84664Am","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht/pull/10883","diff_url":"https://github.com/mergifyio-testing/functional[...]
[...]
- request:
    body: ''
    headers:
    method: PUT
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/pulls/10884/merge
  response:
    content: '{"sha":"4b90139148eac1bbff1f4d168f91d39c63d9688b","merged":true,"message":"Pull
      Request successfully merged"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 200
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repositories/399426199/pulls/10881
  response:
    content: '{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/pulls/10881","id":988511171,"node_id":"PR_kwDOF87Cl84663vD","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht/pull/10881","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht/pull/10881.diff","patch_url":"https:[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/contents/.mergify.yml
  response:
    content: '{"name":".mergify.yml","path":".mergify.yml","sha":"782b42750d468f7446c8cda33c1f9e1d647b39cd","size":339,"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/contents/.mergify.yml?ref=20220706090457/test_queue_no_inplace/main","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht/blob/20220706090457/test_queue_no_inplace/main/.mergify.yml","git_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/git/blobs/782b42750d468f7446c8cda33c1f9e1d647b39cd","download_url":"https://raw.githubusercontent.com/mergifyio-testing/functional-testing-repo-sileht/20220706090457/test_queue_no_inplace/main/.mergify.yml","type":"file","content":"cHVsbF9yZXF1ZXN0X3J1bGVzOgotIGFjdGlvbnM6CiAgICBxdWV1ZToKICAg\nICAgbmFtZTogZGVmYXVsdAogICAgICBwcmlvcml0eTogaGlnaAogIGNvbmRp\ndGlvbnM6CiAgLSBiYXNlPTIwMjIwNzA2MDkwNDU3L3Rlc3RfcXVldWVfbm9f\naW5wbGFjZS9tYWluCiAgLSBsYWJlbD1xdWV1ZQogIG5hbWU6IE1lcmdlIHBy\naW9yaXR5IGhpZ2gKcXVldWVfcnVsZXM6Ci0gYWxsb3dfaW5wbGFjZV9jaGVj\na3M6IGZhbHNlCiAgY29uZGl0aW9uczoKICAtIHN0YXR1cy1zdWNjZXNzPWNv\nbnRpbnVvdXMtaW50ZWdyYXRpb24vZmFrZS1jaQogIG5hbWU6IGRlZmF1bHQK\nICBzcGVjdWxhdGl2ZV9jaGVja3M6IDUK\n","encoding":"base64","_links":{"self":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/contents/.mergify.yml?ref=20220706090457/test_queue_no_inplace/main","git":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/git/blobs/782b42750d468f7446c8cda33c1f9e1d647b39cd","html":"https://github.com/mergifyio-testing/functional-testing-repo-sileht/blob/20220706090457/test_queue_no_inplace/main/.mergify.yml"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/commits/b555360fcad70a1a76ab3ee41c5fb4eb213e26a3/check-runs?per_page=100
  response:
    content: '{"total_count":1,"check_runs":[{"id":7211547565,"name":"Summary","node_id":"CR_kwDOF87Cl88AAAABrdd7rQ","head_sha":"b555360fcad70a1a76ab3ee41c5fb4eb213e26a3","external_id":"10881","url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/check-runs/7211547565","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht/runs/7211547565","details_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht/pull/10881/checks","status":"in_progress","conclusion":null,"started_at":"2022-07-06T09:04:26Z","completed_at":null,"output":{"title":"The
      pull request #10878 is embarked for merge","summary":"Embarking Branch **20220706090334/test_queue_manual_merge/main**
      (30eaf6f), [#10877](/mergifyio-testing/functional-testing-repo-sileht/pull/10877)
      and [#10878](/mergifyio-testing/functional-testing-repo-sileht/pull/10878) together\n\nRequired
      conditions for merge:\n\n- [ ] `status-success=continuous-integration/fake-ci`\n\n","text":null,"annotations_count":0,"annotations_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/check-runs/7211547565/annotations"},"check_suite":{"id":7236490700},"app":{"id":214863,"slug":"mergify-sileht","node_id":"A_kwHOAmplV84AA0dP","owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-te[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repositories/399426199/pulls?per_page=100
  response:
    content: '[{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/pulls/10883","id":988512294,"node_id":"PR_kwDOF87Cl84664Am","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht/pull/10883","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht/pull/10883.diff","patch_url"[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/pulls/10883
  response:
    content: '{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/pulls/10883","id":988512294,"node_id":"PR_kwDOF87Cl84664Am","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht/pull/10883","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht/pull[...]
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/issues/10884/comments?per_page=100
  response:
    content: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 200
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/branches/20220706090457%2Ftest_queue_no_inplace%2Fmain/protection
  response:
    content: '{"message":"Branch not protected","documentation_url":"https://docs.github.com/rest/reference/repos#get-branch-protection"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=luke-cage-preview; format=json
    status_code: 404
- request:
    body: '{"name": "Summary", "head_sha": "b94ef906a49773e994fbbdb5e4c8e76e8ebc6526",
      "status": "completed", "started_at": "2022-07-06T09:05:19.438802+00:00", "details_url":
      "https://github.com/mergifyio-testing/functional-testing-repo-sileht/pull/10884/checks",
      "output": {"title": "1 potential rule", "summary": "<!-- J1J1bGU6IE1lcmdlIHByaW9yaXR5IGhpZ2ggKHF1ZXVlKSc6IG5ldXRyYWwK
      -->\n\u26a0\ufe0f The pull request has been closed by GitHub because its commits
      are also part of another pull request\n\n### Rule: Merge priority high (queue)\n-
      [X] `base=20220706090457/test_queue_no_inplace/main`\n- [ ] `label=queue`\n\n<hr
      />\n:sparkling_heart:&nbsp;&nbsp;Mergify is proud to provide this service for
      free to open source projects.\n\n:rocket:&nbsp;&nbsp;You can help us by [becoming
      a sponsor](/sponsors/Mergifyio)!\n<hr />\n\n<details>\n<summary>Mergify commands
      and options</summary>\n\n<br />\n\nMore conditions and actions can be found
      in the [documentation](https://docs.mergify.com/).\n\nYou can also trigger Mergify
      actions by commenting on this pull request:\n\n- `@Mergifyio refresh` will re-evaluate
      the rules\n- `@Mergifyio rebase` will rebase this PR on its base branch\n- `@Mergifyio
      update` will merge the base branch into this PR\n- `@Mergifyio backport <destination>`
      will backport this PR on `<destination>` branch\n\nAdditionally, on Mergify
      [dashboard](https://dashboard.mergify.com/) you can:\n\n- look at your merge
      queues\n- generate the Mergify configuration with the config editor.\n\nFinally,
      you can contact us on https://mergify.com\n</details>\n"}, "external_id": "10884",
      "conclusion": "success", "completed_at": "2022-07-06T09:05:20.325137+00:00"}'
    headers:
      content-type:
      - application/json
    method: POS[...]
[...]
- request:
    body: ''
    headers:
    method: GET
[...]
