{
  "http_interactions": [
    {
      "recorded_at": "2018-05-04T06:28:18",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"description\": \"Your change works\", \"state\": \"success\", \"context\": \"continuous-integration/fake-ci\"}"
        },
        "headers": {
          "Authorization": [
            "token <MAIN_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://api.github.com:443/repos/mergify-test1/repo-91c13882-f448-4f72-83df-860584061dd9-test_basic/statuses/c4949bd566d6127812945c919eb7220d3ca6e47d"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"url\":\"https://api.github.com/repos/mergify-test1/repo-91c13882-f448-4f72-83df-860584061dd9-test_basic/statuses/c4949bd566d6127812945c919eb7220d3ca6e47d\",\"id\":4911793287,\"state\":\"success\",\"description\":\"Your change works\",\"target_url\":null,\"context\":\"continuous-integration/fake-ci\",\"created_at\":\"2018-05-04T06:28:17Z\",\"updated_at\":\"2018-05-04T06:28:17Z\",\"creator\":{\"login\":\"mergify-test1\",\"id\":38494943,\"avatar_url\":\"https://avatars3.githubusercontent.com/u/38494943?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test1\",\"html_url\":\"https://github.com/mergify-test1\",\"followers_url\":\"https://api.github.com/users/mergify-test1/followers\",\"following_url\":\"https://api.github.com/users/mergify-test1/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test1/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test1/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test1/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test1/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test1/repos\",\"events_url\":\"https://api.github.com/users/mergify-test1/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test1/received_events\",\"type\":\"User\",\"site_admin\":false}}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "ETag": [
            "\"1eb1d4bf27d78c4800ece1e154463da4\""
          ],
          "Location": [
            "https://api.github.com/repos/mergify-test1/repo-91c13882-f448-4f72-83df-860584061dd9-test_basic/statuses/c4949bd566d6127812945c919eb7220d3ca6e47d"
          ],
          "Status": [
            "201 Created"
          ],
          "X-Accepted-OAuth-Scopes": [
            ""
          ],
          "X-GitHub-Media-Type": [
            "github.machine-man-preview; format=json"
          ],
          "X-OAuth-Scopes": [
            "repo"
          ],
          "X-RateLimit-Limit": [
            "5000"
          ],
          "X-RateLimit-Remaining": [
            "4940"
          ],
          "X-RateLimit-Reset": [
            "1525417994"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://api.github.com:443/repos/mergify-test1/repo-91c13882-f448-4f72-83df-860584061dd9-test_basic/statuses/c4949bd566d6127812945c919eb7220d3ca6e47d"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}