*.pyc
.tox
*.egg-info
AUTHORS
cover
.coverage
dist
.eggs
.pytest_cache
.mypy_cache
docs/build
test.env
prod.env
docs/node_modules
docs/source/actions/action-list.html
.git
installer/node_modules
installer/build
installer/yarn-*.log*
.docker
