sudo: false
language: python
matrix:
  include:
    - python: 3.5
    - python: 3.6
    - python: 3.7
      dist: xenial
      sudo: true
      services:
        - docker
install: pip install tox-travis coveralls
script:
  - tox
  - if [[ $TRAVIS_PYTHON_VERSION == 3.7 ]]; then docker build -t mergify-engine-dev . ; fi
after_success:
  - if [[ $TRAVIS_PYTHON_VERSION == 3.5 ]]; then coveralls; fi

deploy:
  - provider: pages
    skip-cleanup: true
    github-token: $GITHUB_TOKEN  # Set in travis-ci.org dashboard, marked secure
    keep-history: true
    local-dir: doc/build
    fqdn: doc.mergify.io
    on:
      branch: master
      python: 3.5
  - provider: script
    script: bash tools/deploy.sh production
    on:
      branch: master
      python: 3.5
  - provider: script
    script: bash tools/deploy.sh.new
    on:
      branch: master
      python: 3.7

