sudo: false
language: python
python:
  - "2.7"
  - "3.6"
install: pip install tox-travis coveralls
script: tox

after_success:
    - [ "$TOXENV" == "py36" ] && coveralls

deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN  # Set in travis-ci.org dashboard, marked secure
  keep-history: true
  local-dir: doc/build
  fqdn: doc.mergify.io
  on:
    branch: master
    condition: $TOXENV = docs
