sudo: false
language: python
python:
  - 3.5
  - 3.6
install: pip install tox-travis coveralls
script: tox
after_success: coveralls

deploy:
  - provider: pages
    skip-cleanup: true
    github-token: $GITHUB_TOKEN  # Set in travis-ci.org dashboard, marked secure
    keep-history: true
    local-dir: doc/build
    fqdn: doc.mergify.io
    on:
      branch: master
      python: 3.5
  - provider: script
    script: bash tools/deploy.sh production
    on:
      branch: master
      python: 3.5
