interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/user/40527191/installation
  response:
    content: '{"id":15398551,"account":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"repository_selection":"all","access_tokens_url":"https://api.github.com/app/installations/15398551/access_tokens","repositories_url":"https://api.github.com/installation/repositories","html_url":"https://github.com/organizations/mergifyio-testing/settings/installations/15398551","app_id":11221,"app_slug":"mergify-test","target_id":40527191,"target_type":"Organization","permissions":{"pages":"write","checks":"write","issues":"write","members":"read","contents":"write","metadata":"read","statuses":"write","workflows":"write","pull_requests":"write","administration":"read"},"events":["check_run","check_suite","issue_comment","merge_queue_entry","pull_request","pull_request_review","pull_request_review_comment","push","status"],"created_at":"2021-03-15T16:12:17.000Z","updated_at":"2022-05-24T07:17:35.000Z","single_file_name":null,"has_multiple_single_files":false,"single_file_paths":[],"suspended_by":null,"suspended_at":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
      x-github-api-version-selected:
      - ''
      x-github-api-version-selected-reason:
      - unavailable
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/user
  response:
    content: '{"login":"mergify-test1","id":38494943,"node_id":"MDQ6VXNlcjM4NDk0OTQz","avatar_url":"https://avatars.githubusercontent.com/u/38494943?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-test1","html_url":"https://github.com/mergify-test1","followers_url":"https://api.github.com/users/mergify-test1/followers","following_url":"https://api.github.com/users/mergify-test1/following{/other_user}","gists_url":"https://api.github.com/users/mergify-test1/gists{/gist_id}","starred_url":"https://api.github.com/users/mergify-test1/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergify-test1/subscriptions","organizations_url":"https://api.github.com/users/mergify-test1/orgs","repos_url":"https://api.github.com/users/mergify-test1/repos","events_url":"https://api.github.com/users/mergify-test1/events{/privacy}","received_events_url":"https://api.github.com/users/mergify-test1/received_events","type":"User","site_admin":false,"name":"mergify-test-user-1","company":"@mergifyio","blog":"https://mergify.io","location":null,"email":null,"hireable":null,"bio":"This
      account is for testing purpose of the workflow of the GitHub App @mergifyio","twitter_username":"mergifyio","public_repos":0,"public_gists":0,"followers":0,"following":0,"created_at":"2018-04-18T10:42:59Z","updated_at":"2022-03-15T14:57:16Z","private_gists":0,"total_private_repos":0,"owned_private_repos":0,"disk_usage":0,"collaborators":0,"two_factor_authentication":false,"plan":{"name":"free","space":976562499,"collaborators":0,"private_repos":10000}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
      X-OAuth-Scopes:
      - admin:org, delete_repo, read:public_key, repo, user, workflow
    status_code: 200
[...]
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/repositories/399426199
  response:
    content: '{"id":399426199,"node_id":"MDEwOlJlcG9zaXRvcnkzOTk0MjYxOTk=","name":"functional-testing-repo-sileht","full_name":"mergifyio-testing/functional-testing-repo-sileht","private":false,"owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht","description":null,"fork":false,"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht","forks_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/forks","keys_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/keys{/key_id}","collaborators_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/teams","hooks_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/hooks","issue_events_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/issues/events{/number}","events_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/events","assignees_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/assignees{/user}","branches_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/branches{/branch}","tags_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/tags","blobs_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/git/refs{/sha}","trees_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/git/trees{/sha}","statuses_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/statuses/{sha}","languages_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/languages","stargazers_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/stargazers","contributors_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/contributors","subscribers_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/subscribers","subscription_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/subscription","commits_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/commits{/sha}","git_commits_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/git/commits{/sha}","comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/comments{/number}","issue_comment_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/issues/comments{/number}","contents_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/contents/{+path}","compare_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/compare/{base}...{head}","merges_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/merges","archive_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/downloads","issues_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/issues{/number}","pulls_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/pulls{/number}","milestones_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/milestones{/number}","notifications_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/labels{/name}","releases_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/releases{/id}","deployments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/deployments","created_at":"2021-08-24T10:36:34Z","updated_at":"2022-01-10T14:33:17Z","pushed_at":"2022-05-24T09:29:23Z","git_url":"git://github.com/mergifyio-testing/functional-testing-repo-sileht.git","ssh_url":"git@github.com:mergifyio-testing/functional-testing-repo-sileht.git","clone_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht.git","svn_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht","homepage":null,"size":2,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":1,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"allow_forking":true,"is_template":false,"topics":[],"visibility":"public","forks":1,"open_issues":0,"watchers":0,"default_branch":"main","permissions":{"admin":false,"maintain":false,"push":false,"triage":false,"pull":false},"temp_clone_token":"","allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"allow_auto_merge":false,"delete_branch_on_merge":false,"allow_update_branch":false,"organization":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"network_count":1,"subscribers_count":1}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
      x-github-api-version-selected:
      - ''
      x-github-api-version-selected-reason:
      - unavailable
    status_code: 200
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: DELETE
    uri: https://test-forwarder.mergify.io/events/github.com/11221/399426199
  response:
    content: Event queued
    headers:
    status_code: 202
- request:
    body: '{"default_branch": "20220524092923/test_merge_custom_msg_merge/main"}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht
  response:
    content: '{"id":399426199,"node_id":"MDEwOlJlcG9zaXRvcnkzOTk0MjYxOTk=","name":"functional-testing-repo-sileht","full_name":"mergifyio-testing/functional-testing-repo-sileht","private":false,"owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4"[...]
- request:
    body: '{"base": "20220524092923/test_merge_custom_msg_merge/main", "head": "mergifyio-testing:20220524092923/test_merge_custom_msg_merge/integration/pr1",
      "title": "test_merge_custom_msg_merge: pull request n1 from integration", "body":
      "It fixes it\n\n## Commit Message:\nThis is the title\n\nAnd this is the message",
      "draft": false}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/pulls
  response:
    content: '{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/pulls/9644","id":945384708,"node_id":"PR_kwDOF87Cl844WW0E","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht/pull/9644","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht/pull/9644.diff","patch_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht/pull/9644.patch","issue_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/issues/9644","number":9644,"state":"open","locked":false,"title":"test_merge_custom_msg_merge:
      pull request n1 from integration","user":{"login":"mergify-test[bot]","id":38500045,"node_id":"MDM6Qm90Mzg1MDAwNDU=","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-test%5Bbot%5D","html_url":"https://github.com/apps/mergify-test","followers_url":"https://api.github.com/users/mergify-test%5Bbot%5D/followers","following_url":"https://api.github.com/users/mergify-test%5Bbot%5D/following{/other_user}","gists_url":"https://api.github.com/users/mergify-test%5Bbot%5D/gists{/gist_id}","starred_url":"https://api.github.com/users/mergify-test%5Bbot%5D/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergify-test%5Bbot%5D/subscriptions","organizations_url":"https://api.github.com/users/mergify-test%5Bbot%5D/orgs","repos_url":"https://api.github.com/users/mergify-test%5Bbot%5D/repos","events_url":"https://api.github.com/users/mergify-test%5Bbot%5D/events{/privacy}","received_events_url":"https://api.github.com/users/mergify-test%5Bbot%5D/received_events","type":"Bot","site_admin":false},"body":"It
      fixes it\n\n## Commit Message:\nThis is the title\n\nAnd this is the message","created_at":"2022-05-24T09:29:29Z","updated_at":"2022-05-24T09:29:29Z","closed_at":null,"merged_at":null,"merge_commit_sha":null,"assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/pulls/9644/commits","review_comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/pulls/9644/comments","review_comment_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/pulls/comments{/number}","comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/issues/9644/comments","statuses_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/statuses/4c8b12c30fc038b93dcc8c36fe70cb140f9ab0c1","head":{"label":"mergifyio-testing:20220524092923/test_merge_custom_msg_merge/integration/pr1","ref":"20220524092923/test_merge_custom_msg_merge/integration/pr1","sha":"4c8b12c30fc038b93dcc8c36fe70cb140f9ab0c1","user":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"repo":{"id":399426199,"node_id":"MDEwOlJlcG9zaXRvcnkzOTk0MjYxOTk=","name":"functional-testing-repo-sileht","full_name":"mergifyio-testing/functional-testing-repo-sileht","private":false,"owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.githu[...]
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: GET
    uri: https://test-forwarder.mergify.io/events/github.com/11221/399426199?counter=1
  response:
    content: '[{"id":"015131dc-db44-11ec-9804-ae6b59b8f28b","type":"push","payload":{"ref":"refs/heads/20220524092923/test_merge_custom_msg_merge/main","before":"0000000000000000000000000000000000000000","after":"441cd474c19cac264c2184d44e82f1f88ef7a00f","repository":{"id":399426199,"node_id":"MDEwOlJlcG9zaXRvcnkzOTk0MjYxOTk=","name":"functional-testing-repo-sileht","full_name":"mergifyio-testing/functional-testing-repo-sileht","private":false,"owner":{"name":"mergifyio-testing","email":null,"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-tes[...]
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: GET
    uri: https://test-forwarder.mergify.io/events/github.com/11221/399426199?counter=2
  response:
    content: '[{"id":"02c61dc0-db44-11ec-91ec-e11b9b13b776","type":"pull_request","payload":{"action":"opened","number":9644,"pull_request":{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/pulls/9644","id":945384708,"node_id":"PR_kwDOF87Cl844WW0E","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht/pull/9644","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht/pull/9644.diff","patch_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht/pull/9644.patch","issue_url":"https://api.github.com/repos/mergifyio-testing/functional[...]
- request:
    body: '{"state": "success", "description": "The CI is success", "context": "continuous-integration/fake-ci"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/statuses/4c8b12c30fc038b93dcc8c36fe70cb140f9ab0c1
  response:
    content: '{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/statuses/4c8b12c30fc038b93dcc8c36fe70cb140f9ab0c1","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","id":17535843652,"node_id":"SC_kwDOF87Cl88AAAAEFTe9RA","state":"success","description":"The
      CI is success","target_url":null,"context":"continuous-integration/fake-ci","created_at":"2022-05-24T09:29:30Z","updated_at":"2022-05-24T09:29:30Z","creator":{"login":"mergify-test[bot]","id":38500045,"node_id":"MDM6Qm90Mzg1MDAwNDU=","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-test%5Bbot%5D","html_url":"https://github.com/apps/mergify-test","followers_url":"https://api.github.com/users/mergify-test%5Bbot%5D/followers","following_url":"https://api.github.com/users/mergify-test%5Bbot%5D/following{/other_user}","gists_url":"https://api.github.com/users/mergify-test%5Bbot%5D/gists{/gist_id}","starred_url":"https://api.github.com/users/mergify-test%5Bbot%5D/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergify-test%5Bbot%5D/subscriptions","organizations_url":"https://api.github.com/users/mergify-test%5Bbot%5D/orgs","repos_url":"https://api.github.com/users/mergify-test%5Bbot%5D/repos","events_url":"https://api.github.com/users/mergify-test%5Bbot%5D/events{/privacy}","received_events_url":"https://api.github.com/users/mergify-test%5Bbot%5D/received_events","type":"Bot","site_admin":false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/statuses/4c8b12c30fc038b93dcc8c36fe70cb140f9ab0c1
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
      x-github-api-version-selected:
      - ''
      x-github-api-version-selected-reason:
      - unavailable
    status_code: 201
[...]
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: GET
    uri: https://test-forwarder.mergify.io/events/github.com/11221/399426199?counter=4
  response:
    content: '[{"id":"03c68e76-db44-11ec-8192-44531f52bcc5","type":"status","payload":{"id":17535843652,"sha":"4c8b12c30fc038b93dcc8c36fe70cb140f9ab0c1","name":"mergifyio-testing/functional-testing-repo-sileht","target_url":null,"avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","context":"continuous-integration/fake-ci","description":"The
      CI is success","state":"success","commit":{"sha":"4c8b12c30fc038b93dcc8c36fe70cb140f9ab0c1","node_id":"C_kwDOF87Cl9oAKDRjOGIxMmMzMGZjMDM4YjkzZGNjOGMzNmZlNzBjYjE0MGY5YWIwYzE","commit":{"author":{"name":"Mergify","email":"38500045+mergify-test[bot]@users.noreply.github.com","date":"2022-05-24T09:29:27Z"},"committer":{"name":"Mergify","email":"38500045+mergify-test[bot]@users.noreply.github.com","date":"2022-05-24T09:29:27Z"},"message":"test_merge_custom_msg_merge:
      pull request n1 from integration","tree":{"sha":"e2ec21b4fc49ee5c31a9adb3bd24b54dad6bbbbf","url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/git/trees/e2ec21b4fc49ee5c31a9adb3bd24b54dad6bbbbf"},"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/git/commits/4c8b12c30fc038b93dcc8c36fe70cb140f9ab0c1","comment_count":0,"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}},"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/commits/4c8b12c30fc038b93dcc8c36fe70cb140f9ab0c1","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht/commit/4c8b12c30fc038b93dcc8c36fe70cb140f9ab0c1","comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/commits/4c8b12c30fc038b93dcc8c36fe70cb140f9ab0c1/comments","author":{"login":"mergify-test[bot]","id":38500045,"node_id"[...]
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repositories/399426199/pulls?per_page=100
  response:
    content: '[{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/pulls/9644","id":945384708,"node_id":"PR_kwDOF87Cl844WW0E","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht/pull/9644","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht/pull/9644.diff","patch_url":"h[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repositories/399426199/pulls/9644
  response:
    content: '{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/pulls/9644","id":945384708,"node_id":"PR_kwDOF87Cl844WW0E","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht/pull/9644","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht/pull/9644.diff","patch_url":"https://gi[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/contents/.mergify.yml
  response:
    content: '{"name":".mergify.yml","path":".mergify.yml","sha":"0a8b7c4611bb5b4febb220b7c8963af30020ec35","size":205,"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/contents/.mergify.yml?ref=20220524092923/test_merge_custom_msg_merge/main","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht/blob/20220524092923/test_merge_custom_msg_merge/main/.mergify.yml","git_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/git/blobs/0a8b7c4611bb5b4febb220b7c8963af30020ec35","download_url":"https://raw.githubusercontent.com/mergifyio-testing/functional-testing-repo-sileht/20220524092923/test_merge_custom_msg_merge/main/.mergify.yml","type":"file","content":"cHVsbF9yZXF1ZXN0X3J1bGVzOgotIGFjdGlvbnM6CiAgICBtZXJnZToKICAg\nICAgbWV0aG9kOiBtZXJnZQogIGNvbmRpdGlvbnM6CiAgLSBiYXNlPTIwMjIw\nNTI0MDkyOTIzL3Rlc3RfbWVyZ2VfY3VzdG9tX21zZ19tZXJnZS9tYWluCiAg\nLSBzdGF0dXMtc3VjY2Vzcz1jb250aW51b3VzLWludGVncmF0aW9uL2Zha2Ut\nY2kKICBuYW1lOiBNZXJnZSBvbiBtYWluCg==\n","encoding":"base64","_links":{"self":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/contents/.mergify.yml?ref=20220524092923/test_merge_custom_msg_merge/main","git":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/git/blobs/0a8b7c4611bb5b4febb220b7c8963af30020ec35","html":"https://github.com/mergifyio-testing/functional-testing-repo-sileht/blob/20220524092923/test_merge_custom_msg_merge/main/.mergify.yml"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
      x-github-api-version-selected:
      - ''
      x-github-api-version-selected-reason:
      - unavailable
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/commits/4c8b12c30fc038b93dcc8c36fe70cb140f9ab0c1/check-runs?per_page=100
  response:
    content: '{"total_count":0,"check_runs":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=antiope-preview; format=json
      x-github-api-version-selected:
      - ''
      x-github-api-version-selected-reason:
      - unavailable
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/contents/.mergify.yml?ref=f345f90e9ed864305382301a8913bd6d29ea196a
  response:
    content: '{"name":".mergify.yml","path":".mergify.yml","sha":"0a8b7c4611bb5b4febb220b7c8963af30020ec35","size":205,"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/contents/.mergify.yml?ref=f345f90e9ed864305382301a8913bd6d29ea196a","html_url[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/contents/.mergify/config.yml?ref=f345f90e9ed864305382301a8913bd6d29ea196a
  response:
    content: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest/reference/repos#get-repository-content"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
      x-github-api-version-selected:
      - ''
      x-github-api-version-selected-reason:
      - unavailable
    status_code: 404
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/contents/.github/mergify.yml?ref=f345f90e9ed864305382301a8913bd6d29ea196a
  response:
    content: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest/reference/repos#get-repository-content"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
      x-github-api-version-selected:
      - ''
      x-github-api-version-selected-reason:
      - unavailable
    status_code: 404
- request:
    body: ''
    headers:
[...]
