interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/user/40527191/installation
  response:
    content: '{"id":15398551,"account":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"repository_selection":"all","access_tokens_url":"https://api.github.com/app/installations/15398551/access_tokens","repositories_url":"https://api.github.com/installation/repositories","html_url":"https://github.com/organizations/mergifyio-testing/settings/installations/15398551","app_id":11221,"app_slug":"mergify-test","target_id":40527191,"target_type":"Organization","permissions":{"pages":"write","checks":"write","issues":"write","members":"read","contents":"write","metadata":"read","statuses":"read","workflows":"write","pull_requests":"write","administration":"read"},"events":["check_run","check_suite","issue_comment","merge_queue_entry","pull_request","pull_request_review","pull_request_review_comment","push","status"],"created_at":"2021-03-15T16:12:17.000Z","updated_at":"2021-11-19T15:30:25.000Z","single_file_name":null,"has_multiple_single_files":false,"single_file_paths":[],"suspended_by":null,"suspended_at":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/user
  response:
    content: '{"login":"mergify-test1","id":38494943,"node_id":"MDQ6VXNlcjM4NDk0OTQz","avatar_url":"https://avatars.githubusercontent.com/u/38494943?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-test1","html_url":"https://github.com/mergify-test1","followers_url":"https://api.github.com/users/mergify-test1/followers","following_url":"https://api.github.com/users/mergify-test1/following{/other_user}","gists_url":"https://api.github.com/users/mergify-test1/gists{/gist_id}","starred_url":"https://api.github.com/users/mergify-test1/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergify-test1/subscriptions","organizations_url":"https://api.github.com/users/mergify-test1/orgs","repos_url":"https://api.github.com/users/mergify-test1/repos","events_url":"https://api.github.com/users/mergify-test1/events{/privacy}","received_events_url":"https://api.github.com/users/mergify-test1/received_events","type":"User","site_admin":false,"name":"mergify-test-user-1","company":"@mergifyio","blog":"https://mergify.io","location":null,"email":null,"hireable":null,"bio":"This
      account is for testing purpose of the workflow of the GitHub App @mergifyio","twitter_username":"mergifyio","public_repos":0,"public_gists":0,"followers":0,"following":0,"created_at":"2018-04-18T10:42:59Z","updated_at":"2021-11-18T16:39:40Z","private_gists":0,"total_private_repos":0,"owned_private_repos":0,"disk_usage":0,"collaborators":0,"two_factor_authentication":false,"plan":{"name":"free","space":976562499,"collaborators":0,"private_repos":10000}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
      X-OAuth-Scopes:
      - admin:org, delete_repo, read:public_key, repo, user, workflow
    status_code: 200
[...]
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: POST
    uri: https://api.github.com/app/installations/15398551/access_tokens
  response:
    content: '{"token": "<TOKEN>", "expires_at": "2021-11-25T13:04:01Z", "permissions":
      {"members": "read", "administration": "read", "checks": "write", "contents":
      "write", "issues": "write", "metadata": "read", "pages": "write", "pull_requests":
      "write", "statuses": "read", "workflows": "write"}, "repository_selection":
      "all"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; format=json
    status_code: 201
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/repositories/405124434
  response:
    content: '{"id":405124434,"node_id":"MDEwOlJlcG9zaXRvcnk0MDUxMjQ0MzQ=","name":"functional-testing-repo-jd","full_name":"mergifyio-testing/functional-testing-repo-jd","private":false,"owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/mergifyio-testing/functional-testing-repo-jd","description":null,"fork":false,"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd","forks_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/forks","keys_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/keys{/key_id}","collaborators_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/teams","hooks_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/hooks","issue_events_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/issues/events{/number}","events_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/events","assignees_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/assignees{/user}","branches_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/branches{/branch}","tags_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/tags","blobs_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/git/refs{/sha}","trees_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/git/trees{/sha}","statuses_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/statuses/{sha}","languages_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/languages","stargazers_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/stargazers","contributors_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/contributors","subscribers_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/subscribers","subscription_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/subscription","commits_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/commits{/sha}","git_commits_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/git/commits{/sha}","comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/comments{/number}","issue_comment_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/issues/comments{/number}","contents_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/contents/{+path}","compare_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/compare/{base}...{head}","merges_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/merges","archive_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/downloads","issues_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/issues{/number}","pulls_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/pulls{/number}","milestones_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/milestones{/number}","notifications_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/labels{/name}","releases_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/releases{/id}","deployments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/deployments","created_at":"2021-09-10T15:19:47Z","updated_at":"2021-11-25T12:03:16Z","pushed_at":"2021-11-25T12:03:58Z","git_url":"git://github.com/mergifyio-testing/functional-testing-repo-jd.git","ssh_url":"git@github.com:mergifyio-testing/functional-testing-repo-jd.git","clone_url":"https://github.com/mergifyio-testing/functional-testing-repo-jd.git","svn_url":"https://github.com/mergifyio-testing/functional-testing-repo-jd","homepage":null,"size":1,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":false,"has_projects":false,"has_downloads":true,"has_wiki":false,"has_pages":false,"forks_count":1,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"allow_forking":true,"is_template":false,"topics":[],"visibility":"public","forks":1,"open_issues":0,"watchers":0,"default_branch":"main","permissions":{"admin":false,"maintain":false,"push":false,"triage":false,"pull":false},"temp_clone_token":"","allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"allow_auto_merge":false,"delete_branch_on_merge":false,"allow_update_branch":false,"organization":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"network_count":1,"subscribers_count":2}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 200
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: DELETE
    uri: https://test-forwarder.mergify.io/events/github.com/11221/405124434
  response:
    content: Event queued
    headers:
    status_code: 202
- request:
    body: '{"default_branch": "20211125120359/test_merge_smart_legacy/main"}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd
  response:
    content: '{"id":405124434,"node_id":"MDEwOlJlcG9zaXRvcnk0MDUxMjQ0MzQ=","name":"functional-testing-repo-jd","full_name":"mergifyio-testing/functional-testing-repo-jd","private":false,"owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_i[...]
- request:
    body: '{"base": "20211125120359/test_merge_smart_legacy/main", "head": "mergifyio-testing:20211125120359/test_merge_smart_legacy/origin/pr1",
      "title": "test_merge_smart_legacy: pull request n1 from origin", "body": "test_merge_smart_legacy:
      pull request n1 from origin", "draft": false}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/pulls
  response:
    content: '{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/pulls/621","id":788779880,"node_id":"PR_kwDOGCW1Us4vA9No","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-jd/pull/621","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo-jd/pull/621.diff","patch_url":"https://github.com/mergifyio-testing/functional-testing-repo-jd/pull/621.patch","issue_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/issues/621","number":621,"state":"open","locked":false,"title":"test_merge_smart_legacy:
      pull request n1 from origin","user":{"login":"mergify-test1","id":38494943,"node_id":"MDQ6VXNlcjM4NDk0OTQz","avatar_url":"https://avatars.githubusercontent.com/u/38494943?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-test1","html_url":"https://github.com/mergify-test1","followers_url":"https://api.github.com/users/mergify-test1/followers","following_url":"https://api.github.com/users/mergify-test1/following{/other_user}","gists_url":"https://api.github.com/users/mergify-test1/gists{/gist_id}","starred_url":"https://api.github.com/users/mergify-test1/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergify-test1/subscriptions","organizations_url":"https://api.github.com/users/mergify-test1/orgs","repos_url":"https://api.github.com/users/mergify-test1/repos","events_url":"https://api.github.com/users/mergify-test1/events{/privacy}","received_events_url":"https://api.github.com/users/mergify-test1/received_events","type":"User","site_admin":false},"body":"test_merge_smart_legacy:
      pull request n1 from origin","created_at":"2021-11-25T12:04:07Z","updated_at":"2021-11-25T12:04:07Z","closed_at":null,"merged_at":null,"merge_commit_sha":null,"assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/pulls/621/commits","review_comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/pulls/621/comments","review_comment_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/pulls/comments{/number}","comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/issues/621/comments","statuses_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/statuses/396b16a397ca201f1570dbd451438c7360c758e8","head":{"label":"mergifyio-testing:20211125120359/test_merge_smart_legacy/origin/pr1","ref":"20211125120359/test_merge_smart_legacy/origin/pr1","sha":"396b16a397ca201f1570dbd451438c7360c758e8","user":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"repo":{"id":405124434,"node_id":"MDEwOlJlcG9zaXRvcnk0MDUxMjQ0MzQ=","name":"functional-testing-repo-jd","full_name":"mergifyio-testing/functional-testing-repo-jd","private":false,"owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/us[...]
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: GET
    uri: https://test-forwarder.mergify.io/events/github.com/11221/405124434?counter=1
  response:
    content: '[{"id":"c885c1c2-4de7-11ec-88f4-fc04311d4526","type":"push","payload":{"ref":"refs/heads/20211125120359/test_merge_smart_legacy/main","before":"0000000000000000000000000000000000000000","after":"bd0d2d08b24f717fdf3d01d6d6646177415ba106","repository":{"id":405124434,"node_id":"MDEwOlJlcG9zaXRvcnk0MDUxMjQ0MzQ=","name":"functional-testing-repo-jd","full_name":"mergifyio-testing/functional-testing-repo-jd","private":false,"owner":{"name":"mergifyio-testing","email":null,"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","f[...]
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: GET
    uri: https://test-forwarder.mergify.io/events/github.com/11221/405124434?counter=2
  response:
    content: '[{"id":"caa0c240-4de7-11ec-8053-bb79583db863","type":"pull_request","payload":{"action":"opened","number":621,"pull_request":{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/pulls/621","id":788779880,"node_id":"PR_kwDOGCW1Us4vA9No","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-jd/pull/621","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo-jd/pull/621.diff","patch_url":"https://github.com/mergifyio-testing/functional-testing-repo-jd/pull/621.patch","issue_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/iss[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/pulls/621
  response:
    content: '{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/pulls/621","id":788779880,"node_id":"PR_kwDOGCW1Us4vA9No","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-jd/pull/621","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo-jd/pull/621.diff","patch_url"[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/pulls/621/commits?per_page=100
  response:
    content: '[{"sha":"396b16a397ca201f1570dbd451438c7360c758e8","node_id":"C_kwDOGCW1UtoAKDM5NmIxNmEzOTdjYTIwMWYxNTcwZGJkNDUxNDM4YzczNjBjNzU4ZTg","commit":{"author":{"name":"mergify-tester","email":"noreply@mergify.com","date":"2021-11-25T12:04:05Z"},"committer":{"name":"mergify-tester","email":"noreply@mergify.com","date":"2021-11-25T12:04:05Z"},"message":"test_merge_smart_legacy:
      pull request n1 from origin","tree":{"sha":"83649827c8118c1425132623f91f3c14df45de26","url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/git/trees/83649827c8118c1425132623f91f3c14df45de26"},"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/git/commits/396b16a397ca201f1570dbd451438c7360c758e8","comment_count":0,"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}},"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/commits/396b16a397ca201f1570dbd451438c7360c758e8","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-jd/commit/396b16a397ca201f1570dbd451438c7360c758e8","comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/commits/396b16a397ca201f1570dbd451438c7360c758e8/comments","author":null,"committer":null,"parents":[{"sha":"bd0d2d08b24f717fdf3d01d6d6646177415ba106","url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/commits/bd0d2d08b24f717fdf3d01d6d6646177415ba106","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-jd/commit/bd0d2d08b24f717fdf3d01d6d6646177415ba106"}]}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
      X-OAuth-Scopes:
      - admin:org, delete_repo, read:public_key, repo, user, workflow
    status_code: 200
[...]
- request:
    body: ''
    headers:
    method: PUT
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/pulls/622/merge
  response:
    content: '{"sha":"a5ea6edbb531112bf75faec03d1dc62040d66103","merged":true,"message":"Pull
      Request successfully merged"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
      X-OAuth-Scopes:
      - admin:org, delete_repo, read:public_key, repo, user, workflow
    status_code: 200
[...]
- request:
    body: '{"name": "ready", "color": "000000"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/labels
  response:
    content: '{"id":3583306784,"node_id":"LA_kwDOGCW1Us7VlOwg","url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/labels/ready","name":"ready","color":"000000","default":false,"description":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/labels/ready
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
      X-OAuth-Scopes:
      - admin:org, delete_repo, read:public_key, repo, user, workflow
    status_code: 201
- request:
    body: '{"labels": ["ready"]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/issues/621/labels
  response:
    content: '[{"id":3583306784,"node_id":"LA_kwDOGCW1Us7VlOwg","url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/labels/ready","name":"ready","color":"000000","default":false,"description":null}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
      X-OAuth-Scopes:
      - admin:org, delete_repo, read:public_key, repo, user, workflow
    status_code: 200
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repositories/405124434/pulls?per_page=100
  response:
    content: '[{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/pulls/623","id":788780125,"node_id":"PR_kwDOGCW1Us4vA9Rd","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-jd/pull/623","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo-jd/pull/623.diff","patch_url":"https://github.c[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repositories/405124434/pulls/621
  response:
    content: '{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/pulls/621","id":788779880,"node_id":"PR_kwDOGCW1Us4vA9No","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-jd/pull/621","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo-jd/pull/621.diff","patch_url":"https://github.com/mergify[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/contents/.mergify.yml
  response:
    content: '{"name":".mergify.yml","path":".mergify.yml","sha":"b3c260a73c072381a4b8b151b83f6b218f93ce3e","size":167,"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/contents/.mergify.yml?ref=20211125120359/test_merge_smart_legacy/main","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-jd/blob/20211125120359/test_merge_smart_legacy/main/.mergify.yml","git_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/git/blobs/b3c260a73c072381a4b8b151b83f6b218f93ce3e","download_url":"https://raw.githubusercontent.com/mergifyio-testing/functional-testing-repo-jd/20211125120359/test_merge_smart_legacy/main/.mergify.yml","type":"file","content":"cHVsbF9yZXF1ZXN0X3J1bGVzOgotIGFjdGlvbnM6CiAgICBtZXJnZToKICAg\nICAgc3RyaWN0OiBzbWFydAogIGNvbmRpdGlvbnM6CiAgLSBiYXNlPTIwMjEx\nMTI1MTIwMzU5L3Rlc3RfbWVyZ2Vfc21hcnRfbGVnYWN5L21haW4KICAtIGxh\nYmVsPXJlYWR5CiAgbmFtZTogTWVyZ2Ugb24gbWFpbgo=\n","encoding":"base64","_links":{"self":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/contents/.mergify.yml?ref=20211125120359/test_merge_smart_legacy/main","git":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/git/blobs/b3c260a73c072381a4b8b151b83f6b218f93ce3e","html":"https://github.com/mergifyio-testing/functional-testing-repo-jd/blob/20211125120359/test_merge_smart_legacy/main/.mergify.yml"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/pulls/621/files?per_page=100
  response:
    content: '[{"sha":"e69de29bb2d1d6434b8b29ae775ad8c2e48c5391","filename":"test1","status":"added","additions":0,"deletions":0,"changes":0,"blob_url":"https://github.com/mergifyio-testing/functional-testing-repo-jd/blob/396b16a397ca201f1570dbd451438c7360c758e8/test1","raw_url":"https://github.com/mergifyio-testing/functional-testing-repo-jd/raw/396b16a397ca201f1570dbd451438c7360c758e8/test1","contents_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/contents/test1?ref=396b16a397ca201f1570dbd451438c7360c758e8"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/issues/621/comments?per_page=100
  response:
    content: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/commits/396b16a397ca201f1570dbd451438c7360c758e8/check-runs?per_page=100
  response:
    content: '{"total_count":0,"check_runs":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=antiope-preview; format=json
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/branches/20211125120359%2Ftest_merge_smart_legacy%2Fmain/protection
  response:
[...]
