{"http_interactions": [{"response": {"url": "https://api.github.com:443/repos/mergify-test1/repo-a9eaaa8d-c0df-4c27-a529-6ff17edc3cf7-test_auto_backport_merge/pulls", "body": {"string": "{\"url\":\"https://api.github.com/repos/mergify-test1/repo-a9eaaa8d-c0df-4c27-a529-6ff17edc3cf7-test_auto_backport_merge/pulls/1\",\"id\":196364673,\"node_id\":\"MDExOlB1bGxSZXF1ZXN0MTk2MzY0Njcz\",\"html_url\":\"https://github.com/mergify-test1/repo-a9eaaa8d-c0df-4c27-a529-6ff17edc3cf7-test_auto_backport_merge/pull/1\",\"diff_url\":\"https://github.com/mergify-test1/repo-a9eaaa8d-c0df-4c27-a529-6ff17edc3cf7-test_auto_backport_merge/pull/1.diff\",\"patch_url\":\"https://github.com/mergify-test1/repo-a9eaaa8d-c0df-4c27-a529-6ff17edc3cf7-test_auto_backport_merge/pull/1.patch\",\"issue_url\":\"https://api.github.com/repos/mergify-test1/repo-a9eaaa8d-c0df-4c27-a529-6ff17edc3cf7-test_auto_backport_merge/issues/1\",\"number\":1,\"state\":\"open\",\"locked\":false,\"title\":\"Pull request n1 from fork\",\"user\":{\"login\":\"mergify-test2\",\"id\":38495008,\"node_id\":\"MDQ6VXNlcjM4NDk1MDA4\",\"avatar_url\":\"https://avatars1.githubusercontent.com/u/38495008?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test2\",\"html_url\":\"https://github.com/mergify-test2\",\"followers_url\":\"https://api.github.com/users/mergify-test2/followers\",\"following_url\":\"https://api.github.com/users/mergify-test2/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test2/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test2/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test2/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test2/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test2/repos\",\"events_url\":\"https://api.github.com/users/mergify-test2/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test2/received_events\",\"type\":\"User\",\"site_admin\":false},\"body\":\"Pull request n1 from fork\",\"created_at\":\"2018-06-21T07:54:08Z\",\"updated_at\":\"2018-06-21T07:54:08Z\",\"closed_at\":null,\"merged_at\":null,\"merge_commit_sha\":null,\"assignee\":null,\"assignees\":[],\"requested_reviewers\":[],\"requested_teams\":[],\"labels\":[],\"milestone\":null,\"commits_url\":\"https://api.github.com/repos/mergify-test1/repo-a9eaaa8d-c0df-4c27-a529-6ff17edc3cf7-test_auto_backport_merge/pulls/1/commits\",\"review_comments_url\":\"https://api.github.com/repos/mergify-test1/repo-a9eaaa8d-c0df-4c27-a529-6ff17edc3cf7-test_auto_backport_merge/pulls/1/comments\",\"review_comment_url\":\"https://api.github.com/repos/mergify-test1/repo-a9eaaa8d-c0df-4c27-a529-6ff17edc3cf7-test_auto_backport_merge/pulls/comments{/number}\",\"comments_url\":\"https://api.github.com/repos/mergify-test1/repo-a9eaaa8d-c0df-4c27-a529-6ff17edc3cf7-test_auto_backport_merge/issues/1/comments\",\"statuses_url\":\"https://api.github.com/repos/mergify-test1/repo-a9eaaa8d-c0df-4c27-a529-6ff17edc3cf7-test_auto_backport_merge/statuses/ff3b8a28359bc45b9b5f32ca7b122fdc3444df87\",\"head\":{\"label\":\"mergify-test2:fork/pr1\",\"ref\":\"fork/pr1\",\"sha\":\"ff3b8a28359bc45b9b5f32ca7b122fdc3444df87\",\"user\":{\"login\":\"mergify-test2\",\"id\":38495008,\"node_id\":\"MDQ6VXNlcjM4NDk1MDA4\",\"avatar_url\":\"https://avatars1.githubusercontent.com/u/38495008?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test2\",\"html_url\":\"https://github.com/mergify-test2\",\"followers_url\":\"https://api.github.com/users/mergify-test2/followers\",\"following_url\":\"https://api.github.com/users/mergify-test2/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test2/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test2/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test2/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test2/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test2/repos\",\"events_url\":\"https://api.github.com/users/mergify-test2/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test2/received_events\",\"type\":\"User\",\"site_admin\":false},\"repo\":{\"id\":138137949,\"node_id\":\"MDEwOlJlcG9zaXRvcnkxMzgxMzc5NDk=\",\"name\":\"repo-a9eaaa8d-c0df-4c27-a529-6ff17edc3cf7-test_auto_backport_merge\",\"full_name\":\"mergify-test2/repo-a9eaaa8d-c0df-4c27-a529-6ff17edc3cf7-test_auto_backport_merge\",\"owner\":{\"login\":\"mergify-test2\",\"id\":38495008,\"node_id\":\"MDQ6VXNlcjM4NDk1MDA4\",\"avatar_url\":\"https://avatars1.githubusercontent.com/u/38495008?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test2\",\"html_url\":\"https://github.com/mergify-test2\",\"followers_url\":\"https://api.github.com/users/mergify-test2/followers\",\"following_url\":\"https://api.github.com/users/mergify-test2/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test2/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test2/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test2/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test2/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test2/repos\",\"events_url\":\"https://api.github.com/users/mergify-test2/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test2/received_events\",\"type\":\"User\",\"site_admin\":false},\"private\":false,\"html_url\":\"https://github.com/mergify-test2/repo-a9eaaa8d-c0df-4c27-a529-6ff17edc3cf7-test_auto_backport_merge\",\"description\":null,\"fork\":true,\"url\":\"https://api.github.com/repos/mergify-test2/repo-a9eaaa8d-c0df-4c27-a529-6ff17edc3cf7-test_auto_backport_merge\",\"forks_url\":\"https://api.github.com/repos/mergify-test2/repo-a9eaaa8d-c0df-4c27-a529-6ff17edc3cf7-test_auto_backport_merge/forks\",\"keys_url\":\"https://api.github.com/repos/mergify-test2/repo-a9eaaa8d-c0df-4c27-a529-6ff17edc3cf7-test_auto_backport_merge/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/mergify-test2/repo-a9eaaa8d-c0df-4c27-a529-6ff17edc3cf7-test_auto_backport_merge/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/mergify-test2/repo-a9eaaa8d-c0df-4c27-a529-6ff17edc3cf7-test_auto_backport_merge/teams\",\"hooks_url\":\"https://api.github.com/repos/mergify-test2/repo-a9eaaa8d-c0df-4c27-a529-6ff17edc3cf7-test_auto_backport_merge/hooks\",\"issue_events_url\":\"https://api.github.com/repos/mergify-test2/repo-a9eaaa8d-c0df-4c27-a529-6ff17edc3cf7-test_auto_backport_merge/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/mergify-test2/repo-a9eaaa8d-c0df-4c27-a529-6ff17edc3cf7-test_auto_backport_merge/events\",\"assignees_url\":\"https://api.github.com/repos/mergify-test2/repo-a9eaaa8d-c0df-4c27-a529-6ff17edc3cf7-test_auto_backport_merge/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/mergify-test2/repo-a9eaaa8d-c0df-4c27-a529-6ff17edc3cf7-test_auto_backport_merge/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/mergify-test2/repo-a9eaaa8d-c0df-4c27-a529-6ff17edc3cf7-test_auto_backport_merge/tags\",\"blobs_url\":\"https://api.github.com/repos/mergify-test2/repo-a9eaaa8d-c0df-4c27-a529-6ff17edc3cf7-test_auto_backport_merge/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/mergify-test2/repo-a9eaaa8d-c0df-4c27-a529-6ff17edc3cf7-test_auto_backport_merge/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/mergify-test2/repo-a9eaaa8d-c0df-4c27-a529-6ff17edc3cf7-test_auto_backport_merge/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/mergify-test2/repo-a9eaaa8d-c0df-4c27-a529-6ff17edc3cf7-test_auto_backport_merge/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/mergify-test2/repo-a9eaaa8d-c0df-4c27-a529-6ff17edc3cf7-test_auto_backport_merge/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/mergify-test2/repo-a9eaaa8d-c0df-4c27-a529-6ff17edc3cf7-test_auto_backport_merge/languages\",\"stargazers_url\":\"https://api.github.com/repos/mergify-test2/repo-a9eaaa8d-c0df-4c27-a529-6ff17edc3cf7-test_auto_backport_merge/stargazers\",\"contributors_url\":\"https://api.github.com/repos/mergify-test2/repo-a9eaaa8d-c0df-4c27-a529-6ff17edc3cf7-test_auto_backport_merge/contributors\",\"subscribers_url\":\"https://api.github.com/repos/mergify-test2/repo-a9eaaa8d-c0df-4c27-a529-6ff17edc3cf7-test_auto_backport_merge/subscribers\",\"subscription_url\":\"https://api.github.com/repos/mergify-test2/repo-a9eaaa8d-c0df-4c27-a529-6ff17edc3cf7-test_auto_backport_merge/subscription\",\"commits_url\":\"https://api.github.com/repos/mergify-test2/repo-a9eaaa8d-c0df-4c27-a529-6ff17edc3cf7-test_auto_backport_merge/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/mergify-test2/repo-a9eaaa8d-c0df-4c27-a529-6ff17edc3cf7-test_auto_backport_merge/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/mergify-test2/repo-a9eaaa8d-c0df-4c27-a529-6ff17edc3cf7-test_auto_backport_merge/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/mergify-test2/repo-a9eaaa8d-c0df-4c27-a529-6ff17edc3cf7-test_auto_backport_merge/issues/comments{/number}\",\"contents_url\":\"https://api.github.com/repos/mergify-test2/repo-a9eaaa8d-c0df-4c27-a529-6ff17edc3cf7-test_auto_backport_merge/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/mergify-test2/repo-a9eaaa8d-c0df-4c27-a529-6ff17edc3cf7-test_auto_backport_merge/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/mergify-test2/repo-a9eaaa8d-c0df-4c27-a529-6ff17edc3cf7-test_auto_backport_merge/merges\",\"archive_url\":\"https://api.github.com/repos/mergify-test2/repo-a9eaaa8d-c0df-4c27-a529-6ff17edc3cf7-test_auto_backport_merge/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/mergify-test2/repo-a9eaaa8d-c0df-4c27-a529-6ff17edc3cf7-test_auto_backport_merge/downloads\",\"issues_url\":\"https://api.github.com/repos/mergify-test2/repo-a9eaaa8d-c0df-4c27-a529-6ff17edc3cf7-test_auto_backport_merge/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/mergify-test2/repo-a9eaaa8d-c0df-4c27-a529-6ff17edc3cf7-test_auto_backport_merge/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/mergify-test2/repo-a9eaaa8d-c0df-4c27-a529-6ff17edc3cf7-test_auto_backport_merge/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/mergify-test2/repo-a9eaaa8d-c0df-4c27-a529-6ff17edc3cf7-test_auto_backport_merge/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/mergify-test2/repo-a9eaaa8d-c0df-4c27-a529-6ff17edc3cf7-test_auto_backport_merge/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/mergify-test2/repo-a9eaaa8d-c0df-4c27-a529-6ff17edc3cf7-test_auto_backport_merge/releases{/id}\",\"deployments_url\":\"https://api.github.com/repos/mergify-test2/repo-a9eaaa8d-c0df-4c27-a529-6ff17edc3cf7-test_auto_backport_merge/deployments\",\"created_at\":\"2018-06-21T07:54:00Z\",\"updated_at\":\"2018-06-21T07:54:03Z\",\"pushed_at\":\"2018-06-21T07:54:08Z\",\"git_url\":\"git://github.com/mergify-test2/repo-a9eaaa8d-c0df-4c27-a529-6ff17edc3cf7-test_auto_backport_merge.git\",\"ssh_url\":\"git@github.com:mergify-test2/repo-a9eaaa8d-c0df-4c27-a529-6ff17edc3cf7-test_auto_backport_merge.git\",\"clone_url\":\"https://github.com/mergify-test2/repo-a9eaaa8d-c0df-4c27-a529-6ff17edc3cf7-test_auto_backport_merge.git\",\"svn_url\":\"https://github.com/mergify-test2/repo-a9eaaa8d-c0df-4c27-a529-6ff17edc3cf7-test_auto_backport_merge\",\"homepage\":null,\"size\":0,\"stargazers_count\":0,\"watchers_count\":0,\"language\":null,\"has_issues\":false,\"has_projects\":true,\"has_downloads\":true,\"has_wiki\":true,\"has_pages\":false,\"forks_count\":0,\"mirror_url\":null,\"archived\":false,\"open_issues_count\":0,\"license\":null,\"forks\":0,\"open_issues\":0,\"watchers\":0,\"default_branch\":\"master\"}},\"base\":{\"label\":\"mergify-test1:master\",\"ref\":\"master\",\"sha\":\"fc96568e83b3a05aa65b0662aac3025362f94db7\",\"user\":{\"login\":\"mergify-test1\",\"id\":38494943,\"node_id\":\"MDQ6VXNlcjM4NDk0OTQz\",\"avatar_url\":\"https://avatars3.githubusercontent.com/u/38494943?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test1\",\"html_url\":\"https://github.com/mergify-test1\",\"followers_url\":\"https://api.github.com/users/mergify-test1/followers\",\"following_url\":\"https:/[...]
