{"recorded_with": "betamax/0.8.1", "http_interactions": [{"request": {"method": "POST", "body": {"string": "{\"context\": \"continuous-integration/fake-ci\", \"description\": \"Your change works\", \"state\": \"success\"}", "encoding": "utf-8"}, "uri": "https://api.github.com:443/repos/mergify-test1/repo-996e64c8-5aaa-47bd-b96f-4641519c01fb-test_auto_backport_merge/statuses/879c1114f1ec0ef29ec46ce0ea2cff8e5b7414d3", "headers": {"Content-Type": ["application/json"], "Authorization": ["token <MAIN_TOKEN>"]}}, "recorded_at": "2018-06-23T21:55:29", "response": {"status": {"message": "Created", "code": 201}, "body": {"string": "{\"url\":\"https://api.github.com/repos/mergify-test1/repo-996e64c8-5aaa-47bd-b96f-4641519c01fb-test_auto_backport_merge/statuses/879c1114f1ec0ef29ec46ce0ea2cff8e5b7414d3\",\"id\":5123467882,\"node_id\":\"MDEzOlN0YXR1c0NvbnRleHQ1MTIzNDY3ODgy\",\"state\":\"success\",\"description\":\"Your change works\",\"target_url\":null,\"context\":\"continuous-integration/fake-ci\",\"created_at\":\"2018-06-23T21:55:29Z\",\"updated_at\":\"2018-06-23T21:55:29Z\",\"creator\":{\"login\":\"mergify-test1\",\"id\":38494943,\"node_id\":\"MDQ6VXNlcjM4NDk0OTQz\",\"avatar_url\":\"https://avatars3.githubusercontent.com/u/38494943?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test1\",\"html_url\":\"https://github.com/mergify-test1\",\"followers_url\":\"https://api.github.com/users/mergify-test1/followers\",\"following_url\":\"https://api.github.com/users/mergify-test1/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test1/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test1/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test1/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test1/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test1/repos\",\"events_url\":\"https://api.github.com/users/mergify-test1/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test1/received_events\",\"type\":\"User\",\"site_admin\":false}}", "encoding": "utf-8"}, "url": "https://api.github.com:443/repos/mergify-test1/repo-996e64c8-5aaa-47bd-b96f-4641519c01fb-test_auto_backport_merge/statuses/879c1114f1ec0ef29ec46ce0ea2cff8e5b7414d3", "headers": {"ETag": ["\"ad8ba0a0fef024b1e20550f761964af6\""], "Status": ["201 Created"], "Content-Type": ["application/json; charset=utf-8"], "X-RateLimit-Reset": ["1529790994"], "X-RateLimit-Remaining": ["4850"], "X-OAuth-Scopes": ["repo"], "X-RateLimit-Limit": ["5000"], "X-GitHub-Media-Type": ["github.machine-man-preview; format=json"], "Location": ["https://api.github.com/repos/mergify-test1/repo-996e64c8-5aaa-47bd-b96f-4641519c01fb-test_auto_backport_merge/statuses/879c1114f1ec0ef29ec46ce0ea2cff8e5b7414d3"], "X-Accepted-OAuth-Scopes": [""]}}}]}