{"http_interactions": [{"recorded_at": "2018-06-21T07:54:18", "response": {"status": {"code": 201, "message": "Created"}, "body": {"string": "{\"url\":\"https://api.github.com/repos/mergify-test1/repo-a9eaaa8d-c0df-4c27-a529-6ff17edc3cf7-test_auto_backport_merge/statuses/ff3b8a28359bc45b9b5f32ca7b122fdc3444df87\",\"id\":5112496066,\"node_id\":\"MDEzOlN0YXR1c0NvbnRleHQ1MTEyNDk2MDY2\",\"state\":\"success\",\"description\":\"Your change works\",\"target_url\":null,\"context\":\"continuous-integration/fake-ci\",\"created_at\":\"2018-06-21T07:54:18Z\",\"updated_at\":\"2018-06-21T07:54:18Z\",\"creator\":{\"login\":\"mergify-test1\",\"id\":38494943,\"node_id\":\"MDQ6VXNlcjM4NDk0OTQz\",\"avatar_url\":\"https://avatars3.githubusercontent.com/u/38494943?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test1\",\"html_url\":\"https://github.com/mergify-test1\",\"followers_url\":\"https://api.github.com/users/mergify-test1/followers\",\"following_url\":\"https://api.github.com/users/mergify-test1/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test1/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test1/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test1/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test1/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test1/repos\",\"events_url\":\"https://api.github.com/users/mergify-test1/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test1/received_events\",\"type\":\"User\",\"site_admin\":false}}", "encoding": "utf-8"}, "headers": {"Status": ["201 Created"], "X-RateLimit-Remaining": ["4869"], "ETag": ["\"f6fc2bf4bb8f770f62f145b892265cac\""], "X-GitHub-Media-Type": ["github.machine-man-preview; format=json"], "Content-Type": ["application/json; charset=utf-8"], "Location": ["https://api.github.com/repos/mergify-test1/repo-a9eaaa8d-c0df-4c27-a529-6ff17edc3cf7-test_auto_backport_merge/statuses/ff3b8a28359bc45b9b5f32ca7b122fdc3444df87"], "X-RateLimit-Reset": ["1529569015"], "X-RateLimit-Limit": ["5000"], "X-Accepted-OAuth-Scopes": [""], "X-OAuth-Scopes": ["repo"]}, "url": "https://api.github.com:443/repos/mergify-test1/repo-a9eaaa8d-c0df-4c27-a529-6ff17edc3cf7-test_auto_backport_merge/statuses/ff3b8a28359bc45b9b5f32ca7b122fdc3444df87"}, "request": {"body": {"string": "{\"state\": \"success\", \"context\": \"continuous-integration/fake-ci\", \"description\": \"Your change works\"}", "encoding": "utf-8"}, "method": "POST", "headers": {"Content-Type": ["application/json"], "Authorization": ["token <MAIN_TOKEN>"]}, "uri": "https://api.github.com:443/repos/mergify-test1/repo-a9eaaa8d-c0df-4c27-a529-6ff17edc3cf7-test_auto_backport_merge/statuses/ff3b8a28359bc45b9b5f32ca7b122fdc3444df87"}}], "recorded_with": "betamax/0.8.1"}