{"recorded_with": "betamax/0.8.1", "http_interactions": [{"response": {"headers": {"X-GitHub-Media-Type": ["github.machine-man-preview; format=json"], "Location": ["https://api.github.com/repos/mergify-test1/repo-24030041-0e60-4952-8c36-6c7bb89b08b5-test_auto_backport_merge/statuses/cde047eb74b579e99b2d4c7a7ced0e9a127b993d"], "X-RateLimit-Limit": ["5000"], "X-RateLimit-Reset": ["1529863687"], "X-RateLimit-Remaining": ["4939"], "Content-Type": ["application/json; charset=utf-8"], "ETag": ["\"99a9be2d5c28f75621256a44c23c9817\""], "Status": ["201 Created"], "X-OAuth-Scopes": ["repo"], "X-Accepted-OAuth-Scopes": [""]}, "url": "https://api.github.com:443/repos/mergify-test1/repo-24030041-0e60-4952-8c36-6c7bb89b08b5-test_auto_backport_merge/statuses/cde047eb74b579e99b2d4c7a7ced0e9a127b993d", "status": {"message": "Created", "code": 201}, "body": {"string": "{\"url\":\"https://api.github.com/repos/mergify-test1/repo-24030041-0e60-4952-8c36-6c7bb89b08b5-test_auto_backport_merge/statuses/cde047eb74b579e99b2d4c7a7ced0e9a127b993d\",\"id\":5124400546,\"node_id\":\"MDEzOlN0YXR1c0NvbnRleHQ1MTI0NDAwNTQ2\",\"state\":\"success\",\"description\":\"Your change works\",\"target_url\":null,\"context\":\"continuous-integration/fake-ci\",\"created_at\":\"2018-06-24T17:14:19Z\",\"updated_at\":\"2018-06-24T17:14:19Z\",\"creator\":{\"login\":\"mergify-test1\",\"id\":38494943,\"node_id\":\"MDQ6VXNlcjM4NDk0OTQz\",\"avatar_url\":\"https://avatars3.githubusercontent.com/u/38494943?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test1\",\"html_url\":\"https://github.com/mergify-test1\",\"followers_url\":\"https://api.github.com/users/mergify-test1/followers\",\"following_url\":\"https://api.github.com/users/mergify-test1/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test1/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test1/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test1/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test1/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test1/repos\",\"events_url\":\"https://api.github.com/users/mergify-test1/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test1/received_events\",\"type\":\"User\",\"site_admin\":false}}", "encoding": "utf-8"}}, "request": {"headers": {"Authorization": ["token <MAIN_TOKEN>"], "Content-Type": ["application/json"]}, "uri": "https://api.github.com:443/repos/mergify-test1/repo-24030041-0e60-4952-8c36-6c7bb89b08b5-test_auto_backport_merge/statuses/cde047eb74b579e99b2d4c7a7ced0e9a127b993d", "method": "POST", "body": {"string": "{\"state\": \"success\", \"context\": \"continuous-integration/fake-ci\", \"description\": \"Your change works\"}", "encoding": "utf-8"}}, "recorded_at": "2018-06-24T17:14:19"}, {"response": {"headers": {"X-GitHub-Media-Type": ["github.machine-man-preview; format=json"], "X-RateLimit-Reset": ["1530223269"], "X-Accepted-OAuth-Scopes": [""], "Location": ["https://api.github.com/repos/mergify-test1/repo-58576acf-b466-439b-b982-065d47af27f5-test_auto_backport_merge/statuses/6c3bc7d03b83a6b2c0e5fa58ad19521813048c52"], "X-RateLimit-Limit": ["5000"], "X-RateLimit-Remaining": ["4955"], "Content-Type": ["application/json; charset=utf-8"], "ETag": ["\"930[...]
