{"http_interactions": [{"response": {"url": "https://api.github.com:443/repos/mergify-test1/repo-5f24047a-a2cc-42c6-8f18-d487b021e4c9-test_update_branch/statuses/eaf90effc1389bc9dadcf086777df829b5a9c446", "body": {"string": "{\"url\":\"https://api.github.com/repos/mergify-test1/repo-5f24047a-a2cc-42c6-8f18-d487b021e4c9-test_update_branch/statuses/eaf90effc1389bc9dadcf086777df829b5a9c446\",\"id\":5112615020,\"node_id\":\"MDEzOlN0YXR1c0NvbnRleHQ1MTEyNjE1MDIw\",\"state\":\"success\",\"description\":\"Your change works\",\"target_url\":null,\"context\":\"continuous-integration/fake-ci\",\"created_at\":\"2018-06-21T08:25:07Z\",\"updated_at\":\"2018-06-21T08:25:07Z\",\"creator\":{\"login\":\"mergify-test1\",\"id\":38494943,\"node_id\":\"MDQ6VXNlcjM4NDk0OTQz\",\"avatar_url\":\"https://avatars3.githubusercontent.com/u/38494943?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test1\",\"html_url\":\"https://github.com/mergify-test1\",\"followers_url\":\"https://api.github.com/users/mergify-test1/followers\",\"following_url\":\"https://api.github.com/users/mergify-test1/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test1/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test1/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test1/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test1/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test1/repos\",\"events_url\":\"https://api.github.com/users/mergify-test1/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test1/received_events\",\"type\":\"User\",\"site_admin\":false}}", "encoding": "utf-8"}, "headers": {"ETag": ["\"c419420584549a8bd73215ad179a5bd2\""], "X-RateLimit-Limit": ["5000"], "Status": ["201 Created"], "X-RateLimit-Reset": ["1529572616"], "X-RateLimit-Remaining": ["4899"], "X-OAuth-Scopes": ["repo"], "Location": ["https://api.github.com/repos/mergify-test1/repo-5f24047a-a2cc-42c6-8f18-d487b021e4c9-test_update_branch/statuses/eaf90effc1389bc9dadcf086777df829b5a9c446"], "X-GitHub-Media-Type": ["github.machine-man-preview; format=json"], "X-Accepted-OAuth-Scopes": [""], "Content-Type": ["application/json; charset=utf-8"]}, "status": {"code": 201, "message": "Created"}}, "request": {"method": "POST", "body": {"string": "{\"context\": \"continuous-integration/fake-ci\", \"state\": \"success\", \"description\": \"Your change works\"}", "encoding": "utf-8"}, "headers": {"Content-Type": ["application/json"], "Authorization": ["token <MAIN_TOKEN>"]}, "uri": "https://api.github.com:443/repos/mergify-test1/repo-5f24047a-a2cc-42c6-8f18-d487b021e4c9-test_update_branch/statuses/eaf90effc1389bc9dadcf086777df829b5a9c446"}, "recorded_at": "2018-06-21T08:25:07"}], "recorded_with": "betamax/0.8.1"}