{"http_interactions": [{"request": {"uri": "https://api.github.com:443/repos/mergify-test1/repo-00e69745-8030-46f8-a61b-c53253a9f03c-test_update_branch/statuses/a2c9c33526f9a766d21968b2e55fe80ca1009ac7", "body": {"encoding": "utf-8", "string": "{\"context\": \"continuous-integration/fake-ci\", \"state\": \"success\", \"description\": \"Your change works\"}"}, "method": "POST", "headers": {"Content-Type": ["application/json"], "Authorization": ["token <MAIN_TOKEN>"]}}, "recorded_at": "2018-06-23T21:53:53", "response": {"status": {"code": 201, "message": "Created"}, "body": {"encoding": "utf-8", "string": "{\"url\":\"https://api.github.com/repos/mergify-test1/repo-00e69745-8030-46f8-a61b-c53253a9f03c-test_update_branch/statuses/a2c9c33526f9a766d21968b2e55fe80ca1009ac7\",\"id\":5123466489,\"node_id\":\"MDEzOlN0YXR1c0NvbnRleHQ1MTIzNDY2NDg5\",\"state\":\"success\",\"description\":\"Your change works\",\"target_url\":null,\"context\":\"continuous-integration/fake-ci\",\"created_at\":\"2018-06-23T21:53:53Z\",\"updated_at\":\"2018-06-23T21:53:53Z\",\"creator\":{\"login\":\"mergify-test1\",\"id\":38494943,\"node_id\":\"MDQ6VXNlcjM4NDk0OTQz\",\"avatar_url\":\"https://avatars3.githubusercontent.com/u/38494943?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test1\",\"html_url\":\"https://github.com/mergify-test1\",\"followers_url\":\"https://api.github.com/users/mergify-test1/followers\",\"following_url\":\"https://api.github.com/users/mergify-test1/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test1/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test1/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test1/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test1/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test1/repos\",\"events_url\":\"https://api.github.com/users/mergify-test1/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test1/received_events\",\"type\":\"User\",\"site_admin\":false}}"}, "url": "https://api.github.com:443/repos/mergify-test1/repo-00e69745-8030-46f8-a61b-c53253a9f03c-test_update_branch/statuses/a2c9c33526f9a766d21968b2e55fe80ca1009ac7", "headers": {"Content-Type": ["application/json; charset=utf-8"], "X-GitHub-Media-Type": ["github.machine-man-preview; format=json"], "X-RateLimit-Remaining": ["4868"], "Status": ["201 Created"], "Location": ["https://api.github.com/repos/mergify-test1/repo-00e69745-8030-46f8-a61b-c53253a9f03c-test_update_branch/statuses/a2c9c33526f9a766d21968b2e55fe80ca1009ac7"], "X-RateLimit-Reset": ["1529790994"], "ETag": ["\"5633e5ffc809556fd76ccd177c7126f8\""], "X-RateLimit-Limit": ["5000"], "X-OAuth-Scopes": ["repo"], "X-Accepted-OAuth-Scopes": [""]}}}], "recorded_with": "betamax/0.8.1"}