{"recorded_with": "betamax/0.8.1", "http_interactions": [{"request": {"uri": "https://api.github.com:443/repos/mergify-test1/repo-5dbedf61-8079-4232-9694-b4a7e80eb78f-test_update_branch/pulls", "method": "POST", "body": {"encoding": "utf-8", "string": "{\"head\": \"mergify-test2:fork/pr2\", \"title\": \"Pull request n2 from fork\", \"base\": \"master\", \"body\": \"Pull request n2 from fork\"}"}, "headers": {"Authorization": ["token <FORK_TOKEN>"], "Content-Type": ["application/json"]}}, "response": {"url": "https://api.github.com:443/repos/mergify-test1/repo-5dbedf61-8079-4232-9694-b4a7e80eb78f-test_update_branch/pulls", "status": {"message": "Created", "code": 201}, "body": {"encoding": "utf-8", "string": "{\"url\":\"https://api.github.com/repos/mergify-test1/repo-5dbedf61-8079-4232-9694-b4a7e80eb78f-test_update_branch/pulls/2\",\"id\":198163767,\"node_id\":\"MDExOlB1bGxSZXF1ZXN0MTk4MTYzNzY3\",\"html_url\":\"https://github.com/mergify-test1/repo-5dbedf61-8079-4232-9694-b4a7e80eb78f-test_update_branch/pull/2\",\"diff_url\":\"https://github.com/mergify-test1/repo-5dbedf61-8079-4232-9694-b4a7e80eb78f-test_update_branch/pull/2.diff\",\"patch_url\":\"https://github.com/mergify-test1/repo-5dbedf61-8079-4232-9694-b4a7e80eb78f-test_update_branch/pull/2.patch\",\"issue_url\":\"https://api.github.com/repos/mergify-test1/repo-5dbedf61-8079-4232-9694-b4a7e80eb78f-test_update_branch/issues/2\",\"number\":2,\"state\":\"open\",\"locked\":false,\"title\":\"Pull request n2 from fork\",\"user\":{\"login\":\"mergify-test2\",\"id\":38495008,\"node_id\":\"MDQ6VXNlcjM4NDk1MDA4\",\"avatar_url\":\"https://avatars1.githubusercontent.com/u/38495008?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test2\",\"html_url\":\"https://github.com/mergify-test2\",\"followers_url\":\"https://api.github.com/users/mergify-test2/followers\",\"following_url\":\"https://api.github.com/users/mergify-test2/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test2/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test2/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test2/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test2/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test2/repos\",\"events_url\":\"https://api.github.com/users/mergify-test2/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test2/received_events\",\"type\":\"User\",\"site_admin\":false},\"body\":\"Pull request n2 from fork\",\"created_at\":\"2018-06-28T21:53:42Z\",\"updated_at\":\"2018-06-28T21:53:42Z\",\"closed_at\":null,\"merged_at\":null,\"merge_commit_sha\":null,\"assignee\":null,\"assignees\":[],\"requested_reviewers\":[],\"requested_teams\":[],\"labels\":[],\"milestone\":null,\"commits_url\":\"https://api.github.com/repos/mergify-test1/repo-5dbedf61-8079-4232-9694-b4a7e80eb78f-test_update_branch/pulls/2/commits\",\"review_comments_url\":\"https://api.github.com/repos/mergify-test1/repo-5dbedf61-8079-4232-9694-b4a7e80eb78f-test_update_branch/pulls/2/comments\",\"review_comment_url\":\"https://api.github.com/repos/mergify-test1/repo-5dbedf61-8079-4232-9694-b4a7e80eb78f-test_update_branch/pulls/comments{/number}\",\"comments_url\":\"https://api.github.com/repos/mergify-test1/repo-5dbedf61-8079-4232-9694-b4a7e80eb78f-test_update_branch/issues/2/comments\",\"statuses_url\":\"https://api.github.com/repos/mergify-test1/repo-5dbedf61-8079-4232-9694-b4a7e80eb78f-test_update_branch/statuses/2b68d06b9745778541ceb67e0675d44c6fa17525\",\"head\":{\"label\":\"mergify-test2:fork/pr2\",\"ref\":\"fork/pr2\",\"sha\":\"2b68d06b9745778541ceb67e0675d44c6fa17525\",\"user\":{\"login\":\"mergify-test2\",\"id\":38495008,\"node_id\":\"MDQ6VXNlcjM4NDk1MDA4\",\"avatar_url\":\"https://avatars1.githubusercontent.com/u/38495008?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test2\",\"html_url\":\"https://github.com/mergify-test2\",\"followers_url\":\"https://api.github.com/users/mergify-test2/followers\",\"following_url\":\"https://api.github.com/users/mergify-test2/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test2/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test2/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test2/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test2/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test2/repos\",\"events_url\":\"https://api.github.com/users/mergify-test2/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test2/received_events\",\"type\":\"User\",\"site_admin\":false},\"repo\":{\"id\":139071863,\"node_id\":\"MDEwOlJlcG9zaXRvcnkxMzkwNzE4NjM=\",\"name\":\"repo-5dbedf61-8079-4232-9694-b4a7e80eb78f-test_update_branch\",\"full_name\":\"mergify-test2/repo-5dbedf61-8079-4232-9694-b4a7e80eb78f-test_update_branch\",\"owner\":{\"login\":\"mergify-test2\",\"id\":38495008,\"node_id\":\"MDQ6VXNlcjM4NDk1MDA4\",\"avatar_url\":\"https://avatars1.githubusercontent.com/u/38495008?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test2\",\"html_url\":\"https://github.com/mergify-test2\",\"followers_url\":\"https://api.github.com/users/mergify-test2/followers\",\"following_url\":\"https://api.github.com/users/mergify-test2/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test2/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test2/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test2/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test2/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test2/repos\",\"events_url\":\"https://api.github.com/users/mergify-test2/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test2/received_events\",\"type\":\"User\",\"site_admin\":false},\"private\":false,\"html_url\":\"https://github.com/mergify-test2/repo-5dbedf61-8079-4232-9694-b4a7e80eb78f-test_update_branch\",\"description\":null,\"fork\":true,\"url\":\"https://api.github.com/repos/mergify-test2/repo-5dbedf61-8079-4232-9694-b4a7e80eb78f-test_update_branch\",\"forks_url\":\"https://api.github.com/repos/mergify-test2/repo-5dbedf61-8079-4232-9694-b4a7e80eb78f-test_update_branch/forks\",\"keys_url\":\"https://api.github.com/repos/mergify-test2/repo-5dbedf61-8079-4232-9694-b4a7e80eb78f-test_update_branch/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/mergify-test2/repo-5dbedf61-8079-4232-9694-b4a7e80eb78f-test_update_branch/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/mergify-test2/repo-5dbedf61-8079-4232-9694-b4a7e80eb78f-test_update_branch/teams\",\"hooks_url\":\"https://api.github.com/repos/mergify-test2/repo-5dbedf61-8079-4232-9694-b4a7e80eb78f-test_update_branch/hooks\",\"issue_events_url\":\"https://api.github.com/repos/mergify-test2/repo-5dbedf61-8079-4232-9694-b4a7e80eb78f-test_update_branch/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/mergify-test2/repo-5dbedf61-8079-4232-9694-b4a7e80eb78f-test_update_branch/events\",\"assignees_url\":\"https://api.github.com/repos/mergify-test2/repo-5dbedf61-8079-4232-9694-b4a7e80eb78f-test_update_branch/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/mergify-test2/repo-5dbedf61-8079-4232-9694-b4a7e80eb78f-test_update_branch/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/mergify-test2/repo-5dbedf61-8079-4232-9694-b4a7e80eb78f-test_update_branch/tags\",\"blobs_url\":\"https://api.github.com/repos/mergify-test2/repo-5dbedf61-8079-4232-9694-b4a7e80eb78f-test_update_branch/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/mergify-test2/repo-5dbedf61-8079-4232-9694-b4a7e80eb78f-test_update_branch/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/mergify-test2/repo-5dbedf61-8079-4232-9694-b4a7e80eb78f-test_update_branch/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/mergify-test2/repo-5dbedf61-8079-4232-9694-b4a7e80eb78f-test_update_branch/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/mergify-test2/repo-5dbedf61-8079-4232-9694-b4a7e80eb78f-test_update_branch/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/mergify-test2/repo-5dbedf61-8079-4232-9694-b4a7e80eb78f-test_update_branch/languages\",\"stargazers_url\":\"https://api.github.com/repos/mergify-test2/repo-5dbedf61-8079-4232-9694-b4a7e80eb78f-test_update_branch/stargazers\",\"contributors_url\":\"https://api.github.com/repos/mergify-test2/repo-5dbedf61-8079-4232-9694-b4a7e80eb78f-test_update_branch/contributors\",\"subscribers_url\":\"https://api.github.com/repos/mergify-test2/repo-5dbedf61-8079-4232-9694-b4a7e80eb78f-test_update_branch/subscribers\",\"subscription_url\":\"https://api.github.com/repos/mergify-test2/repo-5dbedf61-8079-4232-9694-b4a7e80eb78f-test_update_branch/subscription\",\"commits_url\":\"https://api.github.com/repos/mergify-test2/repo-5dbedf61-8079-4232-9694-b4a7e80eb78f-test_update_branch/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/mergify-test2/repo-5dbedf61-8079-4232-9694-b4a7e80eb78f-test_update_branch/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/mergify-test2/repo-5dbedf61-8079-4232-9694-b4a7e80eb78f-test_update_branch/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/mergify-test2/repo-5dbedf61-8079-4232-9694-b4a7e80eb78f-test_update_branch/issues/comments{/number}\",\"contents_url\":\"https://api.github.com/repos/mergify-test2/repo-5dbedf61-8079-4232-9694-b4a7e80eb78f-test_update_branch/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/mergify-test2/repo-5dbedf61-8079-4232-9694-b4a7e80eb78f-test_update_branch/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/mergify-test2/repo-5dbedf61-8079-4232-9694-b4a7e80eb78f-test_update_branch/merges\",\"archive_url\":\"https://api.github.com/repos/mergify-test2/repo-5dbedf61-8079-4232-9694-b4a7e80eb78f-test_update_branch/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/mergify-test2/repo-5dbedf61-8079-4232-9694-b4a7e80eb78f-test_update_branch/downloads\",\"issues_url\":\"https://api.github.com/repos/mergify-test2/repo-5dbedf61-8079-4232-9694-b4a7e80eb78f-test_update_branch/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/mergify-test2/repo-5dbedf61-8079-4232-9694-b4a7e80eb78f-test_update_branch/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/mergify-test2/repo-5dbedf61-8079-4232-9694-b4a7e80eb78f-test_update_branch/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/mergify-test2/repo-5dbedf61-8079-4232-9694-b4a7e80eb78f-test_update_branch/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/mergify-test2/repo-5dbedf61-8079-4232-9694-b4a7e80eb78f-test_update_branch/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/mergify-test2/repo-5dbedf61-8079-4232-9694-b4a7e80eb78f-test_update_branch/releases{/id}\",\"deployments_url\":\"https://api.github.com/repos/mergify-test2/repo-5dbedf61-8079-4232-9694-b4a7e80eb78f-test_update_branch/deployments\",\"created_at\":\"2018-06-28T21:53:20Z\",\"updated_at\":\"2018-06-28T21:53:21Z\",\"pushed_at\":\"2018-06-28T21:53:42Z\",\"git_url\":\"git://github.com/mergify-test2/repo-5dbedf61-8079-4232-9694-b4a7e80eb78f-test_update_branch.git\",\"ssh_url\":\"git@github.com:mergify-test2/repo-5dbedf61-8079-4232-9694-b4a7e80eb78f-test_update_branch.git\",\"clone_url\":\"https://github.com/mergify-test2/repo-5dbedf61-8079-4232-9694-b4a7e80eb78f-test_update_branch.git\",\"svn_url\":\"https://github.com/mergify-test2/repo-5dbedf61-8079-4232-9694-b4a7e80eb78f-test_update_branch\",\"homepage\":null,\"size\":0,\"stargazers_count\":0,\"watchers_count\":0,\"language\":null,\"has_issues\":false,\"has_projects\":true,\"has_downloads\":true,\"has_wiki\":true,\"has_pages\":false,\"forks_count\":0,\"mirror_url\":null,\"archived\":false,\"open_issues_count\":0,\"license\":null,\"forks\":0,\"open_issues\":0,\"watchers\":0,\"default_branch\":\"master\"}},\"base\":{\"label\":\"mergify-test1:master\",\"ref\":\"master\",\"sha\":\"5ae3648cd5a580ca17acba39990771865fcbb3b8\",\"user\":{\"login\":\"mergify-test1\",\"id\":38494943,\"node_id\":\"MDQ6VXNlcjM4NDk0OTQz\",\"avatar_url\":\"https://avatars3.githubusercontent.com/u/38494943?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test1\",\"html_url\":\"https://github.com/mergify-test1\",\"followers_url\":\"https://api.github.com/users/mergify-test1/followers\",\"fol[...]
