{"recorded_with": "betamax/0.8.1", "http_interactions": [{"request": {"uri": "https://api.github.com:443/repos/mergify-test1/repo-5dbedf61-8079-4232-9694-b4a7e80eb78f-test_update_branch/statuses/2b68d06b9745778541ceb67e0675d44c6fa17525", "method": "POST", "body": {"encoding": "utf-8", "string": "{\"context\": \"continuous-integration/fake-ci\", \"description\": \"Your change works\", \"state\": \"success\"}"}, "headers": {"Authorization": ["token <MAIN_TOKEN>"], "Content-Type": ["application/json"]}}, "response": {"url": "https://api.github.com:443/repos/mergify-test1/repo-5dbedf61-8079-4232-9694-b4a7e80eb78f-test_update_branch/statuses/2b68d06b9745778541ceb67e0675d44c6fa17525", "status": {"message": "Created", "code": 201}, "body": {"encoding": "utf-8", "string": "{\"url\":\"https://api.github.com/repos/mergify-test1/repo-5dbedf61-8079-4232-9694-b4a7e80eb78f-test_update_branch/statuses/2b68d06b9745778541ceb67e0675d44c6fa17525\",\"id\":5147759949,\"node_id\":\"MDEzOlN0YXR1c0NvbnRleHQ1MTQ3NzU5OTQ5\",\"state\":\"success\",\"description\":\"Your change works\",\"target_url\":null,\"context\":\"continuous-integration/fake-ci\",\"created_at\":\"2018-06-28T21:54:02Z\",\"updated_at\":\"2018-06-28T21:54:02Z\",\"creator\":{\"login\":\"mergify-test1\",\"id\":38494943,\"node_id\":\"MDQ6VXNlcjM4NDk0OTQz\",\"avatar_url\":\"https://avatars3.githubusercontent.com/u/38494943?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test1\",\"html_url\":\"https://github.com/mergify-test1\",\"followers_url\":\"https://api.github.com/users/mergify-test1/followers\",\"following_url\":\"https://api.github.com/users/mergify-test1/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test1/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test1/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test1/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test1/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test1/repos\",\"events_url\":\"https://api.github.com/users/mergify-test1/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test1/received_events\",\"type\":\"User\",\"site_admin\":false}}"}, "headers": {"X-RateLimit-Reset": ["1530223269"], "X-Accepted-OAuth-Scopes": [""], "X-GitHub-Media-Type": ["github.machine-man-preview; format=json"], "X-OAuth-Scopes": ["repo"], "X-RateLimit-Limit": ["5000"], "Content-Type": ["application/json; charset=utf-8"], "X-RateLimit-Remaining": ["4842"], "Status": ["201 Created"], "Location": ["https://api.github.com/repos/mergify-test1/repo-5dbedf61-8079-4232-9694-b4a7e80eb78f-test_update_branch/statuses/2b68d06b9745778541ceb67e0675d44c6fa17525"], "ETag": ["\"8d3c75ac48f8a3b5570b40981c746b5b\""]}}, "recorded_at": "2018-06-28T21:54:02"}]}