{"recorded_with": "betamax/0.8.1", "http_interactions": [{"response": {"url": "https://api.github.com:443/repos/mergify-test1/repo-a583b6d2-b6e7-4048-88eb-e5331fbf9721-test_update_branch/statuses/8286b8426c3bfc0d0492f4e571470d2bd39ccdb4", "status": {"message": "Created", "code": 201}, "headers": {"X-GitHub-Media-Type": ["github.machine-man-preview; format=json"], "X-OAuth-Scopes": ["repo"], "X-Accepted-OAuth-Scopes": [""], "X-RateLimit-Remaining": ["4896"], "X-RateLimit-Limit": ["5000"], "X-RateLimit-Reset": ["1529863687"], "ETag": ["\"93e1c0c9fdfaf664d6b02f4f289d284b\""], "Content-Type": ["application/json; charset=utf-8"], "Status": ["201 Created"], "Location": ["https://api.github.com/repos/mergify-test1/repo-a583b6d2-b6e7-4048-88eb-e5331fbf9721-test_update_branch/statuses/8286b8426c3bfc0d0492f4e571470d2bd39ccdb4"]}, "body": {"encoding": "utf-8", "string": "{\"url\":\"https://api.github.com/repos/mergify-test1/repo-a583b6d2-b6e7-4048-88eb-e5331fbf9721-test_update_branch/statuses/8286b8426c3bfc0d0492f4e571470d2bd39ccdb4\",\"id\":5124442473,\"node_id\":\"MDEzOlN0YXR1c0NvbnRleHQ1MTI0NDQyNDcz\",\"state\":\"success\",\"description\":\"Your change works\",\"target_url\":null,\"context\":\"continuous-integration/fake-ci\",\"created_at\":\"2018-06-24T17:53:57Z\",\"updated_at\":\"2018-06-24T17:53:57Z\",\"creator\":{\"login\":\"mergify-test1\",\"id\":38494943,\"node_id\":\"MDQ6VXNlcjM4NDk0OTQz\",\"avatar_url\":\"https://avatars3.githubusercontent.com/u/38494943?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test1\",\"html_url\":\"https://github.com/mergify-test1\",\"followers_url\":\"https://api.github.com/users/mergify-test1/followers\",\"following_url\":\"https://api.github.com/users/mergify-test1/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test1/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test1/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test1/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test1/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test1/repos\",\"events_url\":\"https://api.github.com/users/mergify-test1/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test1/received_events\",\"type\":\"User\",\"site_admin\":false}}"}}, "request": {"uri": "https://api.github.com:443/repos/mergify-test1/repo-a583b6d2-b6e7-4048-88eb-e5331fbf9721-test_update_branch/statuses/8286b8426c3bfc0d0492f4e571470d2bd39ccdb4", "method": "POST", "headers": {"Authorization": ["token <MAIN_TOKEN>"], "Content-Type": ["application/json"]}, "body": {"encoding": "utf-8", "string": "{\"state\": \"success\", \"context\": \"continuous-integration/fake-ci\", \"description\": \"Your change works\"}"}}, "recorded_at": "2018-06-24T17:53:57"}]}