{
  "http_interactions": [
    {
      "recorded_at": "2018-06-17T05:19:39",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"context\": \"continuous-integration/fake-ci\", \"state\": \"success\", \"description\": \"Your change works\"}"
        },
        "headers": {
          "Authorization": [
            "token <MAIN_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://api.github.com:443/repos/mergify-test1/repo-22611ebe-71c9-4fe4-80ee-853a97a5808e-test_update_branch/statuses/19734b7ee9868e9bccfec18faf4b27a9d09627af"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"url\":\"https://api.github.com/repos/mergify-test1/repo-22611ebe-71c9-4fe4-80ee-853a97a5808e-test_update_branch/statuses/19734b7ee9868e9bccfec18faf4b27a9d09627af\",\"id\":5093335695,\"node_id\":\"MDEzOlN0YXR1c0NvbnRleHQ1MDkzMzM1Njk1\",\"state\":\"success\",\"description\":\"Your change works\",\"target_url\":null,\"context\":\"continuous-integration/fake-ci\",\"created_at\":\"2018-06-17T05:19:39Z\",\"updated_at\":\"2018-06-17T05:19:39Z\",\"creator\":{\"login\":\"mergify-test1\",\"id\":38494943,\"node_id\":\"MDQ6VXNlcjM4NDk0OTQz\",\"avatar_url\":\"https://avatars3.githubusercontent.com/u/38494943?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test1\",\"html_url\":\"https://github.com/mergify-test1\",\"followers_url\":\"https://api.github.com/users/mergify-test1/followers\",\"following_url\":\"https://api.github.com/users/mergify-test1/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test1/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test1/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test1/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test1/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test1/repos\",\"events_url\":\"https://api.github.com/users/mergify-test1/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test1/received_events\",\"type\":\"User\",\"site_admin\":false}}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "ETag": [
            "\"a8bc1a9dac86ae05543fcc927ca08e09\""
          ],
          "Location": [
            "https://api.github.com/repos/mergify-test1/repo-22611ebe-71c9-4fe4-80ee-853a97a5808e-test_update_branch/statuses/19734b7ee9868e9bccfec18faf4b27a9d09627af"
          ],
          "Status": [
            "201 Created"
          ],
          "X-Accepted-OAuth-Scopes": [
            ""
          ],
          "X-GitHub-Media-Type": [
            "github.machine-man-preview; format=json"
          ],
          "X-OAuth-Scopes": [
            "repo"
          ],
          "X-RateLimit-Limit": [
            "5000"
          ],
          "X-RateLimit-Remaining": [
            "4993"
          ],
          "X-RateLimit-Reset": [
            "1529216348"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://api.github.com:443/repos/mergify-test1/repo-22611ebe-71c9-4fe4-80ee-853a97a5808e-test_update_branch/statuses/19734b7ee9868e9bccfec18faf4b27a9d09627af"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}