{"http_interactions": [{"response": {"url": "https://api.github.com:443/repos/mergify-test1/repo-22611ebe-71c9-4fe4-80ee-853a97a5808e-test_update_branch/statuses/b5f5eeecc730c711ae63defc31e144d160c20954", "body": {"string": "{\"url\":\"https://api.github.com/repos/mergify-test1/repo-22611ebe-71c9-4fe4-80ee-853a97a5808e-test_update_branch/statuses/b5f5eeecc730c711ae63defc31e144d160c20954\",\"id\":5093335731,\"node_id\":\"MDEzOlN0YXR1c0NvbnRleHQ1MDkzMzM1NzMx\",\"state\":\"success\",\"description\":\"Your change works\",\"target_url\":null,\"context\":\"continuous-integration/fake-ci\",\"created_at\":\"2018-06-17T05:19:42Z\",\"updated_at\":\"2018-06-17T05:19:42Z\",\"creator\":{\"login\":\"mergify-test1\",\"id\":38494943,\"node_id\":\"MDQ6VXNlcjM4NDk0OTQz\",\"avatar_url\":\"https://avatars3.githubusercontent.com/u/38494943?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test1\",\"html_url\":\"https://github.com/mergify-test1\",\"followers_url\":\"https://api.github.com/users/mergify-test1/followers\",\"following_url\":\"https://api.github.com/users/mergify-test1/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test1/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test1/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test1/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test1/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test1/repos\",\"events_url\":\"https://api.github.com/users/mergify-test1/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test1/received_events\",\"type\":\"User\",\"site_admin\":false}}", "encoding": "utf-8"}, "headers": {"ETag": ["\"919b128f0706c5367596637e4a84277a\""], "X-RateLimit-Limit": ["5000"], "Content-Type": ["application/json; charset=utf-8"], "Status": ["201 Created"], "X-RateLimit-Reset": ["1529216348"], "X-RateLimit-Remaining": ["4992"], "X-OAuth-Scopes": ["repo"], "Location": ["https://api.github.com/repos/mergify-test1/repo-22611ebe-71c9-4fe4-80ee-853a97a5808e-test_update_branch/statuses/b5f5eeecc730c711ae63defc31e144d160c20954"], "X-Accepted-OAuth-Scopes": [""], "X-GitHub-Media-Type": ["github.machine-man-preview; format=json"]}, "status": {"code": 201, "message": "Created"}}, "request": {"method": "POST", "body": {"string": "{\"context\": \"continuous-integration/fake-ci\", \"state\": \"success\", \"description\": \"Your change works\"}", "encoding": "utf-8"}, "headers": {"Content-Type": ["application/json"], "Authorization": ["token <MAIN_TOKEN>"]}, "uri": "https://api.github.com:443/repos/mergify-test1/repo-22611ebe-71c9-4fe4-80ee-853a97a5808e-test_update_branch/statuses/b5f5eeecc730c711ae63defc31e144d160c20954"}, "recorded_at": "2018-06-17T05:19:42"}, {"response": {"url": "https://api.github.com:443/repos/mergify-test1/repo-5f24047a-a2cc-42c6-8f18-d487b021e4c9-test_update_branch/statuses/eaf90effc1389bc9dadcf086777df829b5a9c446", "body": {"string": "{\"url\":\"https://api.github.com/repos/mergify-test1/repo-5f24047a-a2cc-42c6-8f18-d487b021e4c9-test_update_branch/statuses/eaf90effc1389bc9dadcf086777df829b5a9c446\",\"id\":5112614344,\"node_id\":\"MDEzOlN0YXR1c0NvbnRleHQ1MTEyNjE0MzQ0\",\"state\":\"success\",\"description[...]
