interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/user/40527191/installation
  response:
    content: '{"id":15398551,"account":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"repository_selection":"all","access_tokens_url":"https://api.github.com/app/installations/15398551/access_tokens","repositories_url":"https://api.github.com/installation/repositories","html_url":"https://github.com/organizations/mergifyio-testing/settings/installations/15398551","app_id":11221,"app_slug":"mergify-test","target_id":40527191,"target_type":"Organization","permissions":{"pages":"write","checks":"write","issues":"write","members":"read","contents":"write","metadata":"read","statuses":"read","workflows":"write","pull_requests":"write","administration":"read"},"events":["check_run","check_suite","issue_comment","merge_queue_entry","pull_request","pull_request_review","pull_request_review_comment","push","status"],"created_at":"2021-03-15T16:12:17.000Z","updated_at":"2021-09-28T07:54:06.000Z","single_file_name":null,"has_multiple_single_files":false,"single_file_paths":[],"suspended_by":null,"suspended_at":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/user
  response:
    content: '{"login":"mergify-test1","id":38494943,"node_id":"MDQ6VXNlcjM4NDk0OTQz","avatar_url":"https://avatars.githubusercontent.com/u/38494943?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-test1","html_url":"https://github.com/mergify-test1","followers_url":"https://api.github.com/users/mergify-test1/followers","following_url":"https://api.github.com/users/mergify-test1/following{/other_user}","gists_url":"https://api.github.com/users/mergify-test1/gists{/gist_id}","starred_url":"https://api.github.com/users/mergify-test1/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergify-test1/subscriptions","organizations_url":"https://api.github.com/users/mergify-test1/orgs","repos_url":"https://api.github.com/users/mergify-test1/repos","events_url":"https://api.github.com/users/mergify-test1/events{/privacy}","received_events_url":"https://api.github.com/users/mergify-test1/received_events","type":"User","site_admin":false,"name":"mergify-test-user-1","company":"@mergifyio","blog":"https://mergify.io","location":null,"email":null,"hireable":null,"bio":"This
      account is for testing purpose of the workflow of the GitHub App @mergifyio","twitter_username":"mergifyio","public_repos":0,"public_gists":0,"followers":0,"following":0,"created_at":"2018-04-18T10:42:59Z","updated_at":"2021-10-15T15:07:41Z","private_gists":0,"total_private_repos":0,"owned_private_repos":0,"disk_usage":0,"collaborators":0,"two_factor_authentication":false,"plan":{"name":"free","space":976562499,"collaborators":0,"private_repos":10000}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
      X-OAuth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
    status_code: 200
[...]
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: POST
    uri: https://api.github.com/app/installations/15398551/access_tokens
  response:
    content: '{"token": "<TOKEN>", "expires_at": "2021-11-04T09:50:11Z", "permissions":
      {"members": "read", "administration": "read", "checks": "write", "contents":
      "write", "issues": "write", "metadata": "read", "pages": "write", "pull_requests":
      "write", "statuses": "read", "workflows": "write"}, "repository_selection":
      "all"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; format=json
    status_code: 201
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/repositories/405124434
  response:
    content: '{"id":405124434,"node_id":"MDEwOlJlcG9zaXRvcnk0MDUxMjQ0MzQ=","name":"functional-testing-repo-jd","full_name":"mergifyio-testing/functional-testing-repo-jd","private":false,"owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/mergifyio-testing/functional-testing-repo-jd","description":null,"fork":false,"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd","forks_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/forks","keys_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/keys{/key_id}","collaborators_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/teams","hooks_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/hooks","issue_events_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/issues/events{/number}","events_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/events","assignees_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/assignees{/user}","branches_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/branches{/branch}","tags_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/tags","blobs_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/git/refs{/sha}","trees_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/git/trees{/sha}","statuses_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/statuses/{sha}","languages_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/languages","stargazers_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/stargazers","contributors_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/contributors","subscribers_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/subscribers","subscription_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/subscription","commits_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/commits{/sha}","git_commits_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/git/commits{/sha}","comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/comments{/number}","issue_comment_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/issues/comments{/number}","contents_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/contents/{+path}","compare_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/compare/{base}...{head}","merges_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/merges","archive_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/downloads","issues_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/issues{/number}","pulls_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/pulls{/number}","milestones_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/milestones{/number}","notifications_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/labels{/name}","releases_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/releases{/id}","deployments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/deployments","created_at":"2021-09-10T15:19:47Z","updated_at":"2021-11-04T08:48:24Z","pushed_at":"2021-11-04T08:50:08Z","git_url":"git://github.com/mergifyio-testing/functional-testing-repo-jd.git","ssh_url":"git@github.com:mergifyio-testing/functional-testing-repo-jd.git","clone_url":"https://github.com/mergifyio-testing/functional-testing-repo-jd.git","svn_url":"https://github.com/mergifyio-testing/functional-testing-repo-jd","homepage":null,"size":1,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":false,"has_projects":false,"has_downloads":true,"has_wiki":false,"has_pages":false,"forks_count":1,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"allow_forking":true,"is_template":false,"topics":[],"visibility":"public","forks":1,"open_issues":0,"watchers":0,"default_branch":"main","permissions":{"admin":false,"maintain":false,"push":false,"triage":false,"pull":false},"temp_clone_token":"","allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"allow_auto_merge":false,"delete_branch_on_merge":false,"organization":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"network_count":1,"subscribers_count":1}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 200
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: DELETE
    uri: https://test-forwarder.mergify.io/events/github.com/11221/405124434
  response:
    content: Event queued
    headers:
    status_code: 202
- request:
    body: '{"default_branch": "20211104085009/test_dismiss_reviews_ignored/main"}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd
  response:
    content: '{"id":405124434,"node_id":"MDEwOlJlcG9zaXRvcnk0MDUxMjQ0MzQ=","name":"functional-testing-repo-jd","full_name":"mergifyio-testing/functional-testing-repo-jd","private":false,"owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_i[...]
- request:
    body: '{"base": "20211104085009/test_dismiss_reviews_ignored/main", "head": "mergify-test2:20211104085009/test_dismiss_reviews_ignored/fork/pr1",
      "title": "test_dismiss_reviews_ignored: pull request n1 from fork", "body":
      "test_dismiss_reviews_ignored: pull request n1 from fork", "draft": false}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/pulls
  response:
    content: '{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/pulls/297","id":773125749,"node_id":"PR_kwDOGCW1Us4uFPZ1","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-jd/pull/297","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo-jd/pull/297.diff","patch_url":"https://github.com/mergifyio-testing/functional-testing-repo-jd/pull/297.patch","issue_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/issues/297","number":297,"state":"open","locked":false,"title":"test_dismiss_reviews_ignored:
      pull request n1 from fork","user":{"login":"mergify-test2","id":38495008,"node_id":"MDQ6VXNlcjM4NDk1MDA4","avatar_url":"https://avatars.githubusercontent.com/u/38495008?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-test2","html_url":"https://github.com/mergify-test2","followers_url":"https://api.github.com/users/mergify-test2/followers","following_url":"https://api.github.com/users/mergify-test2/following{/other_user}","gists_url":"https://api.github.com/users/mergify-test2/gists{/gist_id}","starred_url":"https://api.github.com/users/mergify-test2/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergify-test2/subscriptions","organizations_url":"https://api.github.com/users/mergify-test2/orgs","repos_url":"https://api.github.com/users/mergify-test2/repos","events_url":"https://api.github.com/users/mergify-test2/events{/privacy}","received_events_url":"https://api.github.com/users/mergify-test2/received_events","type":"User","site_admin":false},"body":"test_dismiss_reviews_ignored:
      pull request n1 from fork","created_at":"2021-11-04T08:50:16Z","updated_at":"2021-11-04T08:50:16Z","closed_at":null,"merged_at":null,"merge_commit_sha":null,"assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/pulls/297/commits","review_comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/pulls/297/comments","review_comment_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/pulls/comments{/number}","comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/issues/297/comments","statuses_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/statuses/6b2cc7670042ebf686a81cff543097f5cb74fe48","head":{"label":"mergify-test2:20211104085009/test_dismiss_reviews_ignored/fork/pr1","ref":"20211104085009/test_dismiss_reviews_ignored/fork/pr1","sha":"6b2cc7670042ebf686a81cff543097f5cb74fe48","user":{"login":"mergify-test2","id":38495008,"node_id":"MDQ6VXNlcjM4NDk1MDA4","avatar_url":"https://avatars.githubusercontent.com/u/38495008?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-test2","html_url":"https://github.com/mergify-test2","followers_url":"https://api.github.com/users/mergify-test2/followers","following_url":"https://api.github.com/users/mergify-test2/following{/other_user}","gists_url":"https://api.github.com/users/mergify-test2/gists{/gist_id}","starred_url":"https://api.github.com/users/mergify-test2/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergify-test2/subscriptions","organizations_url":"https://api.github.com/users/mergify-test2/orgs","repos_url":"https://api.github.com/users/mergify-test2/repos","events_url":"https://api.github.com/users/mergify-test2/events{/privacy}","received_events_url":"https://api.github.com/users/mergify-test2/received_events","type":"User","site_admin":false},"repo":{"id":405125379,"node_id":"MDEwOlJlcG9zaXRvcnk0MDUxMjUzNzk=","name":"functional-testing-repo-jd","full_name":"mergify-test2/functional-testing-repo-jd","private":false,"owner":{"login":"mergify-test2","id":38495008,"node_id":"MDQ6VXNlcjM4NDk1MDA4","avatar_url":"https://avatars.githubusercontent.com/u/38495008?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-test2","html_url":"https://github.com/mergify-test2","followers_url":"https://api.github.com/users/mergify-test2/followers"[...]
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: GET
    uri: https://test-forwarder.mergify.io/events/github.com/11221/405124434?counter=1
  response:
    content: '[{"id":"398204a0-3d4c-11ec-890a-9ab5e0ef3800","type":"push","payload":{"ref":"refs/heads/20211104085009/test_dismiss_reviews_ignored/main","before":"0000000000000000000000000000000000000000","after":"b2f0a9a95f35c2beaa536e6036770cf582c97260","repository":{"id":405124434,"node_id":"MDEwOlJlcG9zaXRvcnk0MDUxMjQ0MzQ=","name":"functional-testing-repo-jd","full_name":"mergifyio-testing/functional-testing-repo-jd","private":false,"owner":{"name":"mergifyio-testing","email":null,"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","f[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/pulls/297
  response:
    content: '{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/pulls/297","id":773125749,"node_id":"PR_kwDOGCW1Us4uFPZ1","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-jd/pull/297","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo-jd/pull/297.diff","patch_url"[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/pulls/297/commits?per_page=100
  response:
    content: '[{"sha":"6b2cc7670042ebf686a81cff543097f5cb74fe48","node_id":"C_kwDOGCW5A9oAKDZiMmNjNzY3MDA0MmViZjY4NmE4MWNmZjU0MzA5N2Y1Y2I3NGZlNDg","commit":{"author":{"name":"mergify-tester","email":"noreply@mergify.io","date":"2021-11-04T08:50:14Z"},"committer":{"name":"mergify-tester","email":"noreply@mergify.io","date":"2021-11-04T08:50:14Z"},"message":"test_dismiss_reviews_ignored:
      pull request n1 from fork","tree":{"sha":"e677f27b3876ebdbf1f755c041631d0f687c3304","url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/git/trees/e677f27b3876ebdbf1f755c041631d0f687c3304"},"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/git/commits/6b2cc7670042ebf686a81cff543097f5cb74fe48","comment_count":0,"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}},"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/commits/6b2cc7670042ebf686a81cff543097f5cb74fe48","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-jd/commit/6b2cc7670042ebf686a81cff543097f5cb74fe48","comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/commits/6b2cc7670042ebf686a81cff543097f5cb74fe48/comments","author":null,"committer":null,"parents":[{"sha":"b2f0a9a95f35c2beaa536e6036770cf582c97260","url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/commits/b2f0a9a95f35c2beaa536e6036770cf582c97260","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-jd/commit/b2f0a9a95f35c2beaa536e6036770cf582c97260"}]}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
      X-OAuth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
    status_code: 200
- request:
    body: '{"event": "APPROVE", "body": "event: APPROVE"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/pulls/297/reviews
  response:
    content: '{"id":797474363,"node_id":"PRR_kwDOGCW1Us4viH47","user":{"login":"mergify-test1","id":38494943,"node_id":"MDQ6VXNlcjM4NDk0OTQz","avatar_url":"https://avatars.githubusercontent.com/u/38494943?u=167874e86d964548fe8c6ec77193c9aac9120df3&v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-test1","html_url":"https://github.com/mergify-test1","followers_url":"https://api.github.com/users/mergify-test1/followers","following_url":"https://api.github.com/users/mergify-test1/following{/other_user}","gists_url":"https://api.github.com/users/mergify-test1/gists{/gist_id}","starred_url":"https://api.github.com/users/mergify-test1/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergify-test1/subscriptions","organizations_url":"https://api.github.com/users/mergify-test1/orgs","repos_url":"https://api.github.com/users/mergify-test1/repos","events_url":"https://api.github.com/users/mergify-test1/events{/privacy}","received_events_url":"https://api.github.com/users/mergify-test1/received_events","type":"User","site_admin":false},"body":"event:
      APPROVE","state":"APPROVED","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-jd/pull/297#pullrequestreview-797474363","pull_request_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/pulls/297","author_association":"MEMBER","_links":{"html":{"href":"https://github.com/mergifyio-testing/functional-testing-repo-jd/pull/297#pullrequestreview-797474363"},"pull_request":{"href":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/pulls/297"}},"submitted_at":"2021-11-04T08:50:19Z","commit_id":"6b2cc7670042ebf686a81cff543097f5cb74fe48"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
      X-OAuth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
    status_code: 200
[...]
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: GET
    uri: https://test-forwarder.mergify.io/events/github.com/11221/405124434?counter=3
  response:
    content: '[{"id":"3d559330-3d4c-11ec-9726-c27845d4d9fb","type":"pull_request_review","payload":{"action":"submitted","review":{"id":797474363,"node_id":"PRR_kwDOGCW1Us4viH47","user":{"login":"mergify-test1","id":38494943,"node_id":"MDQ6VXNlcjM4NDk0OTQz","avatar_url":"https://avatars.githubusercontent.com/u/38494943?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-test1","html_url":"https://github.com/mergify-test1","followers_url":"https://api.github.com/users/mergify-test1/followers","following_url":"https://api.github.com/users/mergify-test1/following{/other_user}","gists_url":"https://api.github.com[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/pulls/297/reviews?per_page=100
  response:
    content: '[{"id":797474363,"node_id":"PRR_kwDOGCW1Us4viH47","user":{"login":"mergify-test1","id":38494943,"node_id":"MDQ6VXNlcjM4NDk0OTQz","avatar_url":"https://avatars.githubusercontent.com/u/38494943?u=167874e86d964548fe8c6ec77193c9aac9120df3&v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-test1"[...]
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repositories/405124434/pulls?per_page=100
  response:
    content: '[{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/pulls/297","id":773125749,"node_id":"PR_kwDOGCW1Us4uFPZ1","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-jd/pull/297","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo-jd/pull/297.diff","patch_url":"https://github.c[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repositories/405124434/pulls/297
  response:
    content: '{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/pulls/297","id":773125749,"node_id":"PR_kwDOGCW1Us4uFPZ1","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-jd/pull/297","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo-jd/pull/297.diff","patch_url":"https://github.com/mergify[...]
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/contents/.mergify.yml
  response:
    content: '{"name":".mergify.yml","path":".mergify.yml","sha":"3f72da3f75ebaa9dbe2bdf714d5c0b77e705aa36","size":169,"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/contents/.mergify.yml?ref=20211104085009/test_dismiss_reviews_ignored/main","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-jd/blob/20211104085009/test_dismiss_reviews_ignored/main/.mergify.yml","git_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/git/blobs/3f72da3f75ebaa9dbe2bdf714d5c0b77e705aa36","download_url":"https://raw.githubusercontent.com/mergifyio-testing/functional-testing-repo-jd/20211104085009/test_dismiss_reviews_ignored/main/.mergify.yml","type":"file","content":"cHVsbF9yZXF1ZXN0X3J1bGVzOgotIGFjdGlvbnM6CiAgICBkaXNtaXNzX3Jl\ndmlld3M6CiAgICAgIGFwcHJvdmVkOiB0cnVlCiAgY29uZGl0aW9uczoKICAt\nIGJhc2U9MjAyMTExMDQwODUwMDkvdGVzdF9kaXNtaXNzX3Jldmlld3NfaWdu\nb3JlZC9tYWluCiAgbmFtZTogZGlzbWlzcyByZXZpZXdzCg==\n","encoding":"base64","_links":{"self":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/contents/.mergify.yml?ref=20211104085009/test_dismiss_reviews_ignored/main","git":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/git/blobs/3f72da3f75ebaa9dbe2bdf714d5c0b77e705aa36","html":"https://github.com/mergifyio-testing/functional-testing-repo-jd/blob/20211104085009/test_dismiss_reviews_ignored/main/.mergify.yml"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/pulls/297/files?per_page=100
  response:
    content: '[{"sha":"e69de29bb2d1d6434b8b29ae775ad8c2e48c5391","filename":"test1","status":"added","additions":0,"deletions":0,"changes":0,"blob_url":"https://github.com/mergifyio-testing/functional-testing-repo-jd/blob/6b2cc7670042ebf686a81cff543097f5cb74fe48/test1","raw_url":"https://github.com/mergifyio-testing/functional-testing-repo-jd/raw/6b2cc7670042ebf686a81cff543097f5cb74fe48/test1","contents_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/contents/test1?ref=6b2cc7670042ebf686a81cff543097f5cb74fe48"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/issues/297/comments?per_page=100
  response:
[...]
