{"recorded_with": "betamax/0.8.1", "http_interactions": [{"recorded_at": "2018-06-24T04:51:29", "request": {"headers": {"Authorization": ["token <FORK_TOKEN>"]}, "uri": "https://api.github.com:443/repos/mergify-test1/repo-53def012-17d1-41eb-bdd1-6578507badc8-test_change_mergify_yml/forks", "method": "POST", "body": {"string": "", "encoding": "utf-8"}}, "response": {"headers": {"X-GitHub-Media-Type": ["github.v3; format=json"], "Content-Type": ["application/json; charset=utf-8"], "Status": ["202 Accepted"], "X-RateLimit-Reset": ["1529819478"], "X-OAuth-Scopes": ["repo"], "X-RateLimit-Limit": ["5000"], "X-Accepted-OAuth-Scopes": [""], "X-RateLimit-Remaining": ["4998"]}, "url": "https://api.github.com:443/repos/mergify-test1/repo-53def012-17d1-41eb-bdd1-6578507badc8-test_change_mergify_yml/forks", "status": {"message": "Accepted", "code": 202}, "body": {"string": "{\"id\":138454374,\"node_id\":\"MDEwOlJlcG9zaXRvcnkxMzg0NTQzNzQ=\",\"name\":\"repo-53def012-17d1-41eb-bdd1-6578507badc8-test_change_mergify_yml\",\"full_name\":\"mergify-test2/repo-53def012-17d1-41eb-bdd1-6578507badc8-test_change_mergify_yml\",\"owner\":{\"login\":\"mergify-test2\",\"id\":38495008,\"node_id\":\"MDQ6VXNlcjM4NDk1MDA4\",\"avatar_url\":\"https://avatars1.githubusercontent.com/u/38495008?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test2\",\"html_url\":\"https://github.com/mergify-test2\",\"followers_url\":\"https://api.github.com/users/mergify-test2/followers\",\"following_url\":\"https://api.github.com/users/mergify-test2/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test2/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test2/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test2/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test2/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test2/repos\",\"events_url\":\"https://api.github.com/users/mergify-test2/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test2/received_events\",\"type\":\"User\",\"site_admin\":false},\"private\":false,\"html_url\":\"https://github.com/mergify-test2/repo-53def012-17d1-41eb-bdd1-6578507badc8-test_change_mergify_yml\",\"description\":null,\"fork\":true,\"url\":\"https://api.github.com/repos/mergify-test2/repo-53def012-17d1-41eb-bdd1-6578507badc8-test_change_mergify_yml\",\"forks_url\":\"https://api.github.com/repos/mergify-test2/repo-53def012-17d1-41eb-bdd1-6578507badc8-test_change_mergify_yml/forks\",\"keys_url\":\"https://api.github.com/repos/mergify-test2/repo-53def012-17d1-41eb-bdd1-6578507badc8-test_change_mergify_yml/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/mergify-test2/repo-53def012-17d1-41eb-bdd1-6578507badc8-test_change_mergify_yml/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/mergify-test2/repo-53def012-17d1-41eb-bdd1-6578507badc8-test_change_mergify_yml/teams\",\"hooks_url\":\"https://api.github.com/repos/mergify-test2/repo-53def012-17d1-41eb-bdd1-6578507badc8-test_change_mergify_yml/hooks\",\"issue_events_url\":\"https://api.github.com/repos/mergify-test2/repo-53def012-17d1-41eb-bdd1-6578507badc8-test_change_mergify_yml/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/mergify-test2/repo-53def012-17d1-41eb-bdd1-6578507badc8-test_change_mergify_yml/events\",\"assignees_url\":\"https://api.github.com/repos/mergify-test2/repo-53def012-17d1-41eb-bdd1-6578507badc8-test_change_mergify_yml/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/mergify-test2/repo-53def012-17d1-41eb-bdd1-6578507badc8-test_change_mergify_yml/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/mergify-test2/repo-53def012-17d1-41eb-bdd1-6578507badc8-test_change_mergify_yml/tags\",\"blobs_url\":\"https://api.github.com/repos/mergify-test2/repo-53def012-17d1-41eb-bdd1-6578507badc8-test_change_mergify_yml/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/mergify-test2/repo-53def012-17d1-41eb-bdd1-6578507badc8-test_change_mergify_yml/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/mergify-test2/repo-53def012-17d1-41eb-bdd1-6578507badc8-test_change_mergify_yml/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/mergify-test2/repo-53def012-17d1-41eb-bdd1-6578507badc8-test_change_mergify_yml/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/mergify-test2/repo-53def012-17d1-41eb-bdd1-6578507badc8-test_change_mergify_yml/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/mergify-test2/repo-53def012-17d1-41eb-bdd1-6578507badc8-test_change_mergify_yml/languages\",\"stargazers_url\":\"https://api.github.com/repos/mergify-test2/repo-53def012-17d1-41eb-bdd1-6578507badc8-test_change_mergify_yml/stargazers\",\"contributors_url\":\"https://api.github.com/repos/mergify-test2/repo-53def012-17d1-41eb-bdd1-6578507badc8-test_change_mergify_yml/contributors\",\"subscribers_url\":\"https://api.github.com/repos/mergify-test2/repo-53def012-17d1-41eb-bdd1-6578507badc8-test_change_mergify_yml/subscribers\",\"subscription_url\":\"https://api.github.com/repos/mergify-test2/repo-53def012-17d1-41eb-bdd1-6578507badc8-test_change_mergify_yml/subscription\",\"commits_url\":\"https://api.github.com/repos/mergify-test2/repo-53def012-17d1-41eb-bdd1-6578507badc8-test_change_mergify_yml/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/mergify-test2/repo-53def012-17d1-41eb-bdd1-6578507badc8-test_change_mergify_yml/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/mergify-test2/repo-53def012-17d1-41eb-bdd1-6578507badc8-test_change_mergify_yml/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/mergify-test2/repo-53def012-17d1-41eb-bdd1-6578507badc8-test_change_mergify_yml/issues/comments{/number}\",\"contents_url\":\"https://api.github.com/repos/mergify-test2/repo-53def012-17d1-41eb-bdd1-6578507badc8-test_change_mergify_yml/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/mergify-test2/repo-53def012-17d1-41eb-bdd1-6578507badc8-test_change_mergify_yml/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/mergify-test2/repo-53def012-17d1-41eb-bdd1-6578507badc8-test_change_mergify_yml/merges\",\"archive_url\":\"https://api.github.com/repos/mergify-test2/repo-53def012-17d1-41eb-bdd1-6578507badc8-test_change_mergify_yml/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/mergify-test2/repo-53def012-17d1-41eb-bdd1-6578507badc8-test_change_mergify_yml/downloads\",\"issues_url\":\"https://api.github.com/repos/mergify-test2/repo-53def012-17d1-41eb-bdd1-6578507badc8-test_change_mergify_yml/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/mergify-test2/repo-53def012-17d1-41eb-bdd1-6578507badc8-test_change_mergify_yml/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/mergify-test2/repo-53def012-17d1-41eb-bdd1-6578507badc8-test_change_mergify_yml/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/mergify-test2/repo-53def012-17d1-41eb-bdd1-6578507badc8-test_change_mergify_yml/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/mergify-test2/repo-53def012-17d1-41eb-bdd1-6578507badc8-test_change_mergify_yml/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/mergify-test2/repo-53def012-17d1-41eb-bdd1-6578507badc8-test_change_mergify_yml/releases{/id}\",\"deployments_url\":\"https://api.github.com/repos/mergify-test2/repo-53def012-17d1-41eb-bdd1-6578507badc8-test_change_mergify_yml/deployments\",\"created_at\":\"2018-06-24T04:51:28Z\",\"updated_at\":\"2018-06-24T04:51:23Z\",\"pushed_at\":\"2018-06-24T04:51:28Z\",\"git_url\":\"git://github.com/mergify-test2/repo-53def012-17d1-41eb-bdd1-6578507badc8-test_change_mergify_yml.git\",\"ssh_url\":\"git@github.com:mergify-test2/repo-53def012-17d1-41eb-bdd1-6578507badc8-test_change_mergify_yml.git\",\"clone_url\":\"https://github.com/mergify-test2/repo-53def012-17d1-41eb-bdd1-6578507badc8-test_change_mergify_yml.git\",\"svn_url\":\"https://github.com/mergify-test2/repo-53def012-17d1-41eb-bdd1-6578507badc8-test_change_mergify_yml\",\"homepage\":null,\"size\":0,\"stargazers_count\":0,\"watchers_count\":0,\"language\":null,\"has_issues\":false,\"has_projects\":true,\"has_downloads\":true,\"has_wiki\":true,\"has_pages\":false,\"forks_count\":0,\"mirror_url\":null,\"archived\":false,\"open_issues_count\":0,\"license\":null,\"forks\":0,\"open_issues\":0,\"watchers\":0,\"default_branch\":\"master\",\"permissions\":{\"admin\":true,\"push\":true,\"pull\":true},\"parent\":{\"id\":138454369,\"node_id\":\"MDEwOlJlcG9zaXRvcnkxMzg0NTQzNjk=\",\"name\":\"repo-53def012-17d1-41eb-bdd1-6578507badc8-test_change_mergify_yml\",\"full_name\":\"mergify-test1/repo-53def012-17d1-41eb-bdd1-6578507badc8-test_change_mergify_yml\",\"owner\":{\"login\":\"mergify-test1\",\"id\":38494943,\"node_id\":\"MDQ6VXNlcjM4NDk0OTQz\",\"avatar_url\":\"https://avatars3.githubusercontent.com/u/38494943?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test1\",\"html_url\":\"[...]
[...]
