interactions:
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/user
  response:
    content: '{"login":"mergify-test1","id":38494943,"node_id":"MDQ6VXNlcjM4NDk0OTQz","avatar_url":"https://avatars.githubusercontent.com/u/38494943?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-test1","html_url":"https://github.com/mergify-test1","followers_url":"https://api.github.com/users/mergify-test1/followers","following_url":"https://api.github.com/users/mergify-test1/following{/other_user}","gists_url":"https://api.github.com/users/mergify-test1/gists{/gist_id}","starred_url":"https://api.github.com/users/mergify-test1/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergify-test1/subscriptions","organizations_url":"https://api.github.com/users/mergify-test1/orgs","repos_url":"https://api.github.com/users/mergify-test1/repos","events_url":"https://api.github.com/users/mergify-test1/events{/privacy}","received_events_url":"https://api.github.com/users/mergify-test1/received_events","type":"User","site_admin":false,"name":"mergify-test-user-1","company":"@mergifyio","blog":"https://mergify.io","location":null,"email":null,"hireable":null,"bio":"This
      account is for testing purpose of the workflow of the GitHub App @mergifyio","twitter_username":"mergifyio","public_repos":0,"public_gists":0,"followers":0,"following":0,"created_at":"2018-04-18T10:42:59Z","updated_at":"2021-06-15T14:56:34Z","private_gists":0,"total_private_repos":0,"owned_private_repos":0,"disk_usage":0,"collaborators":0,"two_factor_authentication":false,"plan":{"name":"free","space":976562499,"collaborators":0,"private_repos":10000}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
      X-OAuth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
    status_code: 200
[...]
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/user/40527191/installation
  response:
    content: '{"id":15398551,"account":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"repository_selection":"all","access_tokens_url":"https://api.github.com/app/installations/15398551/access_tokens","repositories_url":"https://api.github.com/installation/repositories","html_url":"https://github.com/organizations/mergifyio-testing/settings/installations/15398551","app_id":11221,"app_slug":"mergify-test","target_id":40527191,"target_type":"Organization","permissions":{"pages":"write","checks":"write","issues":"write","members":"read","contents":"write","metadata":"read","statuses":"read","pull_requests":"write"},"events":["check_run","check_suite","issue_comment","pull_request","pull_request_review","pull_request_review_comment","push","status"],"created_at":"2021-03-15T16:12:17.000Z","updated_at":"2021-03-15T16:12:17.000Z","single_file_name":null,"has_multiple_single_files":false,"single_file_paths":[],"suspended_by":null,"suspended_at":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 200
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: POST
    uri: https://api.github.com/app/installations/15398551/access_tokens
  response:
    content: '{"token": "<TOKEN>", "expires_at": "2021-07-07T21:09:29Z", "permissions":
      {"members": "read", "checks": "write", "contents": "write", "issues": "write",
      "metadata": "read", "pages": "write", "pull_requests": "write", "statuses":
      "read"}, "repository_selection": "all"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 201
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/repositories/258840104
  response:
    content: '{"id":258840104,"node_id":"MDEwOlJlcG9zaXRvcnkyNTg4NDAxMDQ=","name":"functional-testing-repo","full_name":"mergifyio-testing/functional-testing-repo","private":false,"owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/mergifyio-testing/functional-testing-repo","description":"Mergify","fork":false,"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo","forks_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/forks","keys_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/keys{/key_id}","collaborators_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/teams","hooks_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/hooks","issue_events_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/issues/events{/number}","events_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/events","assignees_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/assignees{/user}","branches_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/branches{/branch}","tags_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/tags","blobs_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/git/refs{/sha}","trees_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/git/trees{/sha}","statuses_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/statuses/{sha}","languages_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/languages","stargazers_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/stargazers","contributors_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/contributors","subscribers_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/subscribers","subscription_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/subscription","commits_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/commits{/sha}","git_commits_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/git/commits{/sha}","comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/comments{/number}","issue_comment_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/issues/comments{/number}","contents_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/contents/{+path}","compare_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/compare/{base}...{head}","merges_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/merges","archive_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/downloads","issues_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/issues{/number}","pulls_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/pulls{/number}","milestones_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/milestones{/number}","notifications_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/labels{/name}","releases_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/releases{/id}","deployments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/deployments","created_at":"2020-04-25T17:58:44Z","updated_at":"2021-07-07T20:09:02Z","pushed_at":"2021-07-07T20:09:27Z","git_url":"git://github.com/mergifyio-testing/functional-testing-repo.git","ssh_url":"git@github.com:mergifyio-testing/functional-testing-repo.git","clone_url":"https://github.com/mergifyio-testing/functional-testing-repo.git","svn_url":"https://github.com/mergifyio-testing/functional-testing-repo","homepage":null,"size":2,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":1,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":1,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":false,"push":false,"pull":false},"temp_clone_token":"","allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"delete_branch_on_merge":false,"organization":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"network_count":1,"subscribers_count":1}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 200
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: DELETE
    uri: https://test-forwarder.mergify.io/events/github.com/11221
  response:
    content: Event queued
    headers:
    status_code: 202
- request:
    body: '{"default_branch": "20210707200928/test_backport_with_bot_account/master"}'
    headers:
      Authorization:
      - <TOKEN>
      content-type:
      - application/json
    method: PATCH
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo
  response:
    content: '{"id":258840104,"node_id":"MDEwOlJlcG9zaXRvcnkyNTg4NDAxMDQ=","name":"functional-testing-repo","full_name":"mergifyio-testing/functional-testing-repo","private":false,"owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","ur[...]
- request:
    body: '{"base": "20210707200928/test_backport_with_bot_account/master", "head":
      "mergify-test2:20210707200928/test_backport_with_bot_account/fork/pr1", "title":
      "test_backport_with_bot_account: pull request n1 from fork", "body": "test_backport_with_bot_account:
      pull request n1 from fork", "draft": false}'
    headers:
      Authorization:
      - <TOKEN>
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo/pulls
  response:
    content: '{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/pulls/14271","id":685478401,"node_id":"MDExOlB1bGxSZXF1ZXN0Njg1NDc4NDAx","html_url":"https://github.com/mergifyio-testing/functional-testing-repo/pull/14271","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo/pull/14271.diff","patch_url":"https://github.com/mergifyio-testing/functional-testing-repo/pull/14271.patch","issue_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/issues/14271","number":14271,"state":"open","locked":false,"title":"test_backport_with_bot_account:
      pull request n1 from fork","user":{"login":"mergify-test2","id":38495008,"node_id":"MDQ6VXNlcjM4NDk1MDA4","avatar_url":"https://avatars.githubusercontent.com/u/38495008?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-test2","html_url":"https://github.com/mergify-test2","followers_url":"https://api.github.com/users/mergify-test2/followers","following_url":"https://api.github.com/users/mergify-test2/following{/other_user}","gists_url":"https://api.github.com/users/mergify-test2/gists{/gist_id}","starred_url":"https://api.github.com/users/mergify-test2/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergify-test2/subscriptions","organizations_url":"https://api.github.com/users/mergify-test2/orgs","repos_url":"https://api.github.com/users/mergify-test2/repos","events_url":"https://api.github.com/users/mergify-test2/events{/privacy}","received_events_url":"https://api.github.com/users/mergify-test2/received_events","type":"User","site_admin":false},"body":"test_backport_with_bot_account:
      pull request n1 from fork","created_at":"2021-07-07T20:09:42Z","updated_at":"2021-07-07T20:09:42Z","closed_at":null,"merged_at":null,"merge_commit_sha":null,"assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/pulls/14271/commits","review_comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/pulls/14271/comments","review_comment_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/pulls/comments{/number}","comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/issues/14271/comments","statuses_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/statuses/ae66469efebf785f626b190af74dd18391ddf70b","head":{"label":"mergify-test2:20210707200928/test_backport_with_bot_account/fork/pr1","ref":"20210707200928/test_backport_with_bot_account/fork/pr1","sha":"ae66469efebf785f626b190af74dd18391ddf70b","user":{"login":"mergify-test2","id":38495008,"node_id":"MDQ6VXNlcjM4NDk1MDA4","avatar_url":"https://avatars.githubusercontent.com/u/38495008?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-test2","html_url":"https://github.com/mergify-test2","followers_url":"https://api.github.com/users/mergify-test2/followers","following_url":"https://api.github.com/users/mergify-test2/following{/other_user}","gists_url":"https://api.github.com/users/mergify-test2/gists{/gist_id}","starred_url":"https://api.github.com/users/mergify-test2/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergify-test2/subscriptions","organizations_url":"https://api.github.com/users/mergify-test2/orgs","repos_url":"https://api.github.com/users/mergify-test2/repos","events_url":"https://api.github.com/users/mergify-test2/events{/privacy}","received_events_url":"https://api.github.com/users/mergify-test2/received_events","type":"User","site_admin":false},"repo":{"id":258840424,"node_id":"MDEwOlJlcG9zaXRvcnkyNTg4NDA0MjQ=","name":"functional-testing-repo","full_name":"mergify-test2/functional-testing-repo","private":false,"owner":{"login":"mergify-test2","id":38495008,"node_id":"MDQ6VXNlcjM4NDk1MDA4","avatar_url":"https://avatars.githubusercontent.com/u/38495008?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-test2","html_url":"https://github.com/mergify-test2","followers_url":"https://api.github.com/users/mergify-test2/followers","foll[...]
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: GET
    uri: https://test-forwarder.mergify.io/events/github.com/11221?counter=1
  response:
    content: '[{"id":"3f4dcafe-df5f-11eb-8a4f-ecb28b858361","type":"push","payload":{"ref":"refs/heads/20210707200928/test_backport_with_bot_account/master","before":"0000000000000000000000000000000000000000","after":"8c8a86bf6f7f482b7821de2f22f27d2bb5697cc8","repository":{"id":258840104,"node_id":"MDEwOlJlcG9zaXRvcnkyNTg4NDAxMDQ=","name":"functional-testing-repo","full_name":"mergifyio-testing/functional-testing-repo","private":false,"owner":{"name":"mergifyio-testing","email":null,"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followe[...]
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo/pulls/14271
  response:
    content: '{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/pulls/14271","id":685478401,"node_id":"MDExOlB1bGxSZXF1ZXN0Njg1NDc4NDAx","html_url":"https://github.com/mergifyio-testing/functional-testing-repo/pull/14271","diff_url":"https://github.com/mergifyio-testing/functi[...]
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo/pulls/14271/commits?per_page=100
  response:
    content: '[{"sha":"29f549f162e41919285575fc9b972a11040da5a7","node_id":"MDY6Q29tbWl0MjU4ODQwNDI0OjI5ZjU0OWYxNjJlNDE5MTkyODU1NzVmYzliOTcyYTExMDQwZGE1YTc=","commit":{"author":{"name":"mergify-tester","email":"noreply@mergify.io","date":"2021-07-07T20:09:38Z"},"committer":{"name":"mergify-tester","email":"noreply@mergify.io","date":"2021-07-07T20:09:38Z"},"message":"test_backport_with_bot_account:
      pull request n1 from fork","tree":{"sha":"ffe14149bb9e9b8e5a276d0dac042a35cf8bab57","url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/git/trees/ffe14149bb9e9b8e5a276d0dac042a35cf8bab57"},"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/git/commits/29f549f162e41919285575fc9b972a11040da5a7","comment_count":0,"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}},"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/commits/29f549f162e41919285575fc9b972a11040da5a7","html_url":"https://github.com/mergifyio-testing/functional-testing-repo/commit/29f549f162e41919285575fc9b972a11040da5a7","comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/commits/29f549f162e41919285575fc9b972a11040da5a7/comments","author":null,"committer":null,"parents":[{"sha":"8c8a86bf6f7f482b7821de2f22f27d2bb5697cc8","url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/commits/8c8a86bf6f7f482b7821de2f22f27d2bb5697cc8","html_url":"https://github.com/mergifyio-testing/functional-testing-repo/commit/8c8a86bf6f7f482b7821de2f22f27d2bb5697cc8"}]},{"sha":"ae66469efebf785f626b190af74dd18391ddf70b","node_id":"MDY6Q29tbWl0MjU4ODQwNDI0OmFlNjY0NjllZmViZjc4NWY2MjZiMTkwYWY3NGRkMTgzOTFkZGY3MGI=","commit":{"author":{"name":"mergify-tester","email":"[...]
[...]
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: GET
    uri: https://test-forwarder.mergify.io/events/github.com/11221?counter=2
  response:
    content: '[{"id":"48973b90-df5f-11eb-9f25-261a0ddc6a29","type":"pull_request","payload":{"action":"opened","number":14272,"pull_request":{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/pulls/14272","id":685478470,"node_id":"MDExOlB1bGxSZXF1ZXN0Njg1NDc4NDcw","html_url":"https://github.com/mergifyio-testing/functional-testing-repo/pull/14272","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo/pull/14272.diff","patch_url":"https://github.com/mergifyio-testing/functional-testing-repo/pull/14272.patch","issue_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-re[...]
[...]
- request:
    body: '{"name": "backport-#3.1", "color": "000000"}'
    headers:
      Authorization:
      - <TOKEN>
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo/labels
  response:
    content: '{"id":3149655404,"node_id":"MDU6TGFiZWwzMTQ5NjU1NDA0","url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/labels/backport-%233.1","name":"backport-#3.1","color":"000000","default":false,"description":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.github.com/repos/mergifyio-testing/functional-testing-repo/labels/backport-%233.1
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
      X-OAuth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
    status_code: 201
- request:
    body: '{"labels": ["backport-#3.1"]}'
    headers:
      Authorization:
      - <TOKEN>
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo/issues/14271/labels
  response:
    content: '[{"id":3149655404,"node_id":"MDU6TGFiZWwzMTQ5NjU1NDA0","url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/labels/backport-%233.1","name":"backport-#3.1","color":"000000","default":false,"description":null}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
      X-OAuth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
    status_code: 200
[...]
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/users/mergifyio-testing/installation
  response:
    content: '{"id":15398551,"account":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_u[...]
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo/pulls?per_page=100
  response:
    content: '[{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/pulls/14272","id":685478470,"node_id":"MDExOlB1bGxSZXF1ZXN0Njg1NDc4NDcw","html_url":"https://github.com/mergifyio-testing/functional-testing-repo/pull/14272","diff_url":"https://github.com/mergifyio-testin[...]
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/repositories/258840104/pulls/14271
  response:
    content: '{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/pulls/14271","id":685478401,"node_id":"MDExOlB1bGxSZXF1ZXN0Njg1NDc4NDAx","html_url":"https://github.com/mergifyio-testing/functional-testing-repo/pull/14271","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo/pull/14[...]
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo/contents/.mergify.yml
  response:
    content: '{"name":".mergify.yml","path":".mergify.yml","sha":"1d0fbe5502a32fa5de0fb8051fe3a18b5abec80c","size":486,"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/contents/.mergify.yml?ref=20210707200928/test_backport_with_bot_account/master","html_url":"https://github.com/mergifyio-testing/functional-testing-repo/blob/20210707200928/test_backport_with_bot_account/master/.mergify.yml","git_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/git/blobs/1d0fbe5502a32fa5de0fb8051fe3a18b5abec80c","download_url":"https://raw.githubusercontent.com/mergifyio-testing/functional-testing-repo/20210707200928/test_backport_with_bot_account/master/.mergify.yml","type":"file","content":"cHVsbF9yZXF1ZXN0X3J1bGVzOgotIGFjdGlvbnM6CiAgICBtZXJnZToKICAg\nICAgbWV0aG9kOiBtZXJnZQogICAgICByZWJhc2VfZmFsbGJhY2s6IG51bGwK\nICBjb25kaXRpb25zOgogIC0gYmFzZT0yMDIxMDcwNzIwMDkyOC90ZXN0X2Jh\nY2twb3J0X3dpdGhfYm90X2FjY291bnQvbWFzdGVyCiAgLSBsYWJlbD1iYWNr\ncG9ydC0jMy4xCiAgbmFtZTogTWVyZ2Ugb24gbWFzdGVyCi0gYWN0aW9uczoK\nICAgIGJhY2twb3J0OgogICAgICBib3RfYWNjb3VudDogbWVyZ2lmeS10ZXN0\nMwogICAgICBicmFuY2hlczoKICAgICAgLSAyMDIxMDcwNzIwMDkyOC90ZXN0\nX2JhY2twb3J0X3dpdGhfYm90X2FjY291bnQvc3RhYmxlLyMzLjEKICBjb25k\naXRpb25zOgogIC0gYmFzZT0yMDIxMDcwNzIwMDkyOC90ZXN0X2JhY2twb3J0\nX3dpdGhfYm90X2FjY291bnQvbWFzdGVyCiAgLSBsYWJlbD1iYWNrcG9ydC0j\nMy4xCiAgbmFtZTogQmFja3BvcnQgdG8gc3RhYmxlLyMzLjEK\n","encoding":"base64","_links":{"self":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/contents/.mergify.yml?ref=20210707200928/test_backport_with_bot_account/master","git":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/git/blobs/1d0fbe5502a32fa5de0fb8051fe3a18b5abec80c","html":"https://github.com/mergifyio-testing/functional-testing-repo/blob/20210707200928/test_backport_with_bot_account/master/.mergify.yml"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 200
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo/pulls/14271/files?per_page=100
  response:
    content: '[{"sha":"e69de29bb2d1d6434b8b29ae775ad8c2e48c5391","filename":"test1-moved","status":"added","additions":0,"deletions":0,"changes":0,"blob_url":"https://github.com/mergifyio-testing/functional-testing-repo/blob/ae66469efebf785f626b190af74dd18391ddf70b/test1-moved","raw_url":"https://github.com/mergifyio-testing/functional-testing-repo/raw/ae66469efebf785f626b190af74dd18391ddf70b/test1-moved","contents_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/contents/test1-moved?ref=ae66469efebf785f626b190af74dd18391ddf70b"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 200
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo/issues/14271/comments?per_page=100
  response:
    content: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 200
- request:
[...]
