interactions:
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/user
  response:
    content: '{"login":"mergify-test1","id":38494943,"node_id":"MDQ6VXNlcjM4NDk0OTQz","avatar_url":"https://avatars.githubusercontent.com/u/38494943?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-test1","html_url":"https://github.com/mergify-test1","followers_url":"https://api.github.com/users/mergify-test1/followers","following_url":"https://api.github.com/users/mergify-test1/following{/other_user}","gists_url":"https://api.github.com/users/mergify-test1/gists{/gist_id}","starred_url":"https://api.github.com/users/mergify-test1/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergify-test1/subscriptions","organizations_url":"https://api.github.com/users/mergify-test1/orgs","repos_url":"https://api.github.com/users/mergify-test1/repos","events_url":"https://api.github.com/users/mergify-test1/events{/privacy}","received_events_url":"https://api.github.com/users/mergify-test1/received_events","type":"User","site_admin":false,"name":"mergify-test-user-1","company":"@mergifyio","blog":"","location":null,"email":null,"hireable":null,"bio":"This
      account is for testing purpose of the workflow of Github App @mergifyio","twitter_username":null,"public_repos":0,"public_gists":0,"followers":0,"following":0,"created_at":"2018-04-18T10:42:59Z","updated_at":"2021-05-16T15:08:42Z","private_gists":0,"total_private_repos":0,"owned_private_repos":0,"disk_usage":0,"collaborators":0,"two_factor_authentication":false,"plan":{"name":"free","space":976562499,"collaborators":0,"private_repos":10000}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-OAuth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
    status_code: 200
[...]
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/user/40527191/installation
  response:
    content: '{"id":15398551,"account":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"repository_selection":"all","access_tokens_url":"https://api.github.com/app/installations/15398551/access_tokens","repositories_url":"https://api.github.com/installation/repositories","html_url":"https://github.com/organizations/mergifyio-testing/settings/installations/15398551","app_id":11221,"app_slug":"mergify-test","target_id":40527191,"target_type":"Organization","permissions":{"pages":"write","checks":"write","issues":"write","members":"read","contents":"write","metadata":"read","statuses":"read","pull_requests":"write"},"events":["check_run","check_suite","issue_comment","pull_request","pull_request_review","pull_request_review_comment","push","status"],"created_at":"2021-03-15T16:12:17.000Z","updated_at":"2021-03-15T16:12:17.000Z","single_file_name":null,"has_multiple_single_files":false,"single_file_paths":[],"suspended_by":null,"suspended_at":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; format=json
    status_code: 200
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: POST
    uri: https://api.github.com/app/installations/15398551/access_tokens
  response:
    content: '{"token": "<TOKEN>", "expires_at": "2021-05-19T16:29:09Z", "permissions":
      {"members": "read", "checks": "write", "contents": "write", "issues": "write",
      "metadata": "read", "pages": "write", "pull_requests": "write", "statuses":
      "read"}, "repository_selection": "all"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; format=json
    status_code: 201
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/repositories/258840104
  response:
    content: '{"id":258840104,"node_id":"MDEwOlJlcG9zaXRvcnkyNTg4NDAxMDQ=","name":"functional-testing-repo","full_name":"mergifyio-testing/functional-testing-repo","private":false,"owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/mergifyio-testing/functional-testing-repo","description":"Mergify","fork":false,"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo","forks_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/forks","keys_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/keys{/key_id}","collaborators_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/teams","hooks_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/hooks","issue_events_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/issues/events{/number}","events_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/events","assignees_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/assignees{/user}","branches_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/branches{/branch}","tags_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/tags","blobs_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/git/refs{/sha}","trees_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/git/trees{/sha}","statuses_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/statuses/{sha}","languages_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/languages","stargazers_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/stargazers","contributors_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/contributors","subscribers_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/subscribers","subscription_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/subscription","commits_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/commits{/sha}","git_commits_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/git/commits{/sha}","comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/comments{/number}","issue_comment_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/issues/comments{/number}","contents_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/contents/{+path}","compare_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/compare/{base}...{head}","merges_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/merges","archive_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/downloads","issues_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/issues{/number}","pulls_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/pulls{/number}","milestones_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/milestones{/number}","notifications_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/labels{/name}","releases_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/releases{/id}","deployments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/deployments","created_at":"2020-04-25T17:58:44Z","updated_at":"2021-05-19T15:28:48Z","pushed_at":"2021-05-19T15:29:06Z","git_url":"git://github.com/mergifyio-testing/functional-testing-repo.git","ssh_url":"git@github.com:mergifyio-testing/functional-testing-repo.git","clone_url":"https://github.com/mergifyio-testing/functional-testing-repo.git","svn_url":"https://github.com/mergifyio-testing/functional-testing-repo","homepage":null,"size":2,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":1,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":1,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":false,"push":false,"pull":false},"temp_clone_token":"","allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"delete_branch_on_merge":false,"organization":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"network_count":1,"subscribers_count":0}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; format=json
    status_code: 200
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: DELETE
    uri: https://test-forwarder.mergify.io/events-testing
  response:
    content: Event queued
    headers:
    status_code: 202
- request:
    body: '{"default_branch": "20210519152908/test_backport_with_bot_account/master"}'
    headers:
      Authorization:
      - <TOKEN>
      content-type:
      - application/json
    method: PATCH
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo
  response:
    content: '{"id":258840104,"node_id":"MDEwOlJlcG9zaXRvcnkyNTg4NDAxMDQ=","name":"functional-testing-repo","full_name":"mergifyio-testing/functional-testing-repo","private":false,"owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","ur[...]
- request:
    body: '{"base": "20210519152908/test_backport_with_bot_account/master", "head":
      "mergify-test2:20210519152908/test_backport_with_bot_account/fork/pr1", "title":
      "test_backport_with_bot_account: pull request n1 from fork", "body": "test_backport_with_bot_account:
      pull request n1 from fork", "draft": false}'
    headers:
      Authorization:
      - <TOKEN>
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo/pulls
  response:
    content: '{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/pulls/11877","id":647791823,"node_id":"MDExOlB1bGxSZXF1ZXN0NjQ3NzkxODIz","html_url":"https://github.com/mergifyio-testing/functional-testing-repo/pull/11877","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo/pull/11877.diff","patch_url":"https://github.com/mergifyio-testing/functional-testing-repo/pull/11877.patch","issue_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/issues/11877","number":11877,"state":"open","locked":false,"title":"test_backport_with_bot_account:
      pull request n1 from fork","user":{"login":"mergify-test2","id":38495008,"node_id":"MDQ6VXNlcjM4NDk1MDA4","avatar_url":"https://avatars.githubusercontent.com/u/38495008?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-test2","html_url":"https://github.com/mergify-test2","followers_url":"https://api.github.com/users/mergify-test2/followers","following_url":"https://api.github.com/users/mergify-test2/following{/other_user}","gists_url":"https://api.github.com/users/mergify-test2/gists{/gist_id}","starred_url":"https://api.github.com/users/mergify-test2/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergify-test2/subscriptions","organizations_url":"https://api.github.com/users/mergify-test2/orgs","repos_url":"https://api.github.com/users/mergify-test2/repos","events_url":"https://api.github.com/users/mergify-test2/events{/privacy}","received_events_url":"https://api.github.com/users/mergify-test2/received_events","type":"User","site_admin":false},"body":"test_backport_with_bot_account:
      pull request n1 from fork","created_at":"2021-05-19T15:29:19Z","updated_at":"2021-05-19T15:29:19Z","closed_at":null,"merged_at":null,"merge_commit_sha":null,"assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/pulls/11877/commits","review_comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/pulls/11877/comments","review_comment_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/pulls/comments{/number}","comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/issues/11877/comments","statuses_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/statuses/8aa44628eecdbf89aa48211cf3ea8828f04464bb","head":{"label":"mergify-test2:20210519152908/test_backport_with_bot_account/fork/pr1","ref":"20210519152908/test_backport_with_bot_account/fork/pr1","sha":"8aa44628eecdbf89aa48211cf3ea8828f04464bb","user":{"login":"mergify-test2","id":38495008,"node_id":"MDQ6VXNlcjM4NDk1MDA4","avatar_url":"https://avatars.githubusercontent.com/u/38495008?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-test2","html_url":"https://github.com/mergify-test2","followers_url":"https://api.github.com/users/mergify-test2/followers","following_url":"https://api.github.com/users/mergify-test2/following{/other_user}","gists_url":"https://api.github.com/users/mergify-test2/gists{/gist_id}","starred_url":"https://api.github.com/users/mergify-test2/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergify-test2/subscriptions","organizations_url":"https://api.github.com/users/mergify-test2/orgs","repos_url":"https://api.github.com/users/mergify-test2/repos","events_url":"https://api.github.com/users/mergify-test2/events{/privacy}","received_events_url":"https://api.github.com/users/mergify-test2/received_events","type":"User","site_admin":false},"repo":{"id":258840424,"node_id":"MDEwOlJlcG9zaXRvcnkyNTg4NDA0MjQ=","name":"functional-testing-repo","full_name":"mergify-test2/functional-testing-repo","private":false,"owner":{"login":"mergify-test2","id":38495008,"node_id":"MDQ6VXNlcjM4NDk1MDA4","avatar_url":"https://avatars.githubusercontent.com/u/38495008?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-test2","html_url":"https://github.com/mergify-test2","followers_url":"https://api.github.com/users/mergify-test2/followers","foll[...]
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: GET
    uri: https://test-forwarder.mergify.io/events-testing?counter=1
  response:
    content: '[{"id":"f6d2ab7e-b8b6-11eb-90ec-aa0f7190bef4","type":"push","payload":{"ref":"refs/heads/20210519152908/test_backport_with_bot_account/master","before":"0000000000000000000000000000000000000000","after":"d0361d96b562b2e037123bc1a81a9190045e7a7a","repository":{"id":258840104,"node_id":"MDEwOlJlcG9zaXRvcnkyNTg4NDAxMDQ=","name":"functional-testing-repo","full_name":"mergifyio-testing/functional-testing-repo","private":false,"owner":{"name":"mergifyio-testing","email":null,"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followe[...]
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo/pulls/11877
  response:
    content: '{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/pulls/11877","id":647791823,"node_id":"MDExOlB1bGxSZXF1ZXN0NjQ3NzkxODIz","html_url":"https://github.com/mergifyio-testing/functional-testing-repo/pull/11877","diff_url":"https://github.com/mergifyio-testing/functi[...]
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo/pulls/11877/commits
  response:
    content: '[{"sha":"04d2d365ce63a858149fb519c12ebc031bf0df45","node_id":"MDY6Q29tbWl0MjU4ODQwNDI0OjA0ZDJkMzY1Y2U2M2E4NTgxNDlmYjUxOWMxMmViYzAzMWJmMGRmNDU=","commit":{"author":{"name":"mergify-tester","email":"noreply@mergify.io","date":"2021-05-19T15:29:16Z"},"committer":{"name":"mergify-tester","email":"noreply@mergify.io","date":"2021-05-19T15:29:16Z"},"message":"test_backport_with_bot_account:
      pull request n1 from fork","tree":{"sha":"b4667c8333281a24dfedff3976dd65d91e98a063","url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/git/trees/b4667c8333281a24dfedff3976dd65d91e98a063"},"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/git/commits/04d2d365ce63a858149fb519c12ebc031bf0df45","comment_count":0,"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}},"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/commits/04d2d365ce63a858149fb519c12ebc031bf0df45","html_url":"https://github.com/mergifyio-testing/functional-testing-repo/commit/04d2d365ce63a858149fb519c12ebc031bf0df45","comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/commits/04d2d365ce63a858149fb519c12ebc031bf0df45/comments","author":null,"committer":null,"parents":[{"sha":"d0361d96b562b2e037123bc1a81a9190045e7a7a","url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/commits/d0361d96b562b2e037123bc1a81a9190045e7a7a","html_url":"https://github.com/mergifyio-testing/functional-testing-repo/commit/d0361d96b562b2e037123bc1a81a9190045e7a7a"}]},{"sha":"8aa44628eecdbf89aa48211cf3ea8828f04464bb","node_id":"MDY6Q29tbWl0MjU4ODQwNDI0OjhhYTQ0NjI4ZWVjZGJmODlhYTQ4MjExY2YzZWE4ODI4ZjA0NDY0YmI=","commit":{"author":{"name":"mergify-tester","email":"[...]
[...]
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: GET
    uri: https://test-forwarder.mergify.io/events-testing?counter=2
  response:
    content: '[{"id":"fe8d16b0-b8b6-11eb-85e7-556be4151f12","type":"pull_request","payload":{"action":"opened","number":11878,"pull_request":{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/pulls/11878","id":647791912,"node_id":"MDExOlB1bGxSZXF1ZXN0NjQ3NzkxOTEy","html_url":"https://github.com/mergifyio-testing/functional-testing-repo/pull/11878","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo/pull/11878.diff","patch_url":"https://github.com/mergifyio-testing/functional-testing-repo/pull/11878.patch","issue_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-re[...]
[...]
- request:
    body: '{"name": "backport-#3.1", "color": "000000"}'
    headers:
      Authorization:
      - <TOKEN>
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo/labels
  response:
    content: '{"id":3013729991,"node_id":"MDU6TGFiZWwzMDEzNzI5OTkx","url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/labels/backport-%233.1","name":"backport-#3.1","color":"000000","default":false,"description":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.github.com/repos/mergifyio-testing/functional-testing-repo/labels/backport-%233.1
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-OAuth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
    status_code: 201
- request:
    body: '{"labels": ["backport-#3.1"]}'
    headers:
      Authorization:
      - <TOKEN>
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo/issues/11877/labels
  response:
    content: '[{"id":3013729991,"node_id":"MDU6TGFiZWwzMDEzNzI5OTkx","url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/labels/backport-%233.1","name":"backport-#3.1","color":"000000","default":false,"description":null}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-OAuth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
    status_code: 200
[...]
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/users/mergifyio-testing/installation
  response:
    content: '{"id":15398551,"account":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_u[...]
[...]
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/repositories/258840104/pulls/11877
  response:
    content: '{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/pulls/11877","id":647791823,"node_id":"MDExOlB1bGxSZXF1ZXN0NjQ3NzkxODIz","html_url":"https://github.com/mergifyio-testing/functional-testing-repo/pull/11877","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo/pull/11[...]
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo/contents/.mergify.yml
  response:
    content: '{"name":".mergify.yml","path":".mergify.yml","sha":"d33880a7c66c2694564c10d0118f26c15bb98a7c","size":486,"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/contents/.mergify.yml?ref=20210519152908/test_backport_with_bot_account/master","html_url":"https://github.com/mergifyio-testing/functional-testing-repo/blob/20210519152908/test_backport_with_bot_account/master/.mergify.yml","git_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/git/blobs/d33880a7c66c2694564c10d0118f26c15bb98a7c","download_url":"https://raw.githubusercontent.com/mergifyio-testing/functional-testing-repo/20210519152908/test_backport_with_bot_account/master/.mergify.yml","type":"file","content":"cHVsbF9yZXF1ZXN0X3J1bGVzOgotIGFjdGlvbnM6CiAgICBtZXJnZToKICAg\nICAgbWV0aG9kOiBtZXJnZQogICAgICByZWJhc2VfZmFsbGJhY2s6IG51bGwK\nICBjb25kaXRpb25zOgogIC0gYmFzZT0yMDIxMDUxOTE1MjkwOC90ZXN0X2Jh\nY2twb3J0X3dpdGhfYm90X2FjY291bnQvbWFzdGVyCiAgLSBsYWJlbD1iYWNr\ncG9ydC0jMy4xCiAgbmFtZTogTWVyZ2Ugb24gbWFzdGVyCi0gYWN0aW9uczoK\nICAgIGJhY2twb3J0OgogICAgICBib3RfYWNjb3VudDogbWVyZ2lmeS10ZXN0\nMwogICAgICBicmFuY2hlczoKICAgICAgLSAyMDIxMDUxOTE1MjkwOC90ZXN0\nX2JhY2twb3J0X3dpdGhfYm90X2FjY291bnQvc3RhYmxlLyMzLjEKICBjb25k\naXRpb25zOgogIC0gYmFzZT0yMDIxMDUxOTE1MjkwOC90ZXN0X2JhY2twb3J0\nX3dpdGhfYm90X2FjY291bnQvbWFzdGVyCiAgLSBsYWJlbD1iYWNrcG9ydC0j\nMy4xCiAgbmFtZTogQmFja3BvcnQgdG8gc3RhYmxlLyMzLjEK\n","encoding":"base64","_links":{"self":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/contents/.mergify.yml?ref=20210519152908/test_backport_with_bot_account/master","git":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/git/blobs/d33880a7c66c2694564c10d0118f26c15bb98a7c","html":"https://github.com/mergifyio-testing/functional-testing-repo/blob/20210519152908/test_backport_with_bot_account/master/.mergify.yml"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; format=json
    status_code: 200
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo/pulls/11877/files?per_page=100
  response:
    content: '[{"sha":"e69de29bb2d1d6434b8b29ae775ad8c2e48c5391","filename":"test1-moved","status":"added","additions":0,"deletions":0,"changes":0,"blob_url":"https://github.com/mergifyio-testing/functional-testing-repo/blob/8aa44628eecdbf89aa48211cf3ea8828f04464bb/test1-moved","raw_url":"https://github.com/mergifyio-testing/functional-testing-repo/raw/8aa44628eecdbf89aa48211cf3ea8828f04464bb/test1-moved","contents_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/contents/test1-moved?ref=8aa44628eecdbf89aa48211cf3ea8828f04464bb"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; format=json
    status_code: 200
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo/issues/11877/comments
  response:
    content: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; format=json
    status_code: 200
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo/commits/8aa44628eecdbf89aa48211cf3ea8828f04464bb/check-runs
  response:
    content: '{"total_count":0,"check_runs":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; format=json
    status_code: 200
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo/branches/20210519152908%2Ftest_backport_with_bot_account%2Fmaster
  response:
[...]
