interactions:
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/user
  response:
    content: '{"login":"mergify-test1","id":38494943,"node_id":"MDQ6VXNlcjM4NDk0OTQz","avatar_url":"https://avatars.githubusercontent.com/u/38494943?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-test1","html_url":"https://github.com/mergify-test1","followers_url":"https://api.github.com/users/mergify-test1/followers","following_url":"https://api.github.com/users/mergify-test1/following{/other_user}","gists_url":"https://api.github.com/users/mergify-test1/gists{/gist_id}","starred_url":"https://api.github.com/users/mergify-test1/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergify-test1/subscriptions","organizations_url":"https://api.github.com/users/mergify-test1/orgs","repos_url":"https://api.github.com/users/mergify-test1/repos","events_url":"https://api.github.com/users/mergify-test1/events{/privacy}","received_events_url":"https://api.github.com/users/mergify-test1/received_events","type":"User","site_admin":false,"name":"mergify-test-user-1","company":"@mergifyio","blog":"https://mergify.io","location":null,"email":null,"hireable":null,"bio":"This
      account is for testing purpose of the workflow of the GitHub App @mergifyio","twitter_username":"mergifyio","public_repos":0,"public_gists":0,"followers":0,"following":0,"created_at":"2018-04-18T10:42:59Z","updated_at":"2021-06-15T14:56:34Z","private_gists":0,"total_private_repos":0,"owned_private_repos":0,"disk_usage":0,"collaborators":0,"two_factor_authentication":false,"plan":{"name":"free","space":976562499,"collaborators":0,"private_repos":10000}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
      X-OAuth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
    status_code: 200
[...]
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/user/40527191/installation
  response:
    content: '{"id":15398551,"account":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"repository_selection":"all","access_tokens_url":"https://api.github.com/app/installations/15398551/access_tokens","repositories_url":"https://api.github.com/installation/repositories","html_url":"https://github.com/organizations/mergifyio-testing/settings/installations/15398551","app_id":11221,"app_slug":"mergify-test","target_id":40527191,"target_type":"Organization","permissions":{"pages":"write","checks":"write","issues":"write","members":"read","contents":"write","metadata":"read","statuses":"read","pull_requests":"write"},"events":["check_run","check_suite","issue_comment","pull_request","pull_request_review","pull_request_review_comment","push","status"],"created_at":"2021-03-15T16:12:17.000Z","updated_at":"2021-03-15T16:12:17.000Z","single_file_name":null,"has_multiple_single_files":false,"single_file_paths":[],"suspended_by":null,"suspended_at":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 200
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: POST
    uri: https://api.github.com/app/installations/15398551/access_tokens
  response:
    content: '{"token": "<TOKEN>", "expires_at": "2021-07-12T18:53:21Z", "permissions":
      {"members": "read", "checks": "write", "contents": "write", "issues": "write",
      "metadata": "read", "pages": "write", "pull_requests": "write", "statuses":
      "read"}, "repository_selection": "all"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 201
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/repositories/258840104
  response:
    content: '{"id":258840104,"node_id":"MDEwOlJlcG9zaXRvcnkyNTg4NDAxMDQ=","name":"functional-testing-repo","full_name":"mergifyio-testing/functional-testing-repo","private":false,"owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/mergifyio-testing/functional-testing-repo","description":"Mergify","fork":false,"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo","forks_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/forks","keys_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/keys{/key_id}","collaborators_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/teams","hooks_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/hooks","issue_events_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/issues/events{/number}","events_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/events","assignees_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/assignees{/user}","branches_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/branches{/branch}","tags_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/tags","blobs_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/git/refs{/sha}","trees_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/git/trees{/sha}","statuses_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/statuses/{sha}","languages_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/languages","stargazers_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/stargazers","contributors_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/contributors","subscribers_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/subscribers","subscription_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/subscription","commits_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/commits{/sha}","git_commits_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/git/commits{/sha}","comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/comments{/number}","issue_comment_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/issues/comments{/number}","contents_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/contents/{+path}","compare_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/compare/{base}...{head}","merges_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/merges","archive_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/downloads","issues_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/issues{/number}","pulls_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/pulls{/number}","milestones_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/milestones{/number}","notifications_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/labels{/name}","releases_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/releases{/id}","deployments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/deployments","created_at":"2020-04-25T17:58:44Z","updated_at":"2021-07-12T17:50:15Z","pushed_at":"2021-07-12T17:53:19Z","git_url":"git://github.com/mergifyio-testing/functional-testing-repo.git","ssh_url":"git@github.com:mergifyio-testing/functional-testing-repo.git","clone_url":"https://github.com/mergifyio-testing/functional-testing-repo.git","svn_url":"https://github.com/mergifyio-testing/functional-testing-repo","homepage":null,"size":2,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":1,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":1,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":false,"push":false,"pull":false},"temp_clone_token":"","allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"delete_branch_on_merge":false,"organization":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"network_count":1,"subscribers_count":1}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 200
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: DELETE
    uri: https://test-forwarder.mergify.io/events/github.com/11221
  response:
    content: Event queued
    headers:
    status_code: 202
- request:
    body: '{"default_branch": "20210712175320/test_squash_several_commits_with_two_merge_commits/master"}'
    headers:
      Authorization:
      - <TOKEN>
      content-type:
      - application/json
    method: PATCH
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo
  response:
    content: '{"id":258840104,"node_id":"MDEwOlJlcG9zaXRvcnkyNTg4NDAxMDQ=","name":"functional-testing-repo","full_name":"mergifyio-testing/functional-testing-repo","private":false,"owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","ur[...]
- request:
    body: '{"owner": "mergify-test2", "repo": "functional-testing-repo", "base": "20210712175320/test_squash_several_commits_with_two_merge_commits/fork/pr_squash_test_b1",
      "head": "20210712175320/test_squash_several_commits_with_two_merge_commits/fork/pr_squash_test_b2"}'
    headers:
      Authorization:
      - <TOKEN>
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/repos/mergify-test2/functional-testing-repo/merges
  response:
    content: '{"sha":"c5fa868777a341154c28078987fb740c6ba8e9f0","node_id":"MDY6Q29tbWl0MjU4ODQwNDI0OmM1ZmE4Njg3NzdhMzQxMTU0YzI4MDc4OTg3ZmI3NDBjNmJhOGU5ZjA=","commit":{"author":{"name":"mergify-test-user-2","email":"38495008+mergify-test2@users.noreply.github.com","date":"2021-07-12T17:53:36Z"},"committer":{"name":"GitHub","email":"noreply@github.com","date":"2021-07-12T17:53:36Z"},"message":"Merge
      20210712175320/test_squash_several_commits_with_two_merge_commits/fork/pr_squash_test_b2
      into 20210712175320/test_squash_several_commits_with_two_merge_commits/fork/pr_squash_test_b1","tree":{"sha":"a11e6b10f8fd12814fcfcc427475269eead01a87","url":"https://api.github.com/repos/mergify-test2/functional-testing-repo/git/trees/a11e6b10f8fd12814fcfcc427475269eead01a87"},"url":"https://api.github.com/repos/mergify-test2/functional-testing-repo/git/commits/c5fa868777a341154c28078987fb740c6ba8e9f0","comment_count":0,"verification":{"verified":true,"reason":"valid","signature":"-----BEGIN
      PGP SIGNATURE-----\n\nwsBcBAABCAAQBQJg7IGgCRBK7hj4Ov3rIwAApVQIAAGkti/9EZPn1hCJXL+8HlCQ\nCcaapFOqvAOs+130uq+/foc5RwPKW4qygYe0f16eCwq7cZmLf4coo+cSqZzLNSmU\nuumpbz79CavTDgExqB+Ho8IGU2D7Z6CVylhtCmvqAba5prE1gqEQW61U5Sxchkpe\n2Cc7rqbp51M0uI8dUUxEDzT/fEedRSH+vhF/UAVWIpF17UTHR1ea7Tz8IoM2wRXw\nOQrIbV1Pq4N2/yKDd1iZlsNppk8h2rNBAEDE7FQIBb7M+Pykke6CokPxp7Fp1w9I\nObLnA0Rb4bs9eBkd83KsvInlICQqTNLR0C4zRw81YFdZyd8NcfMYaQuMGncBh10=\n=3iDQ\n-----END
      PGP SIGNATURE-----\n","payload":"tree a11e6b10f8fd12814fcfcc427475269eead01a87\nparent
      223021c50acbf679f4587ef51f6f571ffd61f620\nparent 6a265c04034276a43043f2d71a0ab146a1ea95fd\nauthor
      mergify-test-user-2 <38495008+mergify-test2@users.noreply.github.com> 1626112416
      +0200\ncommitter GitHub <noreply@github.com> 1626112416 +0200\n\nMerge 20210712175320/test_squash_several_commits_with_two_merge_commits/fork/pr_squash_test_b2
      into 20210712175320/test_squash_several_commits_with_two_merge_commits/fork/pr_squ[...]
[...]
- request:
    body: '{"base": "20210712175320/test_squash_several_commits_with_two_merge_commits/master",
      "head": "mergify-test2:20210712175320/test_squash_several_commits_with_two_merge_commits/fork/pr_squash_test_b1",
      "title": "squash the PR", "body": "This is a squash_test", "draft": false}'
    headers:
      Authorization:
      - <TOKEN>
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo/pulls
  response:
    content: '{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/pulls/14829","id":688050418,"node_id":"MDExOlB1bGxSZXF1ZXN0Njg4MDUwNDE4","html_url":"https://github.com/mergifyio-testing/functional-testing-repo/pull/14829","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo/pull/14829.diff","patch_url":"https://github.com/mergifyio-testing/functional-testing-repo/pull/14829.patch","issue_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/issues/14829","number":14829,"state":"open","locked":false,"title":"squash
      the PR","user":{"login":"mergify-test2","id":38495008,"node_id":"MDQ6VXNlcjM4NDk1MDA4","avatar_url":"https://avatars.githubusercontent.com/u/38495008?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-test2","html_url":"https://github.com/mergify-test2","followers_url":"https://api.github.com/users/mergify-test2/followers","following_url":"https://api.github.com/users/mergify-test2/following{/other_user}","gists_url":"https://api.github.com/users/mergify-test2/gists{/gist_id}","starred_url":"https://api.github.com/users/mergify-test2/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergify-test2/subscriptions","organizations_url":"https://api.github.com/users/mergify-test2/orgs","repos_url":"https://api.github.com/users/mergify-test2/repos","events_url":"https://api.github.com/users/mergify-test2/events{/privacy}","received_events_url":"https://api.github.com/users/mergify-test2/received_events","type":"User","site_admin":false},"body":"This
      is a squash_test","created_at":"2021-07-12T17:53:41Z","updated_at":"2021-07-12T17:53:41Z","closed_at":null,"merged_at":null,"merge_commit_sha":null,"assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/pulls/14829/commits","review_comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/pulls/14829/comments","review_comment_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/pulls/comments{/number}","comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/issues/14829/comments","statuses_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/statuses/c42807b2c645cdc01673efc003b216e29c2993cf","head":{"label":"mergify-test2:20210712175320/test_squash_several_commits_with_two_merge_commits/fork/pr_squash_test_b1","ref":"20210712175320/test_squash_several_commits_with_two_merge_commits/fork/pr_squash_test_b1","sha":"c42807b2c645cdc01673efc003b216e29c2993cf","user":{"login":"mergify-test2","id":38495008,"node_id":"MDQ6VXNlcjM4NDk1MDA4","avatar_url":"https://avatars.githubusercontent.com/u/38495008?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-test2","html_url":"https://github.com/mergify-test2","followers_url":"https://api.github.com/users/mergify-test2/followers","following_url":"https://api[...]
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: GET
    uri: https://test-forwarder.mergify.io/events/github.com/11221?counter=1
  response:
    content: '[{"id":"0e71f67e-e33a-11eb-8834-69d4f7a897ad","type":"push","payload":{"ref":"refs/heads/20210712175320/test_squash_several_commits_with_two_merge_commits/master","before":"0000000000000000000000000000000000000000","after":"64241b6ac940a3cb60b77ff12cbad3721a78fea9","repository":{"id":258840104,"node_id":"MDEwOlJlcG9zaXRvcnkyNTg4NDAxMDQ=","name":"functional-testing-repo","full_name":"mergifyio-testing/functional-testing-repo","private":false,"owner":{"name":"mergifyio-testing","email":null,"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followe[...]
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo/pulls/14829/commits?per_page=100
  response:
    content: '[{"sha":"223021c50acbf679f4587ef51f6f571ffd61f620","node_id":"MDY6Q29tbWl0MjU4ODQwNDI0OjIyMzAyMWM1MGFjYmY2NzlmNDU4N2VmNTFmNmY1NzFmZmQ2MWY2MjA=","commit":{"author":{"name":"mergify-tester","email":"noreply@mergify.io","date":"2021-07-12T17:53:30Z"},"committer":{"name":"mergify-tester","email":"noreply@mergify.io","date":"2021-07-12T17:53:30Z"},"message":"feat():
      add file0","tree":{"sha":"1fe4f6c404ffb7d700892801ffeeb3d417828e1f","url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/git/trees/1fe4f6c404ffb7d700892801ffeeb3d417828e1f"},"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/git/commits/223021c50acbf679f4587ef51f6f571ffd61f620","comment_count":0,"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}},"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/commits/223021c50acbf679f4587ef51f6f571ffd61f620","html_url":"https://github.com/mergifyio-testing/functional-testing-repo/commit/223021c50acbf679f4587ef51f6f571ffd61f620","comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/commits/223021c50acbf679f4587ef51f6f571ffd61f620/comments","author":null,"committer":null,"parents":[{"sha":"64241b6ac940a3cb60b77ff12cbad3721a78fea9","url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/commits/64241b6ac940a3cb60b77ff12cbad3721a78fea9","html_url":"https://github.com/mergifyio-testing/functional-testing-repo/commit/64241b6ac940a3cb60b77ff12cbad3721a78fea9"}]},{"sha":"c119270623309abc56a2b03227275117d8b45e72","node_id":"MDY6Q29tbWl0MjU4ODQwNDI0OmMxMTkyNzA2MjMzMDlhYmM1NmEyYjAzMjI3Mjc1MTE3ZDhiNDVlNzI=","commit":{"author":{"name":"mergify-tester","email":"[...]
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/users/mergifyio-testing/installation
  response:
    content: '{"id":15398551,"account":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_u[...]
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo/pulls?per_page=100
  response:
    content: '[{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/pulls/14829","id":688050418,"node_id":"MDExOlB1bGxSZXF1ZXN0Njg4MDUwNDE4","html_url":"https://github.com/mergifyio-testing/functional-testing-repo/pull/14829","diff_url":"https://github.com/mergifyio-testin[...]
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/repositories/258840104/pulls/14829
  response:
    content: '{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/pulls/14829","id":688050418,"node_id":"MDExOlB1bGxSZXF1ZXN0Njg4MDUwNDE4","html_url":"https://github.com/mergifyio-testing/functional-testing-repo/pull/14829","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo/pull/14[...]
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo/contents/.mergify.yml
  response:
    content: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest/reference/repos#get-repository-content"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 404
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo/contents/.mergify/config.yml
  response:
    content: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest/reference/repos#get-repository-content"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 404
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo/contents/.github/mergify.yml
  response:
    content: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest/reference/repos#get-repository-content"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 404
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo/pulls/14829/files?per_page=100
  response:
    content: '[{"sha":"e69de29bb2d1d6434b8b29ae775ad8c2e48c5391","filename":"an_other_file","status":"added","additions":0,"deletions":0,"changes":0,"blob_url":"https://github.com/mergifyio-testing/functional-testing-repo/blob/c42807b2c645cdc01673efc003b216e29c2993cf/an_other_file","raw_url":"https://github.com/mergifyio-testing/functional-testing-repo/raw/c42807b2c645cdc01673efc003b216e29c2993cf/an_other_file","contents_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/contents/an_other_file?ref=c42807b2c645cdc01673efc003b216e29c2993cf"},{"sha":"e69de29bb2d1d6434b8b29ae775ad8c2e48c5391","filename":"file0","status":"added","additions":0,"deletions":0,"changes":0,"blob_url":"https://github.com/mergifyio-testing/functional-testing-repo/blob/c42807b2c645cdc01[...]
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo/issues/14829/comments?per_page=100
  response:
    content: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 200
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo/commits/c42807b2c645cdc01673efc003b216e29c2993cf/check-runs?per_page=100
  response:
    content: '{"total_count":0,"check_runs":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=antiope-preview; format=json
    status_code: 200
- request:
    body: '{"name": "Summary", "head_sha": "c42807b2c645cdc01673efc003b216e29c2993cf",
      "status": "completed", "started_at": "2021-07-12T17:53:44.221418+00:00", "details_url":
      "https://github.com/mergifyio-testing/functional-testing-repo/pull/14829/checks",
      "output": {"title": "no rules configured, just listening for commands", "summary":
      "<hr />\n:sparkling_heart:&nbsp;&nbsp;Mergify is proud to provide this service
      for free to open source projects.\n\n:rocket:&nbsp;&nbsp;You can help us by
      [becoming a sponsor](/sponsors/Mergifyio)!\n<hr />\n\n<details>\n<summary>Mergify
      commands and options</summary>\n\n<br />\n\nMore conditions and actions can
      be found in the [documentation](https://docs.mergify.io/).\n\nYou can also trigger
      Mergify actions by commenting on this pull request:\n\n- `@Mergifyio refresh`
      will re-evaluate the rules\n- `@Mergifyio rebase` will rebase this PR on its
      base branch\n- `@Mergifyio update` will merge the base branch into this PR\n-
      `@Mergifyio backport <destination>` will backport this PR on `<destination>`
      branch\n\nAdditionally, on Mergify [dashboard](https://dashboard.mergify.io/)
      you can:\n\n- look at your merge queues\n- generate the Mergify configuration
      with the config editor.\n\nFinally, you can contact us on https://mergify.io/\n</details>\n<!--
      e30K -->"}, "conclusion": "success", "completed_at": "2021-07-12T17:53:45.731032+00:00"}'
    headers:
      Authorization:
      - <TOKEN>
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo/check-runs
  response:
    content: '{"id":3049336469,"node_id":"MDg6Q2hlY2tSdW4zMDQ5MzM2NDY5","head_sha":"c42807b2c645cdc01673efc003b216e29c2993cf","external_id":"","url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/check-runs/3049336469","html_url":"https://github.com/mergifyio-testing/functional-testing-repo/runs/3049336469","details_url":"https://github.com/mergifyio-testing/functional-testing-repo/pull/14829/checks","status":"completed","conclusion":"success","started_at":"2021-07-12T17:53:44Z","completed_at":"2021-07-12T17:53:45Z","output":{"title":"no
[...]
