interactions:
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/user
  response:
    content: '{"login":"mergify-test1","id":38494943,"node_id":"MDQ6VXNlcjM4NDk0OTQz","avatar_url":"https://avatars.githubusercontent.com/u/38494943?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-test1","html_url":"https://github.com/mergify-test1","followers_url":"https://api.github.com/users/mergify-test1/followers","following_url":"https://api.github.com/users/mergify-test1/following{/other_user}","gists_url":"https://api.github.com/users/mergify-test1/gists{/gist_id}","starred_url":"https://api.github.com/users/mergify-test1/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergify-test1/subscriptions","organizations_url":"https://api.github.com/users/mergify-test1/orgs","repos_url":"https://api.github.com/users/mergify-test1/repos","events_url":"https://api.github.com/users/mergify-test1/events{/privacy}","received_events_url":"https://api.github.com/users/mergify-test1/received_events","type":"User","site_admin":false,"name":"mergify-test-user-1","company":"@mergifyio","blog":"","location":null,"email":null,"hireable":null,"bio":"This
      account is for testing purpose of the workflow of Github App @mergifyio","twitter_username":null,"public_repos":0,"public_gists":0,"followers":0,"following":0,"created_at":"2018-04-18T10:42:59Z","updated_at":"2021-05-16T15:08:42Z","private_gists":0,"total_private_repos":0,"owned_private_repos":0,"disk_usage":0,"collaborators":0,"two_factor_authentication":false,"plan":{"name":"free","space":976562499,"collaborators":0,"private_repos":10000}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-OAuth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
    status_code: 200
[...]
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: DELETE
    uri: https://test-forwarder.mergify.io/events-testing
  response:
    content: Event queued
    headers:
    status_code: 202
- request:
    body: '{"default_branch": "20210519113216/test_backport_merge_commit_regexes/master"}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo
  response:
    content: '{"id":258840104,"node_id":"MDEwOlJlcG9zaXRvcnkyNTg4NDAxMDQ=","name":"functional-testing-repo","full_name":"mergifyio-testing/functional-testing-repo","private":false,"owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/mergifyio-testing/functional-testing-repo","description":"Mergify","fork":false,"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo","forks_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/forks","keys_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/keys{/key_id}","collaborators_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/teams","hooks_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/hooks","issue_events_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/issues/events{/number}","events_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/events","assignees_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/assignees{/user}","branches_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/branches{/branch}","tags_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/tags","blobs_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/git/refs{/sha}","trees_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/git/trees{/sha}","statuses_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/statuses/{sha}","languages_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/languages","stargazers_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/stargazers","contributors_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/contributors","subscribers_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/subscribers","subscription_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/subscription","commits_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/commits{/sha}","git_commits_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/git/commits{/sha}","comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/comments{/number}","issue_comment_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/issues/comments{/number}","contents_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/contents/{+path}","compare_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/compare/{base}...{head}","merges_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/merges","archive_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/downloads","issues_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/issues{/number}","pulls_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/pulls{/number}","milestones_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/milestones{/number}","notifications_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/labels{/name}","releases_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/releases{/id}","deployments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/deployments","created_at":"2020-04-25T17:58:44Z","updated_at":"2021-05-19T11:31:55Z","pushed_at":"2021-05-19T11:32:19Z","git_url":"git://github.com/mergifyio-testing/functional-testing-repo.git","ssh_url":"git@github.com:mergifyio-testing/functional-testing-repo.git","clone_url":"https://github.com/mergifyio-testing/functional-testing-repo.git","svn_url":"https://github.com/mergifyio-testing/functional-testing-repo","homepage":null,"size":2,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":1,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":1,"open_issues":0,"watchers":0,"default_branch":"20210519113216/test_backport_merge_commit_regexes/master","permissions":{"admin":true,"push":true,"pull":true},"allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"delete_branch_on_merge":false,"organization":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"network_count":1,"subscribers_count":0}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-OAuth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
    status_code: 200
- request:
    body: '{"base": "20210519113216/test_backport_merge_commit_regexes/master", "head":
      "mergify-test2:20210519113216/test_backport_merge_commit_regexes/fork/pr1",
      "title": "test_backport_merge_commit_regexes: pull request n1 from fork", "body":
      "test_backport_merge_commit_regexes: pull request n1 from fork", "draft": false}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo/pulls
  response:
    content: '{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/pulls/11639","id":647564247,"node_id":"MDExOlB1bGxSZXF1ZXN0NjQ3NTY0MjQ3","html_url":"https://github.com/mergifyio-testing/functional-testing-repo/pull/11639","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo/pull/11639.diff","patch_url":"https://github.com/mergifyio-testing/functional-testing-repo/pull/11639.patch","issue_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/issues/11639","number":11639,"state":"open","locked":false,"title":"test_backport_merge_commit_regexes:
      pull request n1 from fork","user":{"login":"mergify-test2","id":38495008,"node_id":"MDQ6VXNlcjM4NDk1MDA4","avatar_url":"https://avatars.githubusercontent.com/u/38495008?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-test2","html_url":"https://github.com/mergify-test2","followers_url":"https://api.github.com/users/mergify-test2/followers","following_url":"https://api.github.com/users/mergify-test2/following{/other_user}","gists_url":"https://api.github.com/users/mergify-test2/gists{/gist_id}","starred_url":"https://api.github.com/users/mergify-test2/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergify-test2/subscriptions","organizations_url":"https://api.github.com/users/mergify-test2/orgs","repos_url":"https://api.github.com/users/mergify-test2/repos","events_url":"https://api.github.com/users/mergify-test2/events{/privacy}","received_events_url":"https://api.github.com/users/mergify-test2/received_events","type":"User","site_admin":false},"body":"test_backport_merge_commit_regexes:
      pull request n1 from fork","created_at":"2021-05-19T11:32:26Z","updated_at":"2021-05-19T11:32:26Z","closed_at":null,"merged_at":null,"merge_commit_sha":null,"assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/pulls/11639/commits","review_comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/pulls/11639/comments","review_comment_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/pulls/comments{/number}","comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/issues/11639/comments","statuses_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/statuses/31c733f1b29ef3b044eef56a75fcec05124736ef","head":{"label":"mergify-test2:20210519113216/test_backport_merge_commit_regexes/fork/pr1","ref":"20210519113216/test_backport_merge_commit_regexes/fork/pr1","sha":"31c733f1b29ef3b044eef56a75fcec05124736ef","user":{"login":"mergify-test2","id":38495008,"node_id":"MDQ6VXNlcjM4NDk1MDA4","avatar_url":"https://avatars.githubusercontent.com/u/38495008?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-test2","html_url":"https://github.com/mergify-test2","followers_url":"https://api.github.com/users/mergify-test2/followers","following_url":"https://api.github.com/users/mergify-test2/following{/other_user}","gists_url":"https://api.github.com/users/mergify-test2/gists{/gist_id}","starred_url":"https://api.github.com/users/mergify-test2/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergify-test2/subscriptions","organizations_url":"https://api.github.com/users/mergify-test2/orgs","repos_url":"https://api.github.com/users/mergify-test2/repos","events_url":"https://api.github.com/users/mergify-test2/events{/privacy}","received_events_url":"https://api.github.com/users/mergify-test2/received_events","type":"User","site_admin":false},"repo":{"id":258840424,"node_id":"MDEwOlJlcG9zaXRvcnkyNTg4NDA0MjQ=","name":"functional-testing-repo","full_name":"mergify-test2/functional-testing-repo","private":false,"owner":{"login":"mergify-test2","id":38495008,"node_id":"MDQ6VXNlcjM4NDk1MDA4","avatar_url":"https://avatars.githubusercontent.com/u/38495008?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-test2","html_url":"https://github.com/mergify-test2","followers_url":"https://api.github.com/users/mergify-test2/followers","foll[...]
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: GET
    uri: https://test-forwarder.mergify.io/events-testing?counter=1
  response:
    content: '[{"id":"df7341da-b895-11eb-87c7-6c2895b0b50e","type":"push","payload":{"ref":"refs/heads/20210519113216/test_backport_merge_commit_regexes/master","before":"0000000000000000000000000000000000000000","after":"d3cb7a457e3ab473fa4a3d4cc61670e1909925ac","repository":{"id":258840104,"node_id":"MDEwOlJlcG9zaXRvcnkyNTg4NDAxMDQ=","name":"functional-testing-repo","full_name":"mergifyio-testing/functional-testing-repo","private":false,"owner":{"name":"mergifyio-testing","email":null,"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followe[...]
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: GET
    uri: https://test-forwarder.mergify.io/events-testing?counter=2
  response:
    content: '[{"id":"e333e900-b895-11eb-916c-e9a6d1cb95c2","type":"pull_request","payload":{"action":"opened","number":11639,"pull_request":{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/pulls/11639","id":647564247,"node_id":"MDExOlB1bGxSZXF1ZXN0NjQ3NTY0MjQ3","html_url":"https://github.com/mergifyio-testing/functional-testing-repo/pull/11639","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo/pull/11639.diff","patch_url":"https://github.com/mergifyio-testing/functional-testing-repo/pull/11639.patch","issue_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-re[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo/pulls/11639
  response:
    content: '{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/pulls/11639","id":647564247,"node_id":"MDExOlB1bGxSZXF1ZXN0NjQ3NTY0MjQ3","html_url":"https://github.com/mergifyio-testing/functional-testing-repo/pull/11639","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo/pull/11639.diff","p[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo/pulls/11639/commits
  response:
    content: '[{"sha":"e97a6faac299451178de549313034b294118e96f","node_id":"MDY6Q29tbWl0MjU4ODQwNDI0OmU5N2E2ZmFhYzI5OTQ1MTE3OGRlNTQ5MzEzMDM0YjI5NDExOGU5NmY=","commit":{"author":{"name":"mergify-tester","email":"noreply@mergify.io","date":"2021-05-19T11:32:23Z"},"committer":{"name":"mergify-tester","email":"noreply@mergify.io","date":"2021-05-19T11:32:23Z"},"message":"test_backport_merge_commit_regexes:
      pull request n1 from fork","tree":{"sha":"2c18483c93e72508e1cb9bd939be276fc52f33c4","url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/git/trees/2c18483c93e72508e1cb9bd939be276fc52f33c4"},"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/git/commits/e97a6faac299451178de549313034b294118e96f","comment_count":0,"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}},"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/commits/e97a6faac299451178de549313034b294118e96f","html_url":"https://github.com/mergifyio-testing/functional-testing-repo/commit/e97a6faac299451178de549313034b294118e96f","comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/commits/e97a6faac299451178de549313034b294118e96f/comments","author":null,"committer":null,"parents":[{"sha":"d3cb7a457e3ab473fa4a3d4cc61670e1909925ac","url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/commits/d3cb7a457e3ab473fa4a3d4cc61670e1909925ac","html_url":"https://github.com/mergifyio-testing/functional-testing-repo/commit/d3cb7a457e3ab473fa4a3d4cc61670e1909925ac"}]},{"sha":"31c733f1b29ef3b044eef56a75fcec05124736ef","node_id":"MDY6Q29tbWl0MjU4ODQwNDI0OjMxYzczM2YxYjI5ZWYzYjA0NGVlZjU2YTc1ZmNlYzA1MTI0NzM2ZWY=","commit":{"author":{"name":"mergify-tester","email":"[...]
[...]
- request:
    body: '{"name": "backport-#3.1", "color": "000000"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo/labels
  response:
    content: '{"id":3013094515,"node_id":"MDU6TGFiZWwzMDEzMDk0NTE1","url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/labels/backport-%233.1","name":"backport-#3.1","color":"000000","default":false,"description":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.github.com/repos/mergifyio-testing/functional-testing-repo/labels/backport-%233.1
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-OAuth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
    status_code: 201
- request:
    body: '{"labels": ["backport-#3.1"]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo/issues/11639/labels
  response:
    content: '[{"id":3013094515,"node_id":"MDU6TGFiZWwzMDEzMDk0NTE1","url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/labels/backport-%233.1","name":"backport-#3.1","color":"000000","default":false,"description":null}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-OAuth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
    status_code: 200
[...]
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/users/mergifyio-testing/installation
  response:
    content: '{"id":15398551,"account":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"repository_selection":"all","access_tokens_url":"https://api.github.com/app/installations/15398551/access_tokens","repositories_url":"https://api.github.com/installation/repositories","html_url":"https://github.com/organizations/mergifyio-testing/settings/installations/15398551","app_id":11221,"app_slug":"mergify-test","target_id":40527191,"target_type":"Organization","permissions":{"pages":"write","checks":"write","issues":"write","members":"read","contents":"write","metadata":"read","statuses":"read","pull_requests":"write"},"events":["check_run","check_suite","issue_comment","pull_request","pull_request_review","pull_request_review_comment","push","status"],"created_at":"2021-03-15T16:12:17.000Z","updated_at":"2021-03-15T16:12:17.000Z","single_file_name":null,"has_multiple_single_files":false,"single_file_paths":[],"suspended_by":null,"suspended_at":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; format=json
    status_code: 200
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: POST
    uri: https://api.github.com/app/installations/15398551/access_tokens
  response:
    content: '{"token": "<TOKEN>", "expires_at": "2021-05-19T12:32:39Z", "permissions":
      {"members": "read", "checks": "write", "contents": "write", "issues": "write",
      "metadata": "read", "pages": "write", "pull_requests": "write", "statuses":
      "read"}, "repository_selection": "all"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; format=json
    status_code: 201
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo/contents/.mergify.yml
  response:
    content: '{"name":".mergify.yml","path":".mergify.yml","sha":"178915754643d8453409d3332b9555beb78b6962","size":503,"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/contents/.mergify.yml?ref=20210519113216/test_backport_merge_commit_regexes/master","html_url":"https://github.com/mergifyio-testing/functional-testing-repo/blob/20210519113216/test_backport_merge_commit_regexes/master/.mergify.yml","git_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/git/blobs/178915754643d8453409d3332b9555beb78b6962","download_url":"https://raw.githubusercontent.com/mergifyio-testing/functional-testing-repo/20210519113216/test_backport_merge_commit_regexes/master/.mergify.yml","type":"file","content":"cHVsbF9yZXF1ZXN0X3J1bGVzOgotIGFjdGlvbnM6CiAgICBtZXJnZToKICAg\nICAgbWV0aG9kOiBtZXJnZQogICAgICByZWJhc2VfZmFsbGJhY2s6IG51bGwK\nICBjb25kaXRpb25zOgogIC0gYmFzZT0yMDIxMDUxOTExMzIxNi90ZXN0X2Jh\nY2twb3J0X21lcmdlX2NvbW1pdF9yZWdleGVzL21hc3RlcgogIC0gbGFiZWw9\nYmFja3BvcnQtIzMuMQogIG5hbWU6IE1lcmdlIG9uIG1hc3RlcgotIGFjdGlv\nbnM6CiAgICBiYWNrcG9ydDoKICAgICAgYXNzaWduZWVzOgogICAgICAtIG1l\ncmdpZnktdGVzdDMKICAgICAgcmVnZXhlczoKICAgICAgLSBeMjAyMTA1MTkx\nMTMyMTYvdGVzdF9iYWNrcG9ydF9tZXJnZV9jb21taXRfcmVnZXhlcy9zdGFi\nbGUvLiokCiAgY29uZGl0aW9uczoKICAtIGJhc2U9MjAyMTA1MTkxMTMyMTYv\ndGVzdF9iYWNrcG9ydF9tZXJnZV9jb21taXRfcmVnZXhlcy9tYXN0ZXIKICAt\nIGxhYmVsPWJhY2twb3J0LSMzLjEKICBuYW1lOiBCYWNrcG9ydCB0byBzdGFi\nbGUvIzMuMQo=\n","encoding":"base64","_links":{"self":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/contents/.mergify.yml?ref=20210519113216/test_backport_merge_commit_regexes/master","git":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/git/blobs/178915754643d8453409d3332b9555beb78b6962","html":"https://github.com/mergifyio-testing/functional-testing-repo/blob/20210519113216/test_backport_merge_commit_regexes/master/.mergify.yml"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; format=json
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo/pulls/11639/files?per_page=100
  response:
    content: '[{"sha":"e69de29bb2d1d6434b8b29ae775ad8c2e48c5391","filename":"test1-moved","status":"added","additions":0,"deletions":0,"changes":0,"blob_url":"https://github.com/mergifyio-testing/functional-testing-repo/blob/31c733f1b29ef3b044eef56a75fcec05124736ef/test1-moved","raw_url":"https://github.com/mergifyio-testing/functional-testing-repo/raw/31c733f1b29ef3b044eef56a75fcec05124736ef/test1-moved","contents_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/contents/test1-moved?ref=31c733f1b29ef3b044eef56a75fcec05124736ef"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; format=json
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo/issues/11639/comments
  response:
    content: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; format=json
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo/commits/31c733f1b29ef3b044eef56a75fcec05124736ef/check-runs
  response:
    content: '{"total_count":0,"check_runs":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; format=json
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo/branches/20210519113216%2Ftest_backport_merge_commit_regexes%2Fmaster
  response:
    content: '{"name":"20210519113216/test_backport_merge_commit_regexes/master","commit":{"sha":"d3cb7a457e3ab473fa4a3d4cc61670e1909925ac","node_id":"MDY6Q29tbWl0MjU4ODQwMTA0OmQzY2I3YTQ1N2UzYWI0NzNmYTRhM2Q0Y2M2MTY3MGUxOTA5OTI1YWM=","commit":{"author":{"name":"mergify-tester","email":[...]
- request:
    body: '{"sha": "31c733f1b29ef3b044eef56a75fcec05124736ef", "merge_method": "merge"}'
    headers:
      content-type:
      - application/json
    method: PUT
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo/pulls/11639/merge
  response:
    content: '{"sha":"992dc6de7d733f7fc5349a7f3ea2be5fa3d8c9e2","merged":true,"message":"Pull
      Request successfully merged"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; format=json
    status_code: 200
[...]
- request:
    body: '{"name": "Rule: Merge on master (merge)", "head_sha": "31c733f1b29ef3b044eef56a75fcec05124736ef",
      "status": "completed", "started_at": "2021-05-19T11:32:42.282126+00:00", "details_url":
      "https://github.com/mergifyio-testing/functional-testing-repo/pull/11639/checks",
      "output": {"title": "The pull request has been merged automatically", "summary":
      "The pull request has been merged automatically at *992dc6de7d733f7fc5349a7f3ea2be5fa3d8c9e2*"},
      "conclusion": "success", "completed_at": "2021-05-19T11:32:42.282144+00:00"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo/check-runs
  response:
[...]
