interactions:
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/user
  response:
    content: '{"login":"mergify-test1","id":38494943,"node_id":"MDQ6VXNlcjM4NDk0OTQz","avatar_url":"https://avatars.githubusercontent.com/u/38494943?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-test1","html_url":"https://github.com/mergify-test1","followers_url":"https://api.github.com/users/mergify-test1/followers","following_url":"https://api.github.com/users/mergify-test1/following{/other_user}","gists_url":"https://api.github.com/users/mergify-test1/gists{/gist_id}","starred_url":"https://api.github.com/users/mergify-test1/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergify-test1/subscriptions","organizations_url":"https://api.github.com/users/mergify-test1/orgs","repos_url":"https://api.github.com/users/mergify-test1/repos","events_url":"https://api.github.com/users/mergify-test1/events{/privacy}","received_events_url":"https://api.github.com/users/mergify-test1/received_events","type":"User","site_admin":false,"name":"mergify-test-user-1","company":"@mergifyio","blog":"https://mergify.io","location":null,"email":null,"hireable":null,"bio":"This
      account is for testing purpose of the workflow of the GitHub App @mergifyio","twitter_username":"mergifyio","public_repos":0,"public_gists":0,"followers":0,"following":0,"created_at":"2018-04-18T10:42:59Z","updated_at":"2021-09-15T15:03:25Z","private_gists":0,"total_private_repos":0,"owned_private_repos":0,"disk_usage":0,"collaborators":0,"two_factor_authentication":false,"plan":{"name":"free","space":976562499,"collaborators":0,"private_repos":10000}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-OAuth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
    status_code: 200
[...]
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/user/40527191/installation
  response:
    content: '{"id":15398551,"account":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"repository_selection":"all","access_tokens_url":"https://api.github.com/app/installations/15398551/access_tokens","repositories_url":"https://api.github.com/installation/repositories","html_url":"https://github.com/organizations/mergifyio-testing/settings/installations/15398551","app_id":11221,"app_slug":"mergify-test","target_id":40527191,"target_type":"Organization","permissions":{"pages":"write","checks":"write","issues":"write","members":"read","contents":"write","metadata":"read","statuses":"read","workflows":"write","pull_requests":"write","administration":"read"},"events":["check_run","check_suite","issue_comment","merge_queue_entry","pull_request","pull_request_review","pull_request_review_comment","push","status"],"created_at":"2021-03-15T16:12:17.000Z","updated_at":"2021-09-28T07:54:06.000Z","single_file_name":null,"has_multiple_single_files":false,"single_file_paths":[],"suspended_by":null,"suspended_at":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; format=json
    status_code: 200
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: POST
    uri: https://api.github.com/app/installations/15398551/access_tokens
  response:
    content: '{"token": "<TOKEN>", "expires_at": "2021-10-14T17:32:28Z", "permissions":
      {"members": "read", "administration": "read", "checks": "write", "contents":
      "write", "issues": "write", "metadata": "read", "pages": "write", "pull_requests":
      "write", "statuses": "read", "workflows": "write"}, "repository_selection":
      "all"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; format=json
    status_code: 201
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/repositories/399462964
  response:
    content: '{"id":399462964,"node_id":"MDEwOlJlcG9zaXRvcnkzOTk0NjI5NjQ=","name":"functional-testing-repo-ErwanSimonetti","full_name":"mergifyio-testing/functional-testing-repo-ErwanSimonetti","private":false,"owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/mergifyio-testing/functional-testing-repo-ErwanSimonetti","description":"this
      is a test description","fork":false,"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti","forks_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/forks","keys_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/keys{/key_id}","collaborators_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/teams","hooks_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/hooks","issue_events_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/issues/events{/number}","events_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/events","assignees_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/assignees{/user}","branches_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/branches{/branch}","tags_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/tags","blobs_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/git/refs{/sha}","trees_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/git/trees{/sha}","statuses_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/statuses/{sha}","languages_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/languages","stargazers_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/stargazers","contributors_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/contributors","subscribers_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/subscribers","subscription_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/subscription","commits_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/commits{/sha}","git_commits_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/git/commits{/sha}","comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/comments{/number}","issue_comment_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/issues/comments{/number}","contents_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/contents/{+path}","compare_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/compare/{base}...{head}","merges_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/merges","archive_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/downloads","issues_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/issues{/number}","pulls_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/pulls{/number}","milestones_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/milestones{/number}","notifications_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/labels{/name}","releases_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/releases{/id}","deployments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/deployments","created_at":"2021-08-24T12:50:13Z","updated_at":"2021-10-14T16:30:26Z","pushed_at":"2021-10-14T16:32:26Z","git_url":"git://github.com/mergifyio-testing/functional-testing-repo-ErwanSimonetti.git","ssh_url":"git@github.com:mergifyio-testing/functional-testing-repo-ErwanSimonetti.git","clone_url":"https://github.com/mergifyio-testing/functional-testing-repo-ErwanSimonetti.git","svn_url":"https://github.com/mergifyio-testing/functional-testing-repo-ErwanSimonetti","homepage":"","size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":1,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"allow_forking":true,"is_template":false,"topics":[],"visibility":"public","forks":1,"open_issues":0,"watchers":0,"default_branch":"main","permissions":{"admin":false,"maintain":false,"push":false,"triage":false,"pull":false},"temp_clone_token":"","allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"allow_auto_merge":false,"delete_branch_on_merge":false,"organization":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"network_count":1,"subscribers_count":0}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 200
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: DELETE
    uri: https://test-forwarder.mergify.io/events/github.com/11221/399462964
  response:
    content: Event queued
    headers:
    status_code: 202
- request:
    body: '{"default_branch": "20211014163227/test_merge_github_workflow/main"}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti
  response:
    content: '{"id":399462964,"node_id":"MDEwOlJlcG9zaXRvcnkzOTk0NjI5NjQ=","name":"functional-testing-repo-ErwanSimonetti","full_name":"mergifyio-testing/functional-testing-repo-ErwanSimonetti","private":false,"owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercon[...]
- request:
    body: '{"base": "20211014163227/test_merge_github_workflow/main", "head": "mergify-test2:20211014163227/test_merge_github_workflow/fork/pr1",
      "title": "test_merge_github_workflow: pull request n1 from fork", "body": "test_merge_github_workflow:
      pull request n1 from fork", "draft": false}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/pulls
  response:
    content: '{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/pulls/1650","id":758516912,"node_id":"PR_kwDOF89SNM4tNgyw","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-ErwanSimonetti/pull/1650","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo-ErwanSimonetti/pull/1650.diff","patch_url":"https://github.com/mergifyio-testing/functional-testing-repo-ErwanSimonetti/pull/1650.patch","issue_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/issues/1650","number":1650,"state":"open","locked":false,"title":"test_merge_github_workflow:
      pull request n1 from fork","user":{"login":"mergify-test2","id":38495008,"node_id":"MDQ6VXNlcjM4NDk1MDA4","avatar_url":"https://avatars.githubusercontent.com/u/38495008?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-test2","html_url":"https://github.com/mergify-test2","followers_url":"https://api.github.com/users/mergify-test2/followers","following_url":"https://api.github.com/users/mergify-test2/following{/other_user}","gists_url":"https://api.github.com/users/mergify-test2/gists{/gist_id}","starred_url":"https://api.github.com/users/mergify-test2/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergify-test2/subscriptions","organizations_url":"https://api.github.com/users/mergify-test2/orgs","repos_url":"https://api.github.com/users/mergify-test2/repos","events_url":"https://api.github.com/users/mergify-test2/events{/privacy}","received_events_url":"https://api.github.com/users/mergify-test2/received_events","type":"User","site_admin":false},"body":"test_merge_github_workflow:
      pull request n1 from fork","created_at":"2021-10-14T16:32:34Z","updated_at":"2021-10-14T16:32:34Z","closed_at":null,"merged_at":null,"merge_commit_sha":null,"assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/pulls/1650/commits","review_comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/pulls/1650/comments","review_comment_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/pulls/comments{/number}","comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/issues/1650/comments","statuses_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/statuses/d8fcf16164612c2d2e6a1cb8de54501f92cae100","head":{"label":"mergify-test2:20211014163227/test_merge_github_workflow/fork/pr1","ref":"20211014163227/test_merge_github_workflow/fork/pr1","sha":"d8fcf16164612c2d2e6a1cb8de54501f92cae100","user":{"login":"mergify-test2","id":38495008,"node_id":"MDQ6VXNlcjM4NDk1MDA4","avatar_url":"https://avatars.githubusercontent.com/u/38495008?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-test2","html_url":"https://github.com/mergify-test2","followers_url":"https://api.github.com/users/mergify-test2/followers","following_url":"https://api.github.com/users/mergify-test2/following{/other_user}","gists_url":"https://api.github.com/users/mergify-test2/gists{/gist_id}","starred_url":"https://api.github.com/users/mergify-test2/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergify-test2/subscriptions","organizations_url":"https://api.github.com/users/mergify-test2/orgs","repos_url":"https://api.github.com/users/mergify-test2/repos","events_url":"https://api.github.com/users/mergify-test2/events{/privacy}","received_events_url":"https://api.github.com/users/mergify-test2/received_events","type":"User","site_admin":false},"repo":{"id":399463576,"node_id":"MDEwOlJlcG9zaXRvcnkzOTk0NjM1NzY=","name":"functional-testing-repo-ErwanSimonetti","full_name":"mergify-test2/functional-testing-repo-ErwanSimonetti","private":false,"owner":{"login":"mergify-test2","id":38495008,"node_id":"MDQ6VXNlcjM4NDk1MDA4","avatar_url":"https://avatars.githubusercontent.com/u/38495008?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-test2","html_url":"https://github.com/mergify-test2","followers_url":"https://api.github.com/users/[...]
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: GET
    uri: https://test-forwarder.mergify.io/events/github.com/11221/399462964?counter=1
  response:
    content: '[{"id":"53afc8b2-2d0c-11ec-93d4-464c74e07fe9","type":"push","payload":{"ref":"refs/heads/20211014163227/test_merge_github_workflow/main","before":"0000000000000000000000000000000000000000","after":"283db8494cf00116991515f81edea726389552d8","repository":{"id":399462964,"node_id":"MDEwOlJlcG9zaXRvcnkzOTk0NjI5NjQ=","name":"functional-testing-repo-ErwanSimonetti","full_name":"mergifyio-testing/functional-testing-repo-ErwanSimonetti","private":false,"owner":{"name":"mergifyio-testing","email":null,"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.c[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/pulls/1650
  response:
    content: '{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/pulls/1650","id":758516912,"node_id":"PR_kwDOF89SNM4tNgyw","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-ErwanSimonetti/pull/1650","diff_url":"https://github.com/mergifyio-testing/functional-tes[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/pulls/1650/commits?per_page=100
  response:
    content: '[{"sha":"d8fcf16164612c2d2e6a1cb8de54501f92cae100","node_id":"C_kwDOF89UmNoAKGQ4ZmNmMTYxNjQ2MTJjMmQyZTZhMWNiOGRlNTQ1MDFmOTJjYWUxMDA","commit":{"author":{"name":"mergify-tester","email":"noreply@mergify.io","date":"2021-10-14T16:32:32Z"},"committer":{"name":"mergify-tester","email":"noreply@mergify.io","date":"2021-10-14T16:32:32Z"},"message":"test_merge_github_workflow:
      pull request n1 from fork","tree":{"sha":"93e88748b46195c5465d63f284d9fa946b4d2288","url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/git/trees/93e88748b46195c5465d63f284d9fa946b4d2288"},"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/git/commits/d8fcf16164612c2d2e6a1cb8de54501f92cae100","comment_count":0,"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}},"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/commits/d8fcf16164612c2d2e6a1cb8de54501f92cae100","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-ErwanSimonetti/commit/d8fcf16164612c2d2e6a1cb8de54501f92cae100","comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/commits/d8fcf16164612c2d2e6a1cb8de54501f92cae100/comments","author":null,"committer":null,"parents":[{"sha":"283db8494cf00116991515f81edea726389552d8","url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/commits/283db8494cf00116991515f81edea726389552d8","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-ErwanSimonetti/commit/283db8494cf00116991515f81edea726389552d8"}]}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
      X-OAuth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
    status_code: 200
- request:
    body: '{"name": "automerge", "color": "000000"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/labels
  response:
    content: '{"id":3451039682,"node_id":"LA_kwDOF89SNM7Nsq_C","url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/labels/automerge","name":"automerge","color":"000000","default":false,"description":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/labels/automerge
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
      X-OAuth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
    status_code: 201
- request:
    body: '{"labels": ["automerge"]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/issues/1650/labels
  response:
    content: '[{"id":3451039682,"node_id":"LA_kwDOF89SNM7Nsq_C","url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/labels/automerge","name":"automerge","color":"000000","default":false,"description":null}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
      X-OAuth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
    status_code: 200
[...]
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: GET
    uri: https://test-forwarder.mergify.io/events/github.com/11221/399462964?counter=3
  response:
    content: '[{"id":"58363dd0-2d0c-11ec-95f5-e1f5b7a6d407","type":"pull_request","payload":{"action":"labeled","number":1650,"pull_request":{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/pulls/1650","id":758516912,"node_id":"PR_kwDOF89SNM4tNgyw","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-ErwanSimonetti/pull/1650","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo-ErwanSimonetti/pull/1650.diff","patch_url":"https://github.com/mergifyio-testing/functional-testing-repo-ErwanSimonetti/pull/1650.patch","issue_url":"https://api.github.com/re[...]
[...]
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/repositories/399462964/pulls?per_page=100
  response:
    content: '[{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/pulls/1650","id":758516912,"node_id":"PR_kwDOF89SNM4tNgyw","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-ErwanSimonetti/pull/1650","diff_url":"https://github.com/mergifyio-testing/function[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repositories/399462964/pulls/1650
  response:
    content: '{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/pulls/1650","id":758516912,"node_id":"PR_kwDOF89SNM4tNgyw","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-ErwanSimonetti/pull/1650","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo-ErwanSimonetti/pull/1650.diff"[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/contents/.mergify.yml
  response:
    content: '{"name":".mergify.yml","path":".mergify.yml","sha":"7e54cd4aba34dddcbd5dfa1519d8cd3ead1a4876","size":174,"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/contents/.mergify.yml?ref=20211014163227/test_merge_github_workflow/main","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-ErwanSimonetti/blob/20211014163227/test_merge_github_workflow/main/.mergify.yml","git_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/git/blobs/7e54cd4aba34dddcbd5dfa1519d8cd3ead1a4876","download_url":"https://raw.githubusercontent.com/mergifyio-testing/functional-testing-repo-ErwanSimonetti/20211014163227/test_merge_github_workflow/main/.mergify.yml","type":"file","content":"cHVsbF9yZXF1ZXN0X3J1bGVzOgotIGFjdGlvbnM6CiAgICBtZXJnZToKICAg\nICAgc3RyaWN0OiBzbWFydCtvcmRlcmVkCiAgY29uZGl0aW9uczoKICAtIGJh\nc2U9MjAyMTEwMTQxNjMyMjcvdGVzdF9tZXJnZV9naXRodWJfd29ya2Zsb3cv\nbWFpbgogIC0gbGFiZWw9YXV0b21lcmdlCiAgbmFtZTogTWVyZ2UK\n","encoding":"base64","_links":{"self":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/contents/.mergify.yml?ref=20211014163227/test_merge_github_workflow/main","git":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/git/blobs/7e54cd4aba34dddcbd5dfa1519d8cd3ead1a4876","html":"https://github.com/mergifyio-testing/functional-testing-repo-ErwanSimonetti/blob/20211014163227/test_merge_github_workflow/main/.mergify.yml"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/pulls/1650/files?per_page=100
  response:
    content: '[{"sha":"896266208f3cfc73db7a0191ec2bd9bd45889a17","filename":".github/workflows/foo.yml","status":"added","additions":1,"deletions":0,"changes":1,"blob_url":"https://github.com/mergifyio-testing/functional-testing-repo-ErwanSimonetti/blob/d8fcf16164612c2d2e6a1cb8de54501f92cae100/.github/workflows/foo.yml","raw_url":"https://github.com/mergifyio-testing/functional-testing-repo-ErwanSimonetti/raw/d8fcf16164612c2d2e6a1cb8de54501f92cae100/.github/workflows/foo.yml","contents_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/contents/.github/workflows/foo.yml?ref=d8fcf16164612c2d2e6a1cb8de54501f92cae100","patch":"@@
      -0,0 +1 @@\n+whatever\n\\ No newline at end of file"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
[...]
