interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/user/40527191/installation
  response:
    content: '{"id":15398551,"account":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"repository_selection":"all","access_tokens_url":"https://api.github.com/app/installations/15398551/access_tokens","repositories_url":"https://api.github.com/installation/repositories","html_url":"https://github.com/organizations/mergifyio-testing/settings/installations/15398551","app_id":11221,"app_slug":"mergify-test","target_id":40527191,"target_type":"Organization","permissions":{"pages":"write","checks":"write","issues":"write","members":"read","contents":"write","metadata":"read","statuses":"read","workflows":"write","pull_requests":"write","administration":"read"},"events":["check_run","check_suite","issue_comment","merge_queue_entry","pull_request","pull_request_review","pull_request_review_comment","push","status"],"created_at":"2021-03-15T16:12:17.000Z","updated_at":"2021-09-28T07:54:06.000Z","single_file_name":null,"has_multiple_single_files":false,"single_file_paths":[],"suspended_by":null,"suspended_at":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/user
  response:
    content: '{"login":"mergify-test1","id":38494943,"node_id":"MDQ6VXNlcjM4NDk0OTQz","avatar_url":"https://avatars.githubusercontent.com/u/38494943?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-test1","html_url":"https://github.com/mergify-test1","followers_url":"https://api.github.com/users/mergify-test1/followers","following_url":"https://api.github.com/users/mergify-test1/following{/other_user}","gists_url":"https://api.github.com/users/mergify-test1/gists{/gist_id}","starred_url":"https://api.github.com/users/mergify-test1/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergify-test1/subscriptions","organizations_url":"https://api.github.com/users/mergify-test1/orgs","repos_url":"https://api.github.com/users/mergify-test1/repos","events_url":"https://api.github.com/users/mergify-test1/events{/privacy}","received_events_url":"https://api.github.com/users/mergify-test1/received_events","type":"User","site_admin":false,"name":"mergify-test-user-1","company":"@mergifyio","blog":"https://mergify.io","location":null,"email":null,"hireable":null,"bio":"This
      account is for testing purpose of the workflow of the GitHub App @mergifyio","twitter_username":"mergifyio","public_repos":0,"public_gists":0,"followers":0,"following":0,"created_at":"2018-04-18T10:42:59Z","updated_at":"2021-10-15T15:07:41Z","private_gists":0,"total_private_repos":0,"owned_private_repos":0,"disk_usage":0,"collaborators":0,"two_factor_authentication":false,"plan":{"name":"free","space":976562499,"collaborators":0,"private_repos":10000}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
      X-OAuth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
    status_code: 200
[...]
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: POST
    uri: https://api.github.com/app/installations/15398551/access_tokens
  response:
    content: '{"token": "<TOKEN>", "expires_at": "2021-10-22T07:01:15Z", "permissions":
      {"members": "read", "administration": "read", "checks": "write", "contents":
      "write", "issues": "write", "metadata": "read", "pages": "write", "pull_requests":
      "write", "statuses": "read", "workflows": "write"}, "repository_selection":
      "all"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; format=json
    status_code: 201
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/repositories/399426199
  response:
    content: '{"id":399426199,"node_id":"MDEwOlJlcG9zaXRvcnkzOTk0MjYxOTk=","name":"functional-testing-repo-sileht","full_name":"mergifyio-testing/functional-testing-repo-sileht","private":false,"owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht","description":null,"fork":false,"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht","forks_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/forks","keys_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/keys{/key_id}","collaborators_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/teams","hooks_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/hooks","issue_events_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/issues/events{/number}","events_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/events","assignees_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/assignees{/user}","branches_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/branches{/branch}","tags_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/tags","blobs_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/git/refs{/sha}","trees_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/git/trees{/sha}","statuses_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/statuses/{sha}","languages_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/languages","stargazers_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/stargazers","contributors_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/contributors","subscribers_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/subscribers","subscription_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/subscription","commits_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/commits{/sha}","git_commits_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/git/commits{/sha}","comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/comments{/number}","issue_comment_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/issues/comments{/number}","contents_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/contents/{+path}","compare_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/compare/{base}...{head}","merges_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/merges","archive_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/downloads","issues_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/issues{/number}","pulls_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/pulls{/number}","milestones_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/milestones{/number}","notifications_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/labels{/name}","releases_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/releases{/id}","deployments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/deployments","created_at":"2021-08-24T10:36:34Z","updated_at":"2021-10-22T06:01:01Z","pushed_at":"2021-10-22T06:01:11Z","git_url":"git://github.com/mergifyio-testing/functional-testing-repo-sileht.git","ssh_url":"git@github.com:mergifyio-testing/functional-testing-repo-sileht.git","clone_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht.git","svn_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":1,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"allow_forking":true,"is_template":false,"topics":[],"visibility":"public","forks":1,"open_issues":0,"watchers":0,"default_branch":"main","permissions":{"admin":false,"maintain":false,"push":false,"triage":false,"pull":false},"temp_clone_token":"","allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"allow_auto_merge":false,"delete_branch_on_merge":false,"organization":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"network_count":1,"subscribers_count":0}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 200
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: DELETE
    uri: https://test-forwarder.mergify.io/events/github.com/11221/399426199
  response:
    content: Event queued
    headers:
    status_code: 202
- request:
    body: '{"default_branch": "20211022060114/test_first_batch_split_queue/main"}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht
  response:
    content: '{"id":399426199,"node_id":"MDEwOlJlcG9zaXRvcnkzOTk0MjYxOTk=","name":"functional-testing-repo-sileht","full_name":"mergifyio-testing/functional-testing-repo-sileht","private":false,"owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4"[...]
- request:
    body: '{"base": "20211022060114/test_first_batch_split_queue/main", "head": "mergify-test2:20211022060114/test_first_batch_split_queue/fork/pr1",
      "title": "test_first_batch_split_queue: pull request n1 from fork", "body":
      "test_first_batch_split_queue: pull request n1 from fork", "draft": false}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/pulls
  response:
    content: '{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/pulls/2676","id":763886566,"node_id":"PR_kwDOF87Cl84th_vm","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht/pull/2676","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht/pull/2676.diff","patch_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht/pull/2676.patch","issue_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/issues/2676","number":2676,"state":"open","locked":false,"title":"test_first_batch_split_queue:
      pull request n1 from fork","user":{"login":"mergify-test2","id":38495008,"node_id":"MDQ6VXNlcjM4NDk1MDA4","avatar_url":"https://avatars.githubusercontent.com/u/38495008?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-test2","html_url":"https://github.com/mergify-test2","followers_url":"https://api.github.com/users/mergify-test2/followers","following_url":"https://api.github.com/users/mergify-test2/following{/other_user}","gists_url":"https://api.github.com/users/mergify-test2/gists{/gist_id}","starred_url":"https://api.github.com/users/mergify-test2/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergify-test2/subscriptions","organizations_url":"https://api.github.com/users/mergify-test2/orgs","repos_url":"https://api.github.com/users/mergify-test2/repos","events_url":"https://api.github.com/users/mergify-test2/events{/privacy}","received_events_url":"https://api.github.com/users/mergify-test2/received_events","type":"User","site_admin":false},"body":"test_first_batch_split_queue:
      pull request n1 from fork","created_at":"2021-10-22T06:01:28Z","updated_at":"2021-10-22T06:01:28Z","closed_at":null,"merged_at":null,"merge_commit_sha":null,"assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/pulls/2676/commits","review_comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/pulls/2676/comments","review_comment_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/pulls/comments{/number}","comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/issues/2676/comments","statuses_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/statuses/73fee70b23eb3c4f7a11d71733c6e08dcbadf8de","head":{"label":"mergify-test2:20211022060114/test_first_batch_split_queue/fork/pr1","ref":"20211022060114/test_first_batch_split_queue/fork/pr1","sha":"73fee70b23eb3c4f7a11d71733c6e08dcbadf8de","user":{"login":"mergify-test2","id":38495008,"node_id":"MDQ6VXNlcjM4NDk1MDA4","avatar_url":"https://avatars.githubusercontent.com/u/38495008?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-test2","html_url":"https://github.com/mergify-test2","followers_url":"https://api.github.com/users/mergify-test2/followers","following_url":"https://api.github.com/users/mergify-test2/following{/other_user}","gists_url":"https://api.github.com/users/mergify-test2/gists{/gist_id}","starred_url":"https://api.github.com/users/mergify-test2/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergify-test2/subscriptions","organizations_url":"https://api.github.com/users/mergify-test2/orgs","repos_url":"https://api.github.com/users/mergify-test2/repos","events_url":"https://api.github.com/users/mergify-test2/events{/privacy}","received_events_url":"https://api.github.com/users/mergify-test2/received_events","type":"User","site_admin":false},"repo":{"id":399456174,"node_id":"MDEwOlJlcG9zaXRvcnkzOTk0NTYxNzQ=","name":"functional-testing-repo-sileht","full_name":"mergify-test2/functional-testing-repo-sileht","private":false,"owner":{"login":"mergify-test2","id":38495008,"node_id":"MDQ6VXNlcjM4NDk1MDA4","avatar_url":"https://avatars.githubusercontent.com/u/38495008?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-test2","html_url":"https://github.com/mergify-test2","followers_url":"https://api.github.com/users/mergify-test2/fo[...]
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: GET
    uri: https://test-forwarder.mergify.io/events/github.com/11221/399426199?counter=1
  response:
    content: '[{"id":"7befbc8c-32fd-11ec-9072-5eaa1f5fac99","type":"push","payload":{"ref":"refs/heads/20211022060114/test_first_batch_split_queue/main","before":"0000000000000000000000000000000000000000","after":"a6b3ad1afaeff9c5d958dec19c24ce6d59362de8","repository":{"id":399426199,"node_id":"MDEwOlJlcG9zaXRvcnkzOTk0MjYxOTk=","name":"functional-testing-repo-sileht","full_name":"mergifyio-testing/functional-testing-repo-sileht","private":false,"owner":{"name":"mergifyio-testing","email":null,"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-tes[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/pulls/2676
  response:
    content: '{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/pulls/2676","id":763886566,"node_id":"PR_kwDOF87Cl84th_vm","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht/pull/2676","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht/pull/26[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/pulls/2676/commits?per_page=100
  response:
    content: '[{"sha":"73fee70b23eb3c4f7a11d71733c6e08dcbadf8de","node_id":"C_kwDOF883rtoAKDczZmVlNzBiMjNlYjNjNGY3YTExZDcxNzMzYzZlMDhkY2JhZGY4ZGU","commit":{"author":{"name":"mergify-tester","email":"noreply@mergify.io","date":"2021-10-22T06:01:25Z"},"committer":{"name":"mergify-tester","email":"noreply@mergify.io","date":"2021-10-22T06:01:25Z"},"message":"test_first_batch_split_queue:
      pull request n1 from fork","tree":{"sha":"043fc92b1ce8e704fd3df28695f3cdc16a6ec495","url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/git/trees/043fc92b1ce8e704fd3df28695f3cdc16a6ec495"},"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/git/commits/73fee70b23eb3c4f7a11d71733c6e08dcbadf8de","comment_count":0,"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}},"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/commits/73fee70b23eb3c4f7a11d71733c6e08dcbadf8de","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht/commit/73fee70b23eb3c4f7a11d71733c6e08dcbadf8de","comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/commits/73fee70b23eb3c4f7a11d71733c6e08dcbadf8de/comments","author":null,"committer":null,"parents":[{"sha":"a6b3ad1afaeff9c5d958dec19c24ce6d59362de8","url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/commits/a6b3ad1afaeff9c5d958dec19c24ce6d59362de8","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht/commit/a6b3ad1afaeff9c5d958dec19c24ce6d59362de8"}]}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
      X-OAuth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
    status_code: 200
[...]
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: GET
    uri: https://test-forwarder.mergify.io/events/github.com/11221/399426199?counter=2
  response:
    content: '[{"id":"8362fce0-32fd-11ec-8131-a2103a40608b","type":"pull_request","payload":{"action":"opened","number":2677,"pull_request":{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/pulls/2677","id":763886627,"node_id":"PR_kwDOF87Cl84th_wj","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht/pull/2677","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht/pull/2677.diff","patch_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht/pull/2677.patch","issue_url":"https://api.github.com/repos/mergifyio-testing/functional[...]
[...]
- request:
    body: ''
    headers:
    method: PUT
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/pulls/2678/merge
  response:
    content: '{"sha":"29df8badf91f1031754c114bdb5c028a020dda72","merged":true,"message":"Pull
      Request successfully merged"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
      X-OAuth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
    status_code: 200
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repositories/399426199/pulls?per_page=100
  response:
    content: '[{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/pulls/2677","id":763886627,"node_id":"PR_kwDOF87Cl84th_wj","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht/pull/2677","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht/pull/2677.diff","patch_url":"h[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repositories/399426199/pulls/2676
  response:
    content: '{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/pulls/2676","id":763886566,"node_id":"PR_kwDOF87Cl84th_vm","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht/pull/2676","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht/pull/2676.diff","patch_url":"https://gi[...]
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/contents/.mergify.yml
  response:
    content: '{"name":".mergify.yml","path":".mergify.yml","sha":"d502db1dde65582fe54046b10bd909cf3e65b259","size":332,"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/contents/.mergify.yml?ref=20211022060114/test_first_batch_split_queue/main","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht/blob/20211022060114/test_first_batch_split_queue/main/.mergify.yml","git_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/git/blobs/d502db1dde65582fe54046b10bd909cf3e65b259","download_url":"https://raw.githubusercontent.com/mergifyio-testing/functional-testing-repo-sileht/20211022060114/test_first_batch_split_queue/main/.mergify.yml","type":"file","content":"cHVsbF9yZXF1ZXN0X3J1bGVzOgotIGFjdGlvbnM6CiAgICBxdWV1ZToKICAg\nICAgbmFtZTogZGVmYXVsdAogICAgICBwcmlvcml0eTogaGlnaAogIGNvbmRp\ndGlvbnM6CiAgLSBiYXNlPTIwMjExMDIyMDYwMTE0L3Rlc3RfZmlyc3RfYmF0\nY2hfc3BsaXRfcXVldWUvbWFpbgogIC0gbGFiZWw9cXVldWUKICBuYW1lOiBN\nZXJnZSBwcmlvcml0eSBoaWdoCnF1ZXVlX3J1bGVzOgotIGJhdGNoX3NpemU6\nIDMKICBjb25kaXRpb25zOgogIC0gc3RhdHVzLXN1Y2Nlc3M9Y29udGludW91\ncy1pbnRlZ3JhdGlvbi9mYWtlLWNpCiAgbmFtZTogZGVmYXVsdAogIHNwZWN1\nbGF0aXZlX2NoZWNrczogMgo=\n","encoding":"base64","_links":{"self":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/contents/.mergify.yml?ref=20211022060114/test_first_batch_split_queue/main","git":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/git/blobs/d502db1dde65582fe54046b10bd909cf3e65b259","html":"https://github.com/mergifyio-testing/functional-testing-repo-sileht/blob/20211022060114/test_first_batch_split_queue/main/.mergify.yml"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/pulls/2676/files?per_page=100
  response:
    content: '[{"sha":"e69de29bb2d1d6434b8b29ae775ad8c2e48c5391","filename":"test1","status":"added","additions":0,"deletions":0,"changes":0,"blob_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht/blob/73fee70b23eb3c4f7a11d71733c6e08dcbadf8de/test1","raw_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht/raw/73fee70b23eb3c4f7a11d71733c6e08dcbadf8de/test1","contents_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/contents/test1?ref=73fee70b23eb3c4f7a11d71733c6e08dcbadf8de"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/issues/2676/comments?per_page=100
  response:
    content: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/commits/73fee70b23eb3c4f7a11d71733c6e08dcbadf8de/check-runs?per_page=100
  response:
    content: '{"total_count":0,"check_runs":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=antiope-preview; format=json
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/branches/20211022060114%2Ftest_first_batch_split_queue%2Fmain/protection
  response:
    content: '{"message":"Branch not protected","documentation_url":"https://docs.github.com/rest/reference/repos#get-branch-protection"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=luke-cage-preview; format=json
    status_code: 404
- request:
    body: '{"name": "Summary", "head_sha": "73fee70b23eb3c4f7a11d71733c6e08dcbadf8de",
      "status": "completed", "started_at": "2021-10-22T06:01:50.341829+00:00", "details_url":
      "https://github.com/mergifyio-testing/functional-testing-repo-sileht/pull/2676/checks",
      "output": {"title": "1 potential rule", "summary": "### Rule: Merge priority
[...]
