{
  "http_interactions": [
    {
      "recorded_at": "2018-05-03T10:54:53",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://gh.mergify.io/events-testing?id=16"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "[]\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://gh.mergify.io/events-testing?id=16"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}