{
  "http_interactions": [
    {
      "recorded_at": "2018-04-25T05:42:53",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "token <FORK_TOKEN>"
          ]
        },
        "method": "DELETE",
        "uri": "https://api.github.com:443/repos/mergify-test2/repo-test_basic"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "Content-Type": [
            "application/octet-stream"
          ],
          "Status": [
            "204 No Content"
          ],
          "X-Accepted-OAuth-Scopes": [
            "delete_repo"
          ],
          "X-GitHub-Media-Type": [
            "github.v3; format=json"
          ],
          "X-OAuth-Scopes": [
            "admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, repo, user, write:discussion"
          ],
          "X-RateLimit-Limit": [
            "5000"
          ],
          "X-RateLimit-Remaining": [
            "4995"
          ],
          "X-RateLimit-Reset": [
            "1524638542"
          ]
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://api.github.com:443/repos/mergify-test2/repo-test_basic"
      }
    },
    {
      "recorded_at": "2018-04-25T05:42:53",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "token <MAIN_TOKEN>"
          ]
        },
        "method": "DELETE",
        "uri": "https://api.github.com:443/repos/mergify-test1/repo-test_basic"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "Content-Type": [
            "application/octet-stream"
          ],
          "Status": [
            "204 No Content"
          ],
          "X-Accepted-OAuth-Scopes": [
            "delete_repo"
          ],
          "X-GitHub-Media-Type": [
            "github.v3; format=json"
          ],
          "X-OAuth-Scopes": [
            "admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, repo, user, write:discussion"
          ],
          "X-RateLimit-Limit": [
            "5000"
          ],
          "X-RateLimit-Remaining": [
            "4913"
          ],
          "X-RateLimit-Reset": [
            "1524638542"
          ]
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://api.github.com:443/repos/mergify-test1/repo-test_basic"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}