{
  "http_interactions": [
    {
      "recorded_at": "2018-05-03T10:55:27",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"context\": \"continuous-integration/fake-ci\", \"state\": \"success\", \"description\": \"Your change works\"}"
        },
        "headers": {
          "Authorization": [
            "token <MAIN_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://api.github.com:443/repos/mergify-test1/repo-2fb27c87-fe11-4b37-84a1-92d3e8198d79-test_disabling_label/statuses/5d192728f8bf63a4639fb80c6f101f285bc42e58"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"url\":\"https://api.github.com/repos/mergify-test1/repo-2fb27c87-fe11-4b37-84a1-92d3e8198d79-test_disabling_label/statuses/5d192728f8bf63a4639fb80c6f101f285bc42e58\",\"id\":4907509531,\"state\":\"success\",\"description\":\"Your change works\",\"target_url\":null,\"context\":\"continuous-integration/fake-ci\",\"created_at\":\"2018-05-03T10:55:27Z\",\"updated_at\":\"2018-05-03T10:55:27Z\",\"creator\":{\"login\":\"mergify-test1\",\"id\":38494943,\"avatar_url\":\"https://avatars3.githubusercontent.com/u/38494943?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test1\",\"html_url\":\"https://github.com/mergify-test1\",\"followers_url\":\"https://api.github.com/users/mergify-test1/followers\",\"following_url\":\"https://api.github.com/users/mergify-test1/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test1/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test1/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test1/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test1/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test1/repos\",\"events_url\":\"https://api.github.com/users/mergify-test1/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test1/received_events\",\"type\":\"User\",\"site_admin\":false}}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "ETag": [
            "\"04d78fac0ebda845a174e3be9f046334\""
          ],
          "Location": [
            "https://api.github.com/repos/mergify-test1/repo-2fb27c87-fe11-4b37-84a1-92d3e8198d79-test_disabling_label/statuses/5d192728f8bf63a4639fb80c6f101f285bc42e58"
          ],
          "Status": [
            "201 Created"
          ],
          "X-Accepted-OAuth-Scopes": [
            ""
          ],
          "X-GitHub-Media-Type": [
            "github.machine-man-preview; format=json"
          ],
          "X-OAuth-Scopes": [
            "repo"
          ],
          "X-RateLimit-Limit": [
            "5000"
          ],
          "X-RateLimit-Remaining": [
            "4979"
          ],
          "X-RateLimit-Reset": [
            "1525347845"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://api.github.com:443/repos/mergify-test1/repo-2fb27c87-fe11-4b37-84a1-92d3e8198d79-test_disabling_label/statuses/5d192728f8bf63a4639fb80c6f101f285bc42e58"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}