{
  "http_interactions": [
    {
      "recorded_at": "2018-05-03T10:56:00",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"base\": \"master\", \"head\": \"mergify-test2:fork/pr0\", \"title\": \"Pull request n0 from fork\", \"body\": \"Pull request n0 from fork\"}"
        },
        "headers": {
          "Authorization": [
            "token <FORK_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://api.github.com:443/repos/mergify-test1/repo-2fb27c87-fe11-4b37-84a1-92d3e8198d79-test_refresh/pulls"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"url\":\"https://api.github.com/repos/mergify-test1/repo-2fb27c87-fe11-4b37-84a1-92d3e8198d79-test_refresh/pulls/1\",\"id\":185680076,\"html_url\":\"https://github.com/mergify-test1/repo-2fb27c87-fe11-4b37-84a1-92d3e8198d79-test_refresh/pull/1\",\"diff_url\":\"https://github.com/mergify-test1/repo-2fb27c87-fe11-4b37-84a1-92d3e8198d79-test_refresh/pull/1.diff\",\"patch_url\":\"https://github.com/mergify-test1/repo-2fb27c87-fe11-4b37-84a1-92d3e8198d79-test_refresh/pull/1.patch\",\"issue_url\":\"https://api.github.com/repos/mergify-test1/repo-2fb27c87-fe11-4b37-84a1-92d3e8198d79-test_refresh/issues/1\",\"number\":1,\"state\":\"open\",\"locked\":false,\"title\":\"Pull request n0 from fork\",\"user\":{\"login\":\"mergify-test2\",\"id\":38495008,\"avatar_url\":\"https://avatars1.githubusercontent.com/u/38495008?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test2\",\"html_url\":\"https://github.com/mergify-test2\",\"followers_url\":\"https://api.github.com/users/mergify-test2/followers\",\"following_url\":\"https://api.github.com/users/mergify-test2/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test2/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test2/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test2/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test2/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test2/repos\",\"events_url\":\"https://api.github.com/users/mergify-test2/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test2/received_events\",\"type\":\"User\",\"site_admin\":false},\"body\":\"Pull request n0 from fork\",\"created_at\":\"2018-05-03T10:56:00Z\",\"updated_at\":\"2018-05-03T10:56:00Z\",\"closed_at\":null,\"merged_at\":null,\"merge_commit_sha\":null,\"assignee\":null,\"assignees\":[],\"requested_reviewers\":[],\"requested_teams\":[],\"labels\":[],\"milestone\":null,\"commits_url\":\"https://api.github.com/repos/mergify-test1/repo-2fb27c87-fe11-4b37-84a1-92d3e8198d79-test_refresh/pulls/1/commits\",\"review_comments_url\":\"https://api.github.com/repos/mergify-test1/repo-2fb27c87-fe11-4b37-84a1-92d3e8198d79-test_refresh/pulls/1/comments\",\"review_comment_url\":\"https://api.github.com/repos/mergify-test1/repo-2fb27c87-fe11-4b37-84a1-92d3e8198d79-test_refresh/pulls/comments{/number}\",\"comments_url\":\"https://api.github.com/repos/mergify-test1/repo-2fb27c87-fe11-4b37-84a1-92d3e8198d79-test_refresh/issues/1/comments\",\"statuses_url\":\"https://api.github.com/repos/mergify-test1/repo-2fb27c87-fe11-4b37-84a1-92d3e8198d79-test_refresh/statuses/8321c4cd235faf8fc0706f357b4dca03318786ca\",\"head\":{\"label\":\"mergify-test2:fork/pr0\",\"ref\":\"fork/pr0\",\"sha\":\"8321c4cd235faf8fc0706f357b4dca03318786ca\",\"user\":{\"login\":\"mergify-test2\",\"id\":38495008,\"avatar_url\":\"https://avatars1.githubusercontent.com/u/38495008?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test2\",\"html_url\":\"https://github.com/mergify-test2\",\"followers_url\":\"https://api.github.com/users/mergify-test2/followers\",\"following_url\":\"https://api.github.com/users/mergify-test2/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test2/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test2/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test2/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test2/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test2/repos\",\"events_url\":\"https://api.github.com/users/mergify-test2/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test2/received_events\",\"type\":\"User\",\"site_admin\":false},\"repo\":{\"id\":131982321,\"name\":\"repo-2fb27c87-fe11-4b37-84a1-92d3e8198d79-test_refresh\",\"full_name\":\"mergify-test2/repo-2fb27c87-fe11-4b37-84a1-92d3e8198d79-test_refresh\",\"owner\":{\"login\":\"mergify-test2\",\"id\":38495008,\"avatar_url\":\"https://avatars1.githubusercontent.com/u/38495008?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test2\",\"html_url\":\"https://github.com/mergify-test2\",\"followers_url\":\"https://api.github.com/users/mergify-test2/followers\",\"following_url\":\"https://api.github.com/users/mergify-test2/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test2/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test2/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test2/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test2/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test2/repos\",\"events_url\":\"https://api.github.com/users/mergify-test2/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test2/received_events\",\"type\":\"User\",\"site_admin\":false},\"private\":false,\"html_url\":\"https://github.com/mergify-test2/repo-2fb27c87-fe11-4b37-84a1-92d3e8198d79-test_refresh\",\"description\":null,\"fork\":true,\"url\":\"https://api.github.com/repos/mergify-test2/repo-2fb27c87-fe11-4b37-84a1-92d3e8198d79-test_refresh\",\"forks_url\":\"https://api.github.com/repos/mergify-test2/repo-2fb27c87-fe11-4b37-84a1-92d3e8198d79-test_refresh/forks\",\"keys_url\":\"https://api.github.com/repos/mergify-test2/repo-2fb27c87-fe11-4b37-84a1-92d3e8198d79-test_refresh/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/mergify-test2/repo-2fb27c87-fe11-4b37-84a1-92d3e8198d79-test_refresh/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/mergify-test2/repo-2fb27c87-fe11-4b37-84a1-92d3e8198d79-test_refresh/teams\",\"hooks_url\":\"https://api.github.com/repos/mergify-test2/repo-2fb27c87-fe11-4b37-84a1-92d3e8198d79-test_refresh/hooks\",\"issue_events_url\":\"https://api.github.com/repos/mergify-test2/repo-2fb27c87-fe11-4b37-84a1-92d3e8198d79-test_refresh/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/mergify-test2/repo-2fb27c87-fe11-4b37-84a1-92d3e8198d79-test_refresh/events\",\"assignees_url\":\"https://api.github.com/repos/mergify-test2/repo-2fb27c87-fe11-4b37-84a1-92d3e8198d79-test_refresh/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/mergify-test2/repo-2fb27c87-fe11-4b37-84a1-92d3e8198d79-test_refresh/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/mergify-test2/repo-2fb27c87-fe11-4b37-84a1-92d3e8198d79-test_refresh/tags\",\"blobs_url\":\"https://api.github.com/repos/mergify-test2/repo-2fb27c87-fe11-4b37-84a1-92d3e8198d79-test_refresh/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/mergify-test2/repo-2fb27c87-fe11-4b37-84a1-92d3e8198d79-test_refresh/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/mergify-test2/repo-2fb27c87-fe11-4b37-84a1-92d3e8198d79-test_refresh/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/mergify-test2/repo-2fb27c87-fe11-4b37-84a1-92d3e8198d79-test_refresh/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/mergify-test2/repo-2fb27c87-fe11-4b37-84a1-92d3e8198d79-test_refresh/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/mergify-test2/repo-2fb27c87-fe11-4b37-84a1-92d3e8198d79-test_refresh/languages\",\"stargazers_url\":\"https://api.github.com/repos/mergify-test2/repo-2fb27c87-fe11-4b37-84a1-92d3e8198d79-test_refresh/stargazers\",\"contributors_url\":\"https://api.github.com/repos/mergify-test2/repo-2fb27c87-fe11-4b37-84a1-92d3e8198d79-test_refresh/contributors\",\"subscribers_url\":\"https://api.github.com/repos/mergify-test2/repo-2fb27c87-fe11-4b37-84a1-92d3e8198d79-test_refresh/subscribers\",\"subscription_url\":\"https://api.github.com/repos/mergify-test2/repo-2fb27c87-fe11-4b37-84a1-92d3e8198d79-test_refresh/subscription\",\"commits_url\":\"https://api.github.com/repos/mergify-test2/repo-2fb27c87-fe11-4b37-84a1-92d3e8198d79-test_refresh/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/mergify-test2/repo-2fb27c87-fe11-4b37-84a1-92d3e8198d79-test_refresh/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/mergify-test2/repo-2fb27c87-fe11-4b37-84a1-92d3e8198d79-test_refresh/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/mergify-test2/repo-2fb27c87-fe11-4b37-84a1-92d3e8198d79-test_refresh/issues/comments{/number}\",\"contents_url\":\"https://api.github.com/repos/mergify-test2/repo-2fb27c87-fe11-4b37-84a1-92d3e8198d79-test_refresh/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/mergify-test2/repo-2fb27c87-fe11-4b37-84a1-92d3e8198d79-test_refresh/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/mergify-test2/repo-2fb27c87-fe11-4b37-84a1-92d3e8198d79-test_refresh/merges\",\"archive_url\":\"https://api.github.com/repos/mergify-test2/repo-2fb27c87-fe11-4b37-84a1-92d3e8198d79-test_refresh/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/mergify-test2/repo-2fb27c87-fe11-4b37-84a1-92d3e8198d79-test_refresh/downloads\",\"issues_url\":\"https://api.github.com/repos/mergify-test2/repo-2fb27c87-fe11-4b37-84a1-92d3e8198d79-test_refresh/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/mergify-test2/repo-2fb27c87-fe11-4b37-84a1-92d3e8198d79-test_refresh/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/mergify-test2/repo-2fb27c87-fe11-4b37-84a1-92d3e8198d79-test_refresh/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/mergify-test2/repo-2fb27c87-fe11-4b37-84a1-92d3e8198d79-test_refresh/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/mergify-test2/repo-2fb27c87-fe11-4b37-84a1-92d3e8198d79-test_refresh/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/mergify-test2/repo-2fb27c87-fe11-4b37-84a1-92d3e8198d79-test_refresh/releases{/id}\",\"deployments_url\":\"https://api.github.com/repos/mergify-test2/repo-2fb27c87-fe11-4b37-84a1-92d3e8198d79-test_refresh/deployments\",\"created_at\":\"2018-05-03T10:55:55Z\",\"updated_at\":\"2018-05-03T10:55:57Z\",\"pushed_at\":\"2018-05-03T10:56:00Z\",\"git_url\":\"git://github.com/mergify-test2/repo-2fb27c87-fe11-4b37-84a1-92d3e8198d79-test_refresh.git\",\"ssh_url\":\"git@github.com:mergify-test2/repo-2fb27c87-fe11-4b37-84a1-92d3e8198d79-test_refresh.git\",\"clone_url\":\"https://github.com/mergify-test2/repo-2fb27c87-fe11-4b37-84a1-92d3e8198d79-test_refresh.git\",\"svn_url\":\"https://github.com/mergify-test2/repo-2fb27c87-fe11-4b37-84a1-92d3e8198d79-test_refresh\",\"homepage\":null,\"size\":0,\"stargazers_count\":0,\"watchers_count\":0,\"language\":null,\"has_issues\":false,\"has_projects\":true,\"has_downloads\":true,\"has_wiki\":true,\"has_pages\":false,\"forks_count\":0,\"mirror_url\":null,\"archived\":false,\"open_issues_count\":0,\"license\":null,\"forks\":0,\"open_issues\":0,\"watchers\":0,\"default_branch\":\"master\"}},\"base\":{\"label\":\"mergify-test1:master\",\"ref\":\"master\",\"sha\":\"8dfd8bc11e1336f40067be657e383554b153e1ac\",\"user\":{\"login\":\"mergify-test1\",\"id\":38494943,\"avatar_url\":\"https://avatars3.githubusercontent.com/u/38494943?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test1\",\"html_url\":\"https://github.com/mergify-test1\",\"followers_url\":\"https://api.github.com/users/mergify-test1/followers\",\"following_url\":\"https://api.github.com[...]
