interactions:
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/user
  response:
    content: '{"login":"mergify-test1","id":38494943,"node_id":"MDQ6VXNlcjM4NDk0OTQz","avatar_url":"https://avatars.githubusercontent.com/u/38494943?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-test1","html_url":"https://github.com/mergify-test1","followers_url":"https://api.github.com/users/mergify-test1/followers","following_url":"https://api.github.com/users/mergify-test1/following{/other_user}","gists_url":"https://api.github.com/users/mergify-test1/gists{/gist_id}","starred_url":"https://api.github.com/users/mergify-test1/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergify-test1/subscriptions","organizations_url":"https://api.github.com/users/mergify-test1/orgs","repos_url":"https://api.github.com/users/mergify-test1/repos","events_url":"https://api.github.com/users/mergify-test1/events{/privacy}","received_events_url":"https://api.github.com/users/mergify-test1/received_events","type":"User","site_admin":false,"name":"mergify-test-user-1","company":"@mergifyio","blog":"","location":null,"email":null,"hireable":null,"bio":"This
      account is for testing purpose of the workflow of Github App @mergifyio","twitter_username":null,"public_repos":0,"public_gists":0,"followers":0,"following":0,"created_at":"2018-04-18T10:42:59Z","updated_at":"2021-04-15T14:56:52Z","private_gists":0,"total_private_repos":0,"owned_private_repos":0,"disk_usage":0,"collaborators":0,"two_factor_authentication":false,"plan":{"name":"free","space":976562499,"collaborators":0,"private_repos":10000}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-OAuth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
      X-RateLimit-Resource:
      - core
    status_code: 200
[...]
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: DELETE
    uri: https://test-forwarder.mergify.io/events-testing
  response:
    content: Event queued
    headers:
    status_code: 202
- request:
    body: '{"default_branch": "20210515115205/test_pull_have_base_branch_merged_commit_with_changed_workflow/master"}'
    headers:
      Authorization:
      - <TOKEN>
      content-type:
      - application/json
    method: PATCH
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo
  response:
    content: '{"id":258840104,"node_id":"MDEwOlJlcG9zaXRvcnkyNTg4NDAxMDQ=","name":"functional-testing-repo","full_name":"mergifyio-testing/functional-testing-repo","private":false,"owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/mergifyio-testing/functional-testing-repo","description":"Mergify","fork":false,"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo","forks_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/forks","keys_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/keys{/key_id}","collaborators_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/teams","hooks_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/hooks","issue_events_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/issues/events{/number}","events_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/events","assignees_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/assignees{/user}","branches_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/branches{/branch}","tags_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/tags","blobs_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/git/refs{/sha}","trees_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/git/trees{/sha}","statuses_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/statuses/{sha}","languages_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/languages","stargazers_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/stargazers","contributors_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/contributors","subscribers_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/subscribers","subscription_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/subscription","commits_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/commits{/sha}","git_commits_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/git/commits{/sha}","comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/comments{/number}","issue_comment_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/issues/comments{/number}","contents_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/contents/{+path}","compare_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/compare/{base}...{head}","merges_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/merges","archive_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/downloads","issues_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/issues{/number}","pulls_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/pulls{/number}","milestones_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/milestones{/number}","notifications_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/labels{/name}","releases_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/releases{/id}","deployments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/deployments","created_at":"2020-04-25T17:58:44Z","updated_at":"2021-05-15T11:51:52Z","pushed_at":"2021-05-15T11:52:08Z","git_url":"git://github.com/mergifyio-testing/functional-testing-repo.git","ssh_url":"git@github.com:mergifyio-testing/functional-testing-repo.git","clone_url":"https://github.com/mergifyio-testing/functional-testing-repo.git","svn_url":"https://github.com/mergifyio-testing/functional-testing-repo","homepage":null,"size":2,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":1,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":1,"open_issues":0,"watchers":0,"default_branch":"20210515115205/test_pull_have_base_branch_merged_commit_with_changed_workflow/master","permissions":{"admin":true,"push":true,"pull":true},"allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"delete_branch_on_merge":false,"organization":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"network_count":1,"subscribers_count":0}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-OAuth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
      X-RateLimit-Resource:
      - core
    status_code: 200
- request:
    body: '{"base": "20210515115205/test_pull_have_base_branch_merged_commit_with_changed_workflow/master",
      "head": "mergify-test2:20210515115205/test_pull_have_base_branch_merged_commit_with_changed_workflow/fork/pr1",
      "title": "test_pull_have_base_branch_merged_commit_with_changed_workflow: pull
      request n1 from fork", "body": "test_pull_have_base_branch_merged_commit_with_changed_workflow:
      pull request n1 from fork", "draft": false}'
    headers:
      Authorization:
      - <TOKEN>
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo/pulls
  response:
    content: '{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/pulls/11363","id":645129812,"node_id":"MDExOlB1bGxSZXF1ZXN0NjQ1MTI5ODEy","html_url":"https://github.com/mergifyio-testing/functional-testing-repo/pull/11363","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo/pull/11363.diff","patch_url":"https://github.com/mergifyio-testing/functional-testing-repo/pull/11363.patch","issue_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/issues/11363","number":11363,"state":"open","locked":false,"title":"test_pull_have_base_branch_merged_commit_with_changed_workflow:
      pull request n1 from fork","user":{"login":"mergify-test2","id":38495008,"node_id":"MDQ6VXNlcjM4NDk1MDA4","avatar_url":"https://avatars.githubusercontent.com/u/38495008?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-test2","html_url":"https://github.com/mergify-test2","followers_url":"https://api.github.com/users/mergify-test2/followers","following_url":"https://api.github.com/users/mergify-test2/following{/other_user}","gists_url":"https://api.github.com/users/mergify-test2/gists{/gist_id}","starred_url":"https://api.github.com/users/mergify-test2/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergify-test2/subscriptions","organizations_url":"https://api.github.com/users/mergify-test2/orgs","repos_url":"https://api.github.com/users/mergify-test2/repos","events_url":"https://api.github.com/users/mergify-test2/events{/privacy}","received_events_url":"https://api.github.com/users/mergify-test2/received_events","type":"User","site_admin":false},"body":"test_pull_have_base_branch_merged_commit_with_changed_workflow:
      pull request n1 from fork","created_at":"2021-05-15T11:52:14Z","updated_at":"2021-05-15T11:52:14Z","closed_at":null,"merged_at":null,"merge_commit_sha":null,"assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/pulls/11363/commits","review_comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/pulls/11363/comments","review_comment_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/pulls/comments{/number}","comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/issues/11363/comments","statuses_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/statuses/1f25d175f16badd9b4ff44aebad8a8e9c5cf69ab","head":{"label":"mergify-test2:20210515115205/test_pull_have_base_branch_merged_commit_with_changed_workflow/fork/pr1","ref":"20210515115205/test_pull_have_base_branch_merged_commit_with_changed_workflow/fork/pr1","sha":"1f25d175f16badd9b4ff44aebad8a8e9c5cf69ab","user":{"login":"mergify-test2","id":38495008,"node_id":"MDQ6VXNlcjM4NDk1MDA4","avatar_url":"https://avatars.githubusercontent.com/u/38495008?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-test2","html_url":"https://github.com/mergify-test2","followers_url":"https://api.github.com/users/mergify-test2/followers","following_url":"https://api.github.com/users/mergify-test2/following{/other_user}","gists_url":"https://api.github.com/users/mergify-test2/gists{/gist_id}","starred_url":"https://api.github.com/users/mergify-test2/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergify-test2/subscriptions","organizations_url":"https://api.github.com/users/mergify-test2/orgs","repos_url":"https://api.github.com/users/mergify-test2/repos","events_url":"https://api.github.com/users/mergify-test2/events{/privacy}","received_events_url":"https://api.github.com/users/mergify-test2/received_events","type":"User","site_admin":false},"repo":{"id":258840424,"node_id":"MDEwOlJlcG9zaXRvcnkyNTg4NDA0MjQ=","name":"functional-testing-repo","full_name":"mergify-test2/functional-testing-repo","private":false,"owner":{"login":"mergify-test2","id":38495008,"node_id":"MDQ6VXNlcjM4NDk1MDA4","avatar_url":"https://avatars.githubusercontent.com/u/38495008?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-test2","html_url":"https://github.com/mergify-test2","followers_url":"https://api.github.com/users/mergify-test2/followers","foll[...]
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: GET
    uri: https://test-forwarder.mergify.io/events-testing?counter=1
  response:
    content: '[{"id":"fa61cebe-b573-11eb-9f5a-c4abbf1c2b5b","type":"push","payload":{"ref":"refs/heads/20210515115205/test_pull_have_base_branch_merged_commit_with_changed_workflow/master","before":"0000000000000000000000000000000000000000","after":"1eb752a215327cad7d8d6454053f05cba0835103","repository":{"id":258840104,"node_id":"MDEwOlJlcG9zaXRvcnkyNTg4NDAxMDQ=","name":"functional-testing-repo","full_name":"mergifyio-testing/functional-testing-repo","private":false,"owner":{"name":"mergifyio-testing","email":null,"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followe[...]
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo/pulls/11363
  response:
    content: '{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/pulls/11363","id":645129812,"node_id":"MDExOlB1bGxSZXF1ZXN0NjQ1MTI5ODEy","html_url":"https://github.com/mergifyio-testing/functional-testing-repo/pull/11363","diff_url":"https://github.com/mergifyio-testing/functi[...]
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo/pulls/11363/commits
  response:
    content: '[{"sha":"1f25d175f16badd9b4ff44aebad8a8e9c5cf69ab","node_id":"MDY6Q29tbWl0MjU4ODQwNDI0OjFmMjVkMTc1ZjE2YmFkZDliNGZmNDRhZWJhZDhhOGU5YzVjZjY5YWI=","commit":{"author":{"name":"mergify-tester","email":"noreply@mergify.io","date":"2021-05-15T11:52:12Z"},"committer":{"name":"mergify-tester","email":"noreply@mergify.io","date":"2021-05-15T11:52:12Z"},"message":"test_pull_have_base_branch_merged_commit_with_changed_workflow:
      pull request n1 from fork","tree":{"sha":"64cbb174d55614b97de005b313a2183edf1f9f55","url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/git/trees/64cbb174d55614b97de005b313a2183edf1f9f55"},"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/git/commits/1f25d175f16badd9b4ff44aebad8a8e9c5cf69ab","comment_count":0,"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}},"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/commits/1f25d175f16badd9b4ff44aebad8a8e9c5cf69ab","html_url":"https://github.com/mergifyio-testing/functional-testing-repo/commit/1f25d175f16badd9b4ff44aebad8a8e9c5cf69ab","comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/commits/1f25d175f16badd9b4ff44aebad8a8e9c5cf69ab/comments","author":null,"committer":null,"parents":[{"sha":"1eb752a215327cad7d8d6454053f05cba0835103","url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/commits/1eb752a215327cad7d8d6454053f05cba0835103","html_url":"https://github.com/mergifyio-testing/functional-testing-repo/commit/1eb752a215327cad7d8d6454053f05cba0835103"}]}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-OAuth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
      X-RateLimit-Resource:
      - core
    status_code: 200
[...]
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: GET
    uri: https://test-forwarder.mergify.io/events-testing?counter=2
  response:
    content: '[{"id":"0127ee40-b574-11eb-8e4d-6586e86c6b68","type":"pull_request","payload":{"action":"opened","number":11364,"pull_request":{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/pulls/11364","id":645129821,"node_id":"MDExOlB1bGxSZXF1ZXN0NjQ1MTI5ODIx","html_url":"https://github.com/mergifyio-testing/functional-testing-repo/pull/11364","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo/pull/11364.diff","patch_url":"https://github.com/mergifyio-testing/functional-testing-repo/pull/11364.patch","issue_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-re[...]
[...]
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: PUT
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo/pulls/11365/merge
  response:
    content: '{"sha":"5abbd92e8414c86b3d3c700e2a790f1977234a0b","merged":true,"message":"Pull
      Request successfully merged"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-OAuth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
      X-RateLimit-Resource:
      - core
    status_code: 200
[...]
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/users/mergifyio-testing/installation
  response:
    content: '{"id":15398551,"account":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"repository_selection":"all","access_tokens_url":"https://api.github.com/app/installations/15398551/access_tokens","repositories_url":"https://api.github.com/installation/repositories","html_url":"https://github.com/organizations/mergifyio-testing/settings/installations/15398551","app_id":11221,"app_slug":"mergify-test","target_id":40527191,"target_type":"Organization","permissions":{"pages":"write","checks":"write","issues":"write","members":"read","contents":"write","metadata":"read","statuses":"read","pull_requests":"write"},"events":["check_run","check_suite","issue_comment","pull_request","pull_request_review","pull_request_review_comment","push","status"],"created_at":"2021-03-15T16:12:17.000Z","updated_at":"2021-03-15T16:12:17.000Z","single_file_name":null,"has_multiple_single_files":false,"single_file_paths":[],"suspended_by":null,"suspended_at":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; format=json
    status_code: 200
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: POST
    uri: https://api.github.com/app/installations/15398551/access_tokens
  response:
    content: '{"token": "<TOKEN>", "expires_at": "2021-05-15T12:52:32Z", "permissions":
      {"members": "read", "checks": "write", "contents": "write", "issues": "write",
      "metadata": "read", "pages": "write", "pull_requests": "write", "statuses":
      "read"}, "repository_selection": "all"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; format=json
    status_code: 201
[...]
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo/contents/.mergify.yml
  response:
    content: '{"name":".mergify.yml","path":".mergify.yml","sha":"4c9730bae61ab1e626a4d1e51b1626e616ed60cd","size":352,"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/contents/.mergify.yml?ref=20210515115205/test_pull_have_base_branch_merged_commit_with_changed_workflow/master","html_url":"https://github.com/mergifyio-testing/functional-testing-repo/blob/20210515115205/test_pull_have_base_branch_merged_commit_with_changed_workflow/master/.mergify.yml","git_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/git/blobs/4c9730bae61ab1e626a4d1e51b1626e616ed60cd","download_url":"https://raw.githubusercontent.com/mergifyio-testing/functional-testing-repo/20210515115205/test_pull_have_base_branch_merged_commit_with_changed_workflow/master/.mergify.yml","type":"file","content":"cHVsbF9yZXF1ZXN0X3J1bGVzOgotIGFjdGlvbnM6CiAgICBxdWV1ZToKICAg\nICAgbmFtZTogZGVmYXVsdAogICAgICBwcmlvcml0eTogaGlnaAogIGNvbmRp\ndGlvbnM6CiAgLSBiYXNlPTIwMjEwNTE1MTE1MjA1L3Rlc3RfcHVsbF9oYXZl\nX2Jhc2VfYnJhbmNoX21lcmdlZF9jb21taXRfd2l0aF9jaGFuZ2VkX3dvcmtm\nbG93L21hc3RlcgogIC0gbGFiZWw9cXVldWUKICBuYW1lOiBNZXJnZSBwcmlv\ncml0eSBoaWdoCnF1ZXVlX3J1bGVzOgotIGNvbmRpdGlvbnM6CiAgLSBzdGF0\ndXMtc3VjY2Vzcz1jb250aW51b3VzLWludGVncmF0aW9uL2Zha2UtY2kKICBu\nYW1lOiBkZWZhdWx0CiAgc3BlY3VsYXRpdmVfY2hlY2tzOiA1Cg==\n","encoding":"base64","_links":{"self":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/contents/.mergify.yml?ref=20210515115205/test_pull_have_base_branch_merged_commit_with_changed_workflow/master","git":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/git/blobs/4c9730bae61ab1e626a4d1e51b1626e616ed60cd","html":"https://github.com/mergifyio-testing/functional-testing-repo/blob/20210515115205/test_pull_have_base_branch_merged_commit_with_changed_workflow/master/.mergify.yml"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-RateLimit-Resource:
      - core
    status_code: 200
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo/pulls/11363/files?per_page=100
  response:
    content: '[{"sha":"e69de29bb2d1d6434b8b29ae775ad8c2e48c5391","filename":"test1","status":"added","additions":0,"deletions":0,"changes":0,"blob_url":"https://github.com/mergifyio-testing/functional-testing-repo/blob/1f25d175f16badd9b4ff44aebad8a8e9c5cf69ab/test1","raw_url":"https://github.com/mergifyio-testing/functional-testing-repo/raw/1f25d175f16badd9b4ff44aebad8a8e9c5cf69ab/test1","contents_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo/contents/test1?ref=1f25d175f16badd9b4ff44aebad8a8e9c5cf69ab"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-RateLimit-Resource:
      - core
    status_code: 200
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo/issues/11363/comments
  response:
    content: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-RateLimit-Resource:
      - core
    status_code: 200
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo/commits/1f25d175f16badd9b4ff44aebad8a8e9c5cf69ab/check-runs
  response:
    content: '{"total_count":0,"check_runs":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-RateLimit-Resource:
      - core
    status_code: 200
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo/branches/20210515115205%2Ftest_pull_have_base_branch_merged_commit_with_changed_workflow%2Fmaster
  response:
    content: '{"name":"20210515115205/test_pull_have_base_branch_merged_commit_with_changed_workflow/master","commit":{"sha":"5abbd92e8414c86b3d3c700e2a790f1977234a0b","node_id":"MDY6Q29tbWl0MjU4ODQwMTA0OjVhYmJkOTJlODQxN[...]
- request:
    body: '{"name": "Summary", "head_sha": "1f25d175f16badd9b4ff44aebad8a8e9c5cf69ab",
      "status": "completed", "started_at": "2021-05-15T11:52:35.805363+00:00", "details_url":
      "https://github.com/mergifyio-testing/functional-testing-repo/pull/11363/checks",
      "output": {"title": "1 potential rule", "summary": "#### Rule: Merge priority
      high (queue)\n- [X] `base=20210515115205/test_pull_have_base_branch_merged_commit_with_changed_workflow/master`\n-
      [ ] `label=queue`\n\n<hr />\n\n<details>\n<summary>Mergify commands and options</summary>\n\n<br
      />\n\nMore conditions and actions can be found in the [documentation](https://docs.mergify.io/).\n\nYou
      can also trigger Mergify actions by commenting on this pull request:\n\n- `@Mergifyio
      refresh` will re-evaluate the rules\n- `@Mergifyio rebase` will rebase this
      PR on its base branch\n- `@Mergifyio update` will merge the base branch into
      this PR\n- `@Mergifyio backport <destination>` will backport this PR on `<destination>`
      branch\n\nAdditionally, on Mergify [dashboard](https://dashboard.mergify.io/)
      you can:\n\n- look at your merge queues\n- generate the Mergify configuration
      with the config editor.\n\nFinally, you can contact us on https://mergify.io/\n</details>\n<!--
      J1J1bGU6IE1lcmdlIHByaW9yaXR5IGhpZ2ggKHF1ZXVlKSc6IG5ldXRyYWwK -->"}, "conclusion":
      "success", "completed_at": "2021-05-15T11:52:35.805378+00:00"}'
[...]
