interactions:
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/user
  response:
    content: '{"login":"mergify-test1","id":38494943,"node_id":"MDQ6VXNlcjM4NDk0OTQz","avatar_url":"https://avatars.githubusercontent.com/u/38494943?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-test1","html_url":"https://github.com/mergify-test1","followers_url":"https://api.github.com/users/mergify-test1/followers","following_url":"https://api.github.com/users/mergify-test1/following{/other_user}","gists_url":"https://api.github.com/users/mergify-test1/gists{/gist_id}","starred_url":"https://api.github.com/users/mergify-test1/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergify-test1/subscriptions","organizations_url":"https://api.github.com/users/mergify-test1/orgs","repos_url":"https://api.github.com/users/mergify-test1/repos","events_url":"https://api.github.com/users/mergify-test1/events{/privacy}","received_events_url":"https://api.github.com/users/mergify-test1/received_events","type":"User","site_admin":false,"name":"mergify-test-user-1","company":"@mergifyio","blog":"https://mergify.io","location":null,"email":null,"hireable":null,"bio":"This
      account is for testing purpose of the workflow of the GitHub App @mergifyio","twitter_username":"mergifyio","public_repos":0,"public_gists":0,"followers":0,"following":0,"created_at":"2018-04-18T10:42:59Z","updated_at":"2021-09-15T15:03:25Z","private_gists":0,"total_private_repos":0,"owned_private_repos":0,"disk_usage":0,"collaborators":0,"two_factor_authentication":false,"plan":{"name":"free","space":976562499,"collaborators":0,"private_repos":10000}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-OAuth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
    status_code: 200
[...]
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/user/40527191/installation
  response:
    content: '{"id":15398551,"account":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"repository_selection":"all","access_tokens_url":"https://api.github.com/app/installations/15398551/access_tokens","repositories_url":"https://api.github.com/installation/repositories","html_url":"https://github.com/organizations/mergifyio-testing/settings/installations/15398551","app_id":11221,"app_slug":"mergify-test","target_id":40527191,"target_type":"Organization","permissions":{"pages":"write","checks":"write","issues":"write","members":"read","contents":"write","metadata":"read","statuses":"read","workflows":"write","pull_requests":"write","administration":"read"},"events":["check_run","check_suite","issue_comment","merge_queue_entry","pull_request","pull_request_review","pull_request_review_comment","push","status"],"created_at":"2021-03-15T16:12:17.000Z","updated_at":"2021-09-28T07:54:06.000Z","single_file_name":null,"has_multiple_single_files":false,"single_file_paths":[],"suspended_by":null,"suspended_at":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; format=json
    status_code: 200
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: POST
    uri: https://api.github.com/app/installations/15398551/access_tokens
  response:
    content: '{"token": "<TOKEN>", "expires_at": "2021-10-14T15:32:12Z", "permissions":
      {"members": "read", "administration": "read", "checks": "write", "contents":
      "write", "issues": "write", "metadata": "read", "pages": "write", "pull_requests":
      "write", "statuses": "read", "workflows": "write"}, "repository_selection":
      "all"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; format=json
    status_code: 201
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/repositories/399462964
  response:
    content: '{"id":399462964,"node_id":"MDEwOlJlcG9zaXRvcnkzOTk0NjI5NjQ=","name":"functional-testing-repo-ErwanSimonetti","full_name":"mergifyio-testing/functional-testing-repo-ErwanSimonetti","private":false,"owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/mergifyio-testing/functional-testing-repo-ErwanSimonetti","description":"this
      is a test description","fork":false,"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti","forks_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/forks","keys_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/keys{/key_id}","collaborators_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/teams","hooks_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/hooks","issue_events_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/issues/events{/number}","events_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/events","assignees_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/assignees{/user}","branches_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/branches{/branch}","tags_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/tags","blobs_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/git/refs{/sha}","trees_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/git/trees{/sha}","statuses_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/statuses/{sha}","languages_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/languages","stargazers_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/stargazers","contributors_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/contributors","subscribers_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/subscribers","subscription_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/subscription","commits_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/commits{/sha}","git_commits_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/git/commits{/sha}","comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/comments{/number}","issue_comment_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/issues/comments{/number}","contents_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/contents/{+path}","compare_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/compare/{base}...{head}","merges_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/merges","archive_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/downloads","issues_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/issues{/number}","pulls_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/pulls{/number}","milestones_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/milestones{/number}","notifications_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/labels{/name}","releases_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/releases{/id}","deployments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/deployments","created_at":"2021-08-24T12:50:13Z","updated_at":"2021-10-14T14:31:50Z","pushed_at":"2021-10-14T14:32:08Z","git_url":"git://github.com/mergifyio-testing/functional-testing-repo-ErwanSimonetti.git","ssh_url":"git@github.com:mergifyio-testing/functional-testing-repo-ErwanSimonetti.git","clone_url":"https://github.com/mergifyio-testing/functional-testing-repo-ErwanSimonetti.git","svn_url":"https://github.com/mergifyio-testing/functional-testing-repo-ErwanSimonetti","homepage":"","size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":1,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"allow_forking":true,"is_template":false,"topics":[],"visibility":"public","forks":1,"open_issues":0,"watchers":0,"default_branch":"main","permissions":{"admin":false,"maintain":false,"push":false,"triage":false,"pull":false},"temp_clone_token":"","allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"allow_auto_merge":false,"delete_branch_on_merge":false,"organization":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"network_count":1,"subscribers_count":0}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 200
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: DELETE
    uri: https://test-forwarder.mergify.io/events/github.com/11221/399462964
  response:
    content: Event queued
    headers:
    status_code: 202
- request:
    body: '{"default_branch": "20211014143209/test_merge_strict_rebase_with_user/main"}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti
  response:
    content: '{"id":399462964,"node_id":"MDEwOlJlcG9zaXRvcnkzOTk0NjI5NjQ=","name":"functional-testing-repo-ErwanSimonetti","full_name":"mergifyio-testing/functional-testing-repo-ErwanSimonetti","private":false,"owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercon[...]
- request:
    body: '{"base": "20211014143209/test_merge_strict_rebase_with_user/main", "head":
      "mergify-test2:20211014143209/test_merge_strict_rebase_with_user/fork/pr1",
      "title": "test_merge_strict_rebase_with_user: pull request n1 from fork", "body":
      "test_merge_strict_rebase_with_user: pull request n1 from fork", "draft": false}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/pulls
  response:
    content: '{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/pulls/1415","id":758412391,"node_id":"PR_kwDOF89SNM4tNHRn","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-ErwanSimonetti/pull/1415","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo-ErwanSimonetti/pull/1415.diff","patch_url":"https://github.com/mergifyio-testing/functional-testing-repo-ErwanSimonetti/pull/1415.patch","issue_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/issues/1415","number":1415,"state":"open","locked":false,"title":"test_merge_strict_rebase_with_user:
      pull request n1 from fork","user":{"login":"mergify-test2","id":38495008,"node_id":"MDQ6VXNlcjM4NDk1MDA4","avatar_url":"https://avatars.githubusercontent.com/u/38495008?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-test2","html_url":"https://github.com/mergify-test2","followers_url":"https://api.github.com/users/mergify-test2/followers","following_url":"https://api.github.com/users/mergify-test2/following{/other_user}","gists_url":"https://api.github.com/users/mergify-test2/gists{/gist_id}","starred_url":"https://api.github.com/users/mergify-test2/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergify-test2/subscriptions","organizations_url":"https://api.github.com/users/mergify-test2/orgs","repos_url":"https://api.github.com/users/mergify-test2/repos","events_url":"https://api.github.com/users/mergify-test2/events{/privacy}","received_events_url":"https://api.github.com/users/mergify-test2/received_events","type":"User","site_admin":false},"body":"test_merge_strict_rebase_with_user:
      pull request n1 from fork","created_at":"2021-10-14T14:32:18Z","updated_at":"2021-10-14T14:32:18Z","closed_at":null,"merged_at":null,"merge_commit_sha":null,"assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/pulls/1415/commits","review_comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/pulls/1415/comments","review_comment_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/pulls/comments{/number}","comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/issues/1415/comments","statuses_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/statuses/110c18109dd8197da497621c0c13cbf56709f641","head":{"label":"mergify-test2:20211014143209/test_merge_strict_rebase_with_user/fork/pr1","ref":"20211014143209/test_merge_strict_rebase_with_user/fork/pr1","sha":"110c18109dd8197da497621c0c13cbf56709f641","user":{"login":"mergify-test2","id":38495008,"node_id":"MDQ6VXNlcjM4NDk1MDA4","avatar_url":"https://avatars.githubusercontent.com/u/38495008?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-test2","html_url":"https://github.com/mergify-test2","followers_url":"https://api.github.com/users/mergify-test2/followers","following_url":"https://api.github.com/users/mergify-test2/following{/other_user}","gists_url":"https://api.github.com/users/mergify-test2/gists{/gist_id}","starred_url":"https://api.github.com/users/mergify-test2/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergify-test2/subscriptions","organizations_url":"https://api.github.com/users/mergify-test2/orgs","repos_url":"https://api.github.com/users/mergify-test2/repos","events_url":"https://api.github.com/users/mergify-test2/events{/privacy}","received_events_url":"https://api.github.com/users/mergify-test2/received_events","type":"User","site_admin":false},"repo":{"id":399463576,"node_id":"MDEwOlJlcG9zaXRvcnkzOTk0NjM1NzY=","name":"functional-testing-repo-ErwanSimonetti","full_name":"mergify-test2/functional-testing-repo-ErwanSimonetti","private":false,"owner":{"login":"mergify-test2","id":38495008,"node_id":"MDQ6VXNlcjM4NDk1MDA4","avatar_url":"https://avatars.githubusercontent.com/u/38495008?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-test2","html_url":"https://github.com/mergify-test2","followers_url":"https://api.github.com/users/[...]
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: GET
    uri: https://test-forwarder.mergify.io/events/github.com/11221/399462964?counter=1
  response:
    content: '[{"id":"86653280-2cfb-11ec-8c3b-b2cc069a7982","type":"push","payload":{"ref":"refs/heads/20211014143209/test_merge_strict_rebase_with_user/main","before":"0000000000000000000000000000000000000000","after":"68a7d692121a7f61e2fd3c6e5aca05f129f7d2f0","repository":{"id":399462964,"node_id":"MDEwOlJlcG9zaXRvcnkzOTk0NjI5NjQ=","name":"functional-testing-repo-ErwanSimonetti","full_name":"mergifyio-testing/functional-testing-repo-ErwanSimonetti","private":false,"owner":{"name":"mergifyio-testing","email":null,"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.c[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/pulls/1415
  response:
    content: '{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/pulls/1415","id":758412391,"node_id":"PR_kwDOF89SNM4tNHRn","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-ErwanSimonetti/pull/1415","diff_url":"https://github.com/mergifyio-testing/functional-tes[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/pulls/1415/commits?per_page=100
  response:
    content: '[{"sha":"110c18109dd8197da497621c0c13cbf56709f641","node_id":"C_kwDOF89UmNoAKDExMGMxODEwOWRkODE5N2RhNDk3NjIxYzBjMTNjYmY1NjcwOWY2NDE","commit":{"author":{"name":"mergify-tester","email":"noreply@mergify.io","date":"2021-10-14T14:32:16Z"},"committer":{"name":"mergify-tester","email":"noreply@mergify.io","date":"2021-10-14T14:32:16Z"},"message":"test_merge_strict_rebase_with_user:
      pull request n1 from fork","tree":{"sha":"436ab2e0d55587e0ea4be38fce2dd395af614b06","url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/git/trees/436ab2e0d55587e0ea4be38fce2dd395af614b06"},"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/git/commits/110c18109dd8197da497621c0c13cbf56709f641","comment_count":0,"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}},"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/commits/110c18109dd8197da497621c0c13cbf56709f641","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-ErwanSimonetti/commit/110c18109dd8197da497621c0c13cbf56709f641","comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/commits/110c18109dd8197da497621c0c13cbf56709f641/comments","author":null,"committer":null,"parents":[{"sha":"68a7d692121a7f61e2fd3c6e5aca05f129f7d2f0","url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/commits/68a7d692121a7f61e2fd3c6e5aca05f129f7d2f0","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-ErwanSimonetti/commit/68a7d692121a7f61e2fd3c6e5aca05f129f7d2f0"}]}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
      X-OAuth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
    status_code: 200
[...]
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: GET
    uri: https://test-forwarder.mergify.io/events/github.com/11221/399462964?counter=3
  response:
    content: '[{"id":"8bce76a0-2cfb-11ec-9509-5e0b08d4c50e","type":"pull_request","payload":{"action":"opened","number":1416,"pull_request":{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/pulls/1416","id":758412470,"node_id":"PR_kwDOF89SNM4tNHS2","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-ErwanSimonetti/pull/1416","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo-ErwanSimonetti/pull/1416.diff","patch_url":"https://github.com/mergifyio-testing/functional-testing-repo-ErwanSimonetti/pull/1416.patch","issue_url":"https://api.github.com/re[...]
[...]
- request:
    body: ''
    headers:
    method: PUT
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/pulls/1415/merge
  response:
    content: '{"sha":"73e0d7fb528ecec8a094b51858e2eeb9628c871d","merged":true,"message":"Pull
      Request successfully merged"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
      X-OAuth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
    status_code: 200
[...]
- request:
    body: '{"state": "success", "description": "The CI is success", "context": "continuous-integration/fake-ci"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/statuses/3109599437d7696ec4d75a4e1fce79bbf2f4833a
  response:
    content: '{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/statuses/3109599437d7696ec4d75a4e1fce79bbf2f4833a","avatar_url":"https://avatars.githubusercontent.com/u/38494943?v=4","id":14832825745,"node_id":"SC_kwDOF89SNM8AAAADdBr1kQ","state":"success","description":"The
      CI is success","target_url":null,"context":"continuous-integration/fake-ci","created_at":"2021-10-14T14:32:31Z","updated_at":"2021-10-14T14:32:31Z","creator":{"login":"mergify-test1","id":38494943,"node_id":"MDQ6VXNlcjM4NDk0OTQz","avatar_url":"https://avatars.githubusercontent.com/u/38494943?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-test1","html_url":"https://github.com/mergify-test1","followers_url":"https://api.github.com/users/mergify-test1/followers","following_url":"https://api.github.com/users/mergify-test1/following{/other_user}","gists_url":"https://api.github.com/users/mergify-test1/gists{/gist_id}","starred_url":"https://api.github.com/users/mergify-test1/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergify-test1/subscriptions","organizations_url":"https://api.github.com/users/mergify-test1/orgs","repos_url":"https://api.github.com/users/mergify-test1/repos","events_url":"https://api.github.com/users/mergify-test1/events{/privacy}","received_events_url":"https://api.github.com/users/mergify-test1/received_events","type":"User","site_admin":false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/statuses/3109599437d7696ec4d75a4e1fce79bbf2f4833a
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
      X-OAuth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
    status_code: 201
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: GET
    uri: https://test-forwarder.mergify.io/events/github.com/11221/399462964?counter=6
  response:
    content: '[{"id":"8f23e330-2cfb-11ec-9324-51c1e16b3e31","type":"check_suite","payload":{"action":"requested","check_suite":{"id":4054596533,"node_id":"CS_kwDOF89SNM7xrDu1","head_branch":"20211014143209/test_merge_strict_rebase_with_user/main","head_sha":"73e0d7fb528ecec8a094b51858e2eeb9628c871d","status":"queued","conclusion":null,"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/check-suites/4054596533","before":"68a7d692121a7f61e2fd3c6e5aca05f129f7d2f0","after":"73e0d7fb528ecec8a094b51858e2eeb9628c871d","pull_requests":[],"app":{"id":11221,"slug":"mergify-test","node_id":"MDM6QXBwMTEyMjE=","owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"name":"Mergify-test","description":"Test
[...]
