interactions:
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/user
  response:
    content: '{"login":"mergify-test1","id":38494943,"node_id":"MDQ6VXNlcjM4NDk0OTQz","avatar_url":"https://avatars.githubusercontent.com/u/38494943?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-test1","html_url":"https://github.com/mergify-test1","followers_url":"https://api.github.com/users/mergify-test1/followers","following_url":"https://api.github.com/users/mergify-test1/following{/other_user}","gists_url":"https://api.github.com/users/mergify-test1/gists{/gist_id}","starred_url":"https://api.github.com/users/mergify-test1/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergify-test1/subscriptions","organizations_url":"https://api.github.com/users/mergify-test1/orgs","repos_url":"https://api.github.com/users/mergify-test1/repos","events_url":"https://api.github.com/users/mergify-test1/events{/privacy}","received_events_url":"https://api.github.com/users/mergify-test1/received_events","type":"User","site_admin":false,"name":"mergify-test-user-1","company":"@mergifyio","blog":"https://mergify.io","location":null,"email":null,"hireable":null,"bio":"This
      account is for testing purpose of the workflow of the GitHub App @mergifyio","twitter_username":"mergifyio","public_repos":0,"public_gists":0,"followers":0,"following":0,"created_at":"2018-04-18T10:42:59Z","updated_at":"2021-08-16T15:44:31Z","private_gists":0,"total_private_repos":0,"owned_private_repos":0,"disk_usage":0,"collaborators":0,"two_factor_authentication":false,"plan":{"name":"free","space":976562499,"collaborators":0,"private_repos":10000}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
      X-OAuth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
    status_code: 200
[...]
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/user/40527191/installation
  response:
    content: '{"id":15398551,"account":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"repository_selection":"all","access_tokens_url":"https://api.github.com/app/installations/15398551/access_tokens","repositories_url":"https://api.github.com/installation/repositories","html_url":"https://github.com/organizations/mergifyio-testing/settings/installations/15398551","app_id":11221,"app_slug":"mergify-test","target_id":40527191,"target_type":"Organization","permissions":{"pages":"write","checks":"write","issues":"write","members":"read","contents":"write","metadata":"read","statuses":"read","pull_requests":"write"},"events":["check_run","check_suite","issue_comment","pull_request","pull_request_review","pull_request_review_comment","push","status"],"created_at":"2021-03-15T16:12:17.000Z","updated_at":"2021-03-15T16:12:17.000Z","single_file_name":null,"has_multiple_single_files":false,"single_file_paths":[],"suspended_by":null,"suspended_at":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 200
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: POST
    uri: https://api.github.com/app/installations/15398551/access_tokens
  response:
    content: '{"token": "<TOKEN>", "expires_at": "2021-08-24T16:44:22Z", "permissions":
      {"members": "read", "checks": "write", "contents": "write", "issues": "write",
      "metadata": "read", "pages": "write", "pull_requests": "write", "statuses":
      "read"}, "repository_selection": "all"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 201
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/repositories/399426199
  response:
    content: '{"id":399426199,"node_id":"MDEwOlJlcG9zaXRvcnkzOTk0MjYxOTk=","name":"functional-testing-repo-sileht","full_name":"mergifyio-testing/functional-testing-repo-sileht","private":false,"owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht","description":null,"fork":false,"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht","forks_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/forks","keys_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/keys{/key_id}","collaborators_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/teams","hooks_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/hooks","issue_events_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/issues/events{/number}","events_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/events","assignees_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/assignees{/user}","branches_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/branches{/branch}","tags_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/tags","blobs_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/git/refs{/sha}","trees_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/git/trees{/sha}","statuses_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/statuses/{sha}","languages_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/languages","stargazers_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/stargazers","contributors_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/contributors","subscribers_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/subscribers","subscription_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/subscription","commits_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/commits{/sha}","git_commits_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/git/commits{/sha}","comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/comments{/number}","issue_comment_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/issues/comments{/number}","contents_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/contents/{+path}","compare_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/compare/{base}...{head}","merges_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/merges","archive_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/downloads","issues_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/issues{/number}","pulls_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/pulls{/number}","milestones_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/milestones{/number}","notifications_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/labels{/name}","releases_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/releases{/id}","deployments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/deployments","created_at":"2021-08-24T10:36:34Z","updated_at":"2021-08-24T15:43:45Z","pushed_at":"2021-08-24T15:44:18Z","git_url":"git://github.com/mergifyio-testing/functional-testing-repo-sileht.git","ssh_url":"git@github.com:mergifyio-testing/functional-testing-repo-sileht.git","clone_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht.git","svn_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":1,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":1,"open_issues":0,"watchers":0,"default_branch":"main","permissions":{"admin":false,"maintain":false,"push":false,"triage":false,"pull":false},"temp_clone_token":"","allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"allow_auto_merge":false,"delete_branch_on_merge":false,"organization":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"network_count":1,"subscribers_count":1}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 200
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: DELETE
    uri: https://test-forwarder.mergify.io/events/github.com/11221/399426199
  response:
    content: Event queued
    headers:
    status_code: 202
- request:
    body: '{"default_branch": "20210824154421/test_create_pull_conflicts/main"}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht
  response:
    content: '{"id":399426199,"node_id":"MDEwOlJlcG9zaXRvcnkzOTk0MjYxOTk=","name":"functional-testing-repo-sileht","full_name":"mergifyio-testing/functional-testing-repo-sileht","private":false,"owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4"[...]
- request:
    body: '{"base": "20210824154421/test_create_pull_conflicts/main", "head": "mergify-test2:20210824154421/test_create_pull_conflicts/fork/pr1",
      "title": "test_create_pull_conflicts: pull request n1 from fork", "body": "test_create_pull_conflicts:
      pull request n1 from fork", "draft": false}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/pulls
  response:
    content: '{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/pulls/259","id":718861730,"node_id":"MDExOlB1bGxSZXF1ZXN0NzE4ODYxNzMw","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht/pull/259","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht/pull/259.diff","patch_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht/pull/259.patch","issue_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/issues/259","number":259,"state":"open","locked":false,"title":"test_create_pull_conflicts:
      pull request n1 from fork","user":{"login":"mergify-test2","id":38495008,"node_id":"MDQ6VXNlcjM4NDk1MDA4","avatar_url":"https://avatars.githubusercontent.com/u/38495008?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-test2","html_url":"https://github.com/mergify-test2","followers_url":"https://api.github.com/users/mergify-test2/followers","following_url":"https://api.github.com/users/mergify-test2/following{/other_user}","gists_url":"https://api.github.com/users/mergify-test2/gists{/gist_id}","starred_url":"https://api.github.com/users/mergify-test2/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergify-test2/subscriptions","organizations_url":"https://api.github.com/users/mergify-test2/orgs","repos_url":"https://api.github.com/users/mergify-test2/repos","events_url":"https://api.github.com/users/mergify-test2/events{/privacy}","received_events_url":"https://api.github.com/users/mergify-test2/received_events","type":"User","site_admin":false},"body":"test_create_pull_conflicts:
      pull request n1 from fork","created_at":"2021-08-24T15:44:28Z","updated_at":"2021-08-24T15:44:28Z","closed_at":null,"merged_at":null,"merge_commit_sha":null,"assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/pulls/259/commits","review_comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/pulls/259/comments","review_comment_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/pulls/comments{/number}","comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/issues/259/comments","statuses_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/statuses/12406f0763894f7aa872f099569c4ea3dac9e598","head":{"label":"mergify-test2:20210824154421/test_create_pull_conflicts/fork/pr1","ref":"20210824154421/test_create_pull_conflicts/fork/pr1","sha":"12406f0763894f7aa872f099569c4ea3dac9e598","user":{"login":"mergify-test2","id":38495008,"node_id":"MDQ6VXNlcjM4NDk1MDA4","avatar_url":"https://avatars.githubusercontent.com/u/38495008?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-test2","html_url":"https://github.com/mergify-test2","followers_url":"https://api.github.com/users/mergify-test2/followers","following_url":"https://api.github.com/users/mergify-test2/following{/other_user}","gists_url":"https://api.github.com/users/mergify-test2/gists{/gist_id}","starred_url":"https://api.github.com/users/mergify-test2/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergify-test2/subscriptions","organizations_url":"https://api.github.com/users/mergify-test2/orgs","repos_url":"https://api.github.com/users/mergify-test2/repos","events_url":"https://api.github.com/users/mergify-test2/events{/privacy}","received_events_url":"https://api.github.com/users/mergify-test2/received_events","type":"User","site_admin":false},"repo":{"id":399456174,"node_id":"MDEwOlJlcG9zaXRvcnkzOTk0NTYxNzQ=","name":"functional-testing-repo-sileht","full_name":"mergify-test2/functional-testing-repo-sileht","private":false,"owner":{"login":"mergify-test2","id":38495008,"node_id":"MDQ6VXNlcjM4NDk1MDA4","avatar_url":"https://avatars.githubusercontent.com/u/38495008?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-test2","html_url":"https://github.com/mergify-test2","followers_url":"https://api.github.com/users/mergify-test2/fo[...]
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: GET
    uri: https://test-forwarder.mergify.io/events/github.com/11221/399426199?counter=1
  response:
    content: '[{"id":"288930e8-04f2-11ec-816c-cfb0bb7457ce","type":"push","payload":{"ref":"refs/heads/20210824154421/test_create_pull_conflicts/main","before":"0000000000000000000000000000000000000000","after":"b49a3b65054bfbfb2cc7340acfa41f76345037e3","repository":{"id":399426199,"node_id":"MDEwOlJlcG9zaXRvcnkzOTk0MjYxOTk=","name":"functional-testing-repo-sileht","full_name":"mergifyio-testing/functional-testing-repo-sileht","private":false,"owner":{"name":"mergifyio-testing","email":null,"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-tes[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/pulls/259
  response:
    content: '{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/pulls/259","id":718861730,"node_id":"MDExOlB1bGxSZXF1ZXN0NzE4ODYxNzMw","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht/pull/259","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo-sile[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/pulls/259/commits?per_page=100
  response:
    content: '[{"sha":"12406f0763894f7aa872f099569c4ea3dac9e598","node_id":"MDY6Q29tbWl0Mzk5NDU2MTc0OjEyNDA2ZjA3NjM4OTRmN2FhODcyZjA5OTU2OWM0ZWEzZGFjOWU1OTg=","commit":{"author":{"name":"mergify-tester","email":"noreply@mergify.io","date":"2021-08-24T15:44:26Z"},"committer":{"name":"mergify-tester","email":"noreply@mergify.io","date":"2021-08-24T15:44:26Z"},"message":"test_create_pull_conflicts:
      pull request n1 from fork","tree":{"sha":"6fe73f20e23ed2c7571c2c4dde6ca1b5bcf4beab","url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/git/trees/6fe73f20e23ed2c7571c2c4dde6ca1b5bcf4beab"},"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/git/commits/12406f0763894f7aa872f099569c4ea3dac9e598","comment_count":0,"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}},"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/commits/12406f0763894f7aa872f099569c4ea3dac9e598","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht/commit/12406f0763894f7aa872f099569c4ea3dac9e598","comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/commits/12406f0763894f7aa872f099569c4ea3dac9e598/comments","author":null,"committer":null,"parents":[{"sha":"b49a3b65054bfbfb2cc7340acfa41f76345037e3","url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/commits/b49a3b65054bfbfb2cc7340acfa41f76345037e3","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht/commit/b49a3b65054bfbfb2cc7340acfa41f76345037e3"}]}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
      X-OAuth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
    status_code: 200
[...]
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: GET
    uri: https://test-forwarder.mergify.io/events/github.com/11221/399426199?counter=2
  response:
    content: '[{"id":"2d433a20-04f2-11ec-860e-a0a8716b21ce","type":"pull_request","payload":{"action":"opened","number":260,"pull_request":{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/pulls/260","id":718861789,"node_id":"MDExOlB1bGxSZXF1ZXN0NzE4ODYxNzg5","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht/pull/260","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht/pull/260.diff","patch_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht/pull/260.patch","issue_url":"https://api.github.com/repos/mergifyio-testing/f[...]
[...]
- request:
    body: ''
    headers:
    method: PUT
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/pulls/259/merge
  response:
    content: '{"sha":"50bde72cd6311de844abee5bb968c7559dc83018","merged":true,"message":"Pull
      Request successfully merged"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
      X-OAuth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
    status_code: 200
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/branches/20210824154421%2Ftest_create_pull_conflicts%2Fmain
  response:
    content: '{"name":"20210824154421/test_create_pull_conflicts/main","commit":{"sha":"50bde72cd6311de844abee5bb968c7559dc83018","node_id":"MDY6Q29tbWl0Mzk5NDI2MTk5OjUwYmRlNzJjZDYzMTFkZTg0NGFiZWU1YmI5NjhjNzU1OWRjODMwMTg=","commit":{"author":{"name":"mergify-test-user-1","email":"3849494[...]
- request:
    body: '{"ref": "refs/heads/mergify/merge-queue/20210824154421/test_create_pull_conflicts/main/262",
      "sha": "50bde72cd6311de844abee5bb968c7559dc83018"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/git/refs
  response:
    content: '{"ref":"refs/heads/mergify/merge-queue/20210824154421/test_create_pull_conflicts/main/262","node_id":"MDM6UmVmMzk5NDI2MTk5OnJlZnMvaGVhZHMvbWVyZ2lmeS9tZXJnZS1xdWV1ZS8yMDIxMDgyNDE1NDQyMS90ZXN0X2NyZWF0ZV9wdWxsX2NvbmZsaWN0cy9tYWluLzI2Mg==","url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/git/refs/heads/mergify/merge-queue/20210824154421/test_create_pull_conflicts/main/262","object":{"sha":"50bde72cd6311de844abee5bb968c7559dc83018","type":"commit","url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/git/commits/50bde72cd6311de844abee5bb968c7559dc83018"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/git/refs/heads/mergify/merge-queue/20210824154421/test_create_pull_conflicts/main/262
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 201
- request:
    body: '{"base": "mergify/merge-queue/20210824154421/test_create_pull_conflicts/main/262",
      "head": "refs/pull/260/head", "commit_message": "Merge of #260"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/merges
  response:
    content: '{"sha":"4d4b7b7f6385d2f219d984517315f45fd286a4bd","node_id":"MDY6Q29tbWl0Mzk5NDI2MTk5OjRkNGI3YjdmNjM4NWQyZjIxOWQ5ODQ1MTczMTVmNDVmZDI4NmE0YmQ=","commit":{"author":{"name":"mergify-test[bot]","email":"38500045+mergify-test[bot]@users.noreply.github.com","date":"2021-08-24T15:44:50Z"},"co[...]
[...]
- request:
    body: '{"base": "mergify/merge-queue/20210824154421/test_create_pull_conflicts/main/262",
      "head": "refs/pull/262/head", "commit_message": "Merge of #262"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/merges
  response:
    content: '{"message":"Merge conflict","documentation_url":"https://docs.github.com/rest/reference/repos#merge-a-branch"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 409
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/commits/8d88934cea3c1027fa6f1eeece4b8d715fe46023/check-runs?per_page=100
  response:
    content: '{"total_count":0,"check_runs":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=antiope-preview; format=json
    status_code: 200
- request:
    body: '{"name": "Queue: Embarked in merge train", "head_sha": "8d88934cea3c1027fa6f1eeece4b8d715fe46023",
      "status": "completed", "started_at": "2021-08-24T15:44:52.739551+00:00", "details_url":
      "https://github.com/mergifyio-testing/functional-testing-repo-sileht/pull/262/checks",
      "output": {"title": "This pull request cannot be embarked for merge", "summary":
      "The merge-queue pull request can''t be created\nDetails: `Merge conflict`"},
      "conclusion": "action_required", "completed_at": "2021-08-24T15:44:52.739575+00:00"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/check-runs
  response:
    content: '{"id":3412946402,"name":"Queue: Embarked in merge train","node_id":"MDg6Q2hlY2tSdW4zNDEyOTQ2NDAy","head_sha":"8d88934cea3c1027fa6f1eeece4b8d715fe46023","external_id":"","url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/check-runs/3412946402","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht/runs/3412946402","details_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht/pull/262/checks","status":"completed","conclusion":"action_required","started_at":"2021-08-24T15:44:52Z","completed_at":"2021-08-24T15:44:52Z","output":{"title":"This
      pull request cannot be embarked for merge","summary":"The merge-queue pull request
[...]
