interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/user/40527191/installation
  response:
    content: '{"id":15398551,"account":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"repository_selection":"all","access_tokens_url":"https://api.github.com/app/installations/15398551/access_tokens","repositories_url":"https://api.github.com/installation/repositories","html_url":"https://github.com/organizations/mergifyio-testing/settings/installations/15398551","app_id":11221,"app_slug":"mergify-test","target_id":40527191,"target_type":"Organization","permissions":{"pages":"write","checks":"write","issues":"write","members":"read","contents":"write","metadata":"read","statuses":"read","workflows":"write","pull_requests":"write","administration":"read"},"events":["check_run","check_suite","issue_comment","merge_queue_entry","pull_request","pull_request_review","pull_request_review_comment","push","status"],"created_at":"2021-03-15T16:12:17.000Z","updated_at":"2021-09-28T07:54:06.000Z","single_file_name":null,"has_multiple_single_files":false,"single_file_paths":[],"suspended_by":null,"suspended_at":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/user
  response:
    content: '{"login":"mergify-test1","id":38494943,"node_id":"MDQ6VXNlcjM4NDk0OTQz","avatar_url":"https://avatars.githubusercontent.com/u/38494943?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-test1","html_url":"https://github.com/mergify-test1","followers_url":"https://api.github.com/users/mergify-test1/followers","following_url":"https://api.github.com/users/mergify-test1/following{/other_user}","gists_url":"https://api.github.com/users/mergify-test1/gists{/gist_id}","starred_url":"https://api.github.com/users/mergify-test1/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergify-test1/subscriptions","organizations_url":"https://api.github.com/users/mergify-test1/orgs","repos_url":"https://api.github.com/users/mergify-test1/repos","events_url":"https://api.github.com/users/mergify-test1/events{/privacy}","received_events_url":"https://api.github.com/users/mergify-test1/received_events","type":"User","site_admin":false,"name":"mergify-test-user-1","company":"@mergifyio","blog":"https://mergify.io","location":null,"email":null,"hireable":null,"bio":"This
      account is for testing purpose of the workflow of the GitHub App @mergifyio","twitter_username":"mergifyio","public_repos":0,"public_gists":0,"followers":0,"following":0,"created_at":"2018-04-18T10:42:59Z","updated_at":"2021-10-15T15:07:41Z","private_gists":0,"total_private_repos":0,"owned_private_repos":0,"disk_usage":0,"collaborators":0,"two_factor_authentication":false,"plan":{"name":"free","space":976562499,"collaborators":0,"private_repos":10000}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
      X-OAuth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
    status_code: 200
[...]
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: POST
    uri: https://api.github.com/app/installations/15398551/access_tokens
  response:
    content: '{"token": "<TOKEN>", "expires_at": "2021-11-10T14:53:29Z", "permissions":
      {"members": "read", "administration": "read", "checks": "write", "contents":
      "write", "issues": "write", "metadata": "read", "pages": "write", "pull_requests":
      "write", "statuses": "read", "workflows": "write"}, "repository_selection":
      "all"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; format=json
    status_code: 201
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/repositories/405117448
  response:
    content: '{"id":405117448,"node_id":"MDEwOlJlcG9zaXRvcnk0MDUxMTc0NDg=","name":"functional-testing-repo-Zerdanes","full_name":"mergifyio-testing/functional-testing-repo-Zerdanes","private":false,"owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/mergifyio-testing/functional-testing-repo-Zerdanes","description":null,"fork":false,"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes","forks_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/forks","keys_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/keys{/key_id}","collaborators_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/teams","hooks_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/hooks","issue_events_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/issues/events{/number}","events_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/events","assignees_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/assignees{/user}","branches_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/branches{/branch}","tags_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/tags","blobs_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/git/refs{/sha}","trees_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/git/trees{/sha}","statuses_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/statuses/{sha}","languages_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/languages","stargazers_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/stargazers","contributors_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/contributors","subscribers_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/subscribers","subscription_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/subscription","commits_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/commits{/sha}","git_commits_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/git/commits{/sha}","comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/comments{/number}","issue_comment_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/issues/comments{/number}","contents_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/contents/{+path}","compare_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/compare/{base}...{head}","merges_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/merges","archive_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/downloads","issues_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/issues{/number}","pulls_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/pulls{/number}","milestones_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/milestones{/number}","notifications_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/labels{/name}","releases_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/releases{/id}","deployments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/deployments","created_at":"2021-09-10T14:57:36Z","updated_at":"2021-11-09T15:30:17Z","pushed_at":"2021-11-10T13:53:07Z","git_url":"git://github.com/mergifyio-testing/functional-testing-repo-Zerdanes.git","ssh_url":"git@github.com:mergifyio-testing/functional-testing-repo-Zerdanes.git","clone_url":"https://github.com/mergifyio-testing/functional-testing-repo-Zerdanes.git","svn_url":"https://github.com/mergifyio-testing/functional-testing-repo-Zerdanes","homepage":null,"size":1,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":1,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"allow_forking":true,"is_template":false,"topics":[],"visibility":"public","forks":1,"open_issues":0,"watchers":0,"default_branch":"main","permissions":{"admin":false,"maintain":false,"push":false,"triage":false,"pull":false},"temp_clone_token":"","allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"allow_auto_merge":false,"delete_branch_on_merge":false,"organization":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"network_count":1,"subscribers_count":2}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 200
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: DELETE
    uri: https://test-forwarder.mergify.io/events/github.com/11221/405117448
  response:
    content: Event queued
    headers:
    status_code: 202
- request:
    body: '{"default_branch": "20211110135328/test_commit_message_brownout/main"}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes
  response:
    content: '{"id":405117448,"node_id":"MDEwOlJlcG9zaXRvcnk0MDUxMTc0NDg=","name":"functional-testing-repo-Zerdanes","full_name":"mergifyio-testing/functional-testing-repo-Zerdanes","private":false,"owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/4052719[...]
- request:
    body: '{"base": "20211110135328/test_commit_message_brownout/main", "head": "mergify-test2:20211110135328/test_commit_message_brownout/fork/pr1",
      "title": "test_commit_message_brownout: pull request n1 from fork", "body":
      "test_commit_message_brownout: pull request n1 from fork", "draft": false}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/pulls
  response:
    content: '{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/pulls/917","id":777621140,"node_id":"PR_kwDOGCWaCM4uWY6U","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-Zerdanes/pull/917","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo-Zerdanes/pull/917.diff","patch_url":"https://github.com/mergifyio-testing/functional-testing-repo-Zerdanes/pull/917.patch","issue_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/issues/917","number":917,"state":"open","locked":false,"title":"test_commit_message_brownout:
      pull request n1 from fork","user":{"login":"mergify-test2","id":38495008,"node_id":"MDQ6VXNlcjM4NDk1MDA4","avatar_url":"https://avatars.githubusercontent.com/u/38495008?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-test2","html_url":"https://github.com/mergify-test2","followers_url":"https://api.github.com/users/mergify-test2/followers","following_url":"https://api.github.com/users/mergify-test2/following{/other_user}","gists_url":"https://api.github.com/users/mergify-test2/gists{/gist_id}","starred_url":"https://api.github.com/users/mergify-test2/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergify-test2/subscriptions","organizations_url":"https://api.github.com/users/mergify-test2/orgs","repos_url":"https://api.github.com/users/mergify-test2/repos","events_url":"https://api.github.com/users/mergify-test2/events{/privacy}","received_events_url":"https://api.github.com/users/mergify-test2/received_events","type":"User","site_admin":false},"body":"test_commit_message_brownout:
      pull request n1 from fork","created_at":"2021-11-10T13:53:36Z","updated_at":"2021-11-10T13:53:36Z","closed_at":null,"merged_at":null,"merge_commit_sha":null,"assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/pulls/917/commits","review_comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/pulls/917/comments","review_comment_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/pulls/comments{/number}","comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/issues/917/comments","statuses_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/statuses/ffde08e715391b402790448565a7bf6d3abbadd2","head":{"label":"mergify-test2:20211110135328/test_commit_message_brownout/fork/pr1","ref":"20211110135328/test_commit_message_brownout/fork/pr1","sha":"ffde08e715391b402790448565a7bf6d3abbadd2","user":{"login":"mergify-test2","id":38495008,"node_id":"MDQ6VXNlcjM4NDk1MDA4","avatar_url":"https://avatars.githubusercontent.com/u/38495008?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-test2","html_url":"https://github.com/mergify-test2","followers_url":"https://api.github.com/users/mergify-test2/followers","following_url":"https://api.github.com/users/mergify-test2/following{/other_user}","gists_url":"https://api.github.com/users/mergify-test2/gists{/gist_id}","starred_url":"https://api.github.com/users/mergify-test2/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergify-test2/subscriptions","organizations_url":"https://api.github.com/users/mergify-test2/orgs","repos_url":"https://api.github.com/users/mergify-test2/repos","events_url":"https://api.github.com/users/mergify-test2/events{/privacy}","received_events_url":"https://api.github.com/users/mergify-test2/received_events","type":"User","site_admin":false},"repo":{"id":405125372,"node_id":"MDEwOlJlcG9zaXRvcnk0MDUxMjUzNzI=","name":"functional-testing-repo-Zerdanes","full_name":"mergify-test2/functional-testing-repo-Zerdanes","private":false,"owner":{"login":"mergify-test2","id":38495008,"node_id":"MDQ6VXNlcjM4NDk1MDA4","avatar_url":"https://avatars.githubusercontent.com/u/38495008?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-test2","html_url":"https://github.com/mergify-test2","followers_url":"https://api.github.com/users/mergify-test[...]
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: GET
    uri: https://test-forwarder.mergify.io/events/github.com/11221/405117448?counter=1
  response:
    content: '[{"id":"97649818-422d-11ec-985f-2f859f6aee04","type":"push","payload":{"ref":"refs/heads/20211110135328/test_commit_message_brownout/main","before":"0000000000000000000000000000000000000000","after":"9e8cbcc21693517995cfb0a13d9621c1bf0aedfd","repository":{"id":405117448,"node_id":"MDEwOlJlcG9zaXRvcnk0MDUxMTc0NDg=","name":"functional-testing-repo-Zerdanes","full_name":"mergifyio-testing/functional-testing-repo-Zerdanes","private":false,"owner":{"name":"mergifyio-testing","email":null,"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/pulls/917
  response:
    content: '{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/pulls/917","id":777621140,"node_id":"PR_kwDOGCWaCM4uWY6U","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-Zerdanes/pull/917","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo-Zerdanes/pu[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/pulls/917/commits?per_page=100
  response:
    content: '[{"sha":"ffde08e715391b402790448565a7bf6d3abbadd2","node_id":"C_kwDOGCW4_NoAKGZmZGUwOGU3MTUzOTFiNDAyNzkwNDQ4NTY1YTdiZjZkM2FiYmFkZDI","commit":{"author":{"name":"mergify-tester","email":"noreply@mergify.io","date":"2021-11-10T13:53:34Z"},"committer":{"name":"mergify-tester","email":"noreply@mergify.io","date":"2021-11-10T13:53:34Z"},"message":"test_commit_message_brownout:
      pull request n1 from fork","tree":{"sha":"6579a8516a987b49842725e0159b43ba06a08d5e","url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/git/trees/6579a8516a987b49842725e0159b43ba06a08d5e"},"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/git/commits/ffde08e715391b402790448565a7bf6d3abbadd2","comment_count":0,"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}},"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/commits/ffde08e715391b402790448565a7bf6d3abbadd2","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-Zerdanes/commit/ffde08e715391b402790448565a7bf6d3abbadd2","comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/commits/ffde08e715391b402790448565a7bf6d3abbadd2/comments","author":null,"committer":null,"parents":[{"sha":"9e8cbcc21693517995cfb0a13d9621c1bf0aedfd","url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/commits/9e8cbcc21693517995cfb0a13d9621c1bf0aedfd","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-Zerdanes/commit/9e8cbcc21693517995cfb0a13d9621c1bf0aedfd"}]}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
      X-OAuth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
    status_code: 200
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repositories/405117448/pulls?per_page=100
  response:
    content: '[{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/pulls/917","id":777621140,"node_id":"PR_kwDOGCWaCM4uWY6U","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-Zerdanes/pull/917","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo-Zerdanes/pull/917.diff","patch_url"[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repositories/405117448/pulls/917
  response:
    content: '{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/pulls/917","id":777621140,"node_id":"PR_kwDOGCWaCM4uWY6U","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-Zerdanes/pull/917","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo-Zerdanes/pull/917.diff","patch_url":"https://[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/contents/.mergify.yml
  response:
    content: '{"name":".mergify.yml","path":".mergify.yml","sha":"0192f633027f67ecaae9d8054d06b92e1d488ec3","size":261,"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/contents/.mergify.yml?ref=20211110135328/test_commit_message_brownout/main","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-Zerdanes/blob/20211110135328/test_commit_message_brownout/main/.mergify.yml","git_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/git/blobs/0192f633027f67ecaae9d8054d06b92e1d488ec3","download_url":"https://raw.githubusercontent.com/mergifyio-testing/functional-testing-repo-Zerdanes/20211110135328/test_commit_message_brownout/main/.mergify.yml","type":"file","content":"cHVsbF9yZXF1ZXN0X3J1bGVzOgotIGFjdGlvbnM6CiAgICBtZXJnZToKICAg\nICAgY29tbWl0X21lc3NhZ2U6IHRpdGxlK2JvZHkKICAgICAgcHJpb3JpdHk6\nIGhpZ2gKICBjb25kaXRpb25zOgogIC0gYmFzZT0yMDIxMTExMDEzNTMyOC90\nZXN0X2NvbW1pdF9tZXNzYWdlX2Jyb3dub3V0L21haW4KICAtIGxhYmVsPWhp\nZ2gKICAtIHN0YXR1cy1zdWNjZXNzPWNvbnRpbnVvdXMtaW50ZWdyYXRpb24v\nZmFrZS1jaQogIG5hbWU6IE1lcmdlIHByaW9yaXR5IGhpZ2gK\n","encoding":"base64","_links":{"self":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/contents/.mergify.yml?ref=20211110135328/test_commit_message_brownout/main","git":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/git/blobs/0192f633027f67ecaae9d8054d06b92e1d488ec3","html":"https://github.com/mergifyio-testing/functional-testing-repo-Zerdanes/blob/20211110135328/test_commit_message_brownout/main/.mergify.yml"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/pulls/917/files?per_page=100
  response:
    content: '[{"sha":"e69de29bb2d1d6434b8b29ae775ad8c2e48c5391","filename":"test1","status":"added","additions":0,"deletions":0,"changes":0,"blob_url":"https://github.com/mergifyio-testing/functional-testing-repo-Zerdanes/blob/ffde08e715391b402790448565a7bf6d3abbadd2/test1","raw_url":"https://github.com/mergifyio-testing/functional-testing-repo-Zerdanes/raw/ffde08e715391b402790448565a7bf6d3abbadd2/test1","contents_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/contents/test1?ref=ffde08e715391b402790448565a7bf6d3abbadd2"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/commits/ffde08e715391b402790448565a7bf6d3abbadd2/check-runs?per_page=100
  response:
    content: '{"total_count":0,"check_runs":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=antiope-preview; format=json
    status_code: 200
- request:
    body: '{"name": "Summary", "head_sha": "ffde08e715391b402790448565a7bf6d3abbadd2",
      "status": "completed", "started_at": "2021-11-10T13:53:41.180122+00:00", "details_url":
      "https://github.com/mergifyio-testing/functional-testing-repo-Zerdanes/pull/917/checks",
      "output": {"title": "The Mergify configuration is invalid", "summary": "extra
      keys not allowed @ pull_request_rules \u2192 item 0 \u2192 actions \u2192 merge
      \u2192 commit_message", "annotations": []}, "external_id": "917", "conclusion":
      "failure", "completed_at": "2021-11-10T13:53:42.292908+00:00"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/check-runs
  response:
    content: "{\"id\":4166006088,\"name\":\"Summary\",\"node_id\":\"CR_kwDOGCWaCM74UDVI\",\"head_sha\":\"ffde08e715391b402790448565a7bf6d3abbadd2\",\"external_id\":\"917\",\"url\":\"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/check-runs/4166006088\",\"html_url\":\"https://github.com/mergifyio-testing/functional-testing-repo-Zerdanes/runs/4166006088\",\"details_url\":\"https://github.com/mergifyio-testing/functional-testing-repo-Zerdanes/pull/917/checks\",\"status\":\"completed\",\"conclusion\":\"failure\",\"started_at\":\"2021-11-10T13:53:41Z\",\"completed_at\":\"2021-11-10T13:53:42Z\",\"output\":{\"title\":\"The
      Mergify configuration is invalid\",\"summary\":\"extra keys not allowed @ pull_request_rules
[...]
