<div class="use-cases">
  <div class="row g-2 row-cols-1 row-cols-sm-2 row-cols-lg-3">
    {% for title, desc, link, icon in actions %}
      <div class="col">
        <div class="card h-100">
          <a href="{{ link }}">
            <div class="card-body">
              <h5 class="card-title">
                <i class="fas fa-{{icon}} text-primary"></i>
                {{ title }}
              </h5>
              <p class="card-text">
                {{ desc }}
              </p>
            </div>
          </a>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
