{"recorded_with": "betamax/0.8.1", "http_interactions": [{"response": {"body": {"encoding": "utf-8", "string": "{\"url\":\"https://api.github.com/repos/mergify-test1/repo-bd073620-9447-42cf-9076-5076f0b031c8-test_auto_backport_rebase/statuses/355766f0abc1ad1b1dcb23ee43e04e9be4b622fb\",\"id\":5124353572,\"node_id\":\"MDEzOlN0YXR1c0NvbnRleHQ1MTI0MzUzNTcy\",\"state\":\"success\",\"description\":\"Your change works\",\"target_url\":null,\"context\":\"continuous-integration/fake-ci\",\"created_at\":\"2018-06-24T16:30:10Z\",\"updated_at\":\"2018-06-24T16:30:10Z\",\"creator\":{\"login\":\"mergify-test1\",\"id\":38494943,\"node_id\":\"MDQ6VXNlcjM4NDk0OTQz\",\"avatar_url\":\"https://avatars3.githubusercontent.com/u/38494943?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test1\",\"html_url\":\"https://github.com/mergify-test1\",\"followers_url\":\"https://api.github.com/users/mergify-test1/followers\",\"following_url\":\"https://api.github.com/users/mergify-test1/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test1/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test1/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test1/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test1/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test1/repos\",\"events_url\":\"https://api.github.com/users/mergify-test1/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test1/received_events\",\"type\":\"User\",\"site_admin\":false}}"}, "url": "https://api.github.com:443/repos/mergify-test1/repo-bd073620-9447-42cf-9076-5076f0b031c8-test_auto_backport_rebase/statuses/355766f0abc1ad1b1dcb23ee43e04e9be4b622fb", "status": {"message": "Created", "code": 201}, "headers": {"X-RateLimit-Reset": ["1529858954"], "Content-Type": ["application/json; charset=utf-8"], "X-OAuth-Scopes": ["repo"], "X-GitHub-Media-Type": ["github.machine-man-preview; format=json"], "Status": ["201 Created"], "X-RateLimit-Remaining": ["4830"], "Location": ["https://api.github.com/repos/mergify-test1/repo-bd073620-9447-42cf-9076-5076f0b031c8-test_auto_backport_rebase/statuses/355766f0abc1ad1b1dcb23ee43e04e9be4b622fb"], "X-Accepted-OAuth-Scopes": [""], "ETag": ["\"6c8678a1392c9b1f300955fa8fae111c\""], "X-RateLimit-Limit": ["5000"]}}, "request": {"body": {"encoding": "utf-8", "string": "{\"context\": \"continuous-integration/fake-ci\", \"state\": \"success\", \"description\": \"Your change works\"}"}, "method": "POST", "uri": "https://api.github.com:443/repos/mergify-test1/repo-bd073620-9447-42cf-9076-5076f0b031c8-test_auto_backport_rebase/statuses/355766f0abc1ad1b1dcb23ee43e04e9be4b622fb", "headers": {"Content-Type": ["application/json"], "Authorization": ["token <MAIN_TOKEN>"]}}, "recorded_at": "2018-06-24T16:30:10"}]}