{"recorded_with": "betamax/0.8.1", "http_interactions": [{"response": {"url": "https://api.github.com:443/repos/mergify-test1/repo-db72596e-cad4-442d-b38a-39ce7752b67e-test_auto_backport_rebase/statuses/f7bfea1152e60c1a2aace757dd9f56f350350479", "headers": {"X-RateLimit-Limit": ["5000"], "Content-Type": ["application/json; charset=utf-8"], "Location": ["https://api.github.com/repos/mergify-test1/repo-db72596e-cad4-442d-b38a-39ce7752b67e-test_auto_backport_rebase/statuses/f7bfea1152e60c1a2aace757dd9f56f350350479"], "X-OAuth-Scopes": ["repo"], "X-GitHub-Media-Type": ["github.machine-man-preview; format=json"], "X-RateLimit-Reset": ["1529569015"], "ETag": ["\"a28e0dc198bf87a6867146b914e4ded6\""], "Status": ["201 Created"], "X-RateLimit-Remaining": ["4878"], "X-Accepted-OAuth-Scopes": [""]}, "body": {"encoding": "utf-8", "string": "{\"url\":\"https://api.github.com/repos/mergify-test1/repo-db72596e-cad4-442d-b38a-39ce7752b67e-test_auto_backport_rebase/statuses/f7bfea1152e60c1a2aace757dd9f56f350350479\",\"id\":5112486019,\"node_id\":\"MDEzOlN0YXR1c0NvbnRleHQ1MTEyNDg2MDE5\",\"state\":\"success\",\"description\":\"Your change works\",\"target_url\":null,\"context\":\"continuous-integration/fake-ci\",\"created_at\":\"2018-06-21T07:51:37Z\",\"updated_at\":\"2018-06-21T07:51:37Z\",\"creator\":{\"login\":\"mergify-test1\",\"id\":38494943,\"node_id\":\"MDQ6VXNlcjM4NDk0OTQz\",\"avatar_url\":\"https://avatars3.githubusercontent.com/u/38494943?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test1\",\"html_url\":\"https://github.com/mergify-test1\",\"followers_url\":\"https://api.github.com/users/mergify-test1/followers\",\"following_url\":\"https://api.github.com/users/mergify-test1/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test1/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test1/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test1/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test1/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test1/repos\",\"events_url\":\"https://api.github.com/users/mergify-test1/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test1/received_events\",\"type\":\"User\",\"site_admin\":false}}"}, "status": {"message": "Created", "code": 201}}, "request": {"method": "POST", "headers": {"Authorization": ["token <MAIN_TOKEN>"], "Content-Type": ["application/json"]}, "body": {"encoding": "utf-8", "string": "{\"state\": \"success\", \"description\": \"Your change works\", \"context\": \"continuous-integration/fake-ci\"}"}, "uri": "https://api.github.com:443/repos/mergify-test1/repo-db72596e-cad4-442d-b38a-39ce7752b67e-test_auto_backport_rebase/statuses/f7bfea1152e60c1a2aace757dd9f56f350350479"}, "recorded_at": "2018-06-21T07:51:37"}]}