{"http_interactions": [{"response": {"url": "https://api.github.com:443/repos/mergify-test1/repo-db72596e-cad4-442d-b38a-39ce7752b67e-test_auto_backport_rebase/pulls", "body": {"string": "{\"url\":\"https://api.github.com/repos/mergify-test1/repo-db72596e-cad4-442d-b38a-39ce7752b67e-test_auto_backport_rebase/pulls/1\",\"id\":196364081,\"node_id\":\"MDExOlB1bGxSZXF1ZXN0MTk2MzY0MDgx\",\"html_url\":\"https://github.com/mergify-test1/repo-db72596e-cad4-442d-b38a-39ce7752b67e-test_auto_backport_rebase/pull/1\",\"diff_url\":\"https://github.com/mergify-test1/repo-db72596e-cad4-442d-b38a-39ce7752b67e-test_auto_backport_rebase/pull/1.diff\",\"patch_url\":\"https://github.com/mergify-test1/repo-db72596e-cad4-442d-b38a-39ce7752b67e-test_auto_backport_rebase/pull/1.patch\",\"issue_url\":\"https://api.github.com/repos/mergify-test1/repo-db72596e-cad4-442d-b38a-39ce7752b67e-test_auto_backport_rebase/issues/1\",\"number\":1,\"state\":\"open\",\"locked\":false,\"title\":\"Pull request n1 from fork\",\"user\":{\"login\":\"mergify-test2\",\"id\":38495008,\"node_id\":\"MDQ6VXNlcjM4NDk1MDA4\",\"avatar_url\":\"https://avatars1.githubusercontent.com/u/38495008?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test2\",\"html_url\":\"https://github.com/mergify-test2\",\"followers_url\":\"https://api.github.com/users/mergify-test2/followers\",\"following_url\":\"https://api.github.com/users/mergify-test2/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test2/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test2/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test2/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test2/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test2/repos\",\"events_url\":\"https://api.github.com/users/mergify-test2/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test2/received_events\",\"type\":\"User\",\"site_admin\":false},\"body\":\"Pull request n1 from fork\",\"created_at\":\"2018-06-21T07:51:26Z\",\"updated_at\":\"2018-06-21T07:51:26Z\",\"closed_at\":null,\"merged_at\":null,\"merge_commit_sha\":null,\"assignee\":null,\"assignees\":[],\"requested_reviewers\":[],\"requested_teams\":[],\"labels\":[],\"milestone\":null,\"commits_url\":\"https://api.github.com/repos/mergify-test1/repo-db72596e-cad4-442d-b38a-39ce7752b67e-test_auto_backport_rebase/pulls/1/commits\",\"review_comments_url\":\"https://api.github.com/repos/mergify-test1/repo-db72596e-cad4-442d-b38a-39ce7752b67e-test_auto_backport_rebase/pulls/1/comments\",\"review_comment_url\":\"https://api.github.com/repos/mergify-test1/repo-db72596e-cad4-442d-b38a-39ce7752b67e-test_auto_backport_rebase/pulls/comments{/number}\",\"comments_url\":\"https://api.github.com/repos/mergify-test1/repo-db72596e-cad4-442d-b38a-39ce7752b67e-test_auto_backport_rebase/issues/1/comments\",\"statuses_url\":\"https://api.github.com/repos/mergify-test1/repo-db72596e-cad4-442d-b38a-39ce7752b67e-test_auto_backport_rebase/statuses/f7bfea1152e60c1a2aace757dd9f56f350350479\",\"head\":{\"label\":\"mergify-test2:fork/pr1\",\"ref\":\"fork/pr1\",\"sha\":\"f7bfea1152e60c1a2aace757dd9f56f350350479\",\"user\":{\"login\":\"mergify-test2\",\"id\":38495008,\"node_id\":\"MDQ6VXNlcjM4NDk1MDA4\",\"avatar_url\":\"https://avatars1.githubusercontent.com/u/38495008?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test2\",\"html_url\":\"https://github.com/mergify-test2\",\"followers_url\":\"https://api.github.com/users/mergify-test2/followers\",\"following_url\":\"https://api.github.com/users/mergify-test2/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test2/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test2/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test2/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test2/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test2/repos\",\"events_url\":\"https://api.github.com/users/mergify-test2/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test2/received_events\",\"type\":\"User\",\"site_admin\":false},\"repo\":{\"id\":138137652,\"node_id\":\"MDEwOlJlcG9zaXRvcnkxMzgxMzc2NTI=\",\"name\":\"repo-db72596e-cad4-442d-b38a-39ce7752b67e-test_auto_backport_rebase\",\"full_name\":\"mergify-test2/repo-db72596e-cad4-442d-b38a-39ce7752b67e-test_auto_backport_rebase\",\"owner\":{\"login\":\"mergify-test2\",\"id\":38495008,\"node_id\":\"MDQ6VXNlcjM4NDk1MDA4\",\"avatar_url\":\"https://avatars1.githubusercontent.com/u/38495008?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test2\",\"html_url\":\"https://github.com/mergify-test2\",\"followers_url\":\"https://api.github.com/users/mergify-test2/followers\",\"following_url\":\"https://api.github.com/users/mergify-test2/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test2/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test2/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test2/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test2/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test2/repos\",\"events_url\":\"https://api.github.com/users/mergify-test2/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test2/received_events\",\"type\":\"User\",\"site_admin\":false},\"private\":false,\"html_url\":\"https://github.com/mergify-test2/repo-db72596e-cad4-442d-b38a-39ce7752b67e-test_auto_backport_rebase\",\"description\":null,\"fork\":true,\"url\":\"https://api.github.com/repos/mergify-test2/repo-db72596e-cad4-442d-b38a-39ce7752b67e-test_auto_backport_rebase\",\"forks_url\":\"https://api.github.com/repos/mergify-test2/repo-db72596e-cad4-442d-b38a-39ce7752b67e-test_auto_backport_rebase/forks\",\"keys_url\":\"https://api.github.com/repos/mergify-test2/repo-db72596e-cad4-442d-b38a-39ce7752b67e-test_auto_backport_rebase/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/mergify-test2/repo-db72596e-cad4-442d-b38a-39ce7752b67e-test_auto_backport_rebase/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/mergify-test2/repo-db72596e-cad4-442d-b38a-39ce7752b67e-test_auto_backport_rebase/teams\",\"hooks_url\":\"https://api.github.com/repos/mergify-test2/repo-db72596e-cad4-442d-b38a-39ce7752b67e-test_auto_backport_rebase/hooks\",\"issue_events_url\":\"https://api.github.com/repos/mergify-test2/repo-db72596e-cad4-442d-b38a-39ce7752b67e-test_auto_backport_rebase/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/mergify-test2/repo-db72596e-cad4-442d-b38a-39ce7752b67e-test_auto_backport_rebase/events\",\"assignees_url\":\"https://api.github.com/repos/mergify-test2/repo-db72596e-cad4-442d-b38a-39ce7752b67e-test_auto_backport_rebase/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/mergify-test2/repo-db72596e-cad4-442d-b38a-39ce7752b67e-test_auto_backport_rebase/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/mergify-test2/repo-db72596e-cad4-442d-b38a-39ce7752b67e-test_auto_backport_rebase/tags\",\"blobs_url\":\"https://api.github.com/repos/mergify-test2/repo-db72596e-cad4-442d-b38a-39ce7752b67e-test_auto_backport_rebase/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/mergify-test2/repo-db72596e-cad4-442d-b38a-39ce7752b67e-test_auto_backport_rebase/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/mergify-test2/repo-db72596e-cad4-442d-b38a-39ce7752b67e-test_auto_backport_rebase/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/mergify-test2/repo-db72596e-cad4-442d-b38a-39ce7752b67e-test_auto_backport_rebase/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/mergify-test2/repo-db72596e-cad4-442d-b38a-39ce7752b67e-test_auto_backport_rebase/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/mergify-test2/repo-db72596e-cad4-442d-b38a-39ce7752b67e-test_auto_backport_rebase/languages\",\"stargazers_url\":\"https://api.github.com/repos/mergify-test2/repo-db72596e-cad4-442d-b38a-39ce7752b67e-test_auto_backport_rebase/stargazers\",\"contributors_url\":\"https://api.github.com/repos/mergify-test2/repo-db72596e-cad4-442d-b38a-39ce7752b67e-test_auto_backport_rebase/contributors\",\"subscribers_url\":\"https://api.github.com/repos/mergify-test2/repo-db72596e-cad4-442d-b38a-39ce7752b67e-test_auto_backport_rebase/subscribers\",\"subscription_url\":\"https://api.github.com/repos/mergify-test2/repo-db72596e-cad4-442d-b38a-39ce7752b67e-test_auto_backport_rebase/subscription\",\"commits_url\":\"https://api.github.com/repos/mergify-test2/repo-db72596e-cad4-442d-b38a-39ce7752b67e-test_auto_backport_rebase/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/mergify-test2/repo-db72596e-cad4-442d-b38a-39ce7752b67e-test_auto_backport_rebase/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/mergify-test2/repo-db72596e-cad4-442d-b38a-39ce7752b67e-test_auto_backport_rebase/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/mergify-test2/repo-db72596e-cad4-442d-b38a-39ce7752b67e-test_auto_backport_rebase/issues/comments{/number}\",\"contents_url\":\"https://api.github.com/repos/mergify-test2/repo-db72596e-cad4-442d-b38a-39ce7752b67e-test_auto_backport_rebase/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/mergify-test2/repo-db72596e-cad4-442d-b38a-39ce7752b67e-test_auto_backport_rebase/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/mergify-test2/repo-db72596e-cad4-442d-b38a-39ce7752b67e-test_auto_backport_rebase/merges\",\"archive_url\":\"https://api.github.com/repos/mergify-test2/repo-db72596e-cad4-442d-b38a-39ce7752b67e-test_auto_backport_rebase/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/mergify-test2/repo-db72596e-cad4-442d-b38a-39ce7752b67e-test_auto_backport_rebase/downloads\",\"issues_url\":\"https://api.github.com/repos/mergify-test2/repo-db72596e-cad4-442d-b38a-39ce7752b67e-test_auto_backport_rebase/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/mergify-test2/repo-db72596e-cad4-442d-b38a-39ce7752b67e-test_auto_backport_rebase/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/mergify-test2/repo-db72596e-cad4-442d-b38a-39ce7752b67e-test_auto_backport_rebase/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/mergify-test2/repo-db72596e-cad4-442d-b38a-39ce7752b67e-test_auto_backport_rebase/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/mergify-test2/repo-db72596e-cad4-442d-b38a-39ce7752b67e-test_auto_backport_rebase/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/mergify-test2/repo-db72596e-cad4-442d-b38a-39ce7752b67e-test_auto_backport_rebase/releases{/id}\",\"deployments_url\":\"https://api.github.com/repos/mergify-test2/repo-db72596e-cad4-442d-b38a-39ce7752b67e-test_auto_backport_rebase/deployments\",\"created_at\":\"2018-06-21T07:51:22Z\",\"updated_at\":\"2018-06-21T07:51:24Z\",\"pushed_at\":\"2018-06-21T07:51:26Z\",\"git_url\":\"git://github.com/mergify-test2/repo-db72596e-cad4-442d-b38a-39ce7752b67e-test_auto_backport_rebase.git\",\"ssh_url\":\"git@github.com:mergify-test2/repo-db72596e-cad4-442d-b38a-39ce7752b67e-test_auto_backport_rebase.git\",\"clone_url\":\"https://github.com/mergify-test2/repo-db72596e-cad4-442d-b38a-39ce7752b67e-test_auto_backport_rebase.git\",\"svn_url\":\"https://github.com/mergify-test2/repo-db72596e-cad4-442d-b38a-39ce7752b67e-test_auto_backport_rebase\",\"homepage\":null,\"size\":0,\"stargazers_count\":0,\"watchers_count\":0,\"language\":null,\"has_issues\":false,\"has_projects\":true,\"has_downloads\":true,\"has_wiki\":true,\"has_pages\":false,\"forks_count\":0,\"mirror_url\":null,\"archived\":false,\"open_issues_count\":0,\"license\":null,\"forks\":0,\"open_issues\":0,\"watchers\":0,\"default_branch\":\"master\"}},\"base\":{\"label\":\"mergify-test1:nostrict\",\"ref\":\"nostrict\",\"sha\":\"6c891947cbf95f1853fc2c7d5599e9dc5d942e6a\",\"user\":{\"login\":\"mergify-test1\",\"id\":38494943,\"node_id\":\"MDQ6VXNlcjM4NDk0OTQz\",\"avatar_url\":\"https://avatars3.githubusercontent.com/u/38494943?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test1\",\"html_url\":\"https://github.com/mergify-test1\",\"followers_url\":\"https://api.github.com/users/mergify-test1/followers\",\"following_url\":\"htt[...]
