{"recorded_with": "betamax/0.8.1", "http_interactions": [{"recorded_at": "2018-06-24T15:56:37", "request": {"headers": {"Authorization": ["token <MAIN_TOKEN>"], "Content-Type": ["application/json"]}, "uri": "https://api.github.com:443/repos/mergify-test1/repo-20f7ccb4-db08-45e1-bf3d-ccad06ef600a-test_auto_backport_rebase/statuses/1624552e14ce17156b2e47e96f4bd04ac6fb01a6", "method": "POST", "body": {"string": "{\"context\": \"continuous-integration/fake-ci\", \"state\": \"success\", \"description\": \"Your change works\"}", "encoding": "utf-8"}}, "response": {"headers": {"X-GitHub-Media-Type": ["github.machine-man-preview; format=json"], "Location": ["https://api.github.com/repos/mergify-test1/repo-20f7ccb4-db08-45e1-bf3d-ccad06ef600a-test_auto_backport_rebase/statuses/1624552e14ce17156b2e47e96f4bd04ac6fb01a6"], "X-RateLimit-Limit": ["5000"], "X-RateLimit-Remaining": ["4935"], "Content-Type": ["application/json; charset=utf-8"], "ETag": ["\"fe02281890ad4b3ef37a5057d90ed9a2\""], "Status": ["201 Created"], "X-OAuth-Scopes": ["repo"], "X-RateLimit-Reset": ["1529858954"], "X-Accepted-OAuth-Scopes": [""]}, "url": "https://api.github.com:443/repos/mergify-test1/repo-20f7ccb4-db08-45e1-bf3d-ccad06ef600a-test_auto_backport_rebase/statuses/1624552e14ce17156b2e47e96f4bd04ac6fb01a6", "status": {"message": "Created", "code": 201}, "body": {"string": "{\"url\":\"https://api.github.com/repos/mergify-test1/repo-20f7ccb4-db08-45e1-bf3d-ccad06ef600a-test_auto_backport_rebase/statuses/1624552e14ce17156b2e47e96f4bd04ac6fb01a6\",\"id\":5124319058,\"node_id\":\"MDEzOlN0YXR1c0NvbnRleHQ1MTI0MzE5MDU4\",\"state\":\"success\",\"description\":\"Your change works\",\"target_url\":null,\"context\":\"continuous-integration/fake-ci\",\"created_at\":\"2018-06-24T15:56:37Z\",\"updated_at\":\"2018-06-24T15:56:37Z\",\"creator\":{\"login\":\"mergify-test1\",\"id\":38494943,\"node_id\":\"MDQ6VXNlcjM4NDk0OTQz\",\"avatar_url\":\"https://avatars3.githubusercontent.com/u/38494943?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test1\",\"html_url\":\"https://github.com/mergify-test1\",\"followers_url\":\"https://api.github.com/users/mergify-test1/followers\",\"following_url\":\"https://api.github.com/users/mergify-test1/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test1/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test1/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test1/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test1/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test1/repos\",\"events_url\":\"https://api.github.com/users/mergify-test1/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test1/received_events\",\"type\":\"User\",\"site_admin\":false}}", "encoding": "utf-8"}}}, {"response": {"headers": {"X-GitHub-Media-Type": ["github.machine-man-preview; format=json"], "X-RateLimit-Reset": ["1530223269"], "X-Accepted-OAuth-Scopes": [""], "Location": ["https://api.github.com/repos/mergify-test1/repo-8f579567-7cd2-43ee-a1d2-8821a8fb19a4-test_auto_backport_rebase/statuses/3bccb23b492afde2496d30b103871f49cd9920c8"], "X-RateLimit-Limit": ["5000"], "X-RateLimit-Remaining": ["4946"], "Content-Type": ["application/json; charset=utf-8"], "ETag[...]
