{"recorded_with": "betamax/0.8.1", "http_interactions": [{"recorded_at": "2018-06-23T21:56:18", "response": {"url": "https://api.github.com:443/repos/mergify-test1/repo-5b276d75-2a47-4e45-93c2-c248a8380b43-test_auto_backport_rebase/statuses/5b5e0325256f8d70f4301b81b5561cf2c64e8dd9", "status": {"message": "Created", "code": 201}, "body": {"string": "{\"url\":\"https://api.github.com/repos/mergify-test1/repo-5b276d75-2a47-4e45-93c2-c248a8380b43-test_auto_backport_rebase/statuses/5b5e0325256f8d70f4301b81b5561cf2c64e8dd9\",\"id\":5123468747,\"node_id\":\"MDEzOlN0YXR1c0NvbnRleHQ1MTIzNDY4NzQ3\",\"state\":\"success\",\"description\":\"Your change works\",\"target_url\":null,\"context\":\"continuous-integration/fake-ci\",\"created_at\":\"2018-06-23T21:56:18Z\",\"updated_at\":\"2018-06-23T21:56:18Z\",\"creator\":{\"login\":\"mergify-test1\",\"id\":38494943,\"node_id\":\"MDQ6VXNlcjM4NDk0OTQz\",\"avatar_url\":\"https://avatars3.githubusercontent.com/u/38494943?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test1\",\"html_url\":\"https://github.com/mergify-test1\",\"followers_url\":\"https://api.github.com/users/mergify-test1/followers\",\"following_url\":\"https://api.github.com/users/mergify-test1/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test1/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test1/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test1/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test1/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test1/repos\",\"events_url\":\"https://api.github.com/users/mergify-test1/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test1/received_events\",\"type\":\"User\",\"site_admin\":false}}", "encoding": "utf-8"}, "headers": {"X-RateLimit-Limit": ["5000"], "ETag": ["\"a867263a3c1a2f3ba2506725b6742353\""], "X-Accepted-OAuth-Scopes": [""], "X-RateLimit-Remaining": ["4841"], "X-RateLimit-Reset": ["1529790994"], "Location": ["https://api.github.com/repos/mergify-test1/repo-5b276d75-2a47-4e45-93c2-c248a8380b43-test_auto_backport_rebase/statuses/5b5e0325256f8d70f4301b81b5561cf2c64e8dd9"], "Status": ["201 Created"], "Content-Type": ["application/json; charset=utf-8"], "X-OAuth-Scopes": ["repo"], "X-GitHub-Media-Type": ["github.machine-man-preview; format=json"]}}, "request": {"method": "POST", "body": {"string": "{\"context\": \"continuous-integration/fake-ci\", \"state\": \"success\", \"description\": \"Your change works\"}", "encoding": "utf-8"}, "uri": "https://api.github.com:443/repos/mergify-test1/repo-5b276d75-2a47-4e45-93c2-c248a8380b43-test_auto_backport_rebase/statuses/5b5e0325256f8d70f4301b81b5561cf2c64e8dd9", "headers": {"Authorization": ["token <MAIN_TOKEN>"], "Content-Type": ["application/json"]}}}]}