{
  "http_interactions": [
    {
      "recorded_at": "2018-06-17T15:48:26",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"state\": \"success\", \"context\": \"continuous-integration/fake-ci\", \"description\": \"Your change works\"}"
        },
        "headers": {
          "Authorization": [
            "token <MAIN_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://api.github.com:443/repos/mergify-test1/repo-3d347852-d518-43b8-869e-9a7b2ca49792-test_auto_backport_rebase/statuses/ab6a8e4c34e9486c69e378e60fdbdbef411445e5"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"url\":\"https://api.github.com/repos/mergify-test1/repo-3d347852-d518-43b8-869e-9a7b2ca49792-test_auto_backport_rebase/statuses/ab6a8e4c34e9486c69e378e60fdbdbef411445e5\",\"id\":5093851792,\"node_id\":\"MDEzOlN0YXR1c0NvbnRleHQ1MDkzODUxNzky\",\"state\":\"success\",\"description\":\"Your change works\",\"target_url\":null,\"context\":\"continuous-integration/fake-ci\",\"created_at\":\"2018-06-17T15:48:26Z\",\"updated_at\":\"2018-06-17T15:48:26Z\",\"creator\":{\"login\":\"mergify-test1\",\"id\":38494943,\"node_id\":\"MDQ6VXNlcjM4NDk0OTQz\",\"avatar_url\":\"https://avatars3.githubusercontent.com/u/38494943?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test1\",\"html_url\":\"https://github.com/mergify-test1\",\"followers_url\":\"https://api.github.com/users/mergify-test1/followers\",\"following_url\":\"https://api.github.com/users/mergify-test1/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test1/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test1/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test1/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test1/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test1/repos\",\"events_url\":\"https://api.github.com/users/mergify-test1/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test1/received_events\",\"type\":\"User\",\"site_admin\":false}}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "ETag": [
            "\"66912546da9104551c2b83cdbf29d634\""
          ],
          "Location": [
            "https://api.github.com/repos/mergify-test1/repo-3d347852-d518-43b8-869e-9a7b2ca49792-test_auto_backport_rebase/statuses/ab6a8e4c34e9486c69e378e60fdbdbef411445e5"
          ],
          "Status": [
            "201 Created"
          ],
          "X-Accepted-OAuth-Scopes": [
            ""
          ],
          "X-GitHub-Media-Type": [
            "github.machine-man-preview; format=json"
          ],
          "X-OAuth-Scopes": [
            "repo"
          ],
          "X-RateLimit-Limit": [
            "5000"
          ],
          "X-RateLimit-Remaining": [
            "4959"
          ],
          "X-RateLimit-Reset": [
            "1529253570"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://api.github.com:443/repos/mergify-test1/repo-3d347852-d518-43b8-869e-9a7b2ca49792-test_auto_backport_rebase/statuses/ab6a8e4c34e9486c69e378e60fdbdbef411445e5"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}