{"recorded_with": "betamax/0.8.1", "http_interactions": [{"recorded_at": "2018-06-23T21:56:04", "request": {"headers": {"Authorization": ["token <FORK_TOKEN>"]}, "uri": "https://api.github.com:443/repos/mergify-test1/repo-5b276d75-2a47-4e45-93c2-c248a8380b43-test_auto_backport_rebase/forks", "method": "POST", "body": {"string": "", "encoding": "utf-8"}}, "response": {"headers": {"X-GitHub-Media-Type": ["github.v3; format=json"], "Content-Type": ["application/json; charset=utf-8"], "Status": ["202 Accepted"], "X-RateLimit-Reset": ["1529790994"], "X-OAuth-Scopes": ["repo"], "X-RateLimit-Limit": ["5000"], "X-Accepted-OAuth-Scopes": [""], "X-RateLimit-Remaining": ["4938"]}, "url": "https://api.github.com:443/repos/mergify-test1/repo-5b276d75-2a47-4e45-93c2-c248a8380b43-test_auto_backport_rebase/forks", "status": {"message": "Accepted", "code": 202}, "body": {"string": "{\"id\":138436204,\"node_id\":\"MDEwOlJlcG9zaXRvcnkxMzg0MzYyMDQ=\",\"name\":\"repo-5b276d75-2a47-4e45-93c2-c248a8380b43-test_auto_backport_rebase\",\"full_name\":\"mergify-test2/repo-5b276d75-2a47-4e45-93c2-c248a8380b43-test_auto_backport_rebase\",\"owner\":{\"login\":\"mergify-test2\",\"id\":38495008,\"node_id\":\"MDQ6VXNlcjM4NDk1MDA4\",\"avatar_url\":\"https://avatars1.githubusercontent.com/u/38495008?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test2\",\"html_url\":\"https://github.com/mergify-test2\",\"followers_url\":\"https://api.github.com/users/mergify-test2/followers\",\"following_url\":\"https://api.github.com/users/mergify-test2/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test2/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test2/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test2/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test2/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test2/repos\",\"events_url\":\"https://api.github.com/users/mergify-test2/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test2/received_events\",\"type\":\"User\",\"site_admin\":false},\"private\":false,\"html_url\":\"https://github.com/mergify-test2/repo-5b276d75-2a47-4e45-93c2-c248a8380b43-test_auto_backport_rebase\",\"description\":null,\"fork\":true,\"url\":\"https://api.github.com/repos/mergify-test2/repo-5b276d75-2a47-4e45-93c2-c248a8380b43-test_auto_backport_rebase\",\"forks_url\":\"https://api.github.com/repos/mergify-test2/repo-5b276d75-2a47-4e45-93c2-c248a8380b43-test_auto_backport_rebase/forks\",\"keys_url\":\"https://api.github.com/repos/mergify-test2/repo-5b276d75-2a47-4e45-93c2-c248a8380b43-test_auto_backport_rebase/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/mergify-test2/repo-5b276d75-2a47-4e45-93c2-c248a8380b43-test_auto_backport_rebase/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/mergify-test2/repo-5b276d75-2a47-4e45-93c2-c248a8380b43-test_auto_backport_rebase/teams\",\"hooks_url\":\"https://api.github.com/repos/mergify-test2/repo-5b276d75-2a47-4e45-93c2-c248a8380b43-test_auto_backport_rebase/hooks\",\"issue_events_url\":\"https://api.github.com/repos/mergify-test2/repo-5b276d75-2a47-4e45-93c2-c248a8380b43-test_auto_backport_rebase/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/mergify-test2/repo-5b276d75-2a47-4e45-93c2-c248a8380b43-test_auto_backport_rebase/events\",\"assignees_url\":\"https://api.github.com/repos/mergify-test2/repo-5b276d75-2a47-4e45-93c2-c248a8380b43-test_auto_backport_rebase/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/mergify-test2/repo-5b276d75-2a47-4e45-93c2-c248a8380b43-test_auto_backport_rebase/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/mergify-test2/repo-5b276d75-2a47-4e45-93c2-c248a8380b43-test_auto_backport_rebase/tags\",\"blobs_url\":\"https://api.github.com/repos/mergify-test2/repo-5b276d75-2a47-4e45-93c2-c248a8380b43-test_auto_backport_rebase/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/mergify-test2/repo-5b276d75-2a47-4e45-93c2-c248a8380b43-test_auto_backport_rebase/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/mergify-test2/repo-5b276d75-2a47-4e45-93c2-c248a8380b43-test_auto_backport_rebase/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/mergify-test2/repo-5b276d75-2a47-4e45-93c2-c248a8380b43-test_auto_backport_rebase/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/mergify-test2/repo-5b276d75-2a47-4e45-93c2-c248a8380b43-test_auto_backport_rebase/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/mergify-test2/repo-5b276d75-2a47-4e45-93c2-c248a8380b43-test_auto_backport_rebase/languages\",\"stargazers_url\":\"https://api.github.com/repos/mergify-test2/repo-5b276d75-2a47-4e45-93c2-c248a8380b43-test_auto_backport_rebase/stargazers\",\"contributors_url\":\"https://api.github.com/repos/mergify-test2/repo-5b276d75-2a47-4e45-93c2-c248a8380b43-test_auto_backport_rebase/contributors\",\"subscribers_url\":\"https://api.github.com/repos/mergify-test2/repo-5b276d75-2a47-4e45-93c2-c248a8380b43-test_auto_backport_rebase/subscribers\",\"subscription_url\":\"https://api.github.com/repos/mergify-test2/repo-5b276d75-2a47-4e45-93c2-c248a8380b43-test_auto_backport_rebase/subscription\",\"commits_url\":\"https://api.github.com/repos/mergify-test2/repo-5b276d75-2a47-4e45-93c2-c248a8380b43-test_auto_backport_rebase/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/mergify-test2/repo-5b276d75-2a47-4e45-93c2-c248a8380b43-test_auto_backport_rebase/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/mergify-test2/repo-5b276d75-2a47-4e45-93c2-c248a8380b43-test_auto_backport_rebase/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/mergify-test2/repo-5b276d75-2a47-4e45-93c2-c248a8380b43-test_auto_backport_rebase/issues/comments{/number}\",\"contents_url\":\"https://api.github.com/repos/mergify-test2/repo-5b276d75-2a47-4e45-93c2-c248a8380b43-test_auto_backport_rebase/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/mergify-test2/repo-5b276d75-2a47-4e45-93c2-c248a8380b43-test_auto_backport_rebase/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/mergify-test2/repo-5b276d75-2a47-4e45-93c2-c248a8380b43-test_auto_backport_rebase/merges\",\"archive_url\":\"https://api.github.com/repos/mergify-test2/repo-5b276d75-2a47-4e45-93c2-c248a8380b43-test_auto_backport_rebase/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/mergify-test2/repo-5b276d75-2a47-4e45-93c2-c248a8380b43-test_auto_backport_rebase/downloads\",\"issues_url\":\"https://api.github.com/repos/mergify-test2/repo-5b276d75-2a47-4e45-93c2-c248a8380b43-test_auto_backport_rebase/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/mergify-test2/repo-5b276d75-2a47-4e45-93c2-c248a8380b43-test_auto_backport_rebase/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/mergify-test2/repo-5b276d75-2a47-4e45-93c2-c248a8380b43-test_auto_backport_rebase/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/mergify-test2/repo-5b276d75-2a47-4e45-93c2-c248a8380b43-test_auto_backport_rebase/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/mergify-test2/repo-5b276d75-2a47-4e45-93c2-c248a8380b43-test_auto_backport_rebase/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/mergify-test2/repo-5b276d75-2a47-4e45-93c2-c248a8380b43-test_auto_backport_rebase/releases{/id}\",\"deployments_url\":\"https://api.github.com/repos/mergify-test2/repo-5b276d75-2a47-4e45-93c2-c248a8380b43-test_auto_backport_rebase/deployments\",\"created_at\":\"2018-06-23T21:56:03Z\",\"updated_at\":\"2018-06-23T21:55:58Z\",\"pushed_at\":\"2018-06-23T21:56:03Z\",\"git_url\":\"git://github.com/mergify-test2/repo-5b276d75-2a47-4e45-93c2-c248a8380b43-test_auto_backport_rebase.git\",\"ssh_url\":\"git@github.com:mergify-test2/repo-5b276d75-2a47-4e45-93c2-c248a8380b43-test_auto_backport_rebase.git\",\"clone_url\":\"https://github.com/mergify-test2/repo-5b276d75-2a47-4e45-93c2-c248a8380b43-test_auto_backport_rebase.git\",\"svn_url\":\"https://github.com/mergify-test2/repo-5b276d75-2a47-4e45-93c2-c248a8380b43-test_auto_backport_rebase\",\"homepage\":null,\"size\":0,\"stargazers_count\":0,\"watchers_count\":0,\"language\":null,\"has_issues\":false,\"has_projects\":true,\"has_downloads\":true,\"has_wiki\":true,\"has_pages\":false,\"forks_count\":0,\"mirror_url\":null,\"archived\":false,\"open_issues_count\":0,\"license\":null,\"forks\":0,\"open_issues\":0,\"watchers\":0,\"default_branch\":\"master\",\"permissions\":{\"admin\":true,\"push\":true,\"pull\":true},\"parent\":{\"id\":138436196,\"node_id\":\"MDEwOlJlcG9zaXRvcnkxMzg0MzYxOTY=\",\"name\":\"repo-5b276d75-2a47-4e45-93c2-c248a8380b43-test_auto_backport_rebase\",\"full_name\":\"mergify-test1/repo-5b276d75-2a47-4e45-93c2-c248a8380b43-test_auto_backport_rebase\",\"owner\":{\"login\":\"mergify-test1\",\"id\":38494943,\"node_id\":\"MDQ6VXNlcjM4NDk0OTQz\",\"avatar_url\":\"https://avatars3.githubusercontent.com/u/38494943?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test1\",\"html_url\[...]
[...]
