interactions:
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/user
  response:
    content: '{"login":"mergify-test1","id":38494943,"node_id":"MDQ6VXNlcjM4NDk0OTQz","avatar_url":"https://avatars.githubusercontent.com/u/38494943?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-test1","html_url":"https://github.com/mergify-test1","followers_url":"https://api.github.com/users/mergify-test1/followers","following_url":"https://api.github.com/users/mergify-test1/following{/other_user}","gists_url":"https://api.github.com/users/mergify-test1/gists{/gist_id}","starred_url":"https://api.github.com/users/mergify-test1/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergify-test1/subscriptions","organizations_url":"https://api.github.com/users/mergify-test1/orgs","repos_url":"https://api.github.com/users/mergify-test1/repos","events_url":"https://api.github.com/users/mergify-test1/events{/privacy}","received_events_url":"https://api.github.com/users/mergify-test1/received_events","type":"User","site_admin":false,"name":"mergify-test-user-1","company":"@mergifyio","blog":"https://mergify.io","location":null,"email":null,"hireable":null,"bio":"This
      account is for testing purpose of the workflow of the GitHub App @mergifyio","twitter_username":"mergifyio","public_repos":0,"public_gists":0,"followers":0,"following":0,"created_at":"2018-04-18T10:42:59Z","updated_at":"2021-09-15T15:03:25Z","private_gists":0,"total_private_repos":0,"owned_private_repos":0,"disk_usage":0,"collaborators":0,"two_factor_authentication":false,"plan":{"name":"free","space":976562499,"collaborators":0,"private_repos":10000}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-OAuth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
    status_code: 200
[...]
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/user/40527191/installation
  response:
    content: '{"id":15398551,"account":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"repository_selection":"all","access_tokens_url":"https://api.github.com/app/installations/15398551/access_tokens","repositories_url":"https://api.github.com/installation/repositories","html_url":"https://github.com/organizations/mergifyio-testing/settings/installations/15398551","app_id":11221,"app_slug":"mergify-test","target_id":40527191,"target_type":"Organization","permissions":{"pages":"write","checks":"write","issues":"write","members":"read","contents":"write","metadata":"read","statuses":"read","workflows":"write","pull_requests":"write","administration":"read"},"events":["check_run","check_suite","issue_comment","merge_queue_entry","pull_request","pull_request_review","pull_request_review_comment","push","status"],"created_at":"2021-03-15T16:12:17.000Z","updated_at":"2021-09-28T07:54:06.000Z","single_file_name":null,"has_multiple_single_files":false,"single_file_paths":[],"suspended_by":null,"suspended_at":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; format=json
    status_code: 200
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: POST
    uri: https://api.github.com/app/installations/15398551/access_tokens
  response:
    content: '{"token": "<TOKEN>", "expires_at": "2021-10-13T22:06:09Z", "permissions":
      {"members": "read", "administration": "read", "checks": "write", "contents":
      "write", "issues": "write", "metadata": "read", "pages": "write", "pull_requests":
      "write", "statuses": "read", "workflows": "write"}, "repository_selection":
      "all"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; format=json
    status_code: 201
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/repositories/405124434
  response:
    content: '{"id":405124434,"node_id":"MDEwOlJlcG9zaXRvcnk0MDUxMjQ0MzQ=","name":"functional-testing-repo-jd","full_name":"mergifyio-testing/functional-testing-repo-jd","private":false,"owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/mergifyio-testing/functional-testing-repo-jd","description":null,"fork":false,"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd","forks_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/forks","keys_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/keys{/key_id}","collaborators_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/teams","hooks_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/hooks","issue_events_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/issues/events{/number}","events_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/events","assignees_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/assignees{/user}","branches_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/branches{/branch}","tags_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/tags","blobs_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/git/refs{/sha}","trees_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/git/trees{/sha}","statuses_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/statuses/{sha}","languages_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/languages","stargazers_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/stargazers","contributors_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/contributors","subscribers_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/subscribers","subscription_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/subscription","commits_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/commits{/sha}","git_commits_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/git/commits{/sha}","comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/comments{/number}","issue_comment_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/issues/comments{/number}","contents_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/contents/{+path}","compare_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/compare/{base}...{head}","merges_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/merges","archive_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/downloads","issues_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/issues{/number}","pulls_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/pulls{/number}","milestones_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/milestones{/number}","notifications_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/labels{/name}","releases_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/releases{/id}","deployments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/deployments","created_at":"2021-09-10T15:19:47Z","updated_at":"2021-10-13T20:58:48Z","pushed_at":"2021-10-13T20:58:49Z","git_url":"git://github.com/mergifyio-testing/functional-testing-repo-jd.git","ssh_url":"git@github.com:mergifyio-testing/functional-testing-repo-jd.git","clone_url":"https://github.com/mergifyio-testing/functional-testing-repo-jd.git","svn_url":"https://github.com/mergifyio-testing/functional-testing-repo-jd","homepage":null,"size":1,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":false,"has_projects":false,"has_downloads":true,"has_wiki":false,"has_pages":false,"forks_count":1,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"allow_forking":true,"is_template":false,"topics":[],"visibility":"public","forks":1,"open_issues":0,"watchers":0,"default_branch":"main","permissions":{"admin":false,"maintain":false,"push":false,"triage":false,"pull":false},"temp_clone_token":"","allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"allow_auto_merge":false,"delete_branch_on_merge":false,"organization":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"network_count":1,"subscribers_count":1}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 200
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: DELETE
    uri: https://test-forwarder.mergify.io/events/github.com/11221/405124434
  response:
    content: Event queued
    headers:
    status_code: 202
- request:
    body: '{"default_branch": "20211013210607/test_update_action_on_closed_pr_deleted_branch/main"}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd
  response:
    content: '{"id":405124434,"node_id":"MDEwOlJlcG9zaXRvcnk0MDUxMjQ0MzQ=","name":"functional-testing-repo-jd","full_name":"mergifyio-testing/functional-testing-repo-jd","private":false,"owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_i[...]
- request:
    body: '{"base": "20211013210607/test_update_action_on_closed_pr_deleted_branch/main",
      "head": "mergify-test2:20211013210607/test_update_action_on_closed_pr_deleted_branch/fork/pr1",
      "title": "test_update_action_on_closed_pr_deleted_branch: pull request n1 from
      fork", "body": "test_update_action_on_closed_pr_deleted_branch: pull request
      n1 from fork", "draft": false}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/pulls
  response:
    content: '{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/pulls/21","id":757772229,"node_id":"PR_kwDOGCW1Us4tKq_F","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-jd/pull/21","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo-jd/pull/21.diff","patch_url":"https://github.com/mergifyio-testing/functional-testing-repo-jd/pull/21.patch","issue_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/issues/21","number":21,"state":"open","locked":false,"title":"test_update_action_on_closed_pr_deleted_branch:
      pull request n1 from fork","user":{"login":"mergify-test2","id":38495008,"node_id":"MDQ6VXNlcjM4NDk1MDA4","avatar_url":"https://avatars.githubusercontent.com/u/38495008?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-test2","html_url":"https://github.com/mergify-test2","followers_url":"https://api.github.com/users/mergify-test2/followers","following_url":"https://api.github.com/users/mergify-test2/following{/other_user}","gists_url":"https://api.github.com/users/mergify-test2/gists{/gist_id}","starred_url":"https://api.github.com/users/mergify-test2/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergify-test2/subscriptions","organizations_url":"https://api.github.com/users/mergify-test2/orgs","repos_url":"https://api.github.com/users/mergify-test2/repos","events_url":"https://api.github.com/users/mergify-test2/events{/privacy}","received_events_url":"https://api.github.com/users/mergify-test2/received_events","type":"User","site_admin":false},"body":"test_update_action_on_closed_pr_deleted_branch:
      pull request n1 from fork","created_at":"2021-10-13T21:06:14Z","updated_at":"2021-10-13T21:06:14Z","closed_at":null,"merged_at":null,"merge_commit_sha":null,"assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/pulls/21/commits","review_comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/pulls/21/comments","review_comment_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/pulls/comments{/number}","comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/issues/21/comments","statuses_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/statuses/acb8d4c455a6f890f718b19af60f4cae6de04805","head":{"label":"mergify-test2:20211013210607/test_update_action_on_closed_pr_deleted_branch/fork/pr1","ref":"20211013210607/test_update_action_on_closed_pr_deleted_branch/fork/pr1","sha":"acb8d4c455a6f890f718b19af60f4cae6de04805","user":{"login":"mergify-test2","id":38495008,"node_id":"MDQ6VXNlcjM4NDk1MDA4","avatar_url":"https://avatars.githubusercontent.com/u/38495008?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-test2","html_url":"https://github.com/mergify-test2","followers_url":"https://api.github.com/users/mergify-test2/followers","following_url":"https://api.github.com/users/mergify-test2/following{/other_user}","gists_url":"https://api.github.com/users/mergify-test2/gists{/gist_id}","starred_url":"https://api.github.com/users/mergify-test2/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergify-test2/subscriptions","organizations_url":"https://api.github.com/users/mergify-test2/orgs","repos_url":"https://api.github.com/users/mergify-test2/repos","events_url":"https://api.github.com/users/mergify-test2/events{/privacy}","received_events_url":"https://api.github.com/users/mergify-test2/received_events","type":"User","site_admin":false},"repo":{"id":405125379,"node_id":"MDEwOlJlcG9zaXRvcnk0MDUxMjUzNzk=","name":"functional-testing-repo-jd","full_name":"mergify-test2/functional-testing-repo-jd","private":false,"owner":{"login":"mergify-test2","id":38495008,"node_id":"MDQ6VXNlcjM4NDk1MDA4","avatar_url":"https://avatars.githubusercontent.com/u/38495008?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-test2","html_url":"https://github.com/mergify-test2","followers_url":"https://api.github.com/users/mergify-test2/followers"[...]
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: GET
    uri: https://test-forwarder.mergify.io/events/github.com/11221/405124434?counter=1
  response:
    content: '[{"id":"6501a39a-2c69-11ec-8069-3063c96852ef","type":"push","payload":{"ref":"refs/heads/20211013210607/test_update_action_on_closed_pr_deleted_branch/main","before":"0000000000000000000000000000000000000000","after":"b2e2a691e4c8b2dac51a4d93ab2f4c8912e00499","repository":{"id":405124434,"node_id":"MDEwOlJlcG9zaXRvcnk0MDUxMjQ0MzQ=","name":"functional-testing-repo-jd","full_name":"mergifyio-testing/functional-testing-repo-jd","private":false,"owner":{"name":"mergifyio-testing","email":null,"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","f[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/pulls/21
  response:
    content: '{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/pulls/21","id":757772229,"node_id":"PR_kwDOGCW1Us4tKq_F","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-jd/pull/21","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo-jd/pull/21.diff","patch_url":"ht[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/pulls/21/commits?per_page=100
  response:
    content: '[{"sha":"acb8d4c455a6f890f718b19af60f4cae6de04805","node_id":"C_kwDOGCW5A9oAKGFjYjhkNGM0NTVhNmY4OTBmNzE4YjE5YWY2MGY0Y2FlNmRlMDQ4MDU","commit":{"author":{"name":"mergify-tester","email":"noreply@mergify.io","date":"2021-10-13T21:06:13Z"},"committer":{"name":"mergify-tester","email":"noreply@mergify.io","date":"2021-10-13T21:06:13Z"},"message":"test_update_action_on_closed_pr_deleted_branch:
      pull request n1 from fork","tree":{"sha":"cbd886119f98fd718383bfaaea0bbc598c0ddd56","url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/git/trees/cbd886119f98fd718383bfaaea0bbc598c0ddd56"},"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/git/commits/acb8d4c455a6f890f718b19af60f4cae6de04805","comment_count":0,"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}},"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/commits/acb8d4c455a6f890f718b19af60f4cae6de04805","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-jd/commit/acb8d4c455a6f890f718b19af60f4cae6de04805","comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/commits/acb8d4c455a6f890f718b19af60f4cae6de04805/comments","author":null,"committer":null,"parents":[{"sha":"b2e2a691e4c8b2dac51a4d93ab2f4c8912e00499","url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/commits/b2e2a691e4c8b2dac51a4d93ab2f4c8912e00499","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-jd/commit/b2e2a691e4c8b2dac51a4d93ab2f4c8912e00499"}]}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
      X-OAuth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
    status_code: 200
[...]
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: GET
    uri: https://test-forwarder.mergify.io/events/github.com/11221/405124434?counter=3
  response:
    content: '[{"id":"69c243d0-2c69-11ec-833a-3d258718ee8e","type":"pull_request","payload":{"action":"opened","number":22,"pull_request":{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/pulls/22","id":757772289,"node_id":"PR_kwDOGCW1Us4tKrAB","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-jd/pull/22","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo-jd/pull/22.diff","patch_url":"https://github.com/mergifyio-testing/functional-testing-repo-jd/pull/22.patch","issue_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/issues/[...]
[...]
- request:
    body: '{"name": "merge", "color": "000000"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/labels
  response:
    content: '{"id":3448254688,"node_id":"LA_kwDOGCW1Us7NiDDg","url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/labels/merge","name":"merge","color":"000000","default":false,"description":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/labels/merge
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
      X-OAuth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
    status_code: 201
- request:
    body: '{"labels": ["merge"]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/issues/21/labels
  response:
    content: '[{"id":3448254688,"node_id":"LA_kwDOGCW1Us7NiDDg","url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/labels/merge","name":"merge","color":"000000","default":false,"description":null}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
      X-OAuth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
    status_code: 200
[...]
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/pulls?per_page=100
  response:
    content: '[{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/pulls/22","id":757772289,"node_id":"PR_kwDOGCW1Us4tKrAB","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-jd/pull/22","diff_url":"https://github.com/mergifyio-testing/function[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repositories/405124434/pulls/21
  response:
    content: '{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/pulls/21","id":757772229,"node_id":"PR_kwDOGCW1Us4tKq_F","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-jd/pull/21","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo-jd/pull/21.diff","patch_url":"https://github.com/mergifyio-t[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/contents/.mergify.yml
  response:
    content: '{"name":".mergify.yml","path":".mergify.yml","sha":"d4de4597f1b834fdef1621bd39a58fe3d2b4e89d","size":323,"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/contents/.mergify.yml?ref=20211013210607/test_update_action_on_closed_pr_deleted_branch/main","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-jd/blob/20211013210607/test_update_action_on_closed_pr_deleted_branch/main/.mergify.yml","git_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/git/blobs/d4de4597f1b834fdef1621bd39a58fe3d2b4e89d","download_url":"https://raw.githubusercontent.com/mergifyio-testing/functional-testing-repo-jd/20211013210607/test_update_action_on_closed_pr_deleted_branch/main/.mergify.yml","type":"file","content":"cHVsbF9yZXF1ZXN0X3J1bGVzOgotIGFjdGlvbnM6CiAgICB1cGRhdGU6IHt9\nCiAgY29uZGl0aW9uczoKICAtIGJhc2U9MjAyMTEwMTMyMTA2MDcvdGVzdF91\ncGRhdGVfYWN0aW9uX29uX2Nsb3NlZF9wcl9kZWxldGVkX2JyYW5jaC9tYWlu\nCiAgbmFtZTogdXBkYXRlCi0gYWN0aW9uczoKICAgIGRlbGV0ZV9oZWFkX2Jy\nYW5jaDoge30KICAgIG1lcmdlOiB7fQogIGNvbmRpdGlvbnM6CiAgLSBiYXNl\nPTIwMjExMDEzMjEwNjA3L3Rlc3RfdXBkYXRlX2FjdGlvbl9vbl9jbG9zZWRf\ncHJfZGVsZXRlZF9icmFuY2gvbWFpbgogIC0gbGFiZWw9bWVyZ2UKICBuYW1l\nOiBtZXJnZQo=\n","encoding":"base64","_links":{"self":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/contents/.mergify.yml?ref=20211013210607/test_update_action_on_closed_pr_deleted_branch/main","git":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/git/blobs/d4de4597f1b834fdef1621bd39a58fe3d2b4e89d","html":"https://github.com/mergifyio-testing/functional-testing-repo-jd/blob/20211013210607/test_update_action_on_closed_pr_deleted_branch/main/.mergify.yml"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/pulls/21/files?per_page=100
  response:
    content: '[{"sha":"e69de29bb2d1d6434b8b29ae775ad8c2e48c5391","filename":"test1","status":"added","additions":0,"deletions":0,"changes":0,"blob_url":"https://github.com/mergifyio-testing/functional-testing-repo-jd/blob/acb8d4c455a6f890f718b19af60f4cae6de04805/test1","raw_url":"https://github.com/mergifyio-testing/functional-testing-repo-jd/raw/acb8d4c455a6f890f718b19af60f4cae6de04805/test1","contents_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/contents/test1?ref=acb8d4c455a6f890f718b19af60f4cae6de04805"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/issues/21/comments?per_page=100
  response:
    content: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/branches/20211013210607%2Ftest_update_action_on_closed_pr_deleted_branch%2Fmain/protection
  response:
[...]
