{"recorded_with": "betamax/0.8.1", "http_interactions": [{"response": {"headers": {"X-GitHub-Media-Type": ["github.machine-man-preview; format=json"], "X-RateLimit-Reset": ["1530223269"], "X-Accepted-OAuth-Scopes": [""], "Location": ["https://api.github.com/repos/mergify-test1/repo-6b4640c2-8298-43cb-aa46-fb9cd27e3a82-test_auto_backport_failure/statuses/704b175274c1497e0aae7b5be275e1de5a20da74"], "X-RateLimit-Limit": ["5000"], "X-RateLimit-Remaining": ["4964"], "Content-Type": ["application/json; charset=utf-8"], "ETag": ["\"1228f7d8fe6a1a2b22a60c18cf264861\""], "Status": ["201 Created"], "X-OAuth-Scopes": ["repo"]}, "url": "https://api.github.com:443/repos/mergify-test1/repo-6b4640c2-8298-43cb-aa46-fb9cd27e3a82-test_auto_backport_failure/statuses/704b175274c1497e0aae7b5be275e1de5a20da74", "status": {"message": "Created", "code": 201}, "body": {"string": "{\"url\":\"https://api.github.com/repos/mergify-test1/repo-6b4640c2-8298-43cb-aa46-fb9cd27e3a82-test_auto_backport_failure/statuses/704b175274c1497e0aae7b5be275e1de5a20da74\",\"id\":5147673159,\"node_id\":\"MDEzOlN0YXR1c0NvbnRleHQ1MTQ3NjczMTU5\",\"state\":\"success\",\"description\":\"Your change works\",\"target_url\":null,\"context\":\"continuous-integration/fake-ci\",\"created_at\":\"2018-06-28T21:36:20Z\",\"updated_at\":\"2018-06-28T21:36:20Z\",\"creator\":{\"login\":\"mergify-test1\",\"id\":38494943,\"node_id\":\"MDQ6VXNlcjM4NDk0OTQz\",\"avatar_url\":\"https://avatars3.githubusercontent.com/u/38494943?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test1\",\"html_url\":\"https://github.com/mergify-test1\",\"followers_url\":\"https://api.github.com/users/mergify-test1/followers\",\"following_url\":\"https://api.github.com/users/mergify-test1/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test1/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test1/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test1/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test1/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test1/repos\",\"events_url\":\"https://api.github.com/users/mergify-test1/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test1/received_events\",\"type\":\"User\",\"site_admin\":false}}", "encoding": "utf-8"}}, "request": {"headers": {"Content-Type": ["application/json"], "Authorization": ["token <MAIN_TOKEN>"]}, "uri": "https://api.github.com:443/repos/mergify-test1/repo-6b4640c2-8298-43cb-aa46-fb9cd27e3a82-test_auto_backport_failure/statuses/704b175274c1497e0aae7b5be275e1de5a20da74", "method": "POST", "body": {"string": "{\"context\": \"continuous-integration/fake-ci\", \"description\": \"Your change works\", \"state\": \"success\"}", "encoding": "utf-8"}}, "recorded_at": "2018-06-28T21:36:20"}]}