{"recorded_with": "betamax/0.8.1", "http_interactions": [{"response": {"headers": {"X-GitHub-Media-Type": ["github.machine-man-preview; format=json"], "X-RateLimit-Reset": ["1529858954"], "X-Accepted-OAuth-Scopes": [""], "Location": ["https://api.github.com/repos/mergify-test1/repo-ba24c7c8-34d5-4f6d-8f37-3c08fd7d03cf-test_auto_backport_failure/statuses/65fc3b2445c06ae523e4903696954d35d1686e5a"], "X-RateLimit-Limit": ["5000"], "X-RateLimit-Remaining": ["4854"], "Content-Type": ["application/json; charset=utf-8"], "ETag": ["\"9dd4d287dddf9c246dfe7f75f7e0ffda\""], "Status": ["201 Created"], "X-OAuth-Scopes": ["repo"]}, "url": "https://api.github.com:443/repos/mergify-test1/repo-ba24c7c8-34d5-4f6d-8f37-3c08fd7d03cf-test_auto_backport_failure/statuses/65fc3b2445c06ae523e4903696954d35d1686e5a", "status": {"message": "Created", "code": 201}, "body": {"string": "{\"url\":\"https://api.github.com/repos/mergify-test1/repo-ba24c7c8-34d5-4f6d-8f37-3c08fd7d03cf-test_auto_backport_failure/statuses/65fc3b2445c06ae523e4903696954d35d1686e5a\",\"id\":5124351647,\"node_id\":\"MDEzOlN0YXR1c0NvbnRleHQ1MTI0MzUxNjQ3\",\"state\":\"success\",\"description\":\"Your change works\",\"target_url\":null,\"context\":\"continuous-integration/fake-ci\",\"created_at\":\"2018-06-24T16:28:06Z\",\"updated_at\":\"2018-06-24T16:28:06Z\",\"creator\":{\"login\":\"mergify-test1\",\"id\":38494943,\"node_id\":\"MDQ6VXNlcjM4NDk0OTQz\",\"avatar_url\":\"https://avatars3.githubusercontent.com/u/38494943?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test1\",\"html_url\":\"https://github.com/mergify-test1\",\"followers_url\":\"https://api.github.com/users/mergify-test1/followers\",\"following_url\":\"https://api.github.com/users/mergify-test1/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test1/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test1/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test1/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test1/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test1/repos\",\"events_url\":\"https://api.github.com/users/mergify-test1/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test1/received_events\",\"type\":\"User\",\"site_admin\":false}}", "encoding": "utf-8"}}, "request": {"headers": {"Authorization": ["token <MAIN_TOKEN>"], "Content-Type": ["application/json"]}, "uri": "https://api.github.com:443/repos/mergify-test1/repo-ba24c7c8-34d5-4f6d-8f37-3c08fd7d03cf-test_auto_backport_failure/statuses/65fc3b2445c06ae523e4903696954d35d1686e5a", "method": "POST", "body": {"string": "{\"context\": \"continuous-integration/fake-ci\", \"state\": \"success\", \"description\": \"Your change works\"}", "encoding": "utf-8"}}, "recorded_at": "2018-06-24T16:28:06"}, {"response": {"headers": {"X-GitHub-Media-Type": ["github.machine-man-preview; format=json"], "X-RateLimit-Reset": ["1530223269"], "X-Accepted-OAuth-Scopes": [""], "Location": ["https://api.github.com/repos/mergify-test1/repo-6b4640c2-8298-43cb-aa46-fb9cd27e3a82-test_auto_backport_failure/statuses/a9908d9adaad34f8c9a81214d0464b99563dcfd2"], "X-RateLimit-Limit": ["5000"], "X-RateLimit-Remaining": ["4970"], "Content-Type": ["application/json; charset=utf-8"], "ETag": ["\"2[...]
