{"http_interactions": [{"request": {"uri": "https://api.github.com:443/repos/mergify-test1/repo-c82cb5a8-f4c0-402e-b08f-ea52366ef896-test_auto_backport_failure/statuses/e62757c4836a60214a372edbd3a954ba756b606f", "body": {"encoding": "utf-8", "string": "{\"context\": \"continuous-integration/fake-ci\", \"state\": \"success\", \"description\": \"Your change works\"}"}, "method": "POST", "headers": {"Content-Type": ["application/json"], "Authorization": ["token <MAIN_TOKEN>"]}}, "recorded_at": "2018-06-23T21:49:03", "response": {"status": {"code": 201, "message": "Created"}, "body": {"encoding": "utf-8", "string": "{\"url\":\"https://api.github.com/repos/mergify-test1/repo-c82cb5a8-f4c0-402e-b08f-ea52366ef896-test_auto_backport_failure/statuses/e62757c4836a60214a372edbd3a954ba756b606f\",\"id\":5123462530,\"node_id\":\"MDEzOlN0YXR1c0NvbnRleHQ1MTIzNDYyNTMw\",\"state\":\"success\",\"description\":\"Your change works\",\"target_url\":null,\"context\":\"continuous-integration/fake-ci\",\"created_at\":\"2018-06-23T21:49:02Z\",\"updated_at\":\"2018-06-23T21:49:02Z\",\"creator\":{\"login\":\"mergify-test1\",\"id\":38494943,\"node_id\":\"MDQ6VXNlcjM4NDk0OTQz\",\"avatar_url\":\"https://avatars3.githubusercontent.com/u/38494943?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test1\",\"html_url\":\"https://github.com/mergify-test1\",\"followers_url\":\"https://api.github.com/users/mergify-test1/followers\",\"following_url\":\"https://api.github.com/users/mergify-test1/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test1/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test1/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test1/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test1/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test1/repos\",\"events_url\":\"https://api.github.com/users/mergify-test1/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test1/received_events\",\"type\":\"User\",\"site_admin\":false}}"}, "url": "https://api.github.com:443/repos/mergify-test1/repo-c82cb5a8-f4c0-402e-b08f-ea52366ef896-test_auto_backport_failure/statuses/e62757c4836a60214a372edbd3a954ba756b606f", "headers": {"Content-Type": ["application/json; charset=utf-8"], "X-GitHub-Media-Type": ["github.machine-man-preview; format=json"], "X-RateLimit-Remaining": ["4935"], "Status": ["201 Created"], "Location": ["https://api.github.com/repos/mergify-test1/repo-c82cb5a8-f4c0-402e-b08f-ea52366ef896-test_auto_backport_failure/statuses/e62757c4836a60214a372edbd3a954ba756b606f"], "X-RateLimit-Reset": ["1529790994"], "ETag": ["\"534aee4f334abeed7837f23fe75e414c\""], "X-RateLimit-Limit": ["5000"], "X-OAuth-Scopes": ["repo"], "X-Accepted-OAuth-Scopes": [""]}}}], "recorded_with": "betamax/0.8.1"}