{"recorded_with": "betamax/0.8.1", "http_interactions": [{"request": {"method": "POST", "headers": {"Authorization": ["token <MAIN_TOKEN>"], "Content-Type": ["application/json"]}, "uri": "https://api.github.com:443/repos/mergify-test1/repo-49e38a7b-cf32-49b9-a18f-a66135a3f510-test_auto_backport_failure/statuses/c5829bea443d3c6f55fe314e9f62b804cfe0225f", "body": {"encoding": "utf-8", "string": "{\"state\": \"success\", \"description\": \"Your change works\", \"context\": \"continuous-integration/fake-ci\"}"}}, "response": {"url": "https://api.github.com:443/repos/mergify-test1/repo-49e38a7b-cf32-49b9-a18f-a66135a3f510-test_auto_backport_failure/statuses/c5829bea443d3c6f55fe314e9f62b804cfe0225f", "headers": {"X-RateLimit-Limit": ["5000"], "X-OAuth-Scopes": ["repo"], "X-Accepted-OAuth-Scopes": [""], "ETag": ["\"fc9de18081a63a81064de6df51a677c2\""], "Location": ["https://api.github.com/repos/mergify-test1/repo-49e38a7b-cf32-49b9-a18f-a66135a3f510-test_auto_backport_failure/statuses/c5829bea443d3c6f55fe314e9f62b804cfe0225f"], "X-RateLimit-Remaining": ["4963"], "X-GitHub-Media-Type": ["github.machine-man-preview; format=json"], "Content-Type": ["application/json; charset=utf-8"], "Status": ["201 Created"], "X-RateLimit-Reset": ["1529569015"]}, "body": {"encoding": "utf-8", "string": "{\"url\":\"https://api.github.com/repos/mergify-test1/repo-49e38a7b-cf32-49b9-a18f-a66135a3f510-test_auto_backport_failure/statuses/c5829bea443d3c6f55fe314e9f62b804cfe0225f\",\"id\":5112446906,\"node_id\":\"MDEzOlN0YXR1c0NvbnRleHQ1MTEyNDQ2OTA2\",\"state\":\"success\",\"description\":\"Your change works\",\"target_url\":null,\"context\":\"continuous-integration/fake-ci\",\"created_at\":\"2018-06-21T07:40:24Z\",\"updated_at\":\"2018-06-21T07:40:24Z\",\"creator\":{\"login\":\"mergify-test1\",\"id\":38494943,\"node_id\":\"MDQ6VXNlcjM4NDk0OTQz\",\"avatar_url\":\"https://avatars3.githubusercontent.com/u/38494943?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test1\",\"html_url\":\"https://github.com/mergify-test1\",\"followers_url\":\"https://api.github.com/users/mergify-test1/followers\",\"following_url\":\"https://api.github.com/users/mergify-test1/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test1/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test1/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test1/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test1/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test1/repos\",\"events_url\":\"https://api.github.com/users/mergify-test1/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test1/received_events\",\"type\":\"User\",\"site_admin\":false}}"}, "status": {"message": "Created", "code": 201}}, "recorded_at": "2018-06-21T07:40:24"}]}