{"http_interactions": [{"request": {"uri": "https://api.github.com:443/repos/mergify-test1/repo-3d6a3af4-c74f-45ab-a763-06a23830b0d7-test_auto_backport_failure/pulls", "headers": {"Content-Type": ["application/json"], "Authorization": ["token <FORK_TOKEN>"]}, "method": "POST", "body": {"string": "{\"title\": \"Pull request n2 from fork\", \"base\": \"nostrict\", \"head\": \"mergify-test2:fork/pr2\", \"body\": \"Pull request n2 from fork\"}", "encoding": "utf-8"}}, "recorded_at": "2018-06-24T15:54:42", "response": {"status": {"code": 201, "message": "Created"}, "url": "https://api.github.com:443/repos/mergify-test1/repo-3d6a3af4-c74f-45ab-a763-06a23830b0d7-test_auto_backport_failure/pulls", "headers": {"X-RateLimit-Remaining": ["4984"], "X-OAuth-Scopes": ["repo"], "Content-Type": ["application/json; charset=utf-8"], "ETag": ["\"a4c929c7de098ec0f739794464c2ee5b\""], "X-GitHub-Media-Type": ["github.v3; format=json"], "Location": ["https://api.github.com/repos/mergify-test1/repo-3d6a3af4-c74f-45ab-a763-06a23830b0d7-test_auto_backport_failure/pulls/2"], "X-RateLimit-Limit": ["5000"], "X-Accepted-OAuth-Scopes": [""], "X-RateLimit-Reset": ["1529858954"], "Status": ["201 Created"]}, "body": {"string": "{\"url\":\"https://api.github.com/repos/mergify-test1/repo-3d6a3af4-c74f-45ab-a763-06a23830b0d7-test_auto_backport_failure/pulls/2\",\"id\":196956375,\"node_id\":\"MDExOlB1bGxSZXF1ZXN0MTk2OTU2Mzc1\",\"html_url\":\"https://github.com/mergify-test1/repo-3d6a3af4-c74f-45ab-a763-06a23830b0d7-test_auto_backport_failure/pull/2\",\"diff_url\":\"https://github.com/mergify-test1/repo-3d6a3af4-c74f-45ab-a763-06a23830b0d7-test_auto_backport_failure/pull/2.diff\",\"patch_url\":\"https://github.com/mergify-test1/repo-3d6a3af4-c74f-45ab-a763-06a23830b0d7-test_auto_backport_failure/pull/2.patch\",\"issue_url\":\"https://api.github.com/repos/mergify-test1/repo-3d6a3af4-c74f-45ab-a763-06a23830b0d7-test_auto_backport_failure/issues/2\",\"number\":2,\"state\":\"open\",\"locked\":false,\"title\":\"Pull request n2 from fork\",\"user\":{\"login\":\"mergify-test2\",\"id\":38495008,\"node_id\":\"MDQ6VXNlcjM4NDk1MDA4\",\"avatar_url\":\"https://avatars1.githubusercontent.com/u/38495008?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test2\",\"html_url\":\"https://github.com/mergify-test2\",\"followers_url\":\"https://api.github.com/users/mergify-test2/followers\",\"following_url\":\"https://api.github.com/users/mergify-test2/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test2/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test2/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test2/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test2/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test2/repos\",\"events_url\":\"https://api.github.com/users/mergify-test2/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test2/received_events\",\"type\":\"User\",\"site_admin\":false},\"body\":\"Pull request n2 from fork\",\"created_at\":\"2018-06-24T15:54:42Z\",\"updated_at\":\"2018-06-24T15:54:42Z\",\"closed_at\":null,\"merged_at\":null,\"merge_commit_sha\":null,\"assignee\":null,\"assignees\":[],\"requested_reviewers\":[],\"requested_teams\":[],\"labels\":[],\"milestone\":null,\"commits_url\":\"https://api.github.com/repos/mergify-test1/repo-3d6a3af4-c74f-45ab-a763-06a23830b0d7-test_auto_backport_failure/pulls/2/commits\",\"review_comments_url\":\"https://api.github.com/repos/mergify-test1/repo-3d6a3af4-c74f-45ab-a763-06a23830b0d7-test_auto_backport_failure/pulls/2/comments\",\"review_comment_url\":\"https://api.github.com/repos/mergify-test1/repo-3d6a3af4-c74f-45ab-a763-06a23830b0d7-test_auto_backport_failure/pulls/comments{/number}\",\"comments_url\":\"https://api.github.com/repos/mergify-test1/repo-3d6a3af4-c74f-45ab-a763-06a23830b0d7-test_auto_backport_failure/issues/2/comments\",\"statuses_url\":\"https://api.github.com/repos/mergify-test1/repo-3d6a3af4-c74f-45ab-a763-06a23830b0d7-test_auto_backport_failure/statuses/7e8cb90a457d6a6416c9255003f173c38abe1ddf\",\"head\":{\"label\":\"mergify-test2:fork/pr2\",\"ref\":\"fork/pr2\",\"sha\":\"7e8cb90a457d6a6416c9255003f173c38abe1ddf\",\"user\":{\"login\":\"mergify-test2\",\"id\":38495008,\"node_id\":\"MDQ6VXNlcjM4NDk1MDA4\",\"avatar_url\":\"https://avatars1.githubusercontent.com/u/38495008?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test2\",\"html_url\":\"https://github.com/mergify-test2\",\"followers_url\":\"https://api.github.com/users/mergify-test2/followers\",\"following_url\":\"https://api.github.com/users/mergify-test2/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test2/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test2/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test2/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test2/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test2/repos\",\"events_url\":\"https://api.github.com/users/mergify-test2/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test2/received_events\",\"type\":\"User\",\"site_admin\":false},\"repo\":{\"id\":138495236,\"node_id\":\"MDEwOlJlcG9zaXRvcnkxMzg0OTUyMzY=\",\"name\":\"repo-3d6a3af4-c74f-45ab-a763-06a23830b0d7-test_auto_backport_failure\",\"full_name\":\"mergify-test2/repo-3d6a3af4-c74f-45ab-a763-06a23830b0d7-test_auto_backport_failure\",\"owner\":{\"login\":\"mergify-test2\",\"id\":38495008,\"node_id\":\"MDQ6VXNlcjM4NDk1MDA4\",\"avatar_url\":\"https://avatars1.githubusercontent.com/u/38495008?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test2\",\"html_url\":\"https://github.com/mergify-test2\",\"followers_url\":\"https://api.github.com/users/mergify-test2/followers\",\"following_url\":\"https://api.github.com/users/mergify-test2/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test2/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test2/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test2/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test2/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test2/repos\",\"events_url\":\"https://api.github.com/users/mergify-test2/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test2/received_events\",\"type\":\"User\",\"site_admin\":false},\"private\":false,\"html_url\":\"https://github.com/mergify-test2/repo-3d6a3af4-c74f-45ab-a763-06a23830b0d7-test_auto_backport_failure\",\"description\":null,\"fork\":true,\"url\":\"https://api.github.com/repos/mergify-test2/repo-3d6a3af4-c74f-45ab-a763-06a23830b0d7-test_auto_backport_failure\",\"forks_url\":\"https://api.github.com/repos/mergify-test2/repo-3d6a3af4-c74f-45ab-a763-06a23830b0d7-test_auto_backport_failure/forks\",\"keys_url\":\"https://api.github.com/repos/mergify-test2/repo-3d6a3af4-c74f-45ab-a763-06a23830b0d7-test_auto_backport_failure/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/mergify-test2/repo-3d6a3af4-c74f-45ab-a763-06a23830b0d7-test_auto_backport_failure/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/mergify-test2/repo-3d6a3af4-c74f-45ab-a763-06a23830b0d7-test_auto_backport_failure/teams\",\"hooks_url\":\"https://api.github.com/repos/mergify-test2/repo-3d6a3af4-c74f-45ab-a763-06a23830b0d7-test_auto_backport_failure/hooks\",\"issue_events_url\":\"https://api.github.com/repos/mergify-test2/repo-3d6a3af4-c74f-45ab-a763-06a23830b0d7-test_auto_backport_failure/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/mergify-test2/repo-3d6a3af4-c74f-45ab-a763-06a23830b0d7-test_auto_backport_failure/events\",\"assignees_url\":\"https://api.github.com/repos/mergify-test2/repo-3d6a3af4-c74f-45ab-a763-06a23830b0d7-test_auto_backport_failure/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/mergify-test2/repo-3d6a3af4-c74f-45ab-a763-06a23830b0d7-test_auto_backport_failure/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/mergify-test2/repo-3d6a3af4-c74f-45ab-a763-06a23830b0d7-test_auto_backport_failure/tags\",\"blobs_url\":\"https://api.github.com/repos/mergify-test2/repo-3d6a3af4-c74f-45ab-a763-06a23830b0d7-test_auto_backport_failure/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/mergify-test2/repo-3d6a3af4-c74f-45ab-a763-06a23830b0d7-test_auto_backport_failure/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/mergify-test2/repo-3d6a3af4-c74f-45ab-a763-06a23830b0d7-test_auto_backport_failure/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/mergify-test2/repo-3d6a3af4-c74f-45ab-a763-06a23830b0d7-test_auto_backport_failure/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/mergify-test2/repo-3d6a3af4-c74f-45ab-a763-06a23830b0d7-test_auto_backport_failure/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/mergify-test2/repo-3d6a3af4-c74f-45ab-a763-06a23830b0d7-test_auto_backport_failure/languages\",\"stargazers_url\":\"https://api.github.com/repos/mergify-test2/repo-3d6a3af4-c74f-45ab-a763-06a23830b0d7-test_auto_backport_failure/stargazers\",\"contributors_url\":\"https://api.github.com/repos/mergify-test2/repo-3d6a3af4-c74f-45ab-a763-06a23830b0d7-test_auto_backport_failure/contributors\",\"subscribers_url\":\"https://api.github.com/repos/mergify-test2/repo-3d6a3af4-c74f-45ab-a763-06a23830b0d7-test_auto_backport_failure/subscribers\",\"subscription_url\":\"https://api.github.com/repos/mergify-test2/repo-3d6a3af4-c74f-45ab-a763-06a23830b0d7-test_auto_backport_failure/subscription\",\"commits_url\":\"https://api.github.com/repos/mergify-test2/repo-3d6a3af4-c74f-45ab-a763-06a23830b0d7-test_auto_backport_failure/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/mergify-test2/repo-3d6a3af4-c74f-45ab-a763-06a23830b0d7-test_auto_backport_failure/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/mergify-test2/repo-3d6a3af4-c74f-45ab-a763-06a23830b0d7-test_auto_backport_failure/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/mergify-test2/repo-3d6a3af4-c74f-45ab-a763-06a23830b0d7-test_auto_backport_failure/issues/comments{/number}\",\"contents_url\":\"https://api.github.com/repos/mergify-test2/repo-3d6a3af4-c74f-45ab-a763-06a23830b0d7-test_auto_backport_failure/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/mergify-test2/repo-3d6a3af4-c74f-45ab-a763-06a23830b0d7-test_auto_backport_failure/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/mergify-test2/repo-3d6a3af4-c74f-45ab-a763-06a23830b0d7-test_auto_backport_failure/merges\",\"archive_url\":\"https://api.github.com/repos/mergify-test2/repo-3d6a3af4-c74f-45ab-a763-06a23830b0d7-test_auto_backport_failure/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/mergify-test2/repo-3d6a3af4-c74f-45ab-a763-06a23830b0d7-test_auto_backport_failure/downloads\",\"issues_url\":\"https://api.github.com/repos/mergify-test2/repo-3d6a3af4-c74f-45ab-a763-06a23830b0d7-test_auto_backport_failure/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/mergify-test2/repo-3d6a3af4-c74f-45ab-a763-06a23830b0d7-test_auto_backport_failure/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/mergify-test2/repo-3d6a3af4-c74f-45ab-a763-06a23830b0d7-test_auto_backport_failure/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/mergify-test2/repo-3d6a3af4-c74f-45ab-a763-06a23830b0d7-test_auto_backport_failure/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/mergify-test2/repo-3d6a3af4-c74f-45ab-a763-06a23830b0d7-test_auto_backport_failure/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/mergify-test2/repo-3d6a3af4-c74f-45ab-a763-06a23830b0d7-test_auto_backport_failure/releases{/id}\",\"deployments_url\":\"https://api.github.com/repos/mergify-test2/repo-3d6a3af4-c74f-45ab-a763-06a23830b0d7-test_auto_backport_failure/deployments\",\"created_at\":\"2018-06-24T15:54:18Z\",\"updated_at\":\"2018-06-24T15:54:20Z\",\"pushed_at\":\"2018-06-24T15:54:41Z\",\"git_url\":\"git://github.com/mergify-test2/repo-3d6a3af4-c74f-45ab-a763-06a23830b0d7-test_auto_backport_failure.git\",\"ssh_url\":\"git@github.com:mergify-test2/repo-3d6a3af4-c74f-45ab-a763-06a23830b0d7-test_auto_backport_failure.git\",\"clone_url\":\"https://github.com/mergify-test2/repo-3d6a3af4-c74f-45ab-a763-06a23830b0d7-test_auto_backport_failure.git\",\"svn_url\":\"https://github.com/mergify-test2/repo-3d6a3af4-c74f-45ab-a763-06a23830b0d7-test_auto_backport_failure\",\"homepage\":null,\"size\":0,\"stargazers_count\":0,\"watchers_count\":0,\"language\":null,\"has_issues\":false,\"has_projects\":true,\"has_downloads\":true,\"has_wiki\":true,\"has_pages\":false,\"forks_count\":0,\"mirror_url\":null,\"archived\":false,\"open_issues_count\":0,\"license\":null,\"forks\":0,\"open_issues\":0,\"watchers\":0,\"default_branch\":\"master\"}},\"base\":{\"label\":\"mergify-test1:nostrict\",\"ref\":\"nostrict\",\"sha\":\"9cfb83f810cdeaa9869b0f636ee942c24973d005\",\"user\":{\"login\":\"mergify-test1\",\"id\":38494943,\"node_id\":\"MDQ6VXNlcjM4NDk0OTQz\",\"avatar_url\":\"https://avatars3.githubusercontent.com/u/38494943?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test1\",\"html_url\":\"https://github.com/mergify-test1\",\"followers_url\":\"https://api.github.com/users/mergify-test1/followers\",\[...]
