{"http_interactions": [{"request": {"uri": "https://api.github.com:443/repos/mergify-test1/repo-0fe8d5e8-b9b2-422c-b298-6c5229ced68a-test_auto_backport_failure/statuses/53f51b7f4ddb9e512ae0aa98c98096cf998f7528", "body": {"encoding": "utf-8", "string": "{\"description\": \"Your change works\", \"state\": \"success\", \"context\": \"continuous-integration/fake-ci\"}"}, "headers": {"Content-Type": ["application/json"], "Authorization": ["token <MAIN_TOKEN>"]}, "method": "POST"}, "recorded_at": "2018-06-17T15:49:07", "response": {"url": "https://api.github.com:443/repos/mergify-test1/repo-0fe8d5e8-b9b2-422c-b298-6c5229ced68a-test_auto_backport_failure/statuses/53f51b7f4ddb9e512ae0aa98c98096cf998f7528", "body": {"encoding": "utf-8", "string": "{\"url\":\"https://api.github.com/repos/mergify-test1/repo-0fe8d5e8-b9b2-422c-b298-6c5229ced68a-test_auto_backport_failure/statuses/53f51b7f4ddb9e512ae0aa98c98096cf998f7528\",\"id\":5093852357,\"node_id\":\"MDEzOlN0YXR1c0NvbnRleHQ1MDkzODUyMzU3\",\"state\":\"success\",\"description\":\"Your change works\",\"target_url\":null,\"context\":\"continuous-integration/fake-ci\",\"created_at\":\"2018-06-17T15:49:07Z\",\"updated_at\":\"2018-06-17T15:49:07Z\",\"creator\":{\"login\":\"mergify-test1\",\"id\":38494943,\"node_id\":\"MDQ6VXNlcjM4NDk0OTQz\",\"avatar_url\":\"https://avatars3.githubusercontent.com/u/38494943?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test1\",\"html_url\":\"https://github.com/mergify-test1\",\"followers_url\":\"https://api.github.com/users/mergify-test1/followers\",\"following_url\":\"https://api.github.com/users/mergify-test1/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test1/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test1/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test1/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test1/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test1/repos\",\"events_url\":\"https://api.github.com/users/mergify-test1/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test1/received_events\",\"type\":\"User\",\"site_admin\":false}}"}, "status": {"code": 201, "message": "Created"}, "headers": {"Content-Type": ["application/json; charset=utf-8"], "X-GitHub-Media-Type": ["github.machine-man-preview; format=json"], "X-RateLimit-Remaining": ["4952"], "Status": ["201 Created"], "Location": ["https://api.github.com/repos/mergify-test1/repo-0fe8d5e8-b9b2-422c-b298-6c5229ced68a-test_auto_backport_failure/statuses/53f51b7f4ddb9e512ae0aa98c98096cf998f7528"], "X-RateLimit-Reset": ["1529253570"], "X-RateLimit-Limit": ["5000"], "X-OAuth-Scopes": ["repo"], "ETag": ["\"ce4670ba9dc01fcaf9a8e942dd33b6e6\""], "X-Accepted-OAuth-Scopes": [""]}}}, [...]
