{"recorded_with": "betamax/0.8.1", "http_interactions": [{"recorded_at": "2018-06-24T05:59:29", "request": {"headers": {"Authorization": ["token <FORK_TOKEN>"], "Content-Type": ["application/json"]}, "uri": "https://api.github.com:443/repos/mergify-test1/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/pulls", "method": "POST", "body": {"string": "{\"title\": \"Pull request n1 from fork\", \"body\": \"Pull request n1 from fork\", \"base\": \"nostrict\", \"head\": \"mergify-test2:fork/pr1\"}", "encoding": "utf-8"}}, "response": {"headers": {"X-GitHub-Media-Type": ["github.v3; format=json"], "X-RateLimit-Reset": ["1529823137"], "X-Accepted-OAuth-Scopes": [""], "Location": ["https://api.github.com/repos/mergify-test1/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/pulls/1"], "X-RateLimit-Limit": ["5000"], "X-RateLimit-Remaining": ["4993"], "Content-Type": ["application/json; charset=utf-8"], "ETag": ["\"4dadfd9eb3cf0631d4b460ed8a023f72\""], "Status": ["201 Created"], "X-OAuth-Scopes": ["repo"]}, "url": "https://api.github.com:443/repos/mergify-test1/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/pulls", "status": {"message": "Created", "code": 201}, "body": {"string": "{\"url\":\"https://api.github.com/repos/mergify-test1/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/pulls/1\",\"id\":196934295,\"node_id\":\"MDExOlB1bGxSZXF1ZXN0MTk2OTM0Mjk1\",\"html_url\":\"https://github.com/mergify-test1/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/pull/1\",\"diff_url\":\"https://github.com/mergify-test1/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/pull/1.diff\",\"patch_url\":\"https://github.com/mergify-test1/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/pull/1.patch\",\"issue_url\":\"https://api.github.com/repos/mergify-test1/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/issues/1\",\"number\":1,\"state\":\"open\",\"locked\":false,\"title\":\"Pull request n1 from fork\",\"user\":{\"login\":\"mergify-test2\",\"id\":38495008,\"node_id\":\"MDQ6VXNlcjM4NDk1MDA4\",\"avatar_url\":\"https://avatars1.githubusercontent.com/u/38495008?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test2\",\"html_url\":\"https://github.com/mergify-test2\",\"followers_url\":\"https://api.github.com/users/mergify-test2/followers\",\"following_url\":\"https://api.github.com/users/mergify-test2/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test2/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test2/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test2/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test2/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test2/repos\",\"events_url\":\"https://api.github.com/users/mergify-test2/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test2/received_events\",\"type\":\"User\",\"site_admin\":false},\"body\":\"Pull request n1 from fork\",\"created_at\":\"2018-06-24T05:59:29Z\",\"updated_at\":\"2018-06-24T05:59:29Z\",\"closed_at\":null,\"merged_at\":null,\"merge_commit_sha\":null,\"assignee\":null,\"assignees\":[],\"requested_reviewers\":[],\"requested_teams\":[],\"labels\":[],\"milestone\":null,\"commits_url\":\"https://api.github.com/repos/mergify-test1/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/pulls/1/commits\",\"review_comments_url\":\"https://api.github.com/repos/mergify-test1/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/pulls/1/comments\",\"review_comment_url\":\"https://api.github.com/repos/mergify-test1/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/pulls/comments{/number}\",\"comments_url\":\"https://api.github.com/repos/mergify-test1/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/issues/1/comments\",\"statuses_url\":\"https://api.github.com/repos/mergify-test1/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/statuses/0e92208d4f5ad5d2ab639d12430b164e6f1917df\",\"head\":{\"label\":\"mergify-test2:fork/pr1\",\"ref\":\"fork/pr1\",\"sha\":\"0e92208d4f5ad5d2ab639d12430b164e6f1917df\",\"user\":{\"login\":\"mergify-test2\",\"id\":38495008,\"node_id\":\"MDQ6VXNlcjM4NDk1MDA4\",\"avatar_url\":\"https://avatars1.githubusercontent.com/u/38495008?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test2\",\"html_url\":\"https://github.com/mergify-test2\",\"followers_url\":\"https://api.github.com/users/mergify-test2/followers\",\"following_url\":\"https://api.github.com/users/mergify-test2/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test2/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test2/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test2/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test2/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test2/repos\",\"events_url\":\"https://api.github.com/users/mergify-test2/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test2/received_events\",\"type\":\"User\",\"site_admin\":false},\"repo\":{\"id\":138457501,\"node_id\":\"MDEwOlJlcG9zaXRvcnkxMzg0NTc1MDE=\",\"name\":\"repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure\",\"full_name\":\"mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure\",\"owner\":{\"login\":\"mergify-test2\",\"id\":38495008,\"node_id\":\"MDQ6VXNlcjM4NDk1MDA4\",\"avatar_url\":\"https://avatars1.githubusercontent.com/u/38495008?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test2\",\"html_url\":\"https://github.com/mergify-test2\",\"followers_url\":\"https://api.github.com/users/mergify-test2/followers\",\"following_url\":\"https://api.github.com/users/mergify-test2/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test2/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test2/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test2/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test2/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test2/repos\",\"events_url\":\"https://api.github.com/users/mergify-test2/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test2/received_events\",\"type\":\"User\",\"site_admin\":false},\"private\":false,\"html_url\":\"https://github.com/mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure\",\"description\":null,\"fork\":true,\"url\":\"https://api.github.com/repos/mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure\",\"forks_url\":\"https://api.github.com/repos/mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/forks\",\"keys_url\":\"https://api.github.com/repos/mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/teams\",\"hooks_url\":\"https://api.github.com/repos/mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/hooks\",\"issue_events_url\":\"https://api.github.com/repos/mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/events\",\"assignees_url\":\"https://api.github.com/repos/mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/tags\",\"blobs_url\":\"https://api.github.com/repos/mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/languages\",\"stargazers_url\":\"https://api.github.com/repos/mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/stargazers\",\"contributors_url\":\"https://api.github.com/repos/mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/contributors\",\"subscribers_url\":\"https://api.github.com/repos/mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/subscribers\",\"subscription_url\":\"https://api.github.com/repos/mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/subscription\",\"commits_url\":\"https://api.github.com/repos/mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/issues/comments{/number}\",\"contents_url\":\"https://api.github.com/repos/mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/merges\",\"archive_url\":\"https://api.github.com/repos/mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/downloads\",\"issues_url\":\"https://api.github.com/repos/mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/releases{/id}\",\"deployments_url\":\"https://api.github.com/repos/mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/deployments\",\"created_at\":\"2018-06-24T05:59:24Z\",\"updated_at\":\"2018-06-24T05:59:26Z\",\"pushed_at\":\"2018-06-24T05:59:28Z\",\"git_url\":\"git://github.com/mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure.git\",\"ssh_url\":\"git@github.com:mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure.git\",\"clone_url\":\"https://github.com/mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure.git\",\"svn_url\":\"https://github.com/mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure\",\"homepage\":null,\"size\":0,\"stargazers_count\":0,\"watchers_count\":0,\"language\":null,\"has_issues\":false,\"has_projects\":true,\"has_downloads\":true,\"has_wiki\":true,\"has_pages\":false,\"forks_count\":0,\"mirror_url\":null,\"archived\":false,\"open_issues_count\":0,\"license\":null,\"forks\":0,\"open_issues\":0,\"watchers\":0,\"default_branch\":\"master\"}},\"base\":{\"label\":\"mergify-test1:nostrict\",\"ref\":\"nostrict\",\"sha\":\"6bb45a7620ce10b257f1821f3cc1083aa6534fa2\",\"user\":{\"login\":\"mergify-test1\",\"id\":38494943,\"node_id\":\"MDQ6VXNlcjM4NDk0OTQz\",\"avatar_url\":\"https://avatars3.githubusercontent.com/u/38494943?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test1\",\"html_url\":\"https://github.com/mergify-test1\",\"followers_url\":\"https://api.github.com/users/mergify-test1/followers\",\[...]
[...]
