{"http_interactions": [{"request": {"uri": "https://gh.mergify.io/events-testing?id=12", "method": "GET", "headers": {}, "body": {"string": "", "encoding": "utf-8"}}, "recorded_at": "2018-06-17T15:49:07", "response": {"body": {"string": "[]\n", "encoding": null}, "status": {"message": "OK", "code": 200}, "headers": {"Content-Type": ["application/json"]}, "url": "https://gh.mergify.io/events-testing?id=12"}}, {"request": {"uri": "https://gh.mergify.io/events-testing?id=12", "method": "GET", "headers": {"X-Hub-Signature": ["sha1=<FAKE_HMAC>"]}, "body": {"string": "<FAKE_DATA>", "encoding": "utf-8"}}, "recorded_at": "2018-06-21T07:40:04", "response": {"body": {"string": "[]\n", "encoding": null}, "status": {"message": "OK", "code": 200}, "headers": {"Content-Type": ["application/json"]}, "url": "https://gh.mergify.io/events-testing?id=12"}}, {"request": {"uri": "https://gh.mergify.io/events-testing?id=12", "method": "GET", "headers": {"X-Hub-Signature": ["sha1=<FAKE_HMAC>"]}, "body": {"string": "<FAKE_DATA>", "encoding": "utf-8"}}, "recorded_at": "2018-06-21T08:16:34", "response": {"status": {"message": "OK", "code": 200}, "headers": {"Content-Type": ["application/json"]}, "body": {"string": "[]\n", "encoding": null}, "url": "https://gh.mergify.io/events-testing?id=12"}}], "recorded_with": "betamax/0.8.1"}