{"recorded_with": "betamax/0.8.1", "http_interactions": [{"recorded_at": "2018-06-24T05:59:25", "request": {"headers": {"Authorization": ["token <FORK_TOKEN>"]}, "uri": "https://api.github.com:443/repos/mergify-test1/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/forks", "method": "POST", "body": {"string": "", "encoding": "utf-8"}}, "response": {"headers": {"X-RateLimit-Limit": ["5000"], "X-GitHub-Media-Type": ["github.v3; format=json"], "Content-Type": ["application/json; charset=utf-8"], "Status": ["202 Accepted"], "X-Accepted-OAuth-Scopes": [""], "X-RateLimit-Reset": ["1529823137"], "X-OAuth-Scopes": ["repo"], "X-RateLimit-Remaining": ["4994"]}, "url": "https://api.github.com:443/repos/mergify-test1/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/forks", "status": {"message": "Accepted", "code": 202}, "body": {"string": "{\"id\":138457501,\"node_id\":\"MDEwOlJlcG9zaXRvcnkxMzg0NTc1MDE=\",\"name\":\"repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure\",\"full_name\":\"mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure\",\"owner\":{\"login\":\"mergify-test2\",\"id\":38495008,\"node_id\":\"MDQ6VXNlcjM4NDk1MDA4\",\"avatar_url\":\"https://avatars1.githubusercontent.com/u/38495008?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test2\",\"html_url\":\"https://github.com/mergify-test2\",\"followers_url\":\"https://api.github.com/users/mergify-test2/followers\",\"following_url\":\"https://api.github.com/users/mergify-test2/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test2/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test2/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test2/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test2/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test2/repos\",\"events_url\":\"https://api.github.com/users/mergify-test2/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test2/received_events\",\"type\":\"User\",\"site_admin\":false},\"private\":false,\"html_url\":\"https://github.com/mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure\",\"description\":null,\"fork\":true,\"url\":\"https://api.github.com/repos/mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure\",\"forks_url\":\"https://api.github.com/repos/mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/forks\",\"keys_url\":\"https://api.github.com/repos/mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/teams\",\"hooks_url\":\"https://api.github.com/repos/mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/hooks\",\"issue_events_url\":\"https://api.github.com/repos/mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/events\",\"assignees_url\":\"https://api.github.com/repos/mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/tags\",\"blobs_url\":\"https://api.github.com/repos/mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/languages\",\"stargazers_url\":\"https://api.github.com/repos/mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/stargazers\",\"contributors_url\":\"https://api.github.com/repos/mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/contributors\",\"subscribers_url\":\"https://api.github.com/repos/mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/subscribers\",\"subscription_url\":\"https://api.github.com/repos/mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/subscription\",\"commits_url\":\"https://api.github.com/repos/mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/issues/comments{/number}\",\"contents_url\":\"https://api.github.com/repos/mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/merges\",\"archive_url\":\"https://api.github.com/repos/mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/downloads\",\"issues_url\":\"https://api.github.com/repos/mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/releases{/id}\",\"deployments_url\":\"https://api.github.com/repos/mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/deployments\",\"created_at\":\"2018-06-24T05:59:24Z\",\"updated_at\":\"2018-06-24T05:59:19Z\",\"pushed_at\":\"2018-06-24T05:59:24Z\",\"git_url\":\"git://github.com/mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure.git\",\"ssh_url\":\"git@github.com:mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure.git\",\"clone_url\":\"https://github.com/mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure.git\",\"svn_url\":\"https://github.com/mergify-test2/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure\",\"homepage\":null,\"size\":0,\"stargazers_count\":0,\"watchers_count\":0,\"language\":null,\"has_issues\":false,\"has_projects\":true,\"has_downloads\":true,\"has_wiki\":true,\"has_pages\":false,\"forks_count\":0,\"mirror_url\":null,\"archived\":false,\"open_issues_count\":0,\"license\":null,\"forks\":0,\"open_issues\":0,\"watchers\":0,\"default_branch\":\"master\",\"permissions\":{\"admin\":true,\"push\":true,\"pull\":true},\"parent\":{\"id\":138457496,\"node_id\":\"MDEwOlJlcG9zaXRvcnkxMzg0NTc0OTY=\",\"name\":\"repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure\",\"full_name\":\"mergify-test1/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure\",\"owner\":{\"login\":\"mergify-test1\",\"id\":38494943,\"node_id\":\"MDQ6VXNlcjM4NDk0OTQz\",\"avatar_url\":\"https://avatars3.githubusercontent.com/u/38494943?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test1\",\"html_ur[...]
[...]
