{"recorded_with": "betamax/0.8.1", "http_interactions": [{"recorded_at": "2018-06-24T05:59:58", "request": {"method": "POST", "uri": "https://api.github.com:443/repos/mergify-test1/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/statuses/b302750a8f51764eff076ea2498c581526ee7240", "body": {"encoding": "utf-8", "string": "{\"description\": \"Your change works\", \"state\": \"success\", \"context\": \"continuous-integration/fake-ci\"}"}, "headers": {"Authorization": ["token <MAIN_TOKEN>"], "Content-Type": ["application/json"]}}, "response": {"url": "https://api.github.com:443/repos/mergify-test1/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/statuses/b302750a8f51764eff076ea2498c581526ee7240", "status": {"code": 201, "message": "Created"}, "body": {"encoding": "utf-8", "string": "{\"url\":\"https://api.github.com/repos/mergify-test1/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/statuses/b302750a8f51764eff076ea2498c581526ee7240\",\"id\":5123800366,\"node_id\":\"MDEzOlN0YXR1c0NvbnRleHQ1MTIzODAwMzY2\",\"state\":\"success\",\"description\":\"Your change works\",\"target_url\":null,\"context\":\"continuous-integration/fake-ci\",\"created_at\":\"2018-06-24T05:59:58Z\",\"updated_at\":\"2018-06-24T05:59:58Z\",\"creator\":{\"login\":\"mergify-test1\",\"id\":38494943,\"node_id\":\"MDQ6VXNlcjM4NDk0OTQz\",\"avatar_url\":\"https://avatars3.githubusercontent.com/u/38494943?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test1\",\"html_url\":\"https://github.com/mergify-test1\",\"followers_url\":\"https://api.github.com/users/mergify-test1/followers\",\"following_url\":\"https://api.github.com/users/mergify-test1/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test1/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test1/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test1/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test1/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test1/repos\",\"events_url\":\"https://api.github.com/users/mergify-test1/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test1/received_events\",\"type\":\"User\",\"site_admin\":false}}"}, "headers": {"Status": ["201 Created"], "X-RateLimit-Limit": ["5000"], "X-OAuth-Scopes": ["repo"], "Location": ["https://api.github.com/repos/mergify-test1/repo-13f3090e-b2cc-434a-8c41-cc47fe3f758c-test_auto_backport_failure/statuses/b302750a8f51764eff076ea2498c581526ee7240"], "ETag": ["\"a5a7d83f9e70125d301e0c350c80d89d\""], "X-RateLimit-Remaining": ["4976"], "X-GitHub-Media-Type": ["github.machine-man-preview; format=json"], "X-RateLimit-Reset": ["1529823137"], "Content-Type": ["application/json; charset=utf-8"], "X-Accepted-OAuth-Scopes": [""]}}}]}