{"http_interactions": [{"request": {"uri": "https://api.github.com:443/repos/mergify-test1/repo-3d6a3af4-c74f-45ab-a763-06a23830b0d7-test_auto_backport_failure/statuses/7e8cb90a457d6a6416c9255003f173c38abe1ddf", "headers": {"Content-Type": ["application/json"], "Authorization": ["token <MAIN_TOKEN>"]}, "method": "POST", "body": {"string": "{\"context\": \"continuous-integration/fake-ci\", \"state\": \"success\", \"description\": \"Your change works\"}", "encoding": "utf-8"}}, "recorded_at": "2018-06-24T15:54:51", "response": {"status": {"code": 201, "message": "Created"}, "url": "https://api.github.com:443/repos/mergify-test1/repo-3d6a3af4-c74f-45ab-a763-06a23830b0d7-test_auto_backport_failure/statuses/7e8cb90a457d6a6416c9255003f173c38abe1ddf", "headers": {"X-RateLimit-Remaining": ["4953"], "X-OAuth-Scopes": ["repo"], "Content-Type": ["application/json; charset=utf-8"], "ETag": ["\"9fc57c03fa772263d893d5ceb8b78b99\""], "X-GitHub-Media-Type": ["github.machine-man-preview; format=json"], "Location": ["https://api.github.com/repos/mergify-test1/repo-3d6a3af4-c74f-45ab-a763-06a23830b0d7-test_auto_backport_failure/statuses/7e8cb90a457d6a6416c9255003f173c38abe1ddf"], "X-RateLimit-Limit": ["5000"], "X-Accepted-OAuth-Scopes": [""], "X-RateLimit-Reset": ["1529858954"], "Status": ["201 Created"]}, "body": {"string": "{\"url\":\"https://api.github.com/repos/mergify-test1/repo-3d6a3af4-c74f-45ab-a763-06a23830b0d7-test_auto_backport_failure/statuses/7e8cb90a457d6a6416c9255003f173c38abe1ddf\",\"id\":5124317259,\"node_id\":\"MDEzOlN0YXR1c0NvbnRleHQ1MTI0MzE3MjU5\",\"state\":\"success\",\"description\":\"Your change works\",\"target_url\":null,\"context\":\"continuous-integration/fake-ci\",\"created_at\":\"2018-06-24T15:54:51Z\",\"updated_at\":\"2018-06-24T15:54:51Z\",\"creator\":{\"login\":\"mergify-test1\",\"id\":38494943,\"node_id\":\"MDQ6VXNlcjM4NDk0OTQz\",\"avatar_url\":\"https://avatars3.githubusercontent.com/u/38494943?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test1\",\"html_url\":\"https://github.com/mergify-test1\",\"followers_url\":\"https://api.github.com/users/mergify-test1/followers\",\"following_url\":\"https://api.github.com/users/mergify-test1/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test1/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test1/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test1/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test1/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test1/repos\",\"events_url\":\"https://api.github.com/users/mergify-test1/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test1/received_events\",\"type\":\"User\",\"site_admin\":false}}", "encoding": "utf-8"}}}], "recorded_with": "betamax/0.8.1"}