{"http_interactions": [{"request": {"uri": "https://api.github.com:443/repos/mergify-test1/repo-e5d16dd6-07b2-4786-9a90-b14e9302b1f8-test_auto_backport_failure/statuses/87164ecee16d07282ba0b3b719c878115e100c71", "method": "POST", "headers": {"Content-Type": ["application/json"], "Authorization": ["token <MAIN_TOKEN>"]}, "body": {"string": "{\"state\": \"success\", \"context\": \"continuous-integration/fake-ci\", \"description\": \"Your change works\"}", "encoding": "utf-8"}}, "recorded_at": "2018-06-21T08:16:33", "response": {"status": {"message": "Created", "code": 201}, "headers": {"ETag": ["\"d4868be4c4151aee1be4f2d42b5e816f\""], "Location": ["https://api.github.com/repos/mergify-test1/repo-e5d16dd6-07b2-4786-9a90-b14e9302b1f8-test_auto_backport_failure/statuses/87164ecee16d07282ba0b3b719c878115e100c71"], "Content-Type": ["application/json; charset=utf-8"], "X-RateLimit-Reset": ["1529569015"], "X-GitHub-Media-Type": ["github.machine-man-preview; format=json"], "X-RateLimit-Remaining": ["4850"], "X-RateLimit-Limit": ["5000"], "Status": ["201 Created"], "X-OAuth-Scopes": ["repo"], "X-Accepted-OAuth-Scopes": [""]}, "body": {"string": "{\"url\":\"https://api.github.com/repos/mergify-test1/repo-e5d16dd6-07b2-4786-9a90-b14e9302b1f8-test_auto_backport_failure/statuses/87164ecee16d07282ba0b3b719c878115e100c71\",\"id\":5112581075,\"node_id\":\"MDEzOlN0YXR1c0NvbnRleHQ1MTEyNTgxMDc1\",\"state\":\"success\",\"description\":\"Your change works\",\"target_url\":null,\"context\":\"continuous-integration/fake-ci\",\"created_at\":\"2018-06-21T08:16:33Z\",\"updated_at\":\"2018-06-21T08:16:33Z\",\"creator\":{\"login\":\"mergify-test1\",\"id\":38494943,\"node_id\":\"MDQ6VXNlcjM4NDk0OTQz\",\"avatar_url\":\"https://avatars3.githubusercontent.com/u/38494943?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test1\",\"html_url\":\"https://github.com/mergify-test1\",\"followers_url\":\"https://api.github.com/users/mergify-test1/followers\",\"following_url\":\"https://api.github.com/users/mergify-test1/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test1/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test1/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test1/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test1/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test1/repos\",\"events_url\":\"https://api.github.com/users/mergify-test1/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test1/received_events\",\"type\":\"User\",\"site_admin\":false}}", "encoding": "utf-8"}, "url": "https://api.github.com:443/repos/mergify-test1/repo-e5d16dd6-07b2-4786-9a90-b14e9302b1f8-test_auto_backport_failure/statuses/87164ecee16d07282ba0b3b719c878115e100c71"}}], "recorded_with": "betamax/0.8.1"}