{"recorded_with": "betamax/0.8.1", "http_interactions": [{"response": {"body": {"encoding": "utf-8", "string": "{\"url\":\"https://api.github.com/repos/mergify-test1/repo-d6c5d8b5-56bc-423a-9cba-fabc6e66d505-test_basic/statuses/87c23f2dd4bc0c8d24038a0744a9d7f92d2cca0c\",\"id\":5124354488,\"node_id\":\"MDEzOlN0YXR1c0NvbnRleHQ1MTI0MzU0NDg4\",\"state\":\"success\",\"description\":\"Your change works\",\"target_url\":null,\"context\":\"continuous-integration/fake-ci\",\"created_at\":\"2018-06-24T16:31:05Z\",\"updated_at\":\"2018-06-24T16:31:05Z\",\"creator\":{\"login\":\"mergify-test1\",\"id\":38494943,\"node_id\":\"MDQ6VXNlcjM4NDk0OTQz\",\"avatar_url\":\"https://avatars3.githubusercontent.com/u/38494943?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test1\",\"html_url\":\"https://github.com/mergify-test1\",\"followers_url\":\"https://api.github.com/users/mergify-test1/followers\",\"following_url\":\"https://api.github.com/users/mergify-test1/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test1/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test1/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test1/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test1/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test1/repos\",\"events_url\":\"https://api.github.com/users/mergify-test1/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test1/received_events\",\"type\":\"User\",\"site_admin\":false}}"}, "url": "https://api.github.com:443/repos/mergify-test1/repo-d6c5d8b5-56bc-423a-9cba-fabc6e66d505-test_basic/statuses/87c23f2dd4bc0c8d24038a0744a9d7f92d2cca0c", "status": {"message": "Created", "code": 201}, "headers": {"X-RateLimit-Reset": ["1529858954"], "Content-Type": ["application/json; charset=utf-8"], "X-OAuth-Scopes": ["repo"], "X-GitHub-Media-Type": ["github.machine-man-preview; format=json"], "Status": ["201 Created"], "X-RateLimit-Remaining": ["4819"], "Location": ["https://api.github.com/repos/mergify-test1/repo-d6c5d8b5-56bc-423a-9cba-fabc6e66d505-test_basic/statuses/87c23f2dd4bc0c8d24038a0744a9d7f92d2cca0c"], "X-Accepted-OAuth-Scopes": [""], "ETag": ["\"6a3a61a67ae04767c7fa9633a7bb8615\""], "X-RateLimit-Limit": ["5000"]}}, "request": {"body": {"encoding": "utf-8", "string": "{\"context\": \"continuous-integration/fake-ci\", \"state\": \"success\", \"description\": \"Your change works\"}"}, "method": "POST", "uri": "https://api.github.com:443/repos/mergify-test1/repo-d6c5d8b5-56bc-423a-9cba-fabc6e66d505-test_basic/statuses/87c23f2dd4bc0c8d24038a0744a9d7f92d2cca0c", "headers": {"Content-Type": ["application/json"], "Authorization": ["token <MAIN_TOKEN>"]}}, "recorded_at": "2018-06-24T16:31:05"}]}