{"http_interactions": [{"request": {"uri": "https://api.github.com:443/repos/mergify-test1/repo-f4d33a56-9a84-4749-825b-4810c127ffbc-test_basic/statuses/f03f6b58713899379c465e9f910d2cfc5d5bc896", "headers": {"Content-Type": ["application/json"], "Authorization": ["token <MAIN_TOKEN>"]}, "method": "POST", "body": {"string": "{\"context\": \"continuous-integration/fake-ci\", \"state\": \"success\", \"description\": \"Your change works\"}", "encoding": "utf-8"}}, "recorded_at": "2018-06-24T15:57:34", "response": {"status": {"code": 201, "message": "Created"}, "url": "https://api.github.com:443/repos/mergify-test1/repo-f4d33a56-9a84-4749-825b-4810c127ffbc-test_basic/statuses/f03f6b58713899379c465e9f910d2cfc5d5bc896", "headers": {"X-RateLimit-Remaining": ["4924"], "X-OAuth-Scopes": ["repo"], "Content-Type": ["application/json; charset=utf-8"], "ETag": ["\"d6486885a829483f8a41cd6cca364842\""], "X-GitHub-Media-Type": ["github.machine-man-preview; format=json"], "Location": ["https://api.github.com/repos/mergify-test1/repo-f4d33a56-9a84-4749-825b-4810c127ffbc-test_basic/statuses/f03f6b58713899379c465e9f910d2cfc5d5bc896"], "X-RateLimit-Limit": ["5000"], "X-Accepted-OAuth-Scopes": [""], "X-RateLimit-Reset": ["1529858954"], "Status": ["201 Created"]}, "body": {"string": "{\"url\":\"https://api.github.com/repos/mergify-test1/repo-f4d33a56-9a84-4749-825b-4810c127ffbc-test_basic/statuses/f03f6b58713899379c465e9f910d2cfc5d5bc896\",\"id\":5124320070,\"node_id\":\"MDEzOlN0YXR1c0NvbnRleHQ1MTI0MzIwMDcw\",\"state\":\"success\",\"description\":\"Your change works\",\"target_url\":null,\"context\":\"continuous-integration/fake-ci\",\"created_at\":\"2018-06-24T15:57:34Z\",\"updated_at\":\"2018-06-24T15:57:34Z\",\"creator\":{\"login\":\"mergify-test1\",\"id\":38494943,\"node_id\":\"MDQ6VXNlcjM4NDk0OTQz\",\"avatar_url\":\"https://avatars3.githubusercontent.com/u/38494943?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test1\",\"html_url\":\"https://github.com/mergify-test1\",\"followers_url\":\"https://api.github.com/users/mergify-test1/followers\",\"following_url\":\"https://api.github.com/users/mergify-test1/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test1/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test1/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test1/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test1/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test1/repos\",\"events_url\":\"https://api.github.com/users/mergify-test1/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test1/received_events\",\"type\":\"User\",\"site_admin\":false}}", "encoding": "utf-8"}}}], "recorded_with": "betamax/0.8.1"}