{"http_interactions": [{"request": {"uri": "https://api.github.com:443/repos/mergify-test1/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/forks", "body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["token <FORK_TOKEN>"]}, "method": "POST"}, "recorded_at": "2018-05-05T19:15:17", "response": {"url": "https://api.github.com:443/repos/mergify-test1/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/forks", "body": {"encoding": "utf-8", "string": "{\"id\":132277423,\"name\":\"repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic\",\"full_name\":\"mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic\",\"owner\":{\"login\":\"mergify-test2\",\"id\":38495008,\"avatar_url\":\"https://avatars1.githubusercontent.com/u/38495008?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test2\",\"html_url\":\"https://github.com/mergify-test2\",\"followers_url\":\"https://api.github.com/users/mergify-test2/followers\",\"following_url\":\"https://api.github.com/users/mergify-test2/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test2/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test2/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test2/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test2/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test2/repos\",\"events_url\":\"https://api.github.com/users/mergify-test2/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test2/received_events\",\"type\":\"User\",\"site_admin\":false},\"private\":false,\"html_url\":\"https://github.com/mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic\",\"description\":null,\"fork\":true,\"url\":\"https://api.github.com/repos/mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic\",\"forks_url\":\"https://api.github.com/repos/mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/forks\",\"keys_url\":\"https://api.github.com/repos/mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/teams\",\"hooks_url\":\"https://api.github.com/repos/mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/hooks\",\"issue_events_url\":\"https://api.github.com/repos/mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/events\",\"assignees_url\":\"https://api.github.com/repos/mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/tags\",\"blobs_url\":\"https://api.github.com/repos/mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/languages\",\"stargazers_url\":\"https://api.github.com/repos/mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/stargazers\",\"contributors_url\":\"https://api.github.com/repos/mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/contributors\",\"subscribers_url\":\"https://api.github.com/repos/mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/subscribers\",\"subscription_url\":\"https://api.github.com/repos/mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/subscription\",\"commits_url\":\"https://api.github.com/repos/mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/issues/comments{/number}\",\"contents_url\":\"https://api.github.com/repos/mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/merges\",\"archive_url\":\"https://api.github.com/repos/mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/downloads\",\"issues_url\":\"https://api.github.com/repos/mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/releases{/id}\",\"deployments_url\":\"https://api.github.com/repos/mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/deployments\",\"created_at\":\"2018-05-05T19:15:16Z\",\"updated_at\":\"2018-05-05T19:15:11Z\",\"pushed_at\":\"2018-05-05T19:15:16Z\",\"git_url\":\"git://github.com/mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic.git\",\"ssh_url\":\"git@github.com:mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic.git\",\"clone_url\":\"https://github.com/mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic.git\",\"svn_url\":\"https://github.com/mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic\",\"homepage\":null,\"size\":0,\"stargazers_count\":0,\"watchers_count\":0,\"language\":null,\"has_issues\":false,\"has_projects\":true,\"has_downloads\":true,\"has_wiki\":true,\"has_pages\":false,\"forks_count\":0,\"mirror_url\":null,\"archived\":false,\"open_issues_count\":0,\"license\":null,\"forks\":0,\"open_issues\":0,\"watchers\":0,\"default_branch\":\"master\",\"permissions\":{\"admin\":true,\"push\":true,\"pull\":true},\"parent\":{\"id\":132277409,\"name\":\"repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic\",\"full_name\":\"mergify-test1/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic\",\"owner\":{\"login\":\"mergify-test1\",\"id\":38494943,\"avatar_url\":\"https://avatars3.githubusercontent.com/u/38494943?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test1\",\"html_url\":\"https://github.com/mergify-test1\",\"followers_url\":\"https://api.github.com/users/mergify-test1/followers\",\"[...]
{"request": {"uri": "https://gh.mergify.io/events-testing", "body": {"encoding": "utf-8", "string": ""}, "headers": {}, "method": "DELETE"}, "recorded_at": "2018-06-16T21:44:18", "response": {"url": "https://gh.mergify.io/events-testing", "body": {"encoding": "utf-8", "string": ""}, "status": {"code": 202, "message": "ACCEPTED"}, "headers": {"Content-Type": ["text/html; charset=utf-8"]}}}, {"request": {"uri": "https://api.github.com:443/repos/mergify-test1/repo-21948944-b320-4e46-9045-fde46f8f768e-test_basic/forks", "body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["token <FORK_TOKEN>"]}, "method": "POST"}, "recorded_at": "2018-06-16T21:44:29", "response": {"url": "https://api.github.com:443/repos/mergify-test1/repo-21948944-b320-4e46-9045-fde46f8f768e-test_basic/forks", "body": {"encoding": "utf-8", "string": "{\"id\":137612265,\"node_id\":\"MDEwOlJlcG9zaXRvcnkxMzc2MTIyNjU=\",\"name\":\"repo-21948944-b320-4e46-9045-fde46f8f768e-test_basic\",\"full_name\":\"mergify-test2/repo-21948944-b320-4e46-9045-fde46f8f768e-test_basic\",\"owner\":{\"login\":\"mergify-test2\",\"id\":38495008,\"node_id\":\"MDQ6VXNlcjM4NDk1MDA4\",\"avatar_url\":\"https://avatars1.githubusercontent.com/u/38495008?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test2\",\"html_url\":\"https://github.com/mergify-test2\",\"followers_url\":\"h[...]
{"request": {"uri": "https://gh.mergify.io/events-testing", "body": {"encoding": "utf-8", "string": "<FAKE_DATA>"}, "headers": {"X-Hub-Signature": ["sha1=<FAKE_HMAC>"]}, "method": "DELETE"}, "recorded_at": "2018-06-21T07:41:09", "response": {"url": "https://gh.mergify.io/events-testing", "body": {"encoding": "utf-8", "string": ""}, "status": {"code": 202, "message": "ACCEPTED"}, "headers": {"Content-Type": ["text/html; charset=utf-8"]}}}, [...]
{"request": {"uri": "https://api.github.com:443/user", "body": {"encoding": "utf-8", "string": ""}, "method": "GET", "headers": {"Authorization": ["token <MAIN_TOKEN>"]}}, "recorded_at": "2018-06-23T21:49:44", "response": {"status": {"code": 200, "message": "OK"}, "body": {"string": "", "encoding": "utf-8", "base64_string": "H4sIAAAAAAAAA51U0WrbMBT9FaPnpHZit00Fox0U9tSOQjZGX4Isy7ZWWRKSnJCG/vuO7LSsfhkzfrCudM+5x1f3+ESUaaQmlHTCNbI+LoPwYUUWRFaE5pviBk++INpUYhe3yMP909XPX4+K/34oHu9fsu/bp1eksz0LzO16p5DThmA9TdNx0+cXjQxtX/ZeOG50EDpccNOlffpe4Hb/pQBJ4840QyVsTOisPDONcND5dKq7DZ2ayBirD5hpdm2UMgfwTJX/s1T6AYXOcS11M5cG0FNqQivQQnzWW2yG9GGGrAF2SuMLFxaJPC7Gier/pZ2BEHbQ0HRKnbBmYOxLz520QRo9Q+InOOiMa5iWr2wmHeAeLFHcDDEDDHCxx1jOwI+4U2qd3DN+jO1xggu5R8fnck4IQBmOVsASPzAbsf8yiB2rumjcmikvYFDWxYTpfGPmLdNHnNydj6QBQQnXjw5Thg99J1T3SqENHZOw8Bi00glWKhCPcQkwJdtW+oRxbnodEixr45L418AMJ7Z3aKdITJ1gmJODcS81DBbjb8M/IPlqbfJJi+1LJfluvAeaX18tyHlrGGVCs3d/waZ/RSg3RBwaA5rNArSts9VmmRXL1Wa7ymixppc3z/je3lbTnEukbbNrul7TLH8mb38AaI2HeAoFAAA="}, "url": "https://api.github.com:443/user", "headers": {"Content-Type": ["application/json; charset=utf-8"], "Last-Modified": ["Fri, 04 May 2018 07:22:03 GMT"], "X-RateLimit-Remaining": ["4928"], "Status": ["200 OK"], "X-Accepted-OAuth-Scopes": [""], "X-RateLimit-Reset": ["1529790994"], "ETag": ["W/\"5150d7b11eddcecacd373145a489f24d\""], "X-GitHub-Media-Type": ["github.v3; format=json"], "X-RateLimit-Limit": ["5000"], "X-OAuth-Scopes": ["repo"]}}}, [...]
{"request": {"uri": "https://api.github.com:443/user/repos", "body": {"encoding": "utf-8", "string": "{\"name\": \"repo-4c42c870-c7cb-47fc-b710-9a77a0d64606-test_basic\"}"}, "method": "POST", "headers": {"Content-Type": ["application/json"], "Authorization": ["token <MAIN_TOKEN>"]}}, "recorded_at": "2018-06-23T21:49:45", "response": {"status": {"code": 201, "message": "Created"}, "body": {"encoding": "utf-8", "string": "{\"id\":138435897,\"node_id\":\"MDEwOlJlcG9zaXRvcnkxMzg0MzU4OTc=\",\"name\":[...]
[...]
