{"http_interactions": [{"response": {"url": "https://api.github.com:443/repos/mergify-test1/repo-baf7c0ce-2c16-4014-9135-b5c3d771a4d3-test_basic/statuses/0a8a264f945d6080782b8ee724f1f98358e5f828", "body": {"string": "{\"url\":\"https://api.github.com/repos/mergify-test1/repo-baf7c0ce-2c16-4014-9135-b5c3d771a4d3-test_basic/statuses/0a8a264f945d6080782b8ee724f1f98358e5f828\",\"id\":5112451449,\"node_id\":\"MDEzOlN0YXR1c0NvbnRleHQ1MTEyNDUxNDQ5\",\"state\":\"success\",\"description\":\"Your change works\",\"target_url\":null,\"context\":\"continuous-integration/fake-ci\",\"created_at\":\"2018-06-21T07:41:44Z\",\"updated_at\":\"2018-06-21T07:41:44Z\",\"creator\":{\"login\":\"mergify-test1\",\"id\":38494943,\"node_id\":\"MDQ6VXNlcjM4NDk0OTQz\",\"avatar_url\":\"https://avatars3.githubusercontent.com/u/38494943?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test1\",\"html_url\":\"https://github.com/mergify-test1\",\"followers_url\":\"https://api.github.com/users/mergify-test1/followers\",\"following_url\":\"https://api.github.com/users/mergify-test1/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test1/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test1/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test1/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test1/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test1/repos\",\"events_url\":\"https://api.github.com/users/mergify-test1/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test1/received_events\",\"type\":\"User\",\"site_admin\":false}}", "encoding": "utf-8"}, "headers": {"ETag": ["\"d273467266d0f6da5a60fc032f01dad5\""], "X-RateLimit-Limit": ["5000"], "Content-Type": ["application/json; charset=utf-8"], "Status": ["201 Created"], "X-RateLimit-Reset": ["1529569015"], "X-RateLimit-Remaining": ["4948"], "X-OAuth-Scopes": ["repo"], "Location": ["https://api.github.com/repos/mergify-test1/repo-baf7c0ce-2c16-4014-9135-b5c3d771a4d3-test_basic/statuses/0a8a264f945d6080782b8ee724f1f98358e5f828"], "X-Accepted-OAuth-Scopes": [""], "X-GitHub-Media-Type": ["github.machine-man-preview; format=json"]}, "status": {"code": 201, "message": "Created"}}, "request": {"method": "POST", "body": {"string": "{\"state\": \"success\", \"description\": \"Your change works\", \"context\": \"continuous-integration/fake-ci\"}", "encoding": "utf-8"}, "headers": {"Content-Type": ["application/json"], "Authorization": ["token <MAIN_TOKEN>"]}, "uri": "https://api.github.com:443/repos/mergify-test1/repo-baf7c0ce-2c16-4014-9135-b5c3d771a4d3-test_basic/statuses/0a8a264f945d6080782b8ee724f1f98358e5f828"}, "recorded_at": "2018-06-21T07:41:44"}, {"response": {"url": "https://api.github.com:443/repos/mergify-test1/repo-eee5248a-f936-4638-9905-8bfd6f7e1fdc-test_basic/statuses/92ce2365bac6207b75e51be387b13aa0545e2199", "body": {"string": "{\"url\":\"https://api.github.com/repos/mergify-test1/repo-eee5248a-f936-4638-9905-8bfd6f7e1fdc-test_basic/statuses/92ce2365bac6207b75e51be387b13aa0545e2199\",\"id\":5112601083,\"node_id\":\"MDEzOlN0YXR1c0NvbnRleHQ1MTEyNjAxMDgz\",\"state\":\"success\",\"description\":\"Your change[...]
