{"recorded_with": "betamax/0.8.1", "http_interactions": [{"request": {"method": "GET", "headers": {}, "uri": "https://gh.mergify.io/events-testing?id=9", "body": {"encoding": "utf-8", "string": ""}}, "response": {"url": "https://gh.mergify.io/events-testing?id=9", "headers": {"Content-Type": ["application/json"]}, "body": {"encoding": null, "string": "[]\n"}, "status": {"message": "OK", "code": 200}}, "recorded_at": "2018-05-05T19:15:27"}, {"request": {"method": "GET", "headers": {"X-Hub-Signature": ["sha1=<FAKE_HMAC>"]}, "uri": "https://gh.mergify.io/events-testing?id=9", "body": {"encoding": "utf-8", "string": "<FAKE_DATA>"}}, "response": {"url": "https://gh.mergify.io/events-testing?id=9", "headers": {"Content-Type": ["application/json"]}, "body": {"encoding": null, "string": "[]\n"}, "status": {"message": "OK", "code": 200}}, "recorded_at": "2018-06-21T07:41:30"}]}