{"http_interactions": [{"request": {"uri": "https://api.github.com:443/repos/mergify-test1/repo-4c42c870-c7cb-47fc-b710-9a77a0d64606-test_basic/pulls", "body": {"encoding": "utf-8", "string": "{\"title\": \"Pull request n2 from fork\", \"body\": \"Pull request n2 from fork\", \"base\": \"master\", \"head\": \"mergify-test2:fork/pr2\"}"}, "method": "POST", "headers": {"Content-Type": ["application/json"], "Authorization": ["token <FORK_TOKEN>"]}}, "recorded_at": "2018-06-23T21:50:10", "response": {"status": {"code": 201, "message": "Created"}, "body": {"encoding": "utf-8", "string": "{\"url\":\"https://api.github.com/repos/mergify-test1/repo-4c42c870-c7cb-47fc-b710-9a77a0d64606-test_basic/pulls/2\",\"id\":196922034,\"node_id\":\"MDExOlB1bGxSZXF1ZXN0MTk2OTIyMDM0\",\"html_url\":\"https://github.com/mergify-test1/repo-4c42c870-c7cb-47fc-b710-9a77a0d64606-test_basic/pull/2\",\"diff_url\":\"https://github.com/mergify-test1/repo-4c42c870-c7cb-47fc-b710-9a77a0d64606-test_basic/pull/2.diff\",\"patch_url\":\"https://github.com/mergify-test1/repo-4c42c870-c7cb-47fc-b710-9a77a0d64606-test_basic/pull/2.patch\",\"issue_url\":\"https://api.github.com/repos/mergify-test1/repo-4c42c870-c7cb-47fc-b710-9a77a0d64606-test_basic/issues/2\",\"number\":2,\"state\":\"open\",\"locked\":false,\"title\":\"Pull request n2 from fork\",\"user\":{\"login\":\"mergify-test2\",\"id\":38495008,\"node_id\":\"MDQ6VXNlcjM4NDk1MDA4\",\"avatar_url\":\"https://avatars1.githubusercontent.com/u/38495008?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test2\",\"html_url\":\"https://github.com/mergify-test2\",\"followers_url\":\"https://api.github.com/users/mergify-test2/followers\",\"following_url\":\"https://api.github.com/users/mergify-test2/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test2/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test2/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test2/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test2/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test2/repos\",\"events_url\":\"https://api.github.com/users/mergify-test2/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test2/received_events\",\"type\":\"User\",\"site_admin\":false},\"body\":\"Pull request n2 from fork\",\"created_at\":\"2018-06-23T21:50:10Z\",\"updated_at\":\"2018-06-23T21:50:10Z\",\"closed_at\":null,\"merged_at\":null,\"merge_commit_sha\":null,\"assignee\":null,\"assignees\":[],\"requested_reviewers\":[],\"requested_teams\":[],\"labels\":[],\"milestone\":null,\"commits_url\":\"https://api.github.com/repos/mergify-test1/repo-4c42c870-c7cb-47fc-b710-9a77a0d64606-test_basic/pulls/2/commits\",\"review_comments_url\":\"https://api.github.com/repos/mergify-test1/repo-4c42c870-c7cb-47fc-b710-9a77a0d64606-test_basic/pulls/2/comments\",\"review_comment_url\":\"https://api.github.com/repos/mergify-test1/repo-4c42c870-c7cb-47fc-b710-9a77a0d64606-test_basic/pulls/comments{/number}\",\"comments_url\":\"https://api.github.com/repos/mergify-test1/repo-4c42c870-c7cb-47fc-b710-9a77a0d64606-test_basic/issues/2/comments\",\"statuses_url\":\"https://api.github.com/repos/mergify-test1/repo-4c42c870-c7cb-47fc-b710-9a77a0d64606-test_basic/statuses/b7bd7c27765ce6d0d8e4c82a351cd297c875fa20\",\"head\":{\"label\":\"mergify-test2:fork/pr2\",\"ref\":\"fork/pr2\",\"sha\":\"b7bd7c27765ce6d0d8e4c82a351cd297c875fa20\",\"user\":{\"login\":\"mergify-test2\",\"id\":38495008,\"node_id\":\"MDQ6VXNlcjM4NDk1MDA4\",\"avatar_url\":\"https://avatars1.githubusercontent.com/u/38495008?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test2\",\"html_url\":\"https://github.com/mergify-test2\",\"followers_url\":\"https://api.github.com/users/mergify-test2/followers\",\"following_url\":\"https://api.github.com/users/mergify-test2/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test2/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test2/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test2/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test2/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test2/repos\",\"events_url\":\"https://api.github.com/users/mergify-test2/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test2/received_events\",\"type\":\"User\",\"site_admin\":false},\"repo\":{\"id\":138435906,\"node_id\":\"MDEwOlJlcG9zaXRvcnkxMzg0MzU5MDY=\",\"name\":\"repo-4c42c870-c7cb-47fc-b710-9a77a0d64606-test_basic\",\"full_name\":\"mergify-test2/repo-4c42c870-c7cb-47fc-b710-9a77a0d64606-test_basic\",\"owner\":{\"login\":\"mergify-test2\",\"id\":38495008,\"node_id\":\"MDQ6VXNlcjM4NDk1MDA4\",\"avatar_url\":\"https://avatars1.githubusercontent.com/u/38495008?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test2\",\"html_url\":\"https://github.com/mergify-test2\",\"followers_url\":\"https://api.github.com/users/mergify-test2/followers\",\"following_url\":\"https://api.github.com/users/mergify-test2/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test2/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test2/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test2/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test2/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test2/repos\",\"events_url\":\"https://api.github.com/users/mergify-test2/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test2/received_events\",\"type\":\"User\",\"site_admin\":false},\"private\":false,\"html_url\":\"https://github.com/mergify-test2/repo-4c42c870-c7cb-47fc-b710-9a77a0d64606-test_basic\",\"description\":null,\"fork\":true,\"url\":\"https://api.github.com/repos/mergify-test2/repo-4c42c870-c7cb-47fc-b710-9a77a0d64606-test_basic\",\"forks_url\":\"https://api.github.com/repos/mergify-test2/repo-4c42c870-c7cb-47fc-b710-9a77a0d64606-test_basic/forks\",\"keys_url\":\"https://api.github.com/repos/mergify-test2/repo-4c42c870-c7cb-47fc-b710-9a77a0d64606-test_basic/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/mergify-test2/repo-4c42c870-c7cb-47fc-b710-9a77a0d64606-test_basic/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/mergify-test2/repo-4c42c870-c7cb-47fc-b710-9a77a0d64606-test_basic/teams\",\"hooks_url\":\"https://api.github.com/repos/mergify-test2/repo-4c42c870-c7cb-47fc-b710-9a77a0d64606-test_basic/hooks\",\"issue_events_url\":\"https://api.github.com/repos/mergify-test2/repo-4c42c870-c7cb-47fc-b710-9a77a0d64606-test_basic/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/mergify-test2/repo-4c42c870-c7cb-47fc-b710-9a77a0d64606-test_basic/events\",\"assignees_url\":\"https://api.github.com/repos/mergify-test2/repo-4c42c870-c7cb-47fc-b710-9a77a0d64606-test_basic/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/mergify-test2/repo-4c42c870-c7cb-47fc-b710-9a77a0d64606-test_basic/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/mergify-test2/repo-4c42c870-c7cb-47fc-b710-9a77a0d64606-test_basic/tags\",\"blobs_url\":\"https://api.github.com/repos/mergify-test2/repo-4c42c870-c7cb-47fc-b710-9a77a0d64606-test_basic/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/mergify-test2/repo-4c42c870-c7cb-47fc-b710-9a77a0d64606-test_basic/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/mergify-test2/repo-4c42c870-c7cb-47fc-b710-9a77a0d64606-test_basic/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/mergify-test2/repo-4c42c870-c7cb-47fc-b710-9a77a0d64606-test_basic/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/mergify-test2/repo-4c42c870-c7cb-47fc-b710-9a77a0d64606-test_basic/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/mergify-test2/repo-4c42c870-c7cb-47fc-b710-9a77a0d64606-test_basic/languages\",\"stargazers_url\":\"https://api.github.com/repos/mergify-test2/repo-4c42c870-c7cb-47fc-b710-9a77a0d64606-test_basic/stargazers\",\"contributors_url\":\"https://api.github.com/repos/mergify-test2/repo-4c42c870-c7cb-47fc-b710-9a77a0d64606-test_basic/contributors\",\"subscribers_url\":\"https://api.github.com/repos/mergify-test2/repo-4c42c870-c7cb-47fc-b710-9a77a0d64606-test_basic/subscribers\",\"subscription_url\":\"https://api.github.com/repos/mergify-test2/repo-4c42c870-c7cb-47fc-b710-9a77a0d64606-test_basic/subscription\",\"commits_url\":\"https://api.github.com/repos/mergify-test2/repo-4c42c870-c7cb-47fc-b710-9a77a0d64606-test_basic/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/mergify-test2/repo-4c42c870-c7cb-47fc-b710-9a77a0d64606-test_basic/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/mergify-test2/repo-4c42c870-c7cb-47fc-b710-9a77a0d64606-test_basic/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/mergify-test2/repo-4c42c870-c7cb-47fc-b710-9a77a0d64606-test_basic/issues/comments{/number}\",\"contents_url\":\"https://api.github.com/repos/mergify-test2/repo-4c42c870-c7cb-47fc-b710-9a77a0d64606-test_basic/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/mergify-test2/repo-4c42c870-c7cb-47fc-b710-9a77a0d64606-test_basic/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/mergify-test2/repo-4c42c870-c7cb-47fc-b710-9a77a0d64606-test_basic/merges\",\"archive_url\":\"https://api.github.com/repos/mergify-test2/repo-4c42c870-c7cb-47fc-b710-9a77a0d64606-test_basic/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/mergify-test2/repo-4c42c870-c7cb-47fc-b710-9a77a0d64606-test_basic/downloads\",\"issues_url\":\"https://api.github.com/repos/mergify-test2/repo-4c42c870-c7cb-47fc-b710-9a77a0d64606-test_basic/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/mergify-test2/repo-4c42c870-c7cb-47fc-b710-9a77a0d64606-test_basic/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/mergify-test2/repo-4c42c870-c7cb-47fc-b710-9a77a0d64606-test_basic/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/mergify-test2/repo-4c42c870-c7cb-47fc-b710-9a77a0d64606-test_basic/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/mergify-test2/repo-4c42c870-c7cb-47fc-b710-9a77a0d64606-test_basic/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/mergify-test2/repo-4c42c870-c7cb-47fc-b710-9a77a0d64606-test_basic/releases{/id}\",\"deployments_url\":\"https://api.github.com/repos/mergify-test2/repo-4c42c870-c7cb-47fc-b710-9a77a0d64606-test_basic/deployments\",\"created_at\":\"2018-06-23T21:49:54Z\",\"updated_at\":\"2018-06-23T21:49:56Z\",\"pushed_at\":\"2018-06-23T21:50:09Z\",\"git_url\":\"git://github.com/mergify-test2/repo-4c42c870-c7cb-47fc-b710-9a77a0d64606-test_basic.git\",\"ssh_url\":\"git@github.com:mergify-test2/repo-4c42c870-c7cb-47fc-b710-9a77a0d64606-test_basic.git\",\"clone_url\":\"https://github.com/mergify-test2/repo-4c42c870-c7cb-47fc-b710-9a77a0d64606-test_basic.git\",\"svn_url\":\"https://github.com/mergify-test2/repo-4c42c870-c7cb-47fc-b710-9a77a0d64606-test_basic\",\"homepage\":null,\"size\":0,\"stargazers_count\":0,\"watchers_count\":0,\"language\":null,\"has_issues\":false,\"has_projects\":true,\"has_downloads\":true,\"has_wiki\":true,\"has_pages\":false,\"forks_count\":0,\"mirror_url\":null,\"archived\":false,\"open_issues_count\":0,\"license\":null,\"forks\":0,\"open_issues\":0,\"watchers\":0,\"default_branch\":\"master\"}},\"base\":{\"label\":\"mergify-test1:master\",\"ref\":\"master\",\"sha\":\"bf3242d746282e467f85c4383cdc550a7d64c8a5\",\"user\":{\"login\":\"mergify-test1\",\"id\":38494943,\"node_id\":\"MDQ6VXNlcjM4NDk0OTQz\",\"avatar_url\":\"https://avatars3.githubusercontent.com/u/38494943?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test1\",\"html_url\":\"https://github.com/mergify-test1\",\"followers_url\":\"https://api.github.com/users/mergify-test1/followers\",\"fol[...]
