{"http_interactions": [{"response": {"body": {"string": "{\"url\":\"https://api.github.com/repos/mergify-test1/repo-c9066633-f5f5-42fd-9a37-39ac6e662953-test_basic/statuses/4a3602a97a2ac6d97592960124636e30d0deb9ff\",\"id\":5147767289,\"node_id\":\"MDEzOlN0YXR1c0NvbnRleHQ1MTQ3NzY3Mjg5\",\"state\":\"success\",\"description\":\"Your change works\",\"target_url\":null,\"context\":\"continuous-integration/fake-ci\",\"created_at\":\"2018-06-28T21:55:32Z\",\"updated_at\":\"2018-06-28T21:55:32Z\",\"creator\":{\"login\":\"mergify-test1\",\"id\":38494943,\"node_id\":\"MDQ6VXNlcjM4NDk0OTQz\",\"avatar_url\":\"https://avatars3.githubusercontent.com/u/38494943?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test1\",\"html_url\":\"https://github.com/mergify-test1\",\"followers_url\":\"https://api.github.com/users/mergify-test1/followers\",\"following_url\":\"https://api.github.com/users/mergify-test1/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test1/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test1/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test1/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test1/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test1/repos\",\"events_url\":\"https://api.github.com/users/mergify-test1/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test1/received_events\",\"type\":\"User\",\"site_admin\":false}}", "encoding": "utf-8"}, "status": {"message": "Created", "code": 201}, "headers": {"X-Accepted-OAuth-Scopes": [""], "Content-Type": ["application/json; charset=utf-8"], "X-RateLimit-Remaining": ["4828"], "ETag": ["\"bb43e120da1f427826c438dfb77bec68\""], "Status": ["201 Created"], "X-GitHub-Media-Type": ["github.machine-man-preview; format=json"], "X-RateLimit-Limit": ["5000"], "X-RateLimit-Reset": ["1530223269"], "Location": ["https://api.github.com/repos/mergify-test1/repo-c9066633-f5f5-42fd-9a37-39ac6e662953-test_basic/statuses/4a3602a97a2ac6d97592960124636e30d0deb9ff"], "X-OAuth-Scopes": ["repo"]}, "url": "https://api.github.com:443/repos/mergify-test1/repo-c9066633-f5f5-42fd-9a37-39ac6e662953-test_basic/statuses/4a3602a97a2ac6d97592960124636e30d0deb9ff"}, "request": {"body": {"string": "{\"state\": \"success\", \"context\": \"continuous-integration/fake-ci\", \"description\": \"Your change works\"}", "encoding": "utf-8"}, "headers": {"Authorization": ["token <MAIN_TOKEN>"], "Content-Type": ["application/json"]}, "uri": "https://api.github.com:443/repos/mergify-test1/repo-c9066633-f5f5-42fd-9a37-39ac6e662953-test_basic/statuses/4a3602a97a2ac6d97592960124636e30d0deb9ff", "method": "POST"}, "recorded_at": "2018-06-28T21:55:32"}], "recorded_with": "betamax/0.8.1"}