{"http_interactions": [{"request": {"uri": "https://api.github.com:443/repos/mergify-test1/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/pulls", "body": {"encoding": "utf-8", "string": "{\"title\": \"Pull request n1 from fork\", \"body\": \"Pull request n1 from fork\", \"head\": \"mergify-test2:fork/pr1\", \"base\": \"master\"}"}, "headers": {"Content-Type": ["application/json"], "Authorization": ["token <FORK_TOKEN>"]}, "method": "POST"}, "recorded_at": "2018-05-05T19:15:21", "response": {"url": "https://api.github.com:443/repos/mergify-test1/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/pulls", "body": {"encoding": "utf-8", "string": "{\"url\":\"https://api.github.com/repos/mergify-test1/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/pulls/1\",\"id\":186171612,\"html_url\":\"https://github.com/mergify-test1/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/pull/1\",\"diff_url\":\"https://github.com/mergify-test1/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/pull/1.diff\",\"patch_url\":\"https://github.com/mergify-test1/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/pull/1.patch\",\"issue_url\":\"https://api.github.com/repos/mergify-test1/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/issues/1\",\"number\":1,\"state\":\"open\",\"locked\":false,\"title\":\"Pull request n1 from fork\",\"user\":{\"login\":\"mergify-test2\",\"id\":38495008,\"avatar_url\":\"https://avatars1.githubusercontent.com/u/38495008?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test2\",\"html_url\":\"https://github.com/mergify-test2\",\"followers_url\":\"https://api.github.com/users/mergify-test2/followers\",\"following_url\":\"https://api.github.com/users/mergify-test2/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test2/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test2/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test2/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test2/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test2/repos\",\"events_url\":\"https://api.github.com/users/mergify-test2/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test2/received_events\",\"type\":\"User\",\"site_admin\":false},\"body\":\"Pull request n1 from fork\",\"created_at\":\"2018-05-05T19:15:21Z\",\"updated_at\":\"2018-05-05T19:15:21Z\",\"closed_at\":null,\"merged_at\":null,\"merge_commit_sha\":null,\"assignee\":null,\"assignees\":[],\"requested_reviewers\":[],\"requested_teams\":[],\"labels\":[],\"milestone\":null,\"commits_url\":\"https://api.github.com/repos/mergify-test1/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/pulls/1/commits\",\"review_comments_url\":\"https://api.github.com/repos/mergify-test1/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/pulls/1/comments\",\"review_comment_url\":\"https://api.github.com/repos/mergify-test1/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/pulls/comments{/number}\",\"comments_url\":\"https://api.github.com/repos/mergify-test1/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/issues/1/comments\",\"statuses_url\":\"https://api.github.com/repos/mergify-test1/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/statuses/fc291bf7676a81ff9f9cabd33bafd2555e095455\",\"head\":{\"label\":\"mergify-test2:fork/pr1\",\"ref\":\"fork/pr1\",\"sha\":\"fc291bf7676a81ff9f9cabd33bafd2555e095455\",\"user\":{\"login\":\"mergify-test2\",\"id\":38495008,\"avatar_url\":\"https://avatars1.githubusercontent.com/u/38495008?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test2\",\"html_url\":\"https://github.com/mergify-test2\",\"followers_url\":\"https://api.github.com/users/mergify-test2/followers\",\"following_url\":\"https://api.github.com/users/mergify-test2/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test2/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test2/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test2/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test2/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test2/repos\",\"events_url\":\"https://api.github.com/users/mergify-test2/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test2/received_events\",\"type\":\"User\",\"site_admin\":false},\"repo\":{\"id\":132277423,\"name\":\"repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic\",\"full_name\":\"mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic\",\"owner\":{\"login\":\"mergify-test2\",\"id\":38495008,\"avatar_url\":\"https://avatars1.githubusercontent.com/u/38495008?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test2\",\"html_url\":\"https://github.com/mergify-test2\",\"followers_url\":\"https://api.github.com/users/mergify-test2/followers\",\"following_url\":\"https://api.github.com/users/mergify-test2/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test2/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test2/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test2/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test2/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test2/repos\",\"events_url\":\"https://api.github.com/users/mergify-test2/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test2/received_events\",\"type\":\"User\",\"site_admin\":false},\"private\":false,\"html_url\":\"https://github.com/mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic\",\"description\":null,\"fork\":true,\"url\":\"https://api.github.com/repos/mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic\",\"forks_url\":\"https://api.github.com/repos/mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/forks\",\"keys_url\":\"https://api.github.com/repos/mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/teams\",\"hooks_url\":\"https://api.github.com/repos/mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/hooks\",\"issue_events_url\":\"https://api.github.com/repos/mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/events\",\"assignees_url\":\"https://api.github.com/repos/mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/tags\",\"blobs_url\":\"https://api.github.com/repos/mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/languages\",\"stargazers_url\":\"https://api.github.com/repos/mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/stargazers\",\"contributors_url\":\"https://api.github.com/repos/mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/contributors\",\"subscribers_url\":\"https://api.github.com/repos/mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/subscribers\",\"subscription_url\":\"https://api.github.com/repos/mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/subscription\",\"commits_url\":\"https://api.github.com/repos/mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/issues/comments{/number}\",\"contents_url\":\"https://api.github.com/repos/mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/merges\",\"archive_url\":\"https://api.github.com/repos/mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/downloads\",\"issues_url\":\"https://api.github.com/repos/mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/releases{/id}\",\"deployments_url\":\"https://api.github.com/repos/mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic/deployments\",\"created_at\":\"2018-05-05T19:15:16Z\",\"updated_at\":\"2018-05-05T19:15:18Z\",\"pushed_at\":\"2018-05-05T19:15:21Z\",\"git_url\":\"git://github.com/mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic.git\",\"ssh_url\":\"git@github.com:mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic.git\",\"clone_url\":\"https://github.com/mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic.git\",\"svn_url\":\"https://github.com/mergify-test2/repo-6796e7a6-df35-428d-9c55-d8763f73b07d-test_basic\",\"homepage\":null,\"size\":0,\"stargazers_count\":0,\"watchers_count\":0,\"language\":null,\"has_issues\":false,\"has_projects\":true,\"has_downloads\":true,\"has_wiki\":true,\"has_pages\":false,\"forks_count\":0,\"mirror_url\":null,\"archived\":false,\"open_issues_count\":0,\"license\":null,\"forks\":0,\"open_issues\":0,\"watchers\":0,\"default_branch\":\"master\"}},\"base\":{\"label\":\"mergify-test1:master\",\"ref\":\"master\",\"sha\":\"69ee473f7476416e21e611283a87838f3409572e\",\"user\":{\"login\":\"mergify-test1\",\"id\":38494943,\"avatar_url\":\"https://avatars3.githubusercontent.com/u/38494943?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test1\",\"html_url\":\"https://github.com/mergify-test1\",\"followers_url\":\"https://api.github.com/users/mergify-test1/followers\",\"following_url\":\"https://api.github.com[...]
{"request": {"uri": "https://api.github.com:443/repos/mergify-test1/repo-21948944-b320-4e46-9045-fde46f8f768e-test_basic/pulls", "body": {"encoding": "utf-8", "string": "{\"body\": \"Pull request n1 from fork\", \"head\": \"mergify-test2:fork/pr1\", \"base\": \"master\", \"title\": \"Pull request n1 from fork\"}"}, "headers": {"Content-Type": ["application/json"], "Authorization": ["token <FORK_TOKEN>"]}, "method": "POST"}, "recorded_at": "2018-06-16T21:44:33", "response": {"url": "https://api.github.com:443/repos/mergify-test1/repo-21948944-b320-4e46-9045-fde46f8f768e-test_basic/pulls", "body": {"encoding": "utf-8", "string": "{\"url\":\"https://api.github.com/repos/mergify-test1/repo-21948944-b320-4e46-9045-fde46f8f768e-test_basic/pulls/1\",\"id\":195350353,\"node_id\":\"MDExOlB1bGxSZXF1ZXN0MTk1MzUwMzUz\",\"html_url\":\"https://github.com/mergify-test1/repo-21948944-b320-4e46-9045-fde46f8f768e-test_basic/pull/1\",\"diff_url\":\"https://github.com/mergify-test1/repo-21948944-b320-4e46-9045-fde46f8f768e-test_basic/pull/1.diff\",\"patch_url\":\"https://github.com/mergify-test1/repo-21948944-b320-4e46-9045-fde46f8f768e-test_basic/pull/1.patch\",\"issue_url\":\"https://api.github.com/repos/mergify-test1/repo-21948944-b320-4e46-9045-fde46f8f768e-test_basic/issues/1\[...]
[...]
{"request": {"uri": "https://api.github.com:443/repos/mergify-test1/repo-4c42c870-c7cb-47fc-b710-9a77a0d64606-test_basic/pulls", "body": {"encoding": "utf-8", "string": "{\"title\": \"Pull request n1 from fork\", \"body\": \"Pull request n1 from fork\", \"base\": \"master\", \"head\": \"mergify-test2:fork/pr1\"}"}, "method": "POST", "headers": {"Content-Type": ["application/json"], "Authorization": ["token <FORK_TOKEN>"]}}, "recorded_at": "2018-06-23T21:49:59", "response": {"status": {"code": 201, "message": "Created"}, "body": {"encoding": "utf-8", "string": "{\"url\":\"https://api.github.com/repos/mergify-test1/repo-4c42c870-c7cb-47fc-b710-9a77a0d64606-test_basic/pulls/1\",\"id\":196922028,\"node_id\":\"MDExOlB1bGxSZXF1ZXN0MTk2OTIyMDI4\",\"html_url\":\"https://github.com/mergify-test1/repo-4c42c870-c7cb-47fc-b710-9a77a0d64606-test_basic/pull/1\",\"diff_url\":\"https://github.com/mergify-test1/repo-4c42c870-c7cb-47fc-b710-9a77a0d64606-test_basic/pull/1.diff\",\"patch_url\":\"https://github.com/mer[...]
