{"http_interactions": [{"response": {"url": "https://gh.mergify.io/events-testing?id=32", "body": {"string": "[]\n", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "status": {"code": 200, "message": "OK"}}, "request": {"method": "GET", "body": {"string": "", "encoding": "utf-8"}, "headers": {}, "uri": "https://gh.mergify.io/events-testing?id=32"}, "recorded_at": "2018-06-16T21:44:50"}, {"response": {"url": "https://gh.mergify.io/events-testing?id=32", "body": {"string": "[]\n", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "status": {"code": 200, "message": "OK"}}, "request": {"method": "GET", "body": {"string": "<FAKE_DATA>", "encoding": "utf-8"}, "headers": {"X-Hub-Signature": ["sha1=<FAKE_HMAC>"]}, "uri": "https://gh.mergify.io/events-testing?id=32"}, "recorded_at": "2018-06-21T07:41:49"}, {"response": {"url": "https://gh.mergify.io/events-testing?id=32", "body": {"string": "[]\n", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "status": {"code": 200, "message": "OK"}}, "request": {"method": "GET", "body": {"string": "<FAKE_DATA>", "encoding": "utf-8"}, "headers": {"X-Hub-Signature": ["sha1=<FAKE_HMAC>"]}, "uri": "https://gh.mergify.io/events-testing?id=32"}, "recorded_at": "2018-06-21T08:21:36"}], "recorded_with": "betamax/0.8.1"}