{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": "{\"context\": \"continuous-integration/fake-ci\", \"state\": \"success\", \"description\": \"Your change works\"}"}, "uri": "https://api.github.com:443/repos/mergify-test1/repo-551bc74a-1b81-47f0-839b-4dc9e4c962a0-test_basic/statuses/ce0277f0bd68d0a14bc7f196f0dd58ae1f5d8a09", "method": "POST", "headers": {"Content-Type": ["application/json"], "Authorization": ["token <MAIN_TOKEN>"]}}, "response": {"body": {"encoding": "utf-8", "string": "{\"url\":\"https://api.github.com/repos/mergify-test1/repo-551bc74a-1b81-47f0-839b-4dc9e4c962a0-test_basic/statuses/ce0277f0bd68d0a14bc7f196f0dd58ae1f5d8a09\",\"id\":5152792101,\"node_id\":\"MDEzOlN0YXR1c0NvbnRleHQ1MTUyNzkyMTAx\",\"state\":\"success\",\"description\":\"Your change works\",\"target_url\":null,\"context\":\"continuous-integration/fake-ci\",\"created_at\":\"2018-06-29T20:39:46Z\",\"updated_at\":\"2018-06-29T20:39:46Z\",\"creator\":{\"login\":\"mergify-test1\",\"id\":38494943,\"node_id\":\"MDQ6VXNlcjM4NDk0OTQz\",\"avatar_url\":\"https://avatars3.githubusercontent.com/u/38494943?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test1\",\"html_url\":\"https://github.com/mergify-test1\",\"followers_url\":\"https://api.github.com/users/mergify-test1/followers\",\"following_url\":\"https://api.github.com/users/mergify-test1/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test1/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test1/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test1/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test1/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test1/repos\",\"events_url\":\"https://api.github.com/users/mergify-test1/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test1/received_events\",\"type\":\"User\",\"site_admin\":false}}"}, "status": {"message": "Created", "code": 201}, "url": "https://api.github.com:443/repos/mergify-test1/repo-551bc74a-1b81-47f0-839b-4dc9e4c962a0-test_basic/statuses/ce0277f0bd68d0a14bc7f196f0dd58ae1f5d8a09", "headers": {"X-Accepted-OAuth-Scopes": [""], "Content-Type": ["application/json; charset=utf-8"], "X-GitHub-Media-Type": ["github.machine-man-preview; format=json"], "X-RateLimit-Remaining": ["4847"], "X-RateLimit-Reset": ["1530305588"], "Status": ["201 Created"], "X-OAuth-Scopes": ["repo"], "Location": ["https://api.github.com/repos/mergify-test1/repo-551bc74a-1b81-47f0-839b-4dc9e4c962a0-test_basic/statuses/ce0277f0bd68d0a14bc7f196f0dd58ae1f5d8a09"], "X-RateLimit-Limit": ["5000"], "ETag": ["\"0bb228e07b919c5e736a0cb7824d4fdb\""]}}, "recorded_at": "2018-06-29T20:39:46"}], "recorded_with": "betamax/0.8.1"}