{"http_interactions": [{"request": {"uri": "https://gh.mergify.io/events-testing?id=12", "body": {"encoding": "utf-8", "string": ""}, "headers": {}, "method": "GET"}, "recorded_at": "2018-06-16T21:46:38", "response": {"url": "https://gh.mergify.io/events-testing?id=12", "body": {"encoding": null, "string": "[]\n"}, "status": {"code": 200, "message": "OK"}, "headers": {"Content-Type": ["application/json"]}}}, {"request": {"uri": "https://gh.mergify.io/events-testing?id=12", "body": {"encoding": "utf-8", "string": "<FAKE_DATA>"}, "headers": {"X-Hub-Signature": ["sha1=<FAKE_HMAC>"]}, "method": "GET"}, "recorded_at": "2018-06-21T07:44:16", "response": {"url": "https://gh.mergify.io/events-testing?id=12", "body": {"encoding": null, "string": "[]\n"}, "status": {"code": 200, "message": "OK"}, "headers": {"Content-Type": ["application/json"]}}}, {"request": {"uri": "https://gh.mergify.io/events-testing?id=12", "body": {"encoding": "utf-8", "string": "<FAKE_DATA>"}, "method": "GET", "headers": {"X-Hub-Signature": ["sha1=<FAKE_HMAC>"]}}, "recorded_at": "2018-06-23T21:52:41", "response": {"status": {"code": 200, "message": "OK"}, "body": {"encoding": null, "string": "[]\n"}, "url": "https://gh.mergify.io/events-testing?id=12", "headers": {"Content-Type": ["application/json"]}}}], "recorded_with": "betamax/0.8.1"}