{"recorded_with": "betamax/0.8.1", "http_interactions": [{"response": {"headers": {"Content-Type": ["application/json"]}, "url": "https://gh.mergify.io/events-testing?id=3", "status": {"message": "OK", "code": 200}, "body": {"string": "[]\n", "encoding": null}}, "request": {"headers": {}, "uri": "https://gh.mergify.io/events-testing?id=3", "method": "GET", "body": {"string": "", "encoding": "utf-8"}}, "recorded_at": "2018-06-16T21:46:28"}, {"response": {"headers": {"Content-Type": ["application/json"]}, "url": "https://gh.mergify.io/events-testing?id=3", "status": {"message": "OK", "code": 200}, "body": {"string": "[]\n", "encoding": null}}, "request": {"headers": {"X-Hub-Signature": ["sha1=<FAKE_HMAC>"]}, "uri": "https://gh.mergify.io/events-testing?id=3", "method": "GET", "body": {"string": "<FAKE_DATA>", "encoding": "utf-8"}}, "recorded_at": "2018-06-21T07:44:07"}, {"response": {"headers": {"Content-Type": ["application/json"]}, "url": "https://gh.mergify.io/events-testing?id=3", "status": {"message": "OK", "code": 200}, "body": {"string": "[]\n", "encoding": null}}, "request": {"headers": {"X-Hub-Signature": ["sha1=<FAKE_HMAC>"]}, "uri": "https://gh.mergify.io/events-testing?id=3", "method": "GET", "body": {"string": "<FAKE_DATA>", "encoding": "utf-8"}}, "recorded_at": "2018-06-28T21:42:08"}]}