{"recorded_with": "betamax/0.8.1", "http_interactions": [{"response": {"body": {"encoding": null, "string": "[]\n"}, "url": "https://gh.mergify.io/events-testing?id=3", "headers": {"Content-Type": ["application/json"]}, "status": {"message": "OK", "code": 200}}, "request": {"body": {"encoding": "utf-8", "string": ""}, "method": "GET", "headers": {}, "uri": "https://gh.mergify.io/events-testing?id=3"}, "recorded_at": "2018-06-16T21:46:28"}, {"response": {"body": {"encoding": null, "string": "[]\n"}, "url": "https://gh.mergify.io/events-testing?id=3", "headers": {"Content-Type": ["application/json"]}, "status": {"message": "OK", "code": 200}}, "request": {"body": {"encoding": "utf-8", "string": "<FAKE_DATA>"}, "method": "GET", "headers": {"X-Hub-Signature": ["sha1=<FAKE_HMAC>"]}, "uri": "https://gh.mergify.io/events-testing?id=3"}, "recorded_at": "2018-06-21T07:44:07"}, {"response": {"body": {"encoding": null, "string": "[]\n"}, "url": "https://gh.mergify.io/events-testing?id=3", "status": {"message": "OK", "code": 200}, "headers": {"Content-Type": ["application/json"]}}, "request": {"body": {"encoding": "utf-8", "string": "<FAKE_DATA>"}, "method": "GET", "uri": "https://gh.mergify.io/events-testing?id=3", "headers": {"X-Hub-Signature": ["sha1=<FAKE_HMAC>"]}}, "recorded_at": "2018-06-24T16:33:04"}]}