{"http_interactions": [{"request": {"uri": "https://api.github.com:443/repos/mergify-test1/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/forks", "body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["token <FORK_TOKEN>"]}, "method": "POST"}, "recorded_at": "2018-05-05T19:16:50", "response": {"url": "https://api.github.com:443/repos/mergify-test1/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/forks", "body": {"encoding": "utf-8", "string": "{\"id\":132277524,\"name\":\"repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check\",\"full_name\":\"mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check\",\"owner\":{\"login\":\"mergify-test2\",\"id\":38495008,\"avatar_url\":\"https://avatars1.githubusercontent.com/u/38495008?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test2\",\"html_url\":\"https://github.com/mergify-test2\",\"followers_url\":\"https://api.github.com/users/mergify-test2/followers\",\"following_url\":\"https://api.github.com/users/mergify-test2/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test2/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test2/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test2/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test2/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test2/repos\",\"events_url\":\"https://api.github.com/users/mergify-test2/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test2/received_events\",\"type\":\"User\",\"site_admin\":false},\"private\":false,\"html_url\":\"https://github.com/mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check\",\"description\":null,\"fork\":true,\"url\":\"https://api.github.com/repos/mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check\",\"forks_url\":\"https://api.github.com/repos/mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/forks\",\"keys_url\":\"https://api.github.com/repos/mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/teams\",\"hooks_url\":\"https://api.github.com/repos/mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/hooks\",\"issue_events_url\":\"https://api.github.com/repos/mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/events\",\"assignees_url\":\"https://api.github.com/repos/mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/tags\",\"blobs_url\":\"https://api.github.com/repos/mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/languages\",\"stargazers_url\":\"https://api.github.com/repos/mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/stargazers\",\"contributors_url\":\"https://api.github.com/repos/mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/contributors\",\"subscribers_url\":\"https://api.github.com/repos/mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/subscribers\",\"subscription_url\":\"https://api.github.com/repos/mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/subscription\",\"commits_url\":\"https://api.github.com/repos/mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/issues/comments{/number}\",\"contents_url\":\"https://api.github.com/repos/mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/merges\",\"archive_url\":\"https://api.github.com/repos/mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/downloads\",\"issues_url\":\"https://api.github.com/repos/mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/releases{/id}\",\"deployments_url\":\"https://api.github.com/repos/mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/deployments\",\"created_at\":\"2018-05-05T19:16:49Z\",\"updated_at\":\"2018-05-05T19:16:44Z\",\"pushed_at\":\"2018-05-05T19:16:49Z\",\"git_url\":\"git://github.com/mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check.git\",\"ssh_url\":\"git@github.com:mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check.git\",\"clone_url\":\"https://github.com/mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check.git\",\"svn_url\":\"https://github.com/mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check\",\"homepage\":null,\"size\":0,\"stargazers_count\":0,\"watchers_count\":0,\"language\":null,\"has_issues\":false,\"has_projects\":true,\"has_downloads\":true,\"has_wiki\":true,\"has_pages\":false,\"forks_count\":0,\"mirror_url\":null,\"archived\":false,\"open_issues_count\":0,\"license\":null,\"forks\":0,\"open_issues\":0,\"watchers\":0,\"default_branch\":\"master\",\"permissions\":{\"admin\":true,\"push\":true,\"pull\":true},\"parent\":{\"id\":132277513,\"name\":\"repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check\",\"full_name\":\"mergify-test1/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check\",\"owner\":{\"login\":\"mergify-test1\",\"id\":38494943,\"avatar_url\":\"https://avatars3.githubusercontent.com/u/38494943?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test1\",\"html_url\":\"https://github.com/mergify-test1\",\"followers_url\":\"https://a[...]
{"request": {"uri": "https://gh.mergify.io/events-testing", "body": {"encoding": "utf-8", "string": ""}, "headers": {}, "method": "DELETE"}, "recorded_at": "2018-06-16T21:45:49", "response": {"url": "https://gh.mergify.io/events-testing", "body": {"encoding": "utf-8", "string": ""}, "status": {"code": 202, "message": "ACCEPTED"}, "headers": {"Content-Type": ["text/html; charset=utf-8"]}}}, {"request": {"uri": "https://api.github.com:443/repos/mergify-test1/repo-5f1b056b-ba17-4be3-8601-c15721d787ff-test_missing_required_status_check/forks", "body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["token <FORK_TOKEN>"]}, "method": "POST"}, "recorded_at": "2018-06-16T21:46:00", "response": {"url": "https://api.github.com:443/repos/mergify-test1/repo-5f1b056b-ba17-4be3-8601-c15721d787ff-test_missing_required_status_check/forks", "body": {"encoding": "utf-8", "string": "{\"id\":137612345,\"node_id\":\"MDEwOlJlcG9zaXRvcnkxMzc2MTIzNDU=\",\"name\":\"repo-5f1b056b-ba17-4be3-8601-c15721d787ff-test_missing_required_status_check\",\"full_name\":\"mergify-test2/repo-5f1b056b-ba17-4be3-8601-c15721d787ff-test_missing_required_status_check\",\"owner\":{\"login\":\"mergify-test2\",\"id\":38495008,\"node_id\":\"MDQ6VXNlcjM4NDk1MDA4\",\"avatar_url\":\"https://avatars1.githubusercontent.com/u/38495008?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test2\",\"html_url\":\"https://[...]
{"request": {"uri": "https://gh.mergify.io/events-testing", "body": {"encoding": "utf-8", "string": "<FAKE_DATA>"}, "headers": {"X-Hub-Signature": ["sha1=<FAKE_HMAC>"]}, "method": "DELETE"}, "recorded_at": "2018-06-21T07:43:24", "response": {"url": "https://gh.mergify.io/events-testing", "body": {"encoding": "utf-8", "string": ""}, "status": {"code": 202, "message": "ACCEPTED"}, "headers": {"Content-Type": ["text/html; charset=utf-8"]}}}, [...]
{"request": {"uri": "https://api.github.com:443/user", "body": {"encoding": "utf-8", "string": ""}, "method": "GET", "headers": {"Authorization": ["token <MAIN_TOKEN>"]}}, "recorded_at": "2018-06-23T21:51:51", "response": {"status": {"code": 200, "message": "OK"}, "body": {"string": "", "encoding": "utf-8", "base64_string": "H4sIAAAAAAAAA51U0W6bMBT9FeTnpJCEbqmlaZtUaU/tVCmbpr5ExhjwamzLNkQp6r/vGNJV5WUa4gF8fc+5h+N7PRBlaqkJJa1wtazO6yB82JAVkSWhu31+g2e3ItqU4hhD5O724cPPX/eK/77L72+fsu+Hh2eks54F5o6dU8hpQrCepukU9LurWoamKzovHDc6CB2uuGnTLn0t8Ln/lIOkdheasRICMzorL0wTHHQ+netuQqtmMqbqI2aeXRmlzAk8c+X/LJX+hULn9C11vZQG0CE1oRGwEL/1Es2QPiyQNcKGNL5wYJHI42CcKP9f2gUIYScNTUPqhDUjY1d47qQN0ugFEt/BQWdczbR8ZgvpAPdgieIWiBlhgIsebbkAP+GG1DrZM36O9jjBhezh+FLOGQEow9kKjMQP9Eb0XwZxZGUbB7diygsMKGtjwry/0fOW6TN2vly2pAFBgamfJkwZPvpOqO6Ugg0tkxjhadFIJ1ihQDytC4ApOTTSJ4xz0+mQ4LMyLom3Bno4sZ2DnSIxVYJmTk7GPVUYsLj+Nt4ByVdrk3dabFcoyY/TOeDKyVbkEhpbmVAE3mbtbYVy4x6HxgCzWYC2bbbZr7N8vdkfNhnNt/T65hH/29lynnONtEP2kW63NNs9kpc/xplgzgoFAAA="}, "url": "https://api.github.com:443/user", "headers": {"Content-Type": ["application/json; charset=utf-8"], "Last-Modified": ["Fri, 04 May 2018 07:22:03 GMT"], "X-RateLimit-Remaining": ["4895"], "Status": ["200 OK"], "X-Accepted-OAuth-Scopes": [""], "X-RateLimit-Reset": ["1529790994"], "ETag": ["W/\"f8bb0b1f84c83e7c44cc2a465bef5bc2\""], "X-GitHub-Media-Type": ["github.v3; format=json"], "X-RateLimit-Limit": ["5000"], "X-OAuth-Scopes": ["repo"]}}}, [...]
{"request": {"uri": "https://api.github.com:443/user/repos", "body": {"encoding": "utf-8", "string": "{\"name\": \"repo-137a5f2a-1f0b-4553-8068-2bf55eedc3e3-test_missing_required_status_check\"}"}, "method": "POST", "headers": {"Content-Type": ["application/json"], "Authorization": ["token <MAIN_TOKEN>"]}}, "recorded_at": "2018-06-23T21:51:52", "response": {"status": {"code": 201, "message": "Created"}, "body": {"encoding": "utf-8", "string": "{\"id\":138435980,\"node_id\":\"MDEwOlJlcG9zaXRvcnkx[...]
[...]
