{"recorded_with": "betamax/0.8.1", "http_interactions": [{"recorded_at": "2018-06-24T17:09:27", "request": {"headers": {"Content-Type": ["application/json"], "Authorization": ["token <FORK_TOKEN>"]}, "uri": "https://api.github.com:443/repos/mergify-test1/repo-85fdd973-1039-4659-9d96-a6c900b8b063-test_missing_required_status_check/pulls", "method": "POST", "body": {"string": "{\"head\": \"mergify-test2:fork/pr1\", \"body\": \"Pull request n1 from fork\", \"title\": \"Pull request n1 from fork\", \"base\": \"stable\"}", "encoding": "utf-8"}}, "response": {"headers": {"X-GitHub-Media-Type": ["github.v3; format=json"], "X-Accepted-OAuth-Scopes": [""], "Location": ["https://api.github.com/repos/mergify-test1/repo-85fdd973-1039-4659-9d96-a6c900b8b063-test_missing_required_status_check/pulls/1"], "X-RateLimit-Limit": ["5000"], "X-RateLimit-Reset": ["1529863687"], "X-RateLimit-Remaining": ["4994"], "Content-Type": ["application/json; charset=utf-8"], "ETag": ["\"143ef787f7ff34ec6af0214447fc4bc5\""], "Status": ["201 Created"], "X-OAuth-Scopes": ["repo"]}, "url": "https://api.github.com:443/repos/mergify-test1/repo-85fdd973-1039-4659-9d96-a6c900b8b063-test_missing_required_status_check/pulls", "status": {"message": "Created", "code": 201}, "body": {"string": "{\"url\":\"https://api.github.com/repos/mergify-test1/repo-85fdd973-1039-4659-9d96-a6c900b8b063-test_missing_required_status_check/pulls/1\",\"id\":196959768,\"node_id\":\"MDExOlB1bGxSZXF1ZXN0MTk2OTU5NzY4\",\"html_url\":\"https://github.com/mergify-test1/repo-85fdd973-1039-4659-9d96-a6c900b8b063-test_missing_required_status_check/pull/1\",\"diff_url\":\"https://github.com/mergify-test1/repo-85fdd973-1039-4659-9d96-a6c900b8b063-test_missing_required_status_check/pull/1.diff\",\"patch_url\":\"https://github.com/mergify-test1/repo-85fdd973-1039-4659-9d96-a6c900b8b063-test_missing_required_status_check/pull/1.patch\",\"issue_url\":\"https://api.github.com/repos/mergify-test1/repo-85fdd973-1039-4659-9d96-a6c900b8b063-test_missing_required_status_check/issues/1\",\"number\":1,\"state\":\"open\",\"locked\":false,\"title\":\"Pull request n1 from fork\",\"user\":{\"login\":\"mergify-test2\",\"id\":38495008,\"node_id\":\"MDQ6VXNlcjM4NDk1MDA4\",\"avatar_url\":\"https://avatars1.githubusercontent.com/u/38495008?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test2\",\"html_url\":\"https://github.com/mergify-test2\",\"followers_url\":\"https://api.github.com/users/mergify-test2/followers\",\"following_url\":\"https://api.github.com/users/mergify-test2/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test2/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test2/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test2/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test2/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test2/repos\",\"events_url\":\"https://api.github.com/users/mergify-test2/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test2/received_events\",\"type\":\"User\",\"site_admin\":false},\"body\":\"Pull request n1 from fork\",\"created_at\":\"2018-06-24T17:09:27Z\",\"updated_at\":\"2018-06-24T17:09:27Z\",\"closed_at\":null,\"merged_at\":null,\"merge_commit_sha\":null,\"assignee\":null,\"assignees\":[],\"requested_reviewers\":[],\"requested_teams\":[],\"labels\":[],\"milestone\":null,\"commits_url\":\"https://api.github.com/repos/mergify-test1/repo-85fdd973-1039-4659-9d96-a6c900b8b063-test_missing_required_status_check/pulls/1/commits\",\"review_comments_url\":\"https://api.github.com/repos/mergify-test1/repo-85fdd973-1039-4659-9d96-a6c900b8b063-test_missing_required_status_check/pulls/1/comments\",\"review_comment_url\":\"https://api.github.com/repos/mergify-test1/repo-85fdd973-1039-4659-9d96-a6c900b8b063-test_missing_required_status_check/pulls/comments{/number}\",\"comments_url\":\"https://api.github.com/repos/mergify-test1/repo-85fdd973-1039-4659-9d96-a6c900b8b063-test_missing_required_status_check/issues/1/comments\",\"statuses_url\":\"https://api.github.com/repos/mergify-test1/repo-85fdd973-1039-4659-9d96-a6c900b8b063-test_missing_required_status_check/statuses/86586de0ba037dd08979d63eada6bb7051af4c6e\",\"head\":{\"label\":\"mergify-test2:fork/pr1\",\"ref\":\"fork/pr1\",\"sha\":\"86586de0ba037dd08979d63eada6bb7051af4c6e\",\"user\":{\"login\":\"mergify-test2\",\"id\":38495008,\"node_id\":\"MDQ6VXNlcjM4NDk1MDA4\",\"avatar_url\":\"https://avatars1.githubusercontent.com/u/38495008?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test2\",\"html_url\":\"https://github.com/mergify-test2\",\"followers_url\":\"https://api.github.com/users/mergify-test2/followers\",\"following_url\":\"https://api.github.com/users/mergify-test2/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test2/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test2/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test2/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test2/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test2/repos\",\"events_url\":\"https://api.github.com/users/mergify-test2/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test2/received_events\",\"type\":\"User\",\"site_admin\":false},\"repo\":{\"id\":138500678,\"node_id\":\"MDEwOlJlcG9zaXRvcnkxMzg1MDA2Nzg=\",\"name\":\"repo-85fdd973-1039-4659-9d96-a6c900b8b063-test_missing_required_status_check\",\"full_name\":\"mergify-test2/repo-85fdd973-1039-4659-9d96-a6c900b8b063-test_missing_required_status_check\",\"owner\":{\"login\":\"mergify-test2\",\"id\":38495008,\"node_id\":\"MDQ6VXNlcjM4NDk1MDA4\",\"avatar_url\":\"https://avatars1.githubusercontent.com/u/38495008?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test2\",\"html_url\":\"https://github.com/mergify-test2\",\"followers_url\":\"https://api.github.com/users/mergify-test2/followers\",\"following_url\":\"https://api.github.com/users/mergify-test2/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test2/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test2/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test2/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test2/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test2/repos\",\"events_url\":\"https://api.github.com/users/mergify-test2/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test2/received_events\",\"type\":\"User\",\"site_admin\":false},\"private\":false,\"html_url\":\"https://github.com/mergify-test2/repo-85fdd973-1039-4659-9d96-a6c900b8b063-test_missing_required_status_check\",\"description\":null,\"fork\":true,\"url\":\"https://api.github.com/repos/mergify-test2/repo-85fdd973-1039-4659-9d96-a6c900b8b063-test_missing_required_status_check\",\"forks_url\":\"https://api.github.com/repos/mergify-test2/repo-85fdd973-1039-4659-9d96-a6c900b8b063-test_missing_required_status_check/forks\",\"keys_url\":\"https://api.github.com/repos/mergify-test2/repo-85fdd973-1039-4659-9d96-a6c900b8b063-test_missing_required_status_check/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/mergify-test2/repo-85fdd973-1039-4659-9d96-a6c900b8b063-test_missing_required_status_check/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/mergify-test2/repo-85fdd973-1039-4659-9d96-a6c900b8b063-test_missing_required_status_check/teams\",\"hooks_url\":\"https://api.github.com/repos/mergify-test2/repo-85fdd973-1039-4659-9d96-a6c900b8b063-test_missing_required_status_check/hooks\",\"issue_events_url\":\"https://api.github.com/repos/mergify-test2/repo-85fdd973-1039-4659-9d96-a6c900b8b063-test_missing_required_status_check/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/mergify-test2/repo-85fdd973-1039-4659-9d96-a6c900b8b063-test_missing_required_status_check/events\",\"assignees_url\":\"https://api.github.com/repos/mergify-test2/repo-85fdd973-1039-4659-9d96-a6c900b8b063-test_missing_required_status_check/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/mergify-test2/repo-85fdd973-1039-4659-9d96-a6c900b8b063-test_missing_required_status_check/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/mergify-test2/repo-85fdd973-1039-4659-9d96-a6c900b8b063-test_missing_required_status_check/tags\",\"blobs_url\":\"https://api.github.com/repos/mergify-test2/repo-85fdd973-1039-4659-9d96-a6c900b8b063-test_missing_required_status_check/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/mergify-test2/repo-85fdd973-1039-4659-9d96-a6c900b8b063-test_missing_required_status_check/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/mergify-test2/repo-85fdd973-1039-4659-9d96-a6c900b8b063-test_missing_required_status_check/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/mergify-test2/repo-85fdd973-1039-4659-9d96-a6c900b8b063-test_missing_required_status_check/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/mergify-test2/repo-85fdd973-1039-4659-9d96-a6c900b8b063-test_missing_required_status_check/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/mergify-test2/repo-85fdd973-1039-4659-9d96-a6c900b8b063-test_missing_required_status_check/languages\",\"stargazers_url\":\"https://api.github.com/repos/mergify-test2/repo-85fdd973-1039-4659-9d96-a6c900b8b063-test_missing_required_status_check/stargazers\",\"contributors_url\":\"https://api.github.com/repos/mergify-test2/repo-85fdd973-1039-4659-9d96-a6c900b8b063-test_missing_required_status_check/contributors\",\"subscribers_url\":\"https://api.github.com/repos/mergify-test2/repo-85fdd973-1039-4659-9d96-a6c900b8b063-test_missing_required_status_check/subscribers\",\"subscription_url\":\"https://api.github.com/repos/mergify-test2/repo-85fdd973-1039-4659-9d96-a6c900b8b063-test_missing_required_status_check/subscription\",\"commits_url\":\"https://api.github.com/repos/mergify-test2/repo-85fdd973-1039-4659-9d96-a6c900b8b063-test_missing_required_status_check/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/mergify-test2/repo-85fdd973-1039-4659-9d96-a6c900b8b063-test_missing_required_status_check/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/mergify-test2/repo-85fdd973-1039-4659-9d96-a6c900b8b063-test_missing_required_status_check/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/mergify-test2/repo-85fdd973-1039-4659-9d96-a6c900b8b063-test_missing_required_status_check/issues/comments{/number}\",\"contents_url\":\"https://api.github.com/repos/mergify-test2/repo-85fdd973-1039-4659-9d96-a6c900b8b063-test_missing_required_status_check/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/mergify-test2/repo-85fdd973-1039-4659-9d96-a6c900b8b063-test_missing_required_status_check/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/mergify-test2/repo-85fdd973-1039-4659-9d96-a6c900b8b063-test_missing_required_status_check/merges\",\"archive_url\":\"https://api.github.com/repos/mergify-test2/repo-85fdd973-1039-4659-9d96-a6c900b8b063-test_missing_required_status_check/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/mergify-test2/repo-85fdd973-1039-4659-9d96-a6c900b8b063-test_missing_required_status_check/downloads\",\"issues_url\":\"https://api.github.com/repos/mergify-test2/repo-85fdd973-1039-4659-9d96-a6c900b8b063-test_missing_required_status_check/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/mergify-test2/repo-85fdd973-1039-4659-9d96-a6c900b8b063-test_missing_required_status_check/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/mergify-test2/repo-85fdd973-1039-4659-9d96-a6c900b8b063-test_missing_required_status_check/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/mergify-test2/repo-85fdd973-1039-4659-9d96-a6c900b8b063-test_missing_required_status_check/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/mergify-test2/repo-85fdd973-1039-4659-9d96-a6c900b8b063-test_missing_required_status_check/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/mergify-test2/repo-85fdd973-1039-4659-9d96-a6c900b8b063-test_missing_required_status_check/releases{/id}\",\"deployments_url\":\"https://api.github.com/repos/mergify-test2/repo-85fdd973-1039-4659-9d96-a6c900b8b063-test_missing_required_status_check/deployments\",\"created_at\":\"2018-06-24T17:09:22Z\",\"updated_at\":\"2018-06-24T17:09:24Z\",\"pushed_at\":\"2018-06-24T17:09:27Z\",\"git_url\":\"git://github.com/mergify-test2/repo-85fdd973-1039-4659-9d96-a6c900b8b063-test_missing_required_status_check.git\",\"ssh_url\":\"git@github.com:mergify-test2/repo-85fdd973-1039-4659-9d96-a6c900b8b063-test_missing_required_status_check.git\",\"clone_url\":\"https://github.com/mergify-test2/repo-85fdd973-1039-4659-9d96-a6c900b8b063-test_missing_required_status_check.git\",\"svn_url\":\"https://github.com/mergify-test2/repo-85fdd973-1039-4659-9d96-a6c900b8b063-test_missing_required_status_check\",\"homepage\":null,\"size\":0,\"stargazers_count\":0,\"watchers_count\":0,\"language\":null,\"has_issues\":false,\"has_projects\":true,\"has_downloads\":true,\"has_wiki\":true,\"has_pages\":false,\"forks_count\":0,\"mirror_url\":null,\"archived\":false,\"open_issues_count\":0,\"license\":null,\"forks\":0,\"open_issues\":0,\"watchers\":0,\"default_branch\":\"master\"}},\"base\":{\"label\":\"mergify-test1:stable\",\"ref\":\"stable\",\"sha\":\"7fb5c6d95aa6e92aba395f2c988f8ee43f23659b\",\"user\":{\"login\":\"mergify-test1\",\"id\":38494943,\"node_id\":\"MDQ6VXNlcjM4NDk0OTQz\",\"avatar_url\":\"https://avatars3.githubusercontent.com/u/38494943?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test1\",\"html_url\":\"https://github.com/mergify-test1\",\"followers_url\":\"https://api.github.com/users/mergify-test1/followers\",\"fol[...]
