{"http_interactions": [{"request": {"uri": "https://api.github.com:443/repos/mergify-test1/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/pulls", "body": {"encoding": "utf-8", "string": "{\"title\": \"Pull request n1 from fork\", \"body\": \"Pull request n1 from fork\", \"head\": \"mergify-test2:fork/pr1\", \"base\": \"stable\"}"}, "headers": {"Content-Type": ["application/json"], "Authorization": ["token <FORK_TOKEN>"]}, "method": "POST"}, "recorded_at": "2018-05-05T19:16:54", "response": {"url": "https://api.github.com:443/repos/mergify-test1/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/pulls", "body": {"encoding": "utf-8", "string": "{\"url\":\"https://api.github.com/repos/mergify-test1/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/pulls/1\",\"id\":186171688,\"html_url\":\"https://github.com/mergify-test1/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/pull/1\",\"diff_url\":\"https://github.com/mergify-test1/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/pull/1.diff\",\"patch_url\":\"https://github.com/mergify-test1/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/pull/1.patch\",\"issue_url\":\"https://api.github.com/repos/mergify-test1/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/issues/1\",\"number\":1,\"state\":\"open\",\"locked\":false,\"title\":\"Pull request n1 from fork\",\"user\":{\"login\":\"mergify-test2\",\"id\":38495008,\"avatar_url\":\"https://avatars1.githubusercontent.com/u/38495008?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test2\",\"html_url\":\"https://github.com/mergify-test2\",\"followers_url\":\"https://api.github.com/users/mergify-test2/followers\",\"following_url\":\"https://api.github.com/users/mergify-test2/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test2/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test2/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test2/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test2/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test2/repos\",\"events_url\":\"https://api.github.com/users/mergify-test2/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test2/received_events\",\"type\":\"User\",\"site_admin\":false},\"body\":\"Pull request n1 from fork\",\"created_at\":\"2018-05-05T19:16:54Z\",\"updated_at\":\"2018-05-05T19:16:54Z\",\"closed_at\":null,\"merged_at\":null,\"merge_commit_sha\":null,\"assignee\":null,\"assignees\":[],\"requested_reviewers\":[],\"requested_teams\":[],\"labels\":[],\"milestone\":null,\"commits_url\":\"https://api.github.com/repos/mergify-test1/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/pulls/1/commits\",\"review_comments_url\":\"https://api.github.com/repos/mergify-test1/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/pulls/1/comments\",\"review_comment_url\":\"https://api.github.com/repos/mergify-test1/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/pulls/comments{/number}\",\"comments_url\":\"https://api.github.com/repos/mergify-test1/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/issues/1/comments\",\"statuses_url\":\"https://api.github.com/repos/mergify-test1/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/statuses/72dc1897e5c0b28fc9d423ecd53cae381eddaaf3\",\"head\":{\"label\":\"mergify-test2:fork/pr1\",\"ref\":\"fork/pr1\",\"sha\":\"72dc1897e5c0b28fc9d423ecd53cae381eddaaf3\",\"user\":{\"login\":\"mergify-test2\",\"id\":38495008,\"avatar_url\":\"https://avatars1.githubusercontent.com/u/38495008?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test2\",\"html_url\":\"https://github.com/mergify-test2\",\"followers_url\":\"https://api.github.com/users/mergify-test2/followers\",\"following_url\":\"https://api.github.com/users/mergify-test2/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test2/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test2/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test2/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test2/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test2/repos\",\"events_url\":\"https://api.github.com/users/mergify-test2/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test2/received_events\",\"type\":\"User\",\"site_admin\":false},\"repo\":{\"id\":132277524,\"name\":\"repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check\",\"full_name\":\"mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check\",\"owner\":{\"login\":\"mergify-test2\",\"id\":38495008,\"avatar_url\":\"https://avatars1.githubusercontent.com/u/38495008?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test2\",\"html_url\":\"https://github.com/mergify-test2\",\"followers_url\":\"https://api.github.com/users/mergify-test2/followers\",\"following_url\":\"https://api.github.com/users/mergify-test2/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test2/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test2/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test2/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test2/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test2/repos\",\"events_url\":\"https://api.github.com/users/mergify-test2/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test2/received_events\",\"type\":\"User\",\"site_admin\":false},\"private\":false,\"html_url\":\"https://github.com/mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check\",\"description\":null,\"fork\":true,\"url\":\"https://api.github.com/repos/mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check\",\"forks_url\":\"https://api.github.com/repos/mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/forks\",\"keys_url\":\"https://api.github.com/repos/mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/teams\",\"hooks_url\":\"https://api.github.com/repos/mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/hooks\",\"issue_events_url\":\"https://api.github.com/repos/mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/events\",\"assignees_url\":\"https://api.github.com/repos/mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/tags\",\"blobs_url\":\"https://api.github.com/repos/mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/languages\",\"stargazers_url\":\"https://api.github.com/repos/mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/stargazers\",\"contributors_url\":\"https://api.github.com/repos/mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/contributors\",\"subscribers_url\":\"https://api.github.com/repos/mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/subscribers\",\"subscription_url\":\"https://api.github.com/repos/mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/subscription\",\"commits_url\":\"https://api.github.com/repos/mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/issues/comments{/number}\",\"contents_url\":\"https://api.github.com/repos/mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/merges\",\"archive_url\":\"https://api.github.com/repos/mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/downloads\",\"issues_url\":\"https://api.github.com/repos/mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/releases{/id}\",\"deployments_url\":\"https://api.github.com/repos/mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check/deployments\",\"created_at\":\"2018-05-05T19:16:49Z\",\"updated_at\":\"2018-05-05T19:16:51Z\",\"pushed_at\":\"2018-05-05T19:16:54Z\",\"git_url\":\"git://github.com/mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check.git\",\"ssh_url\":\"git@github.com:mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check.git\",\"clone_url\":\"https://github.com/mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check.git\",\"svn_url\":\"https://github.com/mergify-test2/repo-b27bce70-8a37-41f7-ac6d-2601abc8f90f-test_missing_required_status_check\",\"homepage\":null,\"size\":0,\"stargazers_count\":0,\"watchers_count\":0,\"language\":null,\"has_issues\":false,\"has_projects\":true,\"has_downloads\":true,\"has_wiki\":true,\"has_pages\":false,\"forks_count\":0,\"mirror_url\":null,\"archived\":false,\"open_issues_count\":0,\"license\":null,\"forks\":0,\"open_issues\":0,\"watchers\":0,\"default_branch\":\"master\"}},\"base\":{\"label\":\"mergify-test1:stable\",\"ref\":\"stable\",\"sha\":\"ac49b84b1cd255dedccb72871440b9c7a4ad7f81\",\"user\":{\"login\":\"mergify-test1\",\"id\":38494943,\"avatar_url\":\"https://avatars3.githubusercontent.com/u/38494943?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test1\",\"html_url\":\"https://github.com/mergify-test1\",\"followers_url\":\"https://api.github.com/users/mergify-test1/followers\",\"following_url\":\"https://api.github.com[...]
{"request": {"uri": "https://api.github.com:443/repos/mergify-test1/repo-5f1b056b-ba17-4be3-8601-c15721d787ff-test_missing_required_status_check/pulls", "body": {"encoding": "utf-8", "string": "{\"body\": \"Pull request n1 from fork\", \"head\": \"mergify-test2:fork/pr1\", \"base\": \"stable\", \"title\": \"Pull request n1 from fork\"}"}, "headers": {"Content-Type": ["application/json"], "Authorization": ["token <FORK_TOKEN>"]}, "method": "POST"}, "recorded_at": "2018-06-16T21:46:07", "response": {"url": "https://api.github.com:443/repos/mergify-test1/repo-5f1b056b-ba17-4be3-8601-c15721d787ff-test_missing_required_status_check/pulls", "body": {"encoding": "utf-8", "string": "{\"url\":\"https://api.github.com/repos/mergify-test1/repo-5f1b056b-ba17-4be3-8601-c15721d787ff-test_missing_required_status_check/pulls/1\",\"id\":195350416,\"node_id\":\"MDExOlB1bGxSZXF1ZXN0MTk1MzUwNDE2\",\"html_url\":\"https://github.com/mergify-test1/repo-5f1b056b-ba17-4be3-8601-c15721d787ff-test_missing_required_status_check/pull/1\",\"diff_url\":\"https://github.com/mergify-test1/repo-5f1b056b-ba17-4be3-8601-c15721d787ff-test_missing_required_status_check/pull/1.diff\",\"patch_url\":\"https://github.com/mergify-test1/repo-5f1b056b-ba17-4be3-8601-c15721d787ff-test_missing_required_status_check/pull/1.patch\",\"issue_url\":\"https://api.github.com/repos/merg[...]
[...]
{"request": {"uri": "https://api.github.com:443/repos/mergify-test1/repo-137a5f2a-1f0b-4553-8068-2bf55eedc3e3-test_missing_required_status_check/pulls", "body": {"encoding": "utf-8", "string": "{\"title\": \"Pull request n1 from fork\", \"body\": \"Pull request n1 from fork\", \"base\": \"stable\", \"head\": \"mergify-test2:fork/pr1\"}"}, "method": "POST", "headers": {"Content-Type": ["application/json"], "Authorization": ["token <FORK_TOKEN>"]}}, "recorded_at": "2018-06-23T21:52:07", "response": {"status": {"code": 201, "message": "Created"}, "body": {"encoding": "utf-8", "string": "{\"url\":\"https://api.github.com/repos/mergify-test1/repo-137a5f2a-1f0b-4553-8068-2bf55eedc3e3-test_missing_required_status_check/pulls/1\",\"id\":196922112,\"node_id\":\"MDExOlB1bGxSZXF1ZXN0MTk2OTIyMTEy\",\"html_url\":\"https://github.com/mergify-test1/repo-137a5f2a-1f0b-4553-8068-2bf55eedc3e3-test_missing_required_status_check/pull/1\",\"diff_url\":\"https://github.com/mergify-test1/repo-137a5f2a-1f0b-4553-8068-2bf55eedc3e3-test_missing_re[...]
