{"http_interactions": [{"request": {"method": "POST", "headers": {"Authorization": ["token <FORK_TOKEN>"], "Content-Type": ["application/json"]}, "body": {"string": "{\"head\": \"mergify-test2:fork/pr2\", \"title\": \"Pull request n2 from fork\", \"base\": \"master\", \"body\": \"Pull request n2 from fork\"}", "encoding": "utf-8"}, "uri": "https://api.github.com:443/repos/mergify-test1/repo-989e13f3-b891-4433-842b-93bc747d6cc4-test_refresh_pull/pulls"}, "recorded_at": "2018-06-30T09:06:38", "response": {"url": "https://api.github.com:443/repos/mergify-test1/repo-989e13f3-b891-4433-842b-93bc747d6cc4-test_refresh_pull/pulls", "status": {"message": "Created", "code": 201}, "headers": {"Content-Type": ["application/json; charset=utf-8"], "X-Accepted-OAuth-Scopes": [""], "X-GitHub-Media-Type": ["github.v3; format=json"], "X-OAuth-Scopes": ["repo"], "X-RateLimit-Limit": ["5000"], "Location": ["https://api.github.com/repos/mergify-test1/repo-989e13f3-b891-4433-842b-93bc747d6cc4-test_refresh_pull/pulls/2"], "Status": ["201 Created"], "X-RateLimit-Reset": ["1530351788"], "X-RateLimit-Remaining": ["4990"], "ETag": ["\"38472762453387056883e0909593157e\""]}, "body": {"string": "{\"url\":\"https://api.github.com/repos/mergify-test1/repo-989e13f3-b891-4433-842b-93bc747d6cc4-test_refresh_pull/pulls/2\",\"id\":198467784,\"node_id\":\"MDExOlB1bGxSZXF1ZXN0MTk4NDY3Nzg0\",\"html_url\":\"https://github.com/mergify-test1/repo-989e13f3-b891-4433-842b-93bc747d6cc4-test_refresh_pull/pull/2\",\"diff_url\":\"https://github.com/mergify-test1/repo-989e13f3-b891-4433-842b-93bc747d6cc4-test_refresh_pull/pull/2.diff\",\"patch_url\":\"https://github.com/mergify-test1/repo-989e13f3-b891-4433-842b-93bc747d6cc4-test_refresh_pull/pull/2.patch\",\"issue_url\":\"https://api.github.com/repos/mergify-test1/repo-989e13f3-b891-4433-842b-93bc747d6cc4-test_refresh_pull/issues/2\",\"number\":2,\"state\":\"open\",\"locked\":false,\"title\":\"Pull request n2 from fork\",\"user\":{\"login\":\"mergify-test2\",\"id\":38495008,\"node_id\":\"MDQ6VXNlcjM4NDk1MDA4\",\"avatar_url\":\"https://avatars1.githubusercontent.com/u/38495008?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test2\",\"html_url\":\"https://github.com/mergify-test2\",\"followers_url\":\"https://api.github.com/users/mergify-test2/followers\",\"following_url\":\"https://api.github.com/users/mergify-test2/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test2/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test2/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test2/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test2/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test2/repos\",\"events_url\":\"https://api.github.com/users/mergify-test2/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test2/received_events\",\"type\":\"User\",\"site_admin\":false},\"body\":\"Pull request n2 from fork\",\"created_at\":\"2018-06-30T09:06:37Z\",\"updated_at\":\"2018-06-30T09:06:37Z\",\"closed_at\":null,\"merged_at\":null,\"merge_commit_sha\":null,\"assignee\":null,\"assignees\":[],\"requested_reviewers\":[],\"requested_teams\":[],\"labels\":[],\"milestone\":null,\"commits_url\":\"https://api.github.com/repos/mergify-test1/repo-989e13f3-b891-4433-842b-93bc747d6cc4-test_refresh_pull/pulls/2/commits\",\"review_comments_url\":\"https://api.github.com/repos/mergify-test1/repo-989e13f3-b891-4433-842b-93bc747d6cc4-test_refresh_pull/pulls/2/comments\",\"review_comment_url\":\"https://api.github.com/repos/mergify-test1/repo-989e13f3-b891-4433-842b-93bc747d6cc4-test_refresh_pull/pulls/comments{/number}\",\"comments_url\":\"https://api.github.com/repos/mergify-test1/repo-989e13f3-b891-4433-842b-93bc747d6cc4-test_refresh_pull/issues/2/comments\",\"statuses_url\":\"https://api.github.com/repos/mergify-test1/repo-989e13f3-b891-4433-842b-93bc747d6cc4-test_refresh_pull/statuses/2408b4c5fde890d69c93b7e05761af402725f9f7\",\"head\":{\"label\":\"mergify-test2:fork/pr2\",\"ref\":\"fork/pr2\",\"sha\":\"2408b4c5fde890d69c93b7e05761af402725f9f7\",\"user\":{\"login\":\"mergify-test2\",\"id\":38495008,\"node_id\":\"MDQ6VXNlcjM4NDk1MDA4\",\"avatar_url\":\"https://avatars1.githubusercontent.com/u/38495008?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test2\",\"html_url\":\"https://github.com/mergify-test2\",\"followers_url\":\"https://api.github.com/users/mergify-test2/followers\",\"following_url\":\"https://api.github.com/users/mergify-test2/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test2/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test2/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test2/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test2/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test2/repos\",\"events_url\":\"https://api.github.com/users/mergify-test2/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test2/received_events\",\"type\":\"User\",\"site_admin\":false},\"repo\":{\"id\":139235118,\"node_id\":\"MDEwOlJlcG9zaXRvcnkxMzkyMzUxMTg=\",\"name\":\"repo-989e13f3-b891-4433-842b-93bc747d6cc4-test_refresh_pull\",\"full_name\":\"mergify-test2/repo-989e13f3-b891-4433-842b-93bc747d6cc4-test_refresh_pull\",\"owner\":{\"login\":\"mergify-test2\",\"id\":38495008,\"node_id\":\"MDQ6VXNlcjM4NDk1MDA4\",\"avatar_url\":\"https://avatars1.githubusercontent.com/u/38495008?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test2\",\"html_url\":\"https://github.com/mergify-test2\",\"followers_url\":\"https://api.github.com/users/mergify-test2/followers\",\"following_url\":\"https://api.github.com/users/mergify-test2/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test2/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test2/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test2/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test2/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test2/repos\",\"events_url\":\"https://api.github.com/users/mergify-test2/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test2/received_events\",\"type\":\"User\",\"site_admin\":false},\"private\":false,\"html_url\":\"https://github.com/mergify-test2/repo-989e13f3-b891-4433-842b-93bc747d6cc4-test_refresh_pull\",\"description\":null,\"fork\":true,\"url\":\"https://api.github.com/repos/mergify-test2/repo-989e13f3-b891-4433-842b-93bc747d6cc4-test_refresh_pull\",\"forks_url\":\"https://api.github.com/repos/mergify-test2/repo-989e13f3-b891-4433-842b-93bc747d6cc4-test_refresh_pull/forks\",\"keys_url\":\"https://api.github.com/repos/mergify-test2/repo-989e13f3-b891-4433-842b-93bc747d6cc4-test_refresh_pull/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/mergify-test2/repo-989e13f3-b891-4433-842b-93bc747d6cc4-test_refresh_pull/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/mergify-test2/repo-989e13f3-b891-4433-842b-93bc747d6cc4-test_refresh_pull/teams\",\"hooks_url\":\"https://api.github.com/repos/mergify-test2/repo-989e13f3-b891-4433-842b-93bc747d6cc4-test_refresh_pull/hooks\",\"issue_events_url\":\"https://api.github.com/repos/mergify-test2/repo-989e13f3-b891-4433-842b-93bc747d6cc4-test_refresh_pull/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/mergify-test2/repo-989e13f3-b891-4433-842b-93bc747d6cc4-test_refresh_pull/events\",\"assignees_url\":\"https://api.github.com/repos/mergify-test2/repo-989e13f3-b891-4433-842b-93bc747d6cc4-test_refresh_pull/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/mergify-test2/repo-989e13f3-b891-4433-842b-93bc747d6cc4-test_refresh_pull/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/mergify-test2/repo-989e13f3-b891-4433-842b-93bc747d6cc4-test_refresh_pull/tags\",\"blobs_url\":\"https://api.github.com/repos/mergify-test2/repo-989e13f3-b891-4433-842b-93bc747d6cc4-test_refresh_pull/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/mergify-test2/repo-989e13f3-b891-4433-842b-93bc747d6cc4-test_refresh_pull/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/mergify-test2/repo-989e13f3-b891-4433-842b-93bc747d6cc4-test_refresh_pull/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/mergify-test2/repo-989e13f3-b891-4433-842b-93bc747d6cc4-test_refresh_pull/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/mergify-test2/repo-989e13f3-b891-4433-842b-93bc747d6cc4-test_refresh_pull/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/mergify-test2/repo-989e13f3-b891-4433-842b-93bc747d6cc4-test_refresh_pull/languages\",\"stargazers_url\":\"https://api.github.com/repos/mergify-test2/repo-989e13f3-b891-4433-842b-93bc747d6cc4-test_refresh_pull/stargazers\",\"contributors_url\":\"https://api.github.com/repos/mergify-test2/repo-989e13f3-b891-4433-842b-93bc747d6cc4-test_refresh_pull/contributors\",\"subscribers_url\":\"https://api.github.com/repos/mergify-test2/repo-989e13f3-b891-4433-842b-93bc747d6cc4-test_refresh_pull/subscribers\",\"subscription_url\":\"https://api.github.com/repos/mergify-test2/repo-989e13f3-b891-4433-842b-93bc747d6cc4-test_refresh_pull/subscription\",\"commits_url\":\"https://api.github.com/repos/mergify-test2/repo-989e13f3-b891-4433-842b-93bc747d6cc4-test_refresh_pull/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/mergify-test2/repo-989e13f3-b891-4433-842b-93bc747d6cc4-test_refresh_pull/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/mergify-test2/repo-989e13f3-b891-4433-842b-93bc747d6cc4-test_refresh_pull/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/mergify-test2/repo-989e13f3-b891-4433-842b-93bc747d6cc4-test_refresh_pull/issues/comments{/number}\",\"contents_url\":\"https://api.github.com/repos/mergify-test2/repo-989e13f3-b891-4433-842b-93bc747d6cc4-test_refresh_pull/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/mergify-test2/repo-989e13f3-b891-4433-842b-93bc747d6cc4-test_refresh_pull/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/mergify-test2/repo-989e13f3-b891-4433-842b-93bc747d6cc4-test_refresh_pull/merges\",\"archive_url\":\"https://api.github.com/repos/mergify-test2/repo-989e13f3-b891-4433-842b-93bc747d6cc4-test_refresh_pull/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/mergify-test2/repo-989e13f3-b891-4433-842b-93bc747d6cc4-test_refresh_pull/downloads\",\"issues_url\":\"https://api.github.com/repos/mergify-test2/repo-989e13f3-b891-4433-842b-93bc747d6cc4-test_refresh_pull/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/mergify-test2/repo-989e13f3-b891-4433-842b-93bc747d6cc4-test_refresh_pull/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/mergify-test2/repo-989e13f3-b891-4433-842b-93bc747d6cc4-test_refresh_pull/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/mergify-test2/repo-989e13f3-b891-4433-842b-93bc747d6cc4-test_refresh_pull/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/mergify-test2/repo-989e13f3-b891-4433-842b-93bc747d6cc4-test_refresh_pull/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/mergify-test2/repo-989e13f3-b891-4433-842b-93bc747d6cc4-test_refresh_pull/releases{/id}\",\"deployments_url\":\"https://api.github.com/repos/mergify-test2/repo-989e13f3-b891-4433-842b-93bc747d6cc4-test_refresh_pull/deployments\",\"created_at\":\"2018-06-30T09:06:19Z\",\"updated_at\":\"2018-06-30T09:06:21Z\",\"pushed_at\":\"2018-06-30T09:06:37Z\",\"git_url\":\"git://github.com/mergify-test2/repo-989e13f3-b891-4433-842b-93bc747d6cc4-test_refresh_pull.git\",\"ssh_url\":\"git@github.com:mergify-test2/repo-989e13f3-b891-4433-842b-93bc747d6cc4-test_refresh_pull.git\",\"clone_url\":\"https://github.com/mergify-test2/repo-989e13f3-b891-4433-842b-93bc747d6cc4-test_refresh_pull.git\",\"svn_url\":\"https://github.com/mergify-test2/repo-989e13f3-b891-4433-842b-93bc747d6cc4-test_refresh_pull\",\"homepage\":null,\"size\":0,\"stargazers_count\":0,\"watchers_count\":0,\"language\":null,\"has_issues\":false,\"has_projects\":true,\"has_downloads\":true,\"has_wiki\":true,\"has_pages\":false,\"forks_count\":0,\"mirror_url\":null,\"archived\":false,\"open_issues_count\":0,\"license\":null,\"forks\":0,\"open_issues\":0,\"watchers\":0,\"default_branch\":\"master\"}},\"base\":{\"label\":\"mergify-test1:master\",\"ref\":\"master\",\"sha\":\"dfc77a416f18629f29c9a876cf669b2749325ce4\",\"user\":{\"login\":\"mergify-test1\",\"id\":38494943,\"node_id\":\"MDQ6VXNlcjM4NDk0OTQz\",\"avatar_url\":\"https://avatars3.githubusercontent.com/u/38494943?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test1\",\"html_url\":\"https://github.com/mergify-test1\",\"followers_url\":\"https://api.github.com/users/mergify-test1/followers\",\"fol[...]
