{"recorded_with": "betamax/0.8.1", "http_interactions": [{"response": {"body": {"encoding": "utf-8", "string": "{\"url\":\"https://api.github.com/repos/mergify-test1/repo-028a128f-d4e0-4551-8924-6cc5d80433b2-test_disabling_label/statuses/456f6f3ffa8eba051388a56904e4c08bc1907246\",\"id\":5124321374,\"node_id\":\"MDEzOlN0YXR1c0NvbnRleHQ1MTI0MzIxMzc0\",\"state\":\"success\",\"description\":\"Your change works\",\"target_url\":null,\"context\":\"continuous-integration/fake-ci\",\"created_at\":\"2018-06-24T15:59:02Z\",\"updated_at\":\"2018-06-24T15:59:02Z\",\"creator\":{\"login\":\"mergify-test1\",\"id\":38494943,\"node_id\":\"MDQ6VXNlcjM4NDk0OTQz\",\"avatar_url\":\"https://avatars3.githubusercontent.com/u/38494943?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test1\",\"html_url\":\"https://github.com/mergify-test1\",\"followers_url\":\"https://api.github.com/users/mergify-test1/followers\",\"following_url\":\"https://api.github.com/users/mergify-test1/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test1/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test1/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test1/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test1/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test1/repos\",\"events_url\":\"https://api.github.com/users/mergify-test1/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test1/received_events\",\"type\":\"User\",\"site_admin\":false}}"}, "url": "https://api.github.com:443/repos/mergify-test1/repo-028a128f-d4e0-4551-8924-6cc5d80433b2-test_disabling_label/statuses/456f6f3ffa8eba051388a56904e4c08bc1907246", "headers": {"Content-Type": ["application/json; charset=utf-8"], "Status": ["201 Created"], "X-RateLimit-Reset": ["1529858954"], "X-OAuth-Scopes": ["repo"], "X-GitHub-Media-Type": ["github.machine-man-preview; format=json"], "X-RateLimit-Remaining": ["4901"], "Location": ["https://api.github.com/repos/mergify-test1/repo-028a128f-d4e0-4551-8924-6cc5d80433b2-test_disabling_label/statuses/456f6f3ffa8eba051388a56904e4c08bc1907246"], "X-Accepted-OAuth-Scopes": [""], "ETag": ["\"2c0d85be67979d015975dbaa7724a58d\""], "X-RateLimit-Limit": ["5000"]}, "status": {"message": "Created", "code": 201}}, "request": {"body": {"encoding": "utf-8", "string": "{\"context\": \"continuous-integration/fake-ci\", \"state\": \"success\", \"description\": \"Your change works\"}"}, "method": "POST", "headers": {"Content-Type": ["application/json"], "Authorization": ["token <MAIN_TOKEN>"]}, "uri": "https://api.github.com:443/repos/mergify-test1/repo-028a128f-d4e0-4551-8924-6cc5d80433b2-test_disabling_label/statuses/456f6f3ffa8eba051388a56904e4c08bc1907246"}, "recorded_at": "2018-06-24T15:59:02"}, {"response": {"body": {"encoding": "utf-8", "string": "{\"url\":\"https://api.github.com/repos/mergify-test1/repo-0a76f8b5-5ed8-4e10-9bc8-0e7a9908a993-test_disabling_label/statuses/538619e71d8bf54b4c47c113cd19dc5c0586fa53\",\"id\":5124355770,\"node_id\":\"MDEzOlN0YXR1c0NvbnRleHQ1MTI0MzU1Nzcw\",\"state\":\"success\",\"description\":\"Your change works\",\"target_url\":null,\"context\":\"continuous-integration/fake-ci\",\"created_at\":\"2018-06-24T16:32:32Z\",\"updated_at\[...]
