{
  "http_interactions": [
    {
      "recorded_at": "2018-05-05T19:16:36",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"context\": \"continuous-integration/fake-ci\", \"state\": \"success\", \"description\": \"Your change works\"}"
        },
        "headers": {
          "Authorization": [
            "token <MAIN_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://api.github.com:443/repos/mergify-test1/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/statuses/7bb4ca5a7c667c1916839c63c1a6017772762964"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"url\":\"https://api.github.com/repos/mergify-test1/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/statuses/7bb4ca5a7c667c1916839c63c1a6017772762964\",\"id\":4916764012,\"state\":\"success\",\"description\":\"Your change works\",\"target_url\":null,\"context\":\"continuous-integration/fake-ci\",\"created_at\":\"2018-05-05T19:16:36Z\",\"updated_at\":\"2018-05-05T19:16:36Z\",\"creator\":{\"login\":\"mergify-test1\",\"id\":38494943,\"avatar_url\":\"https://avatars3.githubusercontent.com/u/38494943?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test1\",\"html_url\":\"https://github.com/mergify-test1\",\"followers_url\":\"https://api.github.com/users/mergify-test1/followers\",\"following_url\":\"https://api.github.com/users/mergify-test1/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test1/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test1/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test1/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test1/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test1/repos\",\"events_url\":\"https://api.github.com/users/mergify-test1/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test1/received_events\",\"type\":\"User\",\"site_admin\":false}}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "ETag": [
            "\"336c94ad3678a37dcd9e99918de49b52\""
          ],
          "Location": [
            "https://api.github.com/repos/mergify-test1/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/statuses/7bb4ca5a7c667c1916839c63c1a6017772762964"
          ],
          "Status": [
            "201 Created"
          ],
          "X-Accepted-OAuth-Scopes": [
            ""
          ],
          "X-GitHub-Media-Type": [
            "github.machine-man-preview; format=json"
          ],
          "X-OAuth-Scopes": [
            "repo"
          ],
          "X-RateLimit-Limit": [
            "5000"
          ],
          "X-RateLimit-Remaining": [
            "4914"
          ],
          "X-RateLimit-Reset": [
            "1525550693"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://api.github.com:443/repos/mergify-test1/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/statuses/7bb4ca5a7c667c1916839c63c1a6017772762964"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}