{
  "http_interactions": [
    {
      "recorded_at": "2018-05-05T19:16:27",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"title\": \"Pull request n1 from fork\", \"body\": \"Pull request n1 from fork\", \"head\": \"mergify-test2:fork/pr1\", \"base\": \"master\"}"
        },
        "headers": {
          "Authorization": [
            "token <FORK_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://api.github.com:443/repos/mergify-test1/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/pulls"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"url\":\"https://api.github.com/repos/mergify-test1/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/pulls/1\",\"id\":186171664,\"html_url\":\"https://github.com/mergify-test1/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/pull/1\",\"diff_url\":\"https://github.com/mergify-test1/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/pull/1.diff\",\"patch_url\":\"https://github.com/mergify-test1/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/pull/1.patch\",\"issue_url\":\"https://api.github.com/repos/mergify-test1/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/issues/1\",\"number\":1,\"state\":\"open\",\"locked\":false,\"title\":\"Pull request n1 from fork\",\"user\":{\"login\":\"mergify-test2\",\"id\":38495008,\"avatar_url\":\"https://avatars1.githubusercontent.com/u/38495008?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test2\",\"html_url\":\"https://github.com/mergify-test2\",\"followers_url\":\"https://api.github.com/users/mergify-test2/followers\",\"following_url\":\"https://api.github.com/users/mergify-test2/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test2/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test2/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test2/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test2/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test2/repos\",\"events_url\":\"https://api.github.com/users/mergify-test2/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test2/received_events\",\"type\":\"User\",\"site_admin\":false},\"body\":\"Pull request n1 from fork\",\"created_at\":\"2018-05-05T19:16:26Z\",\"updated_at\":\"2018-05-05T19:16:26Z\",\"closed_at\":null,\"merged_at\":null,\"merge_commit_sha\":null,\"assignee\":null,\"assignees\":[],\"requested_reviewers\":[],\"requested_teams\":[],\"labels\":[],\"milestone\":null,\"commits_url\":\"https://api.github.com/repos/mergify-test1/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/pulls/1/commits\",\"review_comments_url\":\"https://api.github.com/repos/mergify-test1/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/pulls/1/comments\",\"review_comment_url\":\"https://api.github.com/repos/mergify-test1/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/pulls/comments{/number}\",\"comments_url\":\"https://api.github.com/repos/mergify-test1/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/issues/1/comments\",\"statuses_url\":\"https://api.github.com/repos/mergify-test1/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/statuses/7bb4ca5a7c667c1916839c63c1a6017772762964\",\"head\":{\"label\":\"mergify-test2:fork/pr1\",\"ref\":\"fork/pr1\",\"sha\":\"7bb4ca5a7c667c1916839c63c1a6017772762964\",\"user\":{\"login\":\"mergify-test2\",\"id\":38495008,\"avatar_url\":\"https://avatars1.githubusercontent.com/u/38495008?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test2\",\"html_url\":\"https://github.com/mergify-test2\",\"followers_url\":\"https://api.github.com/users/mergify-test2/followers\",\"following_url\":\"https://api.github.com/users/mergify-test2/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test2/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test2/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test2/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test2/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test2/repos\",\"events_url\":\"https://api.github.com/users/mergify-test2/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test2/received_events\",\"type\":\"User\",\"site_admin\":false},\"repo\":{\"id\":132277491,\"name\":\"repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label\",\"full_name\":\"mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label\",\"owner\":{\"login\":\"mergify-test2\",\"id\":38495008,\"avatar_url\":\"https://avatars1.githubusercontent.com/u/38495008?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test2\",\"html_url\":\"https://github.com/mergify-test2\",\"followers_url\":\"https://api.github.com/users/mergify-test2/followers\",\"following_url\":\"https://api.github.com/users/mergify-test2/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test2/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test2/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test2/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test2/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test2/repos\",\"events_url\":\"https://api.github.com/users/mergify-test2/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test2/received_events\",\"type\":\"User\",\"site_admin\":false},\"private\":false,\"html_url\":\"https://github.com/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label\",\"description\":null,\"fork\":true,\"url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label\",\"forks_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/forks\",\"keys_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/teams\",\"hooks_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/hooks\",\"issue_events_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/events\",\"assignees_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/tags\",\"blobs_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/languages\",\"stargazers_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/stargazers\",\"contributors_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/contributors\",\"subscribers_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/subscribers\",\"subscription_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/subscription\",\"commits_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/issues/comments{/number}\",\"contents_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/merges\",\"archive_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/downloads\",\"issues_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/releases{/id}\",\"deployments_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/deployments\",\"created_at\":\"2018-05-05T19:16:21Z\",\"updated_at\":\"2018-05-05T19:16:24Z\",\"pushed_at\":\"2018-05-05T19:16:26Z\",\"git_url\":\"git://github.com/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label.git\",\"ssh_url\":\"git@github.com:mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label.git\",\"clone_url\":\"https://github.com/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label.git\",\"svn_url\":\"https://github.com/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label\",\"homepage\":null,\"size\":0,\"stargazers_count\":0,\"watchers_count\":0,\"language\":null,\"has_issues\":false,\"has_projects\":true,\"has_downloads\":true,\"has_wiki\":true,\"has_pages\":false,\"forks_count\":0,\"mirror_url\":null,\"archived\":false,\"open_issues_count\":0,\"license\":null,\"forks\":0,\"open_issues\":0,\"watchers\":0,\"default_branch\":\"master\"}},\"base\":{\"label\":\"mergify-test1:master\",\"ref\":\"master\",\"sha\":\"eb251532fb01282e718af9fe5774e7c78a5d08a3\",\"user\":{\"login\":\"mergify-test1\",\"id\":38494943,\"avatar_url\":\"https://avatars3.githubusercontent.com/u/38494943?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test1\",\"html_url\":\"https://github.com/mergify-test1\",\"followers_url\":\"https://api.github.com/users/mergify-test1/followers\",\"following_url\":\"https://api.github.com[...]
    {
      "recorded_at": "2018-06-16T21:45:38",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"body\": \"Pull request n1 from fork\", \"head\": \"mergify-test2:fork/pr1\", \"base\": \"master\", \"title\": \"Pull request n1 from fork\"}"
        },
        "headers": {
          "Authorization": [
            "token <FORK_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://api.github.com:443/repos/mergify-test1/repo-329d8af7-edcb-46c8-975d-a38542a63faa-test_disabling_label/pulls"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"url\":\"https://api.github.com/repos/mergify-test1/repo-329d8af7-edcb-46c8-975d-a38542a63faa-test_disabling_label/pulls/1\",\"id\":195350396,\"node_id\":\"MDExOlB1bGxSZXF1ZXN0MTk1MzUwMzk2\",\"html_url\":\"https://github.com/mergify-test1/repo-329d8af7-edcb-46c8-975d-a38542a63faa-test_disabling_label/pull/1\",\"diff_url\":\"https://github.com/mergify-test1/repo-329d8af7-edcb-46c8-975d-a38542a63faa-test_disabling_label/pull/1.diff\",\"patch_url\":\"https://github.com/mergify-test1/repo-329d8af7-edcb-46c8-975d-a38542a63faa-test_disabling_label/pull/1.patch\",\"issue_url\":\"https://api.github.com/repos/mergify-test1/repo-329d8af7-edcb-46c8-975d-a38[...]
