{"recorded_with": "betamax/0.8.1", "http_interactions": [{"response": {"headers": {"X-RateLimit-Limit": ["5000"], "X-GitHub-Media-Type": ["github.v3; format=json"], "X-RateLimit-Remaining": ["4964"], "Content-Type": ["application/json; charset=utf-8"], "Status": ["202 Accepted"], "X-RateLimit-Reset": ["1525550693"], "X-Accepted-OAuth-Scopes": [""], "X-OAuth-Scopes": ["repo"]}, "url": "https://api.github.com:443/repos/mergify-test1/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/forks", "status": {"message": "Accepted", "code": 202}, "body": {"string": "{\"id\":132277491,\"name\":\"repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label\",\"full_name\":\"mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label\",\"owner\":{\"login\":\"mergify-test2\",\"id\":38495008,\"avatar_url\":\"https://avatars1.githubusercontent.com/u/38495008?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test2\",\"html_url\":\"https://github.com/mergify-test2\",\"followers_url\":\"https://api.github.com/users/mergify-test2/followers\",\"following_url\":\"https://api.github.com/users/mergify-test2/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test2/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test2/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test2/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test2/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test2/repos\",\"events_url\":\"https://api.github.com/users/mergify-test2/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test2/received_events\",\"type\":\"User\",\"site_admin\":false},\"private\":false,\"html_url\":\"https://github.com/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label\",\"description\":null,\"fork\":true,\"url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label\",\"forks_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/forks\",\"keys_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/teams\",\"hooks_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/hooks\",\"issue_events_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/events\",\"assignees_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/tags\",\"blobs_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/languages\",\"stargazers_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/stargazers\",\"contributors_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/contributors\",\"subscribers_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/subscribers\",\"subscription_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/subscription\",\"commits_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/issues/comments{/number}\",\"contents_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/merges\",\"archive_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/downloads\",\"issues_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/releases{/id}\",\"deployments_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/deployments\",\"created_at\":\"2018-05-05T19:16:21Z\",\"updated_at\":\"2018-05-05T19:16:16Z\",\"pushed_at\":\"2018-05-05T19:16:21Z\",\"git_url\":\"git://github.com/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label.git\",\"ssh_url\":\"git@github.com:mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label.git\",\"clone_url\":\"https://github.com/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label.git\",\"svn_url\":\"https://github.com/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label\",\"homepage\":null,\"size\":0,\"stargazers_count\":0,\"watchers_count\":0,\"language\":null,\"has_issues\":false,\"has_projects\":true,\"has_downloads\":true,\"has_wiki\":true,\"has_pages\":false,\"forks_count\":0,\"mirror_url\":null,\"archived\":false,\"open_issues_count\":0,\"license\":null,\"forks\":0,\"open_issues\":0,\"watchers\":0,\"default_branch\":\"master\",\"permissions\":{\"admin\":true,\"push\":true,\"pull\":true},\"parent\":{\"id\":132277480,\"name\":\"repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label\",\"full_name\":\"mergify-test1/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label\",\"owner\":{\"login\":\"mergify-test1\",\"id\":38494943,\"avatar_url\":\"https://avatars3.githubusercontent.com/u/38494943?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test1\",\"html_url\":\"https://github.com/mergify-test1\",\"followers_url\":\"https://api.github.com/users/mergify-[...]
