{"http_interactions": [{"request": {"uri": "https://api.github.com:443/repos/mergify-test1/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/forks", "body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["token <FORK_TOKEN>"]}, "method": "POST"}, "recorded_at": "2018-05-05T19:16:22", "response": {"url": "https://api.github.com:443/repos/mergify-test1/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/forks", "body": {"encoding": "utf-8", "string": "{\"id\":132277491,\"name\":\"repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label\",\"full_name\":\"mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label\",\"owner\":{\"login\":\"mergify-test2\",\"id\":38495008,\"avatar_url\":\"https://avatars1.githubusercontent.com/u/38495008?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test2\",\"html_url\":\"https://github.com/mergify-test2\",\"followers_url\":\"https://api.github.com/users/mergify-test2/followers\",\"following_url\":\"https://api.github.com/users/mergify-test2/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test2/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test2/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test2/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test2/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test2/repos\",\"events_url\":\"https://api.github.com/users/mergify-test2/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test2/received_events\",\"type\":\"User\",\"site_admin\":false},\"private\":false,\"html_url\":\"https://github.com/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label\",\"description\":null,\"fork\":true,\"url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label\",\"forks_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/forks\",\"keys_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/teams\",\"hooks_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/hooks\",\"issue_events_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/events\",\"assignees_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/tags\",\"blobs_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/languages\",\"stargazers_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/stargazers\",\"contributors_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/contributors\",\"subscribers_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/subscribers\",\"subscription_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/subscription\",\"commits_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/issues/comments{/number}\",\"contents_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/merges\",\"archive_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/downloads\",\"issues_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/releases{/id}\",\"deployments_url\":\"https://api.github.com/repos/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label/deployments\",\"created_at\":\"2018-05-05T19:16:21Z\",\"updated_at\":\"2018-05-05T19:16:16Z\",\"pushed_at\":\"2018-05-05T19:16:21Z\",\"git_url\":\"git://github.com/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label.git\",\"ssh_url\":\"git@github.com:mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label.git\",\"clone_url\":\"https://github.com/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label.git\",\"svn_url\":\"https://github.com/mergify-test2/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label\",\"homepage\":null,\"size\":0,\"stargazers_count\":0,\"watchers_count\":0,\"language\":null,\"has_issues\":false,\"has_projects\":true,\"has_downloads\":true,\"has_wiki\":true,\"has_pages\":false,\"forks_count\":0,\"mirror_url\":null,\"archived\":false,\"open_issues_count\":0,\"license\":null,\"forks\":0,\"open_issues\":0,\"watchers\":0,\"default_branch\":\"master\",\"permissions\":{\"admin\":true,\"push\":true,\"pull\":true},\"parent\":{\"id\":132277480,\"name\":\"repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label\",\"full_name\":\"mergify-test1/repo-d36f4d50-f747-442e-9938-8ffa1d48498a-test_disabling_label\",\"owner\":{\"login\":\"mergify-test1\",\"id\":38494943,\"avatar_url\":\"https://avatars3.githubusercontent.com/u/38494943?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test1\",\"html_url\":\"https://github.com/mergify-test1\",\"followers_url\":\"https://api.github.com/users/mergify-[...]
{"request": {"uri": "https://gh.mergify.io/events-testing", "body": {"encoding": "utf-8", "string": ""}, "headers": {}, "method": "DELETE"}, "recorded_at": "2018-06-16T21:45:23", "response": {"url": "https://gh.mergify.io/events-testing", "body": {"encoding": "utf-8", "string": ""}, "status": {"code": 202, "message": "ACCEPTED"}, "headers": {"Content-Type": ["text/html; charset=utf-8"]}}}, {"request": {"uri": "https://api.github.com:443/repos/mergify-test1/repo-329d8af7-edcb-46c8-975d-a38542a63faa-test_disabling_label/forks", "body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["token <FORK_TOKEN>"]}, "method": "POST"}, "recorded_at": "2018-06-16T21:45:33", "response": {"url": "https://api.github.com:443/repos/mergify-test1/repo-329d8af7-edcb-46c8-975d-a38542a63faa-test_disabling_label/forks", "body": {"encoding": "utf-8", "string": "{\"id\":137612323,\"node_id\":\"MDEwOlJlcG9zaXRvcnkxMzc2MTIzMjM=\",\"name\":\"repo-329d8af7-edcb-46c8-975d-a38542a63faa-test_disabling_label\",\"full_name\":\"mergify-test2/repo-329d8af7-edcb-46c8-975d-a38542a63faa-test_disabling_label\",\"owner\":{\"login\":\"mergify-test2\",\"id\":38495008,\"node_id\":\"MDQ6VXNlcjM4NDk1MDA4\",\"avatar_url\":\"https://avatars1.githubusercontent.com/u/38495008?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test2\",\"html_url\":\"https://github.com/mergify-test2\",\[...]
{"request": {"uri": "https://gh.mergify.io/events-testing", "body": {"encoding": "utf-8", "string": "<FAKE_DATA>"}, "headers": {"X-Hub-Signature": ["sha1=<FAKE_HMAC>"]}, "method": "DELETE"}, "recorded_at": "2018-06-21T07:42:52", "response": {"url": "https://gh.mergify.io/events-testing", "body": {"encoding": "utf-8", "string": ""}, "status": {"code": 202, "message": "ACCEPTED"}, "headers": {"Content-Type": ["text/html; charset=utf-8"]}}}, [...]
{"request": {"uri": "https://api.github.com:443/user", "body": {"encoding": "utf-8", "string": ""}, "method": "GET", "headers": {"Authorization": ["token <MAIN_TOKEN>"]}}, "recorded_at": "2018-06-23T21:51:21", "response": {"status": {"code": 200, "message": "OK"}, "body": {"string": "", "encoding": "utf-8", "base64_string": "H4sIAAAAAAAAA51U0WrbMBT9FaPnpHZid00EYxsU9tSOQjZGX4Isy7ZWWRKSnJCG/vuO7HSsfik1frCudM+5x1f3+EyUaaQmlHTCNbI+LYPwYUUWRFaE5ptiiydfEG0qsY9b5O724dOv3/eK/7kr7m+fsh+7h2ekswMLzO17p5DThmA9TdNx0+dXjQxtX/ZeOG50EDpccdOlffpa4MvhcwGSxl1ohkrYmNBZeWEa4aDz6VR3Gzo1kTFWHzDT7NooZY7gmSp/t1T6Dwqd41rqZi4NoOfUhFaghfisl9gM6cMMWQPsnMYXLiwSeVyME9XHpV2AEHbU0HROnbBmYOxLz520QRo9Q+IbOOiMa5iWz2wmHeAeLFHcDDEDDHBxwFjOwI+4c2qdPDB+iu1xggt5QMfnck4IQBlOVsASPzEbsf8yiD2rumjcmikvYFDWxYTpfGPmLdMnnHy9HEkDghKuHx2mDB/6TqjulUIbOiZh4TFopROsVCAe4xJgSnat9Anj3PQ6JFjWxiXxr4EZTmzv0E6RmDrBMCdH455qGCzG34d/QPLN2uSNFtuXSvL9eA80v9kuyGVrGGVCs1d/wab/RSg3RBwaA5rNArSts9VmmRXL1Wa3ymixptfbR3xvb6tpzjXSdtkNXa9plj+Sl78xlolUCgUAAA=="}, "url": "https://api.github.com:443/user", "headers": {"Content-Type": ["application/json; charset=utf-8"], "Last-Modified": ["Fri, 04 May 2018 07:22:03 GMT"], "X-RateLimit-Remaining": ["4903"], "Status": ["200 OK"], "X-Accepted-OAuth-Scopes": [""], "X-RateLimit-Reset": ["1529790994"], "ETag": ["W/\"5712e47996d9fe2f328afb717817cfc6\""], "X-GitHub-Media-Type": ["github.v3; format=json"], "X-RateLimit-Limit": ["5000"], "X-OAuth-Scopes": ["repo"]}}}, [...]
{"request": {"uri": "https://api.github.com:443/user/repos", "body": {"encoding": "utf-8", "string": "{\"name\": \"repo-7303360d-7e18-423c-8a8a-e891ad00c3ac-test_disabling_label\"}"}, "method": "POST", "headers": {"Content-Type": ["application/json"], "Authorization": ["token <MAIN_TOKEN>"]}}, "recorded_at": "2018-06-23T21:51:22", "response": {"status": {"code": 201, "message": "Created"}, "body": {"encoding": "utf-8", "string": "{\"id\":138435961,\"node_id\":\"MDEwOlJlcG9zaXRvcnkxMzg0MzU5NjE=\"[...]
[...]
