{"recorded_with": "betamax/0.8.1", "http_interactions": [{"response": {"headers": {"X-GitHub-Media-Type": ["github.machine-man-preview; format=json"], "X-RateLimit-Reset": ["1530223269"], "X-Accepted-OAuth-Scopes": [""], "Location": ["https://api.github.com/repos/mergify-test1/repo-1c85e94c-116a-4883-87e8-bba861ab7bdb-test_disabling_label/statuses/4b82346f1b9cd8048f9fff1223c89bad8094e1f7"], "X-RateLimit-Limit": ["5000"], "X-RateLimit-Remaining": ["4912"], "Content-Type": ["application/json; charset=utf-8"], "ETag": ["\"4da9d2c3deafbaf77623bab237d7d235\""], "Status": ["201 Created"], "X-OAuth-Scopes": ["repo"]}, "url": "https://api.github.com:443/repos/mergify-test1/repo-1c85e94c-116a-4883-87e8-bba861ab7bdb-test_disabling_label/statuses/4b82346f1b9cd8048f9fff1223c89bad8094e1f7", "status": {"message": "Created", "code": 201}, "body": {"string": "{\"url\":\"https://api.github.com/repos/mergify-test1/repo-1c85e94c-116a-4883-87e8-bba861ab7bdb-test_disabling_label/statuses/4b82346f1b9cd8048f9fff1223c89bad8094e1f7\",\"id\":5147696772,\"node_id\":\"MDEzOlN0YXR1c0NvbnRleHQ1MTQ3Njk2Nzcy\",\"state\":\"success\",\"description\":\"Your change works\",\"target_url\":null,\"context\":\"continuous-integration/fake-ci\",\"created_at\":\"2018-06-28T21:41:11Z\",\"updated_at\":\"2018-06-28T21:41:11Z\",\"creator\":{\"login\":\"mergify-test1\",\"id\":38494943,\"node_id\":\"MDQ6VXNlcjM4NDk0OTQz\",\"avatar_url\":\"https://avatars3.githubusercontent.com/u/38494943?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test1\",\"html_url\":\"https://github.com/mergify-test1\",\"followers_url\":\"https://api.github.com/users/mergify-test1/followers\",\"following_url\":\"https://api.github.com/users/mergify-test1/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test1/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test1/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test1/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test1/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test1/repos\",\"events_url\":\"https://api.github.com/users/mergify-test1/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test1/received_events\",\"type\":\"User\",\"site_admin\":false}}", "encoding": "utf-8"}}, "request": {"headers": {"Content-Type": ["application/json"], "Authorization": ["token <MAIN_TOKEN>"]}, "uri": "https://api.github.com:443/repos/mergify-test1/repo-1c85e94c-116a-4883-87e8-bba861ab7bdb-test_disabling_label/statuses/4b82346f1b9cd8048f9fff1223c89bad8094e1f7", "method": "POST", "body": {"string": "{\"context\": \"continuous-integration/fake-ci\", \"description\": \"Your change works\", \"state\": \"success\"}", "encoding": "utf-8"}}, "recorded_at": "2018-06-28T21:41:11"}]}