{"http_interactions": [{"recorded_at": "2018-06-17T19:45:30", "request": {"method": "POST", "headers": {"Content-Type": ["application/json"], "Authorization": ["token <MAIN_TOKEN>"]}, "uri": "https://api.github.com:443/repos/mergify-test1/repo-9cb67aab-c829-4a76-b967-96fe69101da7-test_update_branch_disabled/statuses/7a34b058bb80e0182f34c2347b45e795a2928256", "body": {"encoding": "utf-8", "string": "{\"context\": \"continuous-integration/fake-ci\", \"description\": \"Your change works\", \"state\": \"success\"}"}}, "response": {"status": {"message": "Created", "code": 201}, "url": "https://api.github.com:443/repos/mergify-test1/repo-9cb67aab-c829-4a76-b967-96fe69101da7-test_update_branch_disabled/statuses/7a34b058bb80e0182f34c2347b45e795a2928256", "headers": {"X-Accepted-OAuth-Scopes": [""], "X-RateLimit-Remaining": ["4947"], "Status": ["201 Created"], "X-OAuth-Scopes": ["repo"], "Content-Type": ["application/json; charset=utf-8"], "X-GitHub-Media-Type": ["github.machine-man-preview; format=json"], "X-RateLimit-Limit": ["5000"], "X-RateLimit-Reset": ["1529266355"], "ETag": ["\"8a159f3e33b2943a059f607cb2d2008d\""], "Location": ["https://api.github.com/repos/mergify-test1/repo-9cb67aab-c829-4a76-b967-96fe69101da7-test_update_branch_disabled/statuses/7a34b058bb80e0182f34c2347b45e795a2928256"]}, "body": {"encoding": "utf-8", "string": "{\"url\":\"https://api.github.com/repos/mergify-test1/repo-9cb67aab-c829-4a76-b967-96fe69101da7-test_update_branch_disabled/statuses/7a34b058bb80e0182f34c2347b45e795a2928256\",\"id\":5094075473,\"node_id\":\"MDEzOlN0YXR1c0NvbnRleHQ1MDk0MDc1NDcz\",\"state\":\"success\",\"description\":\"Your change works\",\"target_url\":null,\"context\":\"continuous-integration/fake-ci\",\"created_at\":\"2018-06-17T19:45:30Z\",\"updated_at\":\"2018-06-17T19:45:30Z\",\"creator\":{\"login\":\"mergify-test1\",\"id\":38494943,\"node_id\":\"MDQ6VXNlcjM4NDk0OTQz\",\"avatar_url\":\"https://avatars3.githubusercontent.com/u/38494943?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test1\",\"html_url\":\"https://github.com/mergify-test1\",\"followers_url\":\"https://api.github.com/users/mergify-test1/followers\",\"following_url\":\"https://api.github.com/users/mergify-test1/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test1/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test1/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test1/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test1/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test1/repos\",\"events_url\":\"https://api.github.com/users/mergify-test1/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test1/received_events\",\"type\":\"User\",\"site_admin\":false}}"}}}], "recorded_with": "betamax/0.8.1"}