{"http_interactions": [{"response": {"body": {"string": "{\"url\":\"https://api.github.com/repos/mergify-test1/repo-172bb862-b2f9-4240-9a98-b7cd4f61dddf-test_update_branch_disabled/statuses/d779eecc581c4b56cc15df49f7dbae78cb9c775c\",\"id\":5112500133,\"node_id\":\"MDEzOlN0YXR1c0NvbnRleHQ1MTEyNTAwMTMz\",\"state\":\"success\",\"description\":\"Your change works\",\"target_url\":null,\"context\":\"continuous-integration/fake-ci\",\"created_at\":\"2018-06-21T07:55:27Z\",\"updated_at\":\"2018-06-21T07:55:27Z\",\"creator\":{\"login\":\"mergify-test1\",\"id\":38494943,\"node_id\":\"MDQ6VXNlcjM4NDk0OTQz\",\"avatar_url\":\"https://avatars3.githubusercontent.com/u/38494943?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test1\",\"html_url\":\"https://github.com/mergify-test1\",\"followers_url\":\"https://api.github.com/users/mergify-test1/followers\",\"following_url\":\"https://api.github.com/users/mergify-test1/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test1/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test1/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test1/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test1/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test1/repos\",\"events_url\":\"https://api.github.com/users/mergify-test1/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test1/received_events\",\"type\":\"User\",\"site_admin\":false}}", "encoding": "utf-8"}, "status": {"code": 201, "message": "Created"}, "url": "https://api.github.com:443/repos/mergify-test1/repo-172bb862-b2f9-4240-9a98-b7cd4f61dddf-test_update_branch_disabled/statuses/d779eecc581c4b56cc15df49f7dbae78cb9c775c", "headers": {"Location": ["https://api.github.com/repos/mergify-test1/repo-172bb862-b2f9-4240-9a98-b7cd4f61dddf-test_update_branch_disabled/statuses/d779eecc581c4b56cc15df49f7dbae78cb9c775c"], "X-Accepted-OAuth-Scopes": [""], "Status": ["201 Created"], "ETag": ["\"5f7e83227aae2bf05e1d8dfaa9469552\""], "X-RateLimit-Reset": ["1529569015"], "X-OAuth-Scopes": ["repo"], "X-RateLimit-Remaining": ["4860"], "X-GitHub-Media-Type": ["github.machine-man-preview; format=json"], "X-RateLimit-Limit": ["5000"], "Content-Type": ["application/json; charset=utf-8"]}}, "request": {"body": {"string": "{\"state\": \"success\", \"description\": \"Your change works\", \"context\": \"continuous-integration/fake-ci\"}", "encoding": "utf-8"}, "uri": "https://api.github.com:443/repos/mergify-test1/repo-172bb862-b2f9-4240-9a98-b7cd4f61dddf-test_update_branch_disabled/statuses/d779eecc581c4b56cc15df49f7dbae78cb9c775c", "method": "POST", "headers": {"Content-Type": ["application/json"], "Authorization": ["token <MAIN_TOKEN>"]}}, "recorded_at": "2018-06-21T07:55:27"}], "recorded_with": "betamax/0.8.1"}