{"recorded_with": "betamax/0.8.1", "http_interactions": [{"recorded_at": "2018-06-24T15:53:25", "request": {"headers": {"Authorization": ["token <MAIN_TOKEN>"], "Content-Type": ["application/json"]}, "uri": "https://api.github.com:443/repos/mergify-test1/repo-e283fb8d-b610-4de5-b4e9-a0846dbf2a25-test_update_branch_disabled/statuses/1980001f96cbe0595226d18be4c2b3763e2ebba2", "method": "POST", "body": {"string": "{\"context\": \"continuous-integration/fake-ci\", \"state\": \"success\", \"description\": \"Your change works\"}", "encoding": "utf-8"}}, "response": {"headers": {"X-GitHub-Media-Type": ["github.machine-man-preview; format=json"], "X-Accepted-OAuth-Scopes": [""], "Location": ["https://api.github.com/repos/mergify-test1/repo-e283fb8d-b610-4de5-b4e9-a0846dbf2a25-test_update_branch_disabled/statuses/1980001f96cbe0595226d18be4c2b3763e2ebba2"], "X-RateLimit-Limit": ["5000"], "X-RateLimit-Remaining": ["4968"], "Content-Type": ["application/json; charset=utf-8"], "ETag": ["\"ad25e2ecf4df698c1820d0accf6faca6\""], "Status": ["201 Created"], "X-OAuth-Scopes": ["repo"], "X-RateLimit-Reset": ["1529858954"]}, "url": "https://api.github.com:443/repos/mergify-test1/repo-e283fb8d-b610-4de5-b4e9-a0846dbf2a25-test_update_branch_disabled/statuses/1980001f96cbe0595226d18be4c2b3763e2ebba2", "status": {"message": "Created", "code": 201}, "body": {"string": "{\"url\":\"https://api.github.com/repos/mergify-test1/repo-e283fb8d-b610-4de5-b4e9-a0846dbf2a25-test_update_branch_disabled/statuses/1980001f96cbe0595226d18be4c2b3763e2ebba2\",\"id\":5124315949,\"node_id\":\"MDEzOlN0YXR1c0NvbnRleHQ1MTI0MzE1OTQ5\",\"state\":\"success\",\"description\":\"Your change works\",\"target_url\":null,\"context\":\"continuous-integration/fake-ci\",\"created_at\":\"2018-06-24T15:53:25Z\",\"updated_at\":\"2018-06-24T15:53:25Z\",\"creator\":{\"login\":\"mergify-test1\",\"id\":38494943,\"node_id\":\"MDQ6VXNlcjM4NDk0OTQz\",\"avatar_url\":\"https://avatars3.githubusercontent.com/u/38494943?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test1\",\"html_url\":\"https://github.com/mergify-test1\",\"followers_url\":\"https://api.github.com/users/mergify-test1/followers\",\"following_url\":\"https://api.github.com/users/mergify-test1/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test1/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test1/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test1/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test1/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test1/repos\",\"events_url\":\"https://api.github.com/users/mergify-test1/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test1/received_events\",\"type\":\"User\",\"site_admin\":false}}", "encoding": "utf-8"}}}, [...]
