{"recorded_with": "betamax/0.8.1", "http_interactions": [{"recorded_at": "2018-06-24T15:53:15", "request": {"headers": {"Authorization": ["token <FORK_TOKEN>"], "Content-Type": ["application/json"]}, "uri": "https://api.github.com:443/repos/mergify-test1/repo-e283fb8d-b610-4de5-b4e9-a0846dbf2a25-test_update_branch_disabled/pulls", "method": "POST", "body": {"string": "{\"head\": \"mergify-test2:fork/pr2\", \"title\": \"Pull request n2 from fork\", \"base\": \"nostrict\", \"body\": \"Pull request n2 from fork\"}", "encoding": "utf-8"}}, "response": {"headers": {"X-GitHub-Media-Type": ["github.v3; format=json"], "X-Accepted-OAuth-Scopes": [""], "Location": ["https://api.github.com/repos/mergify-test1/repo-e283fb8d-b610-4de5-b4e9-a0846dbf2a25-test_update_branch_disabled/pulls/2"], "X-RateLimit-Limit": ["5000"], "X-RateLimit-Remaining": ["4988"], "Content-Type": ["application/json; charset=utf-8"], "ETag": ["\"45c1d19f3ca4701c95b2401f72021853\""], "Status": ["201 Created"], "X-OAuth-Scopes": ["repo"], "X-RateLimit-Reset": ["1529858954"]}, "url": "https://api.github.com:443/repos/mergify-test1/repo-e283fb8d-b610-4de5-b4e9-a0846dbf2a25-test_update_branch_disabled/pulls", "status": {"message": "Created", "code": 201}, "body": {"string": "{\"url\":\"https://api.github.com/repos/mergify-test1/repo-e283fb8d-b610-4de5-b4e9-a0846dbf2a25-test_update_branch_disabled/pulls/2\",\"id\":196956303,\"node_id\":\"MDExOlB1bGxSZXF1ZXN0MTk2OTU2MzAz\",\"html_url\":\"https://github.com/mergify-test1/repo-e283fb8d-b610-4de5-b4e9-a0846dbf2a25-test_update_branch_disabled/pull/2\",\"diff_url\":\"https://github.com/mergify-test1/repo-e283fb8d-b610-4de5-b4e9-a0846dbf2a25-test_update_branch_disabled/pull/2.diff\",\"patch_url\":\"https://github.com/mergify-test1/repo-e283fb8d-b610-4de5-b4e9-a0846dbf2a25-test_update_branch_disabled/pull/2.patch\",\"issue_url\":\"https://api.github.com/repos/mergify-test1/repo-e283fb8d-b610-4de5-b4e9-a0846dbf2a25-test_update_branch_disabled/issues/2\",\"number\":2,\"state\":\"open\",\"locked\":false,\"title\":\"Pull request n2 from fork\",\"user\":{\"login\":\"mergify-test2\",\"id\":38495008,\"node_id\":\"MDQ6VXNlcjM4NDk1MDA4\",\"avatar_url\":\"https://avatars1.githubusercontent.com/u/38495008?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test2\",\"html_url\":\"https://github.com/mergify-test2\",\"followers_url\":\"https://api.github.com/users/mergify-test2/followers\",\"following_url\":\"https://api.github.com/users/mergify-test2/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test2/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test2/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test2/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test2/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test2/repos\",\"events_url\":\"https://api.github.com/users/mergify-test2/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test2/received_events\",\"type\":\"User\",\"site_admin\":false},\"body\":\"Pull request n2 from fork\",\"created_at\":\"2018-06-24T15:53:15Z\",\"updated_at\":\"2018-06-24T15:53:15Z\",\"closed_at\":null,\"merged_at\":null,\"merge_commit_sha\":null,\"assignee\":null,\"assignees\":[],\"requested_reviewers\":[],\"requested_teams\":[],\"labels\":[],\"milestone\":null,\"commits_url\":\"https://api.github.com/repos/mergify-test1/repo-e283fb8d-b610-4de5-b4e9-a0846dbf2a25-test_update_branch_disabled/pulls/2/commits\",\"review_comments_url\":\"https://api.github.com/repos/mergify-test1/repo-e283fb8d-b610-4de5-b4e9-a0846dbf2a25-test_update_branch_disabled/pulls/2/comments\",\"review_comment_url\":\"https://api.github.com/repos/mergify-test1/repo-e283fb8d-b610-4de5-b4e9-a0846dbf2a25-test_update_branch_disabled/pulls/comments{/number}\",\"comments_url\":\"https://api.github.com/repos/mergify-test1/repo-e283fb8d-b610-4de5-b4e9-a0846dbf2a25-test_update_branch_disabled/issues/2/comments\",\"statuses_url\":\"https://api.github.com/repos/mergify-test1/repo-e283fb8d-b610-4de5-b4e9-a0846dbf2a25-test_update_branch_disabled/statuses/1980001f96cbe0595226d18be4c2b3763e2ebba2\",\"head\":{\"label\":\"mergify-test2:fork/pr2\",\"ref\":\"fork/pr2\",\"sha\":\"1980001f96cbe0595226d18be4c2b3763e2ebba2\",\"user\":{\"login\":\"mergify-test2\",\"id\":38495008,\"node_id\":\"MDQ6VXNlcjM4NDk1MDA4\",\"avatar_url\":\"https://avatars1.githubusercontent.com/u/38495008?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test2\",\"html_url\":\"https://github.com/mergify-test2\",\"followers_url\":\"https://api.github.com/users/mergify-test2/followers\",\"following_url\":\"https://api.github.com/users/mergify-test2/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test2/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test2/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test2/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test2/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test2/repos\",\"events_url\":\"https://api.github.com/users/mergify-test2/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test2/received_events\",\"type\":\"User\",\"site_admin\":false},\"repo\":{\"id\":138495124,\"node_id\":\"MDEwOlJlcG9zaXRvcnkxMzg0OTUxMjQ=\",\"name\":\"repo-e283fb8d-b610-4de5-b4e9-a0846dbf2a25-test_update_branch_disabled\",\"full_name\":\"mergify-test2/repo-e283fb8d-b610-4de5-b4e9-a0846dbf2a25-test_update_branch_disabled\",\"owner\":{\"login\":\"mergify-test2\",\"id\":38495008,\"node_id\":\"MDQ6VXNlcjM4NDk1MDA4\",\"avatar_url\":\"https://avatars1.githubusercontent.com/u/38495008?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test2\",\"html_url\":\"https://github.com/mergify-test2\",\"followers_url\":\"https://api.github.com/users/mergify-test2/followers\",\"following_url\":\"https://api.github.com/users/mergify-test2/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test2/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test2/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test2/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test2/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test2/repos\",\"events_url\":\"https://api.github.com/users/mergify-test2/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test2/received_events\",\"type\":\"User\",\"site_admin\":false},\"private\":false,\"html_url\":\"https://github.com/mergify-test2/repo-e283fb8d-b610-4de5-b4e9-a0846dbf2a25-test_update_branch_disabled\",\"description\":null,\"fork\":true,\"url\":\"https://api.github.com/repos/mergify-test2/repo-e283fb8d-b610-4de5-b4e9-a0846dbf2a25-test_update_branch_disabled\",\"forks_url\":\"https://api.github.com/repos/mergify-test2/repo-e283fb8d-b610-4de5-b4e9-a0846dbf2a25-test_update_branch_disabled/forks\",\"keys_url\":\"https://api.github.com/repos/mergify-test2/repo-e283fb8d-b610-4de5-b4e9-a0846dbf2a25-test_update_branch_disabled/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/mergify-test2/repo-e283fb8d-b610-4de5-b4e9-a0846dbf2a25-test_update_branch_disabled/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/mergify-test2/repo-e283fb8d-b610-4de5-b4e9-a0846dbf2a25-test_update_branch_disabled/teams\",\"hooks_url\":\"https://api.github.com/repos/mergify-test2/repo-e283fb8d-b610-4de5-b4e9-a0846dbf2a25-test_update_branch_disabled/hooks\",\"issue_events_url\":\"https://api.github.com/repos/mergify-test2/repo-e283fb8d-b610-4de5-b4e9-a0846dbf2a25-test_update_branch_disabled/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/mergify-test2/repo-e283fb8d-b610-4de5-b4e9-a0846dbf2a25-test_update_branch_disabled/events\",\"assignees_url\":\"https://api.github.com/repos/mergify-test2/repo-e283fb8d-b610-4de5-b4e9-a0846dbf2a25-test_update_branch_disabled/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/mergify-test2/repo-e283fb8d-b610-4de5-b4e9-a0846dbf2a25-test_update_branch_disabled/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/mergify-test2/repo-e283fb8d-b610-4de5-b4e9-a0846dbf2a25-test_update_branch_disabled/tags\",\"blobs_url\":\"https://api.github.com/repos/mergify-test2/repo-e283fb8d-b610-4de5-b4e9-a0846dbf2a25-test_update_branch_disabled/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/mergify-test2/repo-e283fb8d-b610-4de5-b4e9-a0846dbf2a25-test_update_branch_disabled/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/mergify-test2/repo-e283fb8d-b610-4de5-b4e9-a0846dbf2a25-test_update_branch_disabled/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/mergify-test2/repo-e283fb8d-b610-4de5-b4e9-a0846dbf2a25-test_update_branch_disabled/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/mergify-test2/repo-e283fb8d-b610-4de5-b4e9-a0846dbf2a25-test_update_branch_disabled/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/mergify-test2/repo-e283fb8d-b610-4de5-b4e9-a0846dbf2a25-test_update_branch_disabled/languages\",\"stargazers_url\":\"https://api.github.com/repos/mergify-test2/repo-e283fb8d-b610-4de5-b4e9-a0846dbf2a25-test_update_branch_disabled/stargazers\",\"contributors_url\":\"https://api.github.com/repos/mergify-test2/repo-e283fb8d-b610-4de5-b4e9-a0846dbf2a25-test_update_branch_disabled/contributors\",\"subscribers_url\":\"https://api.github.com/repos/mergify-test2/repo-e283fb8d-b610-4de5-b4e9-a0846dbf2a25-test_update_branch_disabled/subscribers\",\"subscription_url\":\"https://api.github.com/repos/mergify-test2/repo-e283fb8d-b610-4de5-b4e9-a0846dbf2a25-test_update_branch_disabled/subscription\",\"commits_url\":\"https://api.github.com/repos/mergify-test2/repo-e283fb8d-b610-4de5-b4e9-a0846dbf2a25-test_update_branch_disabled/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/mergify-test2/repo-e283fb8d-b610-4de5-b4e9-a0846dbf2a25-test_update_branch_disabled/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/mergify-test2/repo-e283fb8d-b610-4de5-b4e9-a0846dbf2a25-test_update_branch_disabled/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/mergify-test2/repo-e283fb8d-b610-4de5-b4e9-a0846dbf2a25-test_update_branch_disabled/issues/comments{/number}\",\"contents_url\":\"https://api.github.com/repos/mergify-test2/repo-e283fb8d-b610-4de5-b4e9-a0846dbf2a25-test_update_branch_disabled/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/mergify-test2/repo-e283fb8d-b610-4de5-b4e9-a0846dbf2a25-test_update_branch_disabled/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/mergify-test2/repo-e283fb8d-b610-4de5-b4e9-a0846dbf2a25-test_update_branch_disabled/merges\",\"archive_url\":\"https://api.github.com/repos/mergify-test2/repo-e283fb8d-b610-4de5-b4e9-a0846dbf2a25-test_update_branch_disabled/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/mergify-test2/repo-e283fb8d-b610-4de5-b4e9-a0846dbf2a25-test_update_branch_disabled/downloads\",\"issues_url\":\"https://api.github.com/repos/mergify-test2/repo-e283fb8d-b610-4de5-b4e9-a0846dbf2a25-test_update_branch_disabled/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/mergify-test2/repo-e283fb8d-b610-4de5-b4e9-a0846dbf2a25-test_update_branch_disabled/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/mergify-test2/repo-e283fb8d-b610-4de5-b4e9-a0846dbf2a25-test_update_branch_disabled/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/mergify-test2/repo-e283fb8d-b610-4de5-b4e9-a0846dbf2a25-test_update_branch_disabled/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/mergify-test2/repo-e283fb8d-b610-4de5-b4e9-a0846dbf2a25-test_update_branch_disabled/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/mergify-test2/repo-e283fb8d-b610-4de5-b4e9-a0846dbf2a25-test_update_branch_disabled/releases{/id}\",\"deployments_url\":\"https://api.github.com/repos/mergify-test2/repo-e283fb8d-b610-4de5-b4e9-a0846dbf2a25-test_update_branch_disabled/deployments\",\"created_at\":\"2018-06-24T15:52:59Z\",\"updated_at\":\"2018-06-24T15:53:01Z\",\"pushed_at\":\"2018-06-24T15:53:14Z\",\"git_url\":\"git://github.com/mergify-test2/repo-e283fb8d-b610-4de5-b4e9-a0846dbf2a25-test_update_branch_disabled.git\",\"ssh_url\":\"git@github.com:mergify-test2/repo-e283fb8d-b610-4de5-b4e9-a0846dbf2a25-test_update_branch_disabled.git\",\"clone_url\":\"https://github.com/mergify-test2/repo-e283fb8d-b610-4de5-b4e9-a0846dbf2a25-test_update_branch_disabled.git\",\"svn_url\":\"https://github.com/mergify-test2/repo-e283fb8d-b610-4de5-b4e9-a0846dbf2a25-test_update_branch_disabled\",\"homepage\":null,\"size\":0,\"stargazers_count\":0,\"watchers_count\":0,\"language\":null,\"has_issues\":false,\"has_projects\":true,\"has_downloads\":true,\"has_wiki\":true,\"has_pages\":false,\"forks_count\":0,\"mirror_url\":null,\"archived\":false,\"open_issues_count\":0,\"license\":null,\"forks\":0,\"open_issues\":0,\"watchers\":0,\"default_branch\":\"master\"}},\"base\":{\"label\":\"mergify-test1:nostrict\",\"ref\":\"nostrict\",\"sha\":\"7c32bfb99db4a449d962496aaa7d29cb9f676ea2\",\"user\":{\"login\":\"mergify-test1\",\"id\":38494943,\"node_id\":\"MDQ6VXNlcjM4NDk0OTQz\",\"avatar_url\":\"https://avatars3.githubusercontent.com/u/38494943?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test1\",\"html_url\":\"https://github.com/mergify-test1\",\"followers_url\":\"https://api.github.com/users/mergify-test1/followers\",\[...]
[...]
