{"recorded_with": "betamax/0.8.1", "http_interactions": [{"request": {"body": {"string": "{\"context\": \"continuous-integration/fake-ci\", \"description\": \"Your change works\", \"state\": \"success\"}", "encoding": "utf-8"}, "uri": "https://api.github.com:443/repos/mergify-test1/repo-a63ca4ca-be96-434c-b0d6-95b718611bcd-test_update_branch_disabled/statuses/4cf8790bee618300a47ed7664df1e91c0304c5e3", "method": "POST", "headers": {"Authorization": ["token <MAIN_TOKEN>"], "Content-Type": ["application/json"]}}, "response": {"status": {"message": "Created", "code": 201}, "body": {"string": "{\"url\":\"https://api.github.com/repos/mergify-test1/repo-a63ca4ca-be96-434c-b0d6-95b718611bcd-test_update_branch_disabled/statuses/4cf8790bee618300a47ed7664df1e91c0304c5e3\",\"id\":5123469655,\"node_id\":\"MDEzOlN0YXR1c0NvbnRleHQ1MTIzNDY5NjU1\",\"state\":\"success\",\"description\":\"Your change works\",\"target_url\":null,\"context\":\"continuous-integration/fake-ci\",\"created_at\":\"2018-06-23T21:57:16Z\",\"updated_at\":\"2018-06-23T21:57:16Z\",\"creator\":{\"login\":\"mergify-test1\",\"id\":38494943,\"node_id\":\"MDQ6VXNlcjM4NDk0OTQz\",\"avatar_url\":\"https://avatars3.githubusercontent.com/u/38494943?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test1\",\"html_url\":\"https://github.com/mergify-test1\",\"followers_url\":\"https://api.github.com/users/mergify-test1/followers\",\"following_url\":\"https://api.github.com/users/mergify-test1/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test1/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test1/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test1/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test1/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test1/repos\",\"events_url\":\"https://api.github.com/users/mergify-test1/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test1/received_events\",\"type\":\"User\",\"site_admin\":false}}", "encoding": "utf-8"}, "url": "https://api.github.com:443/repos/mergify-test1/repo-a63ca4ca-be96-434c-b0d6-95b718611bcd-test_update_branch_disabled/statuses/4cf8790bee618300a47ed7664df1e91c0304c5e3", "headers": {"X-RateLimit-Reset": ["1529794599"], "X-Accepted-OAuth-Scopes": [""], "X-RateLimit-Remaining": ["4992"], "ETag": ["\"c82305a717f0b336cf8487274fc03c2e\""], "Location": ["https://api.github.com/repos/mergify-test1/repo-a63ca4ca-be96-434c-b0d6-95b718611bcd-test_update_branch_disabled/statuses/4cf8790bee618300a47ed7664df1e91c0304c5e3"], "X-GitHub-Media-Type": ["github.machine-man-preview; format=json"], "Status": ["201 Created"], "Content-Type": ["application/json; charset=utf-8"], "X-OAuth-Scopes": ["repo"], "X-RateLimit-Limit": ["5000"]}}, "recorded_at": "2018-06-23T21:57:16"}]}