{"http_interactions": [{"request": {"uri": "https://api.github.com:443/repos/mergify-test1/repo-e283fb8d-b610-4de5-b4e9-a0846dbf2a25-test_update_branch_disabled/statuses/f695bf0e44c693b56ed671bf5f6ebfe46dd5387e", "body": {"string": "{\"context\": \"continuous-integration/fake-ci\", \"state\": \"success\", \"description\": \"Your change works\"}", "encoding": "utf-8"}, "method": "POST", "headers": {"Content-Type": ["application/json"], "Authorization": ["token <MAIN_TOKEN>"]}}, "recorded_at": "2018-06-24T15:53:23", "response": {"status": {"message": "Created", "code": 201}, "url": "https://api.github.com:443/repos/mergify-test1/repo-e283fb8d-b610-4de5-b4e9-a0846dbf2a25-test_update_branch_disabled/statuses/f695bf0e44c693b56ed671bf5f6ebfe46dd5387e", "body": {"string": "{\"url\":\"https://api.github.com/repos/mergify-test1/repo-e283fb8d-b610-4de5-b4e9-a0846dbf2a25-test_update_branch_disabled/statuses/f695bf0e44c693b56ed671bf5f6ebfe46dd5387e\",\"id\":5124315895,\"node_id\":\"MDEzOlN0YXR1c0NvbnRleHQ1MTI0MzE1ODk1\",\"state\":\"success\",\"description\":\"Your change works\",\"target_url\":null,\"context\":\"continuous-integration/fake-ci\",\"created_at\":\"2018-06-24T15:53:23Z\",\"updated_at\":\"2018-06-24T15:53:23Z\",\"creator\":{\"login\":\"mergify-test1\",\"id\":38494943,\"node_id\":\"MDQ6VXNlcjM4NDk0OTQz\",\"avatar_url\":\"https://avatars3.githubusercontent.com/u/38494943?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test1\",\"html_url\":\"https://github.com/mergify-test1\",\"followers_url\":\"https://api.github.com/users/mergify-test1/followers\",\"following_url\":\"https://api.github.com/users/mergify-test1/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test1/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test1/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test1/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test1/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test1/repos\",\"events_url\":\"https://api.github.com/users/mergify-test1/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test1/received_events\",\"type\":\"User\",\"site_admin\":false}}", "encoding": "utf-8"}, "headers": {"X-RateLimit-Remaining": ["4969"], "X-OAuth-Scopes": ["repo"], "X-Accepted-OAuth-Scopes": [""], "X-GitHub-Media-Type": ["github.machine-man-preview; format=json"], "Location": ["https://api.github.com/repos/mergify-test1/repo-e283fb8d-b610-4de5-b4e9-a0846dbf2a25-test_update_branch_disabled/statuses/f695bf0e44c693b56ed671bf5f6ebfe46dd5387e"], "X-RateLimit-Limit": ["5000"], "Content-Type": ["application/json; charset=utf-8"], "ETag": ["\"b86ff39e77f05875df741a58c95b76b0\""], "X-RateLimit-Reset": ["1529858954"], "Status": ["201 Created"]}}}, [...]
