{"http_interactions": [{"recorded_at": "2018-06-17T19:45:16", "request": {"method": "POST", "headers": {"Content-Type": ["application/json"], "Authorization": ["token <FORK_TOKEN>"]}, "uri": "https://api.github.com:443/repos/mergify-test1/repo-9cb67aab-c829-4a76-b967-96fe69101da7-test_update_branch_disabled/pulls", "body": {"encoding": "utf-8", "string": "{\"base\": \"nostrict\", \"title\": \"Pull request n1 from fork\", \"head\": \"mergify-test2:fork/pr1\", \"body\": \"Pull request n1 from fork\"}"}}, "response": {"status": {"message": "Created", "code": 201}, "url": "https://api.github.com:443/repos/mergify-test1/repo-9cb67aab-c829-4a76-b967-96fe69101da7-test_update_branch_disabled/pulls", "headers": {"X-Accepted-OAuth-Scopes": [""], "X-RateLimit-Remaining": ["4977"], "Status": ["201 Created"], "X-OAuth-Scopes": ["repo"], "Content-Type": ["application/json; charset=utf-8"], "X-GitHub-Media-Type": ["github.v3; format=json"], "X-RateLimit-Limit": ["5000"], "X-RateLimit-Reset": ["1529266355"], "ETag": ["\"1c3d5ff89f93659794e3fd858f66f62a\""], "Location": ["https://api.github.com/repos/mergify-test1/repo-9cb67aab-c829-4a76-b967-96fe69101da7-test_update_branch_disabled/pulls/1"]}, "body": {"encoding": "utf-8", "string": "{\"url\":\"https://api.github.com/repos/mergify-test1/repo-9cb67aab-c829-4a76-b967-96fe69101da7-test_update_branch_disabled/pulls/1\",\"id\":195392211,\"node_id\":\"MDExOlB1bGxSZXF1ZXN0MTk1MzkyMjEx\",\"html_url\":\"https://github.com/mergify-test1/repo-9cb67aab-c829-4a76-b967-96fe69101da7-test_update_branch_disabled/pull/1\",\"diff_url\":\"https://github.com/mergify-test1/repo-9cb67aab-c829-4a76-b967-96fe69101da7-test_update_branch_disabled/pull/1.diff\",\"patch_url\":\"https://github.com/mergify-test1/repo-9cb67aab-c829-4a76-b967-96fe69101da7-test_update_branch_disabled/pull/1.patch\",\"issue_url\":\"https://api.github.com/repos/mergify-test1/repo-9cb67aab-c829-4a76-b967-96fe69101da7-test_update_branch_disabled/issues/1\",\"number\":1,\"state\":\"open\",\"locked\":false,\"title\":\"Pull request n1 from fork\",\"user\":{\"login\":\"mergify-test2\",\"id\":38495008,\"node_id\":\"MDQ6VXNlcjM4NDk1MDA4\",\"avatar_url\":\"https://avatars1.githubusercontent.com/u/38495008?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test2\",\"html_url\":\"https://github.com/mergify-test2\",\"followers_url\":\"https://api.github.com/users/mergify-test2/followers\",\"following_url\":\"https://api.github.com/users/mergify-test2/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test2/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test2/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test2/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test2/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test2/repos\",\"events_url\":\"https://api.github.com/users/mergify-test2/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test2/received_events\",\"type\":\"User\",\"site_admin\":false},\"body\":\"Pull request n1 from fork\",\"created_at\":\"2018-06-17T19:45:15Z\",\"updated_at\":\"2018-06-17T19:45:15Z\",\"closed_at\":null,\"merged_at\":null,\"merge_commit_sha\":null,\"assignee\":null,\"assignees\":[],\"requested_reviewers\":[],\"requested_teams\":[],\"labels\":[],\"milestone\":null,\"commits_url\":\"https://api.github.com/repos/mergify-test1/repo-9cb67aab-c829-4a76-b967-96fe69101da7-test_update_branch_disabled/pulls/1/commits\",\"review_comments_url\":\"https://api.github.com/repos/mergify-test1/repo-9cb67aab-c829-4a76-b967-96fe69101da7-test_update_branch_disabled/pulls/1/comments\",\"review_comment_url\":\"https://api.github.com/repos/mergify-test1/repo-9cb67aab-c829-4a76-b967-96fe69101da7-test_update_branch_disabled/pulls/comments{/number}\",\"comments_url\":\"https://api.github.com/repos/mergify-test1/repo-9cb67aab-c829-4a76-b967-96fe69101da7-test_update_branch_disabled/issues/1/comments\",\"statuses_url\":\"https://api.github.com/repos/mergify-test1/repo-9cb67aab-c829-4a76-b967-96fe69101da7-test_update_branch_disabled/statuses/7a34b058bb80e0182f34c2347b45e795a2928256\",\"head\":{\"label\":\"mergify-test2:fork/pr1\",\"ref\":\"fork/pr1\",\"sha\":\"7a34b058bb80e0182f34c2347b45e795a2928256\",\"user\":{\"login\":\"mergify-test2\",\"id\":38495008,\"node_id\":\"MDQ6VXNlcjM4NDk1MDA4\",\"avatar_url\":\"https://avatars1.githubusercontent.com/u/38495008?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test2\",\"html_url\":\"https://github.com/mergify-test2\",\"followers_url\":\"https://api.github.com/users/mergify-test2/followers\",\"following_url\":\"https://api.github.com/users/mergify-test2/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test2/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test2/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test2/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test2/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test2/repos\",\"events_url\":\"https://api.github.com/users/mergify-test2/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test2/received_events\",\"type\":\"User\",\"site_admin\":false},\"repo\":{\"id\":137682308,\"node_id\":\"MDEwOlJlcG9zaXRvcnkxMzc2ODIzMDg=\",\"name\":\"repo-9cb67aab-c829-4a76-b967-96fe69101da7-test_update_branch_disabled\",\"full_name\":\"mergify-test2/repo-9cb67aab-c829-4a76-b967-96fe69101da7-test_update_branch_disabled\",\"owner\":{\"login\":\"mergify-test2\",\"id\":38495008,\"node_id\":\"MDQ6VXNlcjM4NDk1MDA4\",\"avatar_url\":\"https://avatars1.githubusercontent.com/u/38495008?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test2\",\"html_url\":\"https://github.com/mergify-test2\",\"followers_url\":\"https://api.github.com/users/mergify-test2/followers\",\"following_url\":\"https://api.github.com/users/mergify-test2/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mergify-test2/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mergify-test2/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mergify-test2/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mergify-test2/orgs\",\"repos_url\":\"https://api.github.com/users/mergify-test2/repos\",\"events_url\":\"https://api.github.com/users/mergify-test2/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mergify-test2/received_events\",\"type\":\"User\",\"site_admin\":false},\"private\":false,\"html_url\":\"https://github.com/mergify-test2/repo-9cb67aab-c829-4a76-b967-96fe69101da7-test_update_branch_disabled\",\"description\":null,\"fork\":true,\"url\":\"https://api.github.com/repos/mergify-test2/repo-9cb67aab-c829-4a76-b967-96fe69101da7-test_update_branch_disabled\",\"forks_url\":\"https://api.github.com/repos/mergify-test2/repo-9cb67aab-c829-4a76-b967-96fe69101da7-test_update_branch_disabled/forks\",\"keys_url\":\"https://api.github.com/repos/mergify-test2/repo-9cb67aab-c829-4a76-b967-96fe69101da7-test_update_branch_disabled/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/mergify-test2/repo-9cb67aab-c829-4a76-b967-96fe69101da7-test_update_branch_disabled/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/mergify-test2/repo-9cb67aab-c829-4a76-b967-96fe69101da7-test_update_branch_disabled/teams\",\"hooks_url\":\"https://api.github.com/repos/mergify-test2/repo-9cb67aab-c829-4a76-b967-96fe69101da7-test_update_branch_disabled/hooks\",\"issue_events_url\":\"https://api.github.com/repos/mergify-test2/repo-9cb67aab-c829-4a76-b967-96fe69101da7-test_update_branch_disabled/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/mergify-test2/repo-9cb67aab-c829-4a76-b967-96fe69101da7-test_update_branch_disabled/events\",\"assignees_url\":\"https://api.github.com/repos/mergify-test2/repo-9cb67aab-c829-4a76-b967-96fe69101da7-test_update_branch_disabled/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/mergify-test2/repo-9cb67aab-c829-4a76-b967-96fe69101da7-test_update_branch_disabled/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/mergify-test2/repo-9cb67aab-c829-4a76-b967-96fe69101da7-test_update_branch_disabled/tags\",\"blobs_url\":\"https://api.github.com/repos/mergify-test2/repo-9cb67aab-c829-4a76-b967-96fe69101da7-test_update_branch_disabled/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/mergify-test2/repo-9cb67aab-c829-4a76-b967-96fe69101da7-test_update_branch_disabled/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/mergify-test2/repo-9cb67aab-c829-4a76-b967-96fe69101da7-test_update_branch_disabled/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/mergify-test2/repo-9cb67aab-c829-4a76-b967-96fe69101da7-test_update_branch_disabled/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/mergify-test2/repo-9cb67aab-c829-4a76-b967-96fe69101da7-test_update_branch_disabled/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/mergify-test2/repo-9cb67aab-c829-4a76-b967-96fe69101da7-test_update_branch_disabled/languages\",\"stargazers_url\":\"https://api.github.com/repos/mergify-test2/repo-9cb67aab-c829-4a76-b967-96fe69101da7-test_update_branch_disabled/stargazers\",\"contributors_url\":\"https://api.github.com/repos/mergify-test2/repo-9cb67aab-c829-4a76-b967-96fe69101da7-test_update_branch_disabled/contributors\",\"subscribers_url\":\"https://api.github.com/repos/mergify-test2/repo-9cb67aab-c829-4a76-b967-96fe69101da7-test_update_branch_disabled/subscribers\",\"subscription_url\":\"https://api.github.com/repos/mergify-test2/repo-9cb67aab-c829-4a76-b967-96fe69101da7-test_update_branch_disabled/subscription\",\"commits_url\":\"https://api.github.com/repos/mergify-test2/repo-9cb67aab-c829-4a76-b967-96fe69101da7-test_update_branch_disabled/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/mergify-test2/repo-9cb67aab-c829-4a76-b967-96fe69101da7-test_update_branch_disabled/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/mergify-test2/repo-9cb67aab-c829-4a76-b967-96fe69101da7-test_update_branch_disabled/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/mergify-test2/repo-9cb67aab-c829-4a76-b967-96fe69101da7-test_update_branch_disabled/issues/comments{/number}\",\"contents_url\":\"https://api.github.com/repos/mergify-test2/repo-9cb67aab-c829-4a76-b967-96fe69101da7-test_update_branch_disabled/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/mergify-test2/repo-9cb67aab-c829-4a76-b967-96fe69101da7-test_update_branch_disabled/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/mergify-test2/repo-9cb67aab-c829-4a76-b967-96fe69101da7-test_update_branch_disabled/merges\",\"archive_url\":\"https://api.github.com/repos/mergify-test2/repo-9cb67aab-c829-4a76-b967-96fe69101da7-test_update_branch_disabled/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/mergify-test2/repo-9cb67aab-c829-4a76-b967-96fe69101da7-test_update_branch_disabled/downloads\",\"issues_url\":\"https://api.github.com/repos/mergify-test2/repo-9cb67aab-c829-4a76-b967-96fe69101da7-test_update_branch_disabled/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/mergify-test2/repo-9cb67aab-c829-4a76-b967-96fe69101da7-test_update_branch_disabled/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/mergify-test2/repo-9cb67aab-c829-4a76-b967-96fe69101da7-test_update_branch_disabled/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/mergify-test2/repo-9cb67aab-c829-4a76-b967-96fe69101da7-test_update_branch_disabled/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/mergify-test2/repo-9cb67aab-c829-4a76-b967-96fe69101da7-test_update_branch_disabled/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/mergify-test2/repo-9cb67aab-c829-4a76-b967-96fe69101da7-test_update_branch_disabled/releases{/id}\",\"deployments_url\":\"https://api.github.com/repos/mergify-test2/repo-9cb67aab-c829-4a76-b967-96fe69101da7-test_update_branch_disabled/deployments\",\"created_at\":\"2018-06-17T19:45:08Z\",\"updated_at\":\"2018-06-17T19:45:11Z\",\"pushed_at\":\"2018-06-17T19:45:15Z\",\"git_url\":\"git://github.com/mergify-test2/repo-9cb67aab-c829-4a76-b967-96fe69101da7-test_update_branch_disabled.git\",\"ssh_url\":\"git@github.com:mergify-test2/repo-9cb67aab-c829-4a76-b967-96fe69101da7-test_update_branch_disabled.git\",\"clone_url\":\"https://github.com/mergify-test2/repo-9cb67aab-c829-4a76-b967-96fe69101da7-test_update_branch_disabled.git\",\"svn_url\":\"https://github.com/mergify-test2/repo-9cb67aab-c829-4a76-b967-96fe69101da7-test_update_branch_disabled\",\"homepage\":null,\"size\":0,\"stargazers_count\":0,\"watchers_count\":0,\"language\":null,\"has_issues\":false,\"has_projects\":true,\"has_downloads\":true,\"has_wiki\":true,\"has_pages\":false,\"forks_count\":0,\"mirror_url\":null,\"archived\":false,\"open_issues_count\":0,\"license\":null,\"forks\":0,\"open_issues\":0,\"watchers\":0,\"default_branch\":\"master\"}},\"base\":{\"label\":\"mergify-test1:nostrict\",\"ref\":\"nostrict\",\"sha\":\"d5b4b0e474908279c1f67921ce49dc1bd774b65a\",\"user\":{\"login\":\"mergify-test1\",\"id\":38494943,\"node_id\":\"MDQ6VXNlcjM4NDk0OTQz\",\"avatar_url\":\"https://avatars3.githubusercontent.com/u/38494943?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mergify-test1\",\"html_url\":\"https://github.com/mergify-test1\",\"followers_url\":\"https://api.github.com/users/mergify-test1/followers\",\[...]
