interactions:
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/user
  response:
    content: '{"login":"mergify-test1","id":38494943,"node_id":"MDQ6VXNlcjM4NDk0OTQz","avatar_url":"https://avatars.githubusercontent.com/u/38494943?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-test1","html_url":"https://github.com/mergify-test1","followers_url":"https://api.github.com/users/mergify-test1/followers","following_url":"https://api.github.com/users/mergify-test1/following{/other_user}","gists_url":"https://api.github.com/users/mergify-test1/gists{/gist_id}","starred_url":"https://api.github.com/users/mergify-test1/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergify-test1/subscriptions","organizations_url":"https://api.github.com/users/mergify-test1/orgs","repos_url":"https://api.github.com/users/mergify-test1/repos","events_url":"https://api.github.com/users/mergify-test1/events{/privacy}","received_events_url":"https://api.github.com/users/mergify-test1/received_events","type":"User","site_admin":false,"name":"mergify-test-user-1","company":"@mergifyio","blog":"https://mergify.io","location":null,"email":null,"hireable":null,"bio":"This
      account is for testing purpose of the workflow of the GitHub App @mergifyio","twitter_username":"mergifyio","public_repos":0,"public_gists":0,"followers":0,"following":0,"created_at":"2018-04-18T10:42:59Z","updated_at":"2021-09-15T15:03:25Z","private_gists":0,"total_private_repos":0,"owned_private_repos":0,"disk_usage":0,"collaborators":0,"two_factor_authentication":false,"plan":{"name":"free","space":976562499,"collaborators":0,"private_repos":10000}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
      X-OAuth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
    status_code: 200
[...]
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/user/40527191/installation
  response:
    content: '{"id":15398551,"account":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"repository_selection":"all","access_tokens_url":"https://api.github.com/app/installations/15398551/access_tokens","repositories_url":"https://api.github.com/installation/repositories","html_url":"https://github.com/organizations/mergifyio-testing/settings/installations/15398551","app_id":11221,"app_slug":"mergify-test","target_id":40527191,"target_type":"Organization","permissions":{"pages":"write","checks":"write","issues":"write","members":"read","contents":"write","metadata":"read","statuses":"read","pull_requests":"write","administration":"read"},"events":["check_run","check_suite","issue_comment","merge_queue_entry","pull_request","pull_request_review","pull_request_review_comment","push","status"],"created_at":"2021-03-15T16:12:17.000Z","updated_at":"2021-09-17T20:31:40.000Z","single_file_name":null,"has_multiple_single_files":false,"single_file_paths":[],"suspended_by":null,"suspended_at":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 200
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: POST
    uri: https://api.github.com/app/installations/15398551/access_tokens
  response:
    content: '{"token": "<TOKEN>", "expires_at": "2021-09-21T13:49:53Z", "permissions":
      {"members": "read", "administration": "read", "checks": "write", "contents":
      "write", "issues": "write", "metadata": "read", "pages": "write", "pull_requests":
      "write", "statuses": "read"}, "repository_selection": "all"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 201
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/repositories/399462964
  response:
    content: '{"id":399462964,"node_id":"MDEwOlJlcG9zaXRvcnkzOTk0NjI5NjQ=","name":"functional-testing-repo-ErwanSimonetti","full_name":"mergifyio-testing/functional-testing-repo-ErwanSimonetti","private":false,"owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/mergifyio-testing/functional-testing-repo-ErwanSimonetti","description":null,"fork":false,"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti","forks_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/forks","keys_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/keys{/key_id}","collaborators_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/teams","hooks_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/hooks","issue_events_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/issues/events{/number}","events_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/events","assignees_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/assignees{/user}","branches_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/branches{/branch}","tags_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/tags","blobs_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/git/refs{/sha}","trees_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/git/trees{/sha}","statuses_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/statuses/{sha}","languages_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/languages","stargazers_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/stargazers","contributors_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/contributors","subscribers_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/subscribers","subscription_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/subscription","commits_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/commits{/sha}","git_commits_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/git/commits{/sha}","comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/comments{/number}","issue_comment_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/issues/comments{/number}","contents_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/contents/{+path}","compare_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/compare/{base}...{head}","merges_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/merges","archive_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/downloads","issues_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/issues{/number}","pulls_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/pulls{/number}","milestones_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/milestones{/number}","notifications_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/labels{/name}","releases_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/releases{/id}","deployments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/deployments","created_at":"2021-08-24T12:50:13Z","updated_at":"2021-09-21T12:47:57Z","pushed_at":"2021-09-21T12:49:38Z","git_url":"git://github.com/mergifyio-testing/functional-testing-repo-ErwanSimonetti.git","ssh_url":"git@github.com:mergifyio-testing/functional-testing-repo-ErwanSimonetti.git","clone_url":"https://github.com/mergifyio-testing/functional-testing-repo-ErwanSimonetti.git","svn_url":"https://github.com/mergifyio-testing/functional-testing-repo-ErwanSimonetti","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":1,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"allow_forking":true,"forks":1,"open_issues":0,"watchers":0,"default_branch":"main","permissions":{"admin":false,"maintain":false,"push":false,"triage":false,"pull":false},"temp_clone_token":"","allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"allow_auto_merge":false,"delete_branch_on_merge":false,"organization":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"network_count":1,"subscribers_count":0}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 200
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: DELETE
    uri: https://test-forwarder.mergify.io/events/github.com/11221/399462964
  response:
    content: Event queued
    headers:
    status_code: 202
- request:
    body: '{"default_branch": "20210921124939/test_invalid_configuration_in_repository/main"}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti
  response:
    content: '{"id":399462964,"node_id":"MDEwOlJlcG9zaXRvcnkzOTk0NjI5NjQ=","name":"functional-testing-repo-ErwanSimonetti","full_name":"mergifyio-testing/functional-testing-repo-ErwanSimonetti","private":false,"owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercon[...]
- request:
    body: '{"base": "20210921124939/test_invalid_configuration_in_repository/main",
      "head": "mergify-test2:20210921124939/test_invalid_configuration_in_repository/fork/pr1",
      "title": "test_invalid_configuration_in_repository: pull request n1 from fork",
      "body": "test_invalid_configuration_in_repository: pull request n1 from fork",
      "draft": false}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/pulls
  response:
    content: '{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/pulls/704","id":738812940,"node_id":"PR_kwDOF89SNM4sCWQM","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-ErwanSimonetti/pull/704","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo-ErwanSimonetti/pull/704.diff","patch_url":"https://github.com/mergifyio-testing/functional-testing-repo-ErwanSimonetti/pull/704.patch","issue_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/issues/704","number":704,"state":"open","locked":false,"title":"test_invalid_configuration_in_repository:
      pull request n1 from fork","user":{"login":"mergify-test2","id":38495008,"node_id":"MDQ6VXNlcjM4NDk1MDA4","avatar_url":"https://avatars.githubusercontent.com/u/38495008?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-test2","html_url":"https://github.com/mergify-test2","followers_url":"https://api.github.com/users/mergify-test2/followers","following_url":"https://api.github.com/users/mergify-test2/following{/other_user}","gists_url":"https://api.github.com/users/mergify-test2/gists{/gist_id}","starred_url":"https://api.github.com/users/mergify-test2/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergify-test2/subscriptions","organizations_url":"https://api.github.com/users/mergify-test2/orgs","repos_url":"https://api.github.com/users/mergify-test2/repos","events_url":"https://api.github.com/users/mergify-test2/events{/privacy}","received_events_url":"https://api.github.com/users/mergify-test2/received_events","type":"User","site_admin":false},"body":"test_invalid_configuration_in_repository:
      pull request n1 from fork","created_at":"2021-09-21T12:50:17Z","updated_at":"2021-09-21T12:50:17Z","closed_at":null,"merged_at":null,"merge_commit_sha":null,"assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/pulls/704/commits","review_comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/pulls/704/comments","review_comment_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/pulls/comments{/number}","comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/issues/704/comments","statuses_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/statuses/958866769d413505417a4ee759a318c2944b01dd","head":{"label":"mergify-test2:20210921124939/test_invalid_configuration_in_repository/fork/pr1","ref":"20210921124939/test_invalid_configuration_in_repository/fork/pr1","sha":"958866769d413505417a4ee759a318c2944b01dd","user":{"login":"mergify-test2","id":38495008,"node_id":"MDQ6VXNlcjM4NDk1MDA4","avatar_url":"https://avatars.githubusercontent.com/u/38495008?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-test2","html_url":"https://github.com/mergify-test2","followers_url":"https://api.github.com/users/mergify-test2/followers","following_url":"https://api.github.com/users/mergify-test2/following{/other_user}","gists_url":"https://api.github.com/users/mergify-test2/gists{/gist_id}","starred_url":"https://api.github.com/users/mergify-test2/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergify-test2/subscriptions","organizations_url":"https://api.github.com/users/mergify-test2/orgs","repos_url":"https://api.github.com/users/mergify-test2/repos","events_url":"https://api.github.com/users/mergify-test2/events{/privacy}","received_events_url":"https://api.github.com/users/mergify-test2/received_events","type":"User","site_admin":false},"repo":{"id":399463576,"node_id":"MDEwOlJlcG9zaXRvcnkzOTk0NjM1NzY=","name":"functional-testing-repo-ErwanSimonetti","full_name":"mergify-test2/functional-testing-repo-ErwanSimonetti","private":false,"owner":{"login":"mergify-test2","id":38495008,"node_id":"MDQ6VXNlcjM4NDk1MDA4","avatar_url":"https://avatars.githubusercontent.com/u/38495008?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-test2","html_url":"https://github.com/mergify-test2","followers_url":"https://api.github.com/users/[...]
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: GET
    uri: https://test-forwarder.mergify.io/events/github.com/11221/399462964?counter=1
  response:
    content: '[{"id":"6f30e236-1ada-11ec-8ee2-a0d94708db02","type":"push","payload":{"ref":"refs/heads/20210921124939/test_invalid_configuration_in_repository/main","before":"0000000000000000000000000000000000000000","after":"aa8a679c6e792890691a9a7a94c6e5777cb86906","repository":{"id":399462964,"node_id":"MDEwOlJlcG9zaXRvcnkzOTk0NjI5NjQ=","name":"functional-testing-repo-ErwanSimonetti","full_name":"mergifyio-testing/functional-testing-repo-ErwanSimonetti","private":false,"owner":{"name":"mergifyio-testing","email":null,"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.c[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/pulls/704
  response:
    content: '{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/pulls/704","id":738812940,"node_id":"PR_kwDOF89SNM4sCWQM","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-ErwanSimonetti/pull/704","diff_url":"https://github.com/mergifyio-testing/functional-testin[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/pulls/704/commits?per_page=100
  response:
    content: '[{"sha":"958866769d413505417a4ee759a318c2944b01dd","node_id":"C_kwDOF89UmNoAKDk1ODg2Njc2OWQ0MTM1MDU0MTdhNGVlNzU5YTMxOGMyOTQ0YjAxZGQ","commit":{"author":{"name":"mergify-tester","email":"noreply@mergify.io","date":"2021-09-21T12:50:09Z"},"committer":{"name":"mergify-tester","email":"noreply@mergify.io","date":"2021-09-21T12:50:09Z"},"message":"test_invalid_configuration_in_repository:
      pull request n1 from fork","tree":{"sha":"527f8e614faf61b030a39fa159259f93da864eaa","url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/git/trees/527f8e614faf61b030a39fa159259f93da864eaa"},"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/git/commits/958866769d413505417a4ee759a318c2944b01dd","comment_count":0,"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}},"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/commits/958866769d413505417a4ee759a318c2944b01dd","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-ErwanSimonetti/commit/958866769d413505417a4ee759a318c2944b01dd","comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/commits/958866769d413505417a4ee759a318c2944b01dd/comments","author":null,"committer":null,"parents":[{"sha":"aa8a679c6e792890691a9a7a94c6e5777cb86906","url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/commits/aa8a679c6e792890691a9a7a94c6e5777cb86906","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-ErwanSimonetti/commit/aa8a679c6e792890691a9a7a94c6e5777cb86906"}]}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
      X-OAuth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
    status_code: 200
[...]
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/pulls?per_page=100
  response:
    content: '[{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/pulls/704","id":738812940,"node_id":"PR_kwDOF89SNM4sCWQM","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-ErwanSimonetti/pull/704","diff_url":"https:/[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repositories/399462964/pulls/704
  response:
    content: '{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/pulls/704","id":738812940,"node_id":"PR_kwDOF89SNM4sCWQM","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-ErwanSimonetti/pull/704","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo-ErwanSimonetti/pull/704.diff","pa[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/contents/.mergify.yml
  response:
    content: '{"name":".mergify.yml","path":".mergify.yml","sha":"582cf6712644cced267a7ddafc38bf247a878e6e","size":52,"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/contents/.mergify.yml?ref=20210921124939/test_invalid_configuration_in_repository/main","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-ErwanSimonetti/blob/20210921124939/test_invalid_configuration_in_repository/main/.mergify.yml","git_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/git/blobs/582cf6712644cced267a7ddafc38bf247a878e6e","download_url":"https://raw.githubusercontent.com/mergifyio-testing/functional-testing-repo-ErwanSimonetti/20210921124939/test_invalid_configuration_in_repository/main/.mergify.yml","type":"file","content":"cHVsbF9yZXF1ZXN0X3J1bGVzOgotIG5hbWU6IGZvb2JhcgogIHdyb25nIGtl\neTogMTIzCg==\n","encoding":"base64","_links":{"self":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/contents/.mergify.yml?ref=20210921124939/test_invalid_configuration_in_repository/main","git":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/git/blobs/582cf6712644cced267a7ddafc38bf247a878e6e","html":"https://github.com/mergifyio-testing/functional-testing-repo-ErwanSimonetti/blob/20210921124939/test_invalid_configuration_in_repository/main/.mergify.yml"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/pulls/704/files?per_page=100
  response:
    content: '[{"sha":"e69de29bb2d1d6434b8b29ae775ad8c2e48c5391","filename":"test1","status":"added","additions":0,"deletions":0,"changes":0,"blob_url":"https://github.com/mergifyio-testing/functional-testing-repo-ErwanSimonetti/blob/958866769d413505417a4ee759a318c2944b01dd/test1","raw_url":"https://github.com/mergifyio-testing/functional-testing-repo-ErwanSimonetti/raw/958866769d413505417a4ee759a318c2944b01dd/test1","contents_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/contents/test1?ref=958866769d413505417a4ee759a318c2944b01dd"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/commits/958866769d413505417a4ee759a318c2944b01dd/check-runs?per_page=100
  response:
    content: '{"total_count":0,"check_runs":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=antiope-preview; format=json
    status_code: 200
- request:
    body: '{"name": "Summary", "head_sha": "958866769d413505417a4ee759a318c2944b01dd",
      "status": "completed", "started_at": "2021-09-21T12:50:22.571237+00:00", "details_url":
      "https://github.com/mergifyio-testing/functional-testing-repo-ErwanSimonetti/pull/704/checks",
      "output": {"title": "The Mergify configuration is invalid", "summary": "* extra
      keys not allowed @ pull_request_rules \u2192 item 0 \u2192 wrong key\n* required
      key not provided @ pull_request_rules \u2192 item 0 \u2192 actions\n* required
      key not provided @ pull_request_rules \u2192 item 0 \u2192 conditions", "annotations":
      []}, "conclusion": "failure", "completed_at": "2021-09-21T12:50:23.698923+00:00"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/check-runs
  response:
    content: "{\"id\":3663338679,\"name\":\"Summary\",\"node_id\":\"CR_kwDOF89SNM7aWhy3\",\"head_sha\":\"958866769d413505417a4ee759a318c2944b01dd\",\"external_id\":\"\",\"url\":\"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-ErwanSimonetti/check-runs/3663338679\",\"html_url\":\"https://github.com/mergifyio-testing/functional-testing-repo-ErwanSimonetti/runs/3663338679\",\"details_url\":\"https://github.com/mergifyio-testing/functional-testing-repo-ErwanSimonetti/pull/704/checks\",\"status\":\"completed\",\"conclusion\":\"failure\",\"started_at\":\"2021-09-21T12:50:22Z\",\"completed_at\":\"2021-09-21T12:50:23Z\",\"output\":{\"title\":\"The
      Mergify configuration is invalid\",\"summary\":\"* extra keys not allowed @
      pull_request_rules \u2192 item 0 \u2192 wrong key\\n* required key not provided
      @ pull_request_rules \u2192 item 0 \u2192 actions\\n* required key not provided
[...]
