.hidden { display: none; }
.error {
    display: none;
    padding: 100px;
    color: red;
}
a.resolved { text-decoration: line-through !important; }
img.avatar {
    margin-right: 2px;
    margin-bottom: 2px;
    border-radius: 3px;
    width: 24px;
    height: 24px;
}
.count-comments {
    font-size: 80%;
}
.good {
    color: green;
}
.bad {
    color: red;
}
.maybe {
    color: orange;
}
.refreshing {
    color: #0099cc;
}

footer {
    font-size: 70%;
}
footer p {
    text-align: center;
}

table.expanded td {
    font-size: 80%;
}
.autorefresh {
    text-align: right;
    width: 100%;
    height: 20px;
    margin-top: -20px;
}
.label-as-badge {
    border-radius: 1em;
}
.group {
    margin-bottom: 5px;
}
.group table.table {
    margin-bottom: 15px;
}

a.closer {
    color: #999;
}
a.closer:hover {
    color: #333;
}

/* minimum widths needed when working with multiple tables */
table.multiple .last-updated {
    width: 110px;
}
table.multiple .reviews {
    padding-right: 3px;
    width: 65px;
}
table.multiple tr.queue{
    text-align: right;
}

table.multiple td.queue{
    text-align: right;
    font-size: 80%;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
table.multiple .milestone,
table.multiple .mergeable,
table.multiple .state {
    width: 35px;
    text-align: center;
}
table.multiple .state a {
    display: block;
    width: 100%;
}

p.table-foot-note {
    text-align: right;
    font-size: 80%;
}

.title a {
    font-weight: normal;
}
p.diff-stats {
    font-weight: bold;
    text-align: right;
    font-size: 80%;
    margin-right: 16px;
}
td.changes a {
    color: black;
}
td.labels strong {
    display: inline-block;
    padding: 3px 4px;
    font-size: 11px;
    font-weight: bold;
    line-height: 1;
    color: white;
    border-radius: 2px;
    box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.12) inset;
}

@font-face{
  font-family:'octicons';
  src:url("/static/fonts/octicons.eot");
  src:url("/static/fonts/octicons.eot#iefix") format("embedded-opentype"),
  url("/static/fonts/octicons.woff") format("woff"),
  url("/static/fonts/octicons.ttf") format("truetype"),
  url("/static/fonts/octicons.svg#octicons") format("svg");
  font-weight:normal;
  font-style:normal
}

/*
.comment-body {
    border-bottom: 1px solid #CCCCCC;
    margin-left: 30px;
    margin-bottom: 6px;
}
*/
.octicon {
    font: 16px/1 octicons;
    display: inline-block;
    text-decoration: none;
}
.octicon-git-pull-request:before{content:'\f009'}
.octicon-comment:before{content:'\f02b'}
.octicon-git-commit:before{content:'\f01f'}
.octicon-x:before{content:'\f081'}
.octicon-x{color:red}
.octicon-check:before{content:'\f03a'}
.octicon-check{color:green}
.octicon-hourglass:before{content:'\f09e'}
.octicon-question:before {content: '\f02c'}
.octicon-diff:before {content: '\f04d' }

.blinking {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@-moz-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
@-webkit-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
@keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

.bs-callout {
    padding: 10px 20px 5px 20px;
    margin: 0 0 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h5 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h5 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h5 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h5 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h5 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h5 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h5 {
    color: #5bc0de;
}
