name: Continuous Integration
on:
  pull_request:
    branches:
      - master

jobs:
  datadog:
    timeout-minutes: 5
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.9.0
      - run: |
          bash -n datadog/prerun.sh
          pip install pyyaml
          python datadog/validate.py

  requirements:
    timeout-minutes: 5
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.9.0
      - run: |
          pip install tox
          tox -e requirements
          tox -e missing-imports
          tox -e genreqs
          git diff --exit-code


  pep8:
    timeout-minutes: 5
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.9.0
      - run: |
          pip install tox
          tox -e pep8

  py39:
    timeout-minutes: 10
    runs-on: ubuntu-20.04
    services:
      redis:
        image: redis:latest
        ports:
        - 6363:6379
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.9.0
      - run: |
          sudo apt install -y redis-server
          pip install tox
          tox -e py39

  docs:
    timeout-minutes: 5
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.9.0
      - run: |
          pip install tox
          tox -e docs
