name: Upload docker image to Docker Hub
permissions: read-all

on:
  push:
    tags:
      - '*'

jobs:
  push_to_registry:
    timeout-minutes: 10
    name: Push Docker image to DockerHub
    runs-on: ubuntu-20.04
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3

      - name: Login to DockerHub
        uses: docker/login-action@v1.14.1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Get tag
        id: tag
        run: echo ::set-output name=value::${GITHUB_REF#refs/*/}

      - name: Push to DockerHub
        uses: docker/build-push-action@v2.10.0
        with:
          push: true
          build-args: |
            MERGIFYENGINE_VERSION=${{ steps.tag.outputs.value }}
          tags: |
            mergifyio/engine:latest
            mergifyio/engine:${{ steps.tag.outputs.value }}
