name: Publish Docker image
permissions: read-all
on:
  push:
    tags:
      - '*'

jobs:
  push_to_registry:
    name: Push Docker image to DockerHub
    runs-on: ubuntu-20.04
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2

      - name: Login to DockerHub
        uses: docker/login-action@v1.9.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Get tag
        id: tag
        run: echo ::set-output name=value::${GITHUB_REF#refs/*/}

      - name: Push to DockerHub
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: |
            mergifyio/engine:latest
            mergifyio/engine:${{ steps.tag.outputs.value }}
