interactions:
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/user
  response:
    content: '{"login":"mergify-test1","id":38494943,"node_id":"MDQ6VXNlcjM4NDk0OTQz","avatar_url":"https://avatars.githubusercontent.com/u/38494943?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-test1","html_url":"https://github.com/mergify-test1","followers_url":"https://api.github.com/users/mergify-test1/followers","following_url":"https://api.github.com/users/mergify-test1/following{/other_user}","gists_url":"https://api.github.com/users/mergify-test1/gists{/gist_id}","starred_url":"https://api.github.com/users/mergify-test1/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergify-test1/subscriptions","organizations_url":"https://api.github.com/users/mergify-test1/orgs","repos_url":"https://api.github.com/users/mergify-test1/repos","events_url":"https://api.github.com/users/mergify-test1/events{/privacy}","received_events_url":"https://api.github.com/users/mergify-test1/received_events","type":"User","site_admin":false,"name":"mergify-test-user-1","company":"@mergifyio","blog":"https://mergify.io","location":null,"email":null,"hireable":null,"bio":"This
      account is for testing purpose of the workflow of the GitHub App @mergifyio","twitter_username":"mergifyio","public_repos":0,"public_gists":0,"followers":0,"following":0,"created_at":"2018-04-18T10:42:59Z","updated_at":"2021-08-16T15:44:31Z","private_gists":0,"total_private_repos":0,"owned_private_repos":0,"disk_usage":0,"collaborators":0,"two_factor_authentication":false,"plan":{"name":"free","space":976562499,"collaborators":0,"private_repos":10000}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
      X-OAuth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
    status_code: 200
[...]
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/user/40527191/installation
  response:
    content: '{"id":15398551,"account":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"repository_selection":"all","access_tokens_url":"https://api.github.com/app/installations/15398551/access_tokens","repositories_url":"https://api.github.com/installation/repositories","html_url":"https://github.com/organizations/mergifyio-testing/settings/installations/15398551","app_id":11221,"app_slug":"mergify-test","target_id":40527191,"target_type":"Organization","permissions":{"pages":"write","checks":"write","issues":"write","members":"read","contents":"write","metadata":"read","statuses":"read","pull_requests":"write"},"events":["check_run","check_suite","issue_comment","pull_request","pull_request_review","pull_request_review_comment","push","status"],"created_at":"2021-03-15T16:12:17.000Z","updated_at":"2021-03-15T16:12:17.000Z","single_file_name":null,"has_multiple_single_files":false,"single_file_paths":[],"suspended_by":null,"suspended_at":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 200
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: POST
    uri: https://api.github.com/app/installations/15398551/access_tokens
  response:
    content: '{"token": "<TOKEN>", "expires_at": "2021-09-15T13:03:19Z", "permissions":
      {"members": "read", "checks": "write", "contents": "write", "issues": "write",
      "metadata": "read", "pages": "write", "pull_requests": "write", "statuses":
      "read"}, "repository_selection": "all"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 201
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/repositories/405117448
  response:
    content: '{"id":405117448,"node_id":"MDEwOlJlcG9zaXRvcnk0MDUxMTc0NDg=","name":"functional-testing-repo-Zerdanes","full_name":"mergifyio-testing/functional-testing-repo-Zerdanes","private":false,"owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/mergifyio-testing/functional-testing-repo-Zerdanes","description":null,"fork":false,"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes","forks_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/forks","keys_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/keys{/key_id}","collaborators_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/teams","hooks_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/hooks","issue_events_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/issues/events{/number}","events_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/events","assignees_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/assignees{/user}","branches_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/branches{/branch}","tags_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/tags","blobs_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/git/refs{/sha}","trees_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/git/trees{/sha}","statuses_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/statuses/{sha}","languages_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/languages","stargazers_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/stargazers","contributors_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/contributors","subscribers_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/subscribers","subscription_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/subscription","commits_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/commits{/sha}","git_commits_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/git/commits{/sha}","comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/comments{/number}","issue_comment_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/issues/comments{/number}","contents_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/contents/{+path}","compare_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/compare/{base}...{head}","merges_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/merges","archive_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/downloads","issues_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/issues{/number}","pulls_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/pulls{/number}","milestones_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/milestones{/number}","notifications_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/labels{/name}","releases_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/releases{/id}","deployments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/deployments","created_at":"2021-09-10T14:57:36Z","updated_at":"2021-09-15T09:53:03Z","pushed_at":"2021-09-15T11:57:38Z","git_url":"git://github.com/mergifyio-testing/functional-testing-repo-Zerdanes.git","ssh_url":"git@github.com:mergifyio-testing/functional-testing-repo-Zerdanes.git","clone_url":"https://github.com/mergifyio-testing/functional-testing-repo-Zerdanes.git","svn_url":"https://github.com/mergifyio-testing/functional-testing-repo-Zerdanes","homepage":null,"size":1,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":1,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"allow_forking":true,"forks":1,"open_issues":0,"watchers":0,"default_branch":"main","permissions":{"admin":false,"maintain":false,"push":false,"triage":false,"pull":false},"temp_clone_token":"","allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"allow_auto_merge":false,"delete_branch_on_merge":false,"organization":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"network_count":1,"subscribers_count":1}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 200
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: DELETE
    uri: https://test-forwarder.mergify.io/events/github.com/11221/405117448
  response:
    content: Event queued
    headers:
    status_code: 202
- request:
    body: '{"default_branch": "20210915120316/test_subscription/main"}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes
  response:
    content: '{"id":405117448,"node_id":"MDEwOlJlcG9zaXRvcnk0MDUxMTc0NDg=","name":"functional-testing-repo-Zerdanes","full_name":"mergifyio-testing/functional-testing-repo-Zerdanes","private":false,"owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/4052719[...]
- request:
    body: '{"base": "20210915120316/test_subscription/main", "head": "mergify-test2:20210915120316/test_subscription/fork/pr1",
      "title": "test_subscription: pull request n1 from fork", "body": "test_subscription:
      pull request n1 from fork", "draft": false}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/pulls
  response:
    content: '{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/pulls/60","id":734499965,"node_id":"PR_kwDOGCWaCM4rx5R9","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-Zerdanes/pull/60","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo-Zerdanes/pull/60.diff","patch_url":"https://github.com/mergifyio-testing/functional-testing-repo-Zerdanes/pull/60.patch","issue_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/issues/60","number":60,"state":"open","locked":false,"title":"test_subscription:
      pull request n1 from fork","user":{"login":"mergify-test2","id":38495008,"node_id":"MDQ6VXNlcjM4NDk1MDA4","avatar_url":"https://avatars.githubusercontent.com/u/38495008?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-test2","html_url":"https://github.com/mergify-test2","followers_url":"https://api.github.com/users/mergify-test2/followers","following_url":"https://api.github.com/users/mergify-test2/following{/other_user}","gists_url":"https://api.github.com/users/mergify-test2/gists{/gist_id}","starred_url":"https://api.github.com/users/mergify-test2/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergify-test2/subscriptions","organizations_url":"https://api.github.com/users/mergify-test2/orgs","repos_url":"https://api.github.com/users/mergify-test2/repos","events_url":"https://api.github.com/users/mergify-test2/events{/privacy}","received_events_url":"https://api.github.com/users/mergify-test2/received_events","type":"User","site_admin":false},"body":"test_subscription:
      pull request n1 from fork","created_at":"2021-09-15T12:03:26Z","updated_at":"2021-09-15T12:03:26Z","closed_at":null,"merged_at":null,"merge_commit_sha":null,"assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/pulls/60/commits","review_comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/pulls/60/comments","review_comment_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/pulls/comments{/number}","comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/issues/60/comments","statuses_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/statuses/759a92eb88e3326e5c79a20a200eeaa58c565df1","head":{"label":"mergify-test2:20210915120316/test_subscription/fork/pr1","ref":"20210915120316/test_subscription/fork/pr1","sha":"759a92eb88e3326e5c79a20a200eeaa58c565df1","user":{"login":"mergify-test2","id":38495008,"node_id":"MDQ6VXNlcjM4NDk1MDA4","avatar_url":"https://avatars.githubusercontent.com/u/38495008?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-test2","html_url":"https://github.com/mergify-test2","followers_url":"https://api.github.com/users/mergify-test2/followers","following_url":"https://api.github.com/users/mergify-test2/following{/other_user}","gists_url":"https://api.github.com/users/mergify-test2/gists{/gist_id}","starred_url":"https://api.github.com/users/mergify-test2/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergify-test2/subscriptions","organizations_url":"https://api.github.com/users/mergify-test2/orgs","repos_url":"https://api.github.com/users/mergify-test2/repos","events_url":"https://api.github.com/users/mergify-test2/events{/privacy}","received_events_url":"https://api.github.com/users/mergify-test2/received_events","type":"User","site_admin":false},"repo":{"id":405125372,"node_id":"MDEwOlJlcG9zaXRvcnk0MDUxMjUzNzI=","name":"functional-testing-repo-Zerdanes","full_name":"mergify-test2/functional-testing-repo-Zerdanes","private":false,"owner":{"login":"mergify-test2","id":38495008,"node_id":"MDQ6VXNlcjM4NDk1MDA4","avatar_url":"https://avatars.githubusercontent.com/u/38495008?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-test2","html_url":"https://github.com/mergify-test2","followers_url":"https://api.github.com/users/mergify-test[...]
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: GET
    uri: https://test-forwarder.mergify.io/events/github.com/11221/405117448?counter=1
  response:
    content: '[{"id":"ec061780-161c-11ec-83fe-08cba15bd530","type":"push","payload":{"ref":"refs/heads/20210915120316/test_subscription/main","before":"0000000000000000000000000000000000000000","after":"1c54e2f8949c3a5545f844b34c7c438cd31282fa","repository":{"id":405117448,"node_id":"MDEwOlJlcG9zaXRvcnk0MDUxMTc0NDg=","name":"functional-testing-repo-Zerdanes","full_name":"mergifyio-testing/functional-testing-repo-Zerdanes","private":false,"owner":{"name":"mergifyio-testing","email":null,"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/pulls/60
  response:
    content: '{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/pulls/60","id":734499965,"node_id":"PR_kwDOGCWaCM4rx5R9","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-Zerdanes/pull/60","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo-Zerdanes/pull/[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/pulls/60/commits?per_page=100
  response:
    content: '[{"sha":"759a92eb88e3326e5c79a20a200eeaa58c565df1","node_id":"MDY6Q29tbWl0NDA1MTI1MzcyOjc1OWE5MmViODhlMzMyNmU1Yzc5YTIwYTIwMGVlYWE1OGM1NjVkZjE=","commit":{"author":{"name":"mergify-tester","email":"noreply@mergify.io","date":"2021-09-15T12:03:23Z"},"committer":{"name":"mergify-tester","email":"noreply@mergify.io","date":"2021-09-15T12:03:23Z"},"message":"test_subscription:
      pull request n1 from fork","tree":{"sha":"350544d21e8765e8c291b8299b9c0d3f32fc80f3","url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/git/trees/350544d21e8765e8c291b8299b9c0d3f32fc80f3"},"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/git/commits/759a92eb88e3326e5c79a20a200eeaa58c565df1","comment_count":0,"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}},"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/commits/759a92eb88e3326e5c79a20a200eeaa58c565df1","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-Zerdanes/commit/759a92eb88e3326e5c79a20a200eeaa58c565df1","comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/commits/759a92eb88e3326e5c79a20a200eeaa58c565df1/comments","author":null,"committer":null,"parents":[{"sha":"1c54e2f8949c3a5545f844b34c7c438cd31282fa","url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/commits/1c54e2f8949c3a5545f844b34c7c438cd31282fa","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-Zerdanes/commit/1c54e2f8949c3a5545f844b34c7c438cd31282fa"}]}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
      X-OAuth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
    status_code: 200
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/users/mergifyio-testing/installation
  response:
    content: '{"id":15398551,"account":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_u[...]
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/pulls?per_page=100
  response:
    content: '[{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/pulls/60","id":734499965,"node_id":"PR_kwDOGCWaCM4rx5R9","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-Zerdanes/pull/60","diff_url":"https://github.com/mergifyi[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repositories/405117448/pulls/60
  response:
    content: '{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/pulls/60","id":734499965,"node_id":"PR_kwDOGCWaCM4rx5R9","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-Zerdanes/pull/60","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo-Zerdanes/pull/60.diff","patch_url":"https://gith[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/commits/759a92eb88e3326e5c79a20a200eeaa58c565df1/check-runs?per_page=100
  response:
    content: '{"total_count":0,"check_runs":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=antiope-preview; format=json
    status_code: 200
- request:
    body: '{"name": "Summary", "head_sha": "759a92eb88e3326e5c79a20a200eeaa58c565df1",
      "status": "completed", "started_at": "2021-09-15T12:03:30.448998+00:00", "details_url":
      "https://github.com/mergifyio-testing/functional-testing-repo-Zerdanes/pull/60/checks",
      "output": {"title": "Mergify is disabled", "summary": "Abuse"}, "conclusion":
      "failure", "completed_at": "2021-09-15T12:03:30.966466+00:00"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/check-runs
  response:
    content: '{"id":3609774991,"name":"Summary","node_id":"CR_kwDOGCWaCM7XKMuP","head_sha":"759a92eb88e3326e5c79a20a200eeaa58c565df1","external_id":"","url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/check-runs/3609774991","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-Zerdanes/runs/3609774991","details_url":"https://github.com/mergifyio-testing/functional-testing-repo-Zerdanes/pull/60/checks","status":"completed","conclusion":"failure","started_at":"2021-09-15T12:03:30Z","completed_at":"2021-09-15T12:03:30Z","output":{"title":"Mergify
      is disabled","summary":"Abuse","text":null,"annotations_count":0,"annotations_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/check-runs/3609774991/annotations"},"check_suite":{"id":3775684304},"app":{"id":11221,"slug":"mergify-test","node_id":"MDM6QXBwMTEyMjE=","owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"name":"Mergify-test","description":"Test
      version of Mergify.","external_url":"https://mergify.io","html_url":"https://github.com/apps/mergify-test","created_at":"2018-04-18T13:55:11Z","updated_at":"2021-03-15T16:12:09Z","permissions":{"checks":"write","contents":"write","emails":"read","issues":"write","members":"read","metadata":"read","pages":"write","pull_requests":"write","statuses":"read"},"events":["check_run","check_suite","issue_comment","pull_request","pull_request_review","pull_request_review_comment","push","status"]},"pull_requests":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/check-runs/3609774991
      X-GitHub-Media-Type:
      - github.v3; param=antiope-preview; format=json
    status_code: 201
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/branches?per_page=100
  response:
    content: '[{"name":"20210915120316/test_subscription/main","commit":{"sha":"1c54e2f8949c3a5545f844b34c7c438cd31282fa","url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/commits/1c54e2f8949c3a5545f844b34c7c438cd31282fa"},"protected":false,"protection":{"enabled":false,"required_status_checks":{"enforcement_level":"off","contexts":[]}},"protection_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/branches/20210915120316/test_subscription/main/protection"},{"name":"main","commit":{"sha":"c24c9d7166fedec73462cc75cde77e525df96dba","url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/commits/c24c9d7166fedec73462cc75cde77e525df96dba"},"protected":true,"protection":{"enabled":true,"required_status_checks":{"enforcement_level":"off","contexts":[]}},"protection_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/branches/main/protection"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
      X-OAuth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
    status_code: 200
- request:
    body: ''
    headers:
    method: DELETE
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Zerdanes/git/refs/heads/20210915120316/test_subscription/main
  response:
    content: ''
    headers:
      X-Accepted-OAuth-Scopes:
      - repo
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
      X-OAuth-Scopes:
[...]
