interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/user/40527191/installation
  response:
    content: '{"id":26895343,"account":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"repository_selection":"selected","access_tokens_url":"https://api.github.com/app/installations/26895343/access_tokens","repositories_url":"https://api.github.com/installation/repositories","html_url":"https://github.com/organizations/mergifyio-testing/settings/installations/26895343","app_id":214876,"app_slug":"mergify-jd","target_id":40527191,"target_type":"Organization","permissions":{"pages":"write","checks":"write","issues":"write","members":"read","contents":"write","metadata":"read","statuses":"write","workflows":"write","pull_requests":"write","administration":"read"},"events":["check_run","check_suite","issue_comment","member","membership","organization","pull_request","pull_request_review","pull_request_review_comment","push","repository","status","team","team_add"],"created_at":"2022-06-27T12:51:55.000Z","updated_at":"2022-06-27T12:51:55.000Z","single_file_name":null,"has_multiple_single_files":false,"single_file_paths":[],"suspended_by":null,"suspended_at":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/user
  response:
    content: '{"login":"mergify-test1","id":38494943,"node_id":"MDQ6VXNlcjM4NDk0OTQz","avatar_url":"https://avatars.githubusercontent.com/u/38494943?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-test1","html_url":"https://github.com/mergify-test1","followers_url":"https://api.github.com/users/mergify-test1/followers","following_url":"https://api.github.com/users/mergify-test1/following{/other_user}","gists_url":"https://api.github.com/users/mergify-test1/gists{/gist_id}","starred_url":"https://api.github.com/users/mergify-test1/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergify-test1/subscriptions","organizations_url":"https://api.github.com/users/mergify-test1/orgs","repos_url":"https://api.github.com/users/mergify-test1/repos","events_url":"https://api.github.com/users/mergify-test1/events{/privacy}","received_events_url":"https://api.github.com/users/mergify-test1/received_events","type":"User","site_admin":false,"name":"mergify-test-user-1","company":"@mergifyio","blog":"https://mergify.io","location":null,"email":null,"hireable":null,"bio":"This
      account is for testing purpose of the workflow of the GitHub App @mergifyio","twitter_username":"mergifyio","public_repos":0,"public_gists":0,"followers":0,"following":0,"created_at":"2018-04-18T10:42:59Z","updated_at":"2022-03-15T14:57:16Z","private_gists":0,"total_private_repos":0,"owned_private_repos":0,"disk_usage":0,"collaborators":0,"two_factor_authentication":false,"plan":{"name":"free","space":976562499,"collaborators":0,"private_repos":10000}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
      X-OAuth-Scopes:
      - admin:org, delete_repo, read:public_key, repo, user, workflow
    status_code: 200
[...]
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/repositories/405124434
  response:
    content: '{"id":405124434,"node_id":"MDEwOlJlcG9zaXRvcnk0MDUxMjQ0MzQ=","name":"functional-testing-repo-jd","full_name":"mergifyio-testing/functional-testing-repo-jd","private":false,"owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/mergifyio-testing/functional-testing-repo-jd","description":null,"fork":false,"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd","forks_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/forks","keys_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/keys{/key_id}","collaborators_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/teams","hooks_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/hooks","issue_events_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/issues/events{/number}","events_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/events","assignees_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/assignees{/user}","branches_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/branches{/branch}","tags_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/tags","blobs_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/git/refs{/sha}","trees_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/git/trees{/sha}","statuses_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/statuses/{sha}","languages_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/languages","stargazers_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/stargazers","contributors_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/contributors","subscribers_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/subscribers","subscription_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/subscription","commits_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/commits{/sha}","git_commits_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/git/commits{/sha}","comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/comments{/number}","issue_comment_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/issues/comments{/number}","contents_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/contents/{+path}","compare_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/compare/{base}...{head}","merges_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/merges","archive_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/downloads","issues_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/issues{/number}","pulls_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/pulls{/number}","milestones_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/milestones{/number}","notifications_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/labels{/name}","releases_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/releases{/id}","deployments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/deployments","created_at":"2021-09-10T15:19:47Z","updated_at":"2021-11-29T10:46:15Z","pushed_at":"2022-07-04T21:04:30Z","git_url":"git://github.com/mergifyio-testing/functional-testing-repo-jd.git","ssh_url":"git@github.com:mergifyio-testing/functional-testing-repo-jd.git","clone_url":"https://github.com/mergifyio-testing/functional-testing-repo-jd.git","svn_url":"https://github.com/mergifyio-testing/functional-testing-repo-jd","homepage":null,"size":1,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":false,"has_projects":false,"has_downloads":true,"has_wiki":false,"has_pages":false,"forks_count":1,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"public","forks":1,"open_issues":0,"watchers":0,"default_branch":"main","permissions":{"admin":false,"maintain":false,"push":false,"triage":false,"pull":false},"temp_clone_token":"","allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"allow_auto_merge":false,"delete_branch_on_merge":false,"allow_update_branch":false,"use_squash_pr_title_as_default":false,"organization":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"network_count":1,"subscribers_count":2}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 200
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: DELETE
    uri: https://test-forwarder.mergify.io/events/github.com/214876/405124434
  response:
    content: Event queued
    headers:
    status_code: 202
- request:
    body: '{"default_branch": "20220704210449/test_draft_to_ready_for_review/main"}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd
  response:
    content: '{"id":405124434,"node_id":"MDEwOlJlcG9zaXRvcnk0MDUxMjQ0MzQ=","name":"functional-testing-repo-jd","full_name":"mergifyio-testing/functional-testing-repo-jd","private":false,"owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_i[...]
- request:
    body: '{"base": "20220704210449/test_draft_to_ready_for_review/main", "head":
      "mergifyio-testing:20220704210449/test_draft_to_ready_for_review/integration/pr1",
      "title": "test_draft_to_ready_for_review: pull request n1 from integration",
      "body": "test_draft_to_ready_for_review: pull request n1 from integration",
      "draft": true}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/pulls
  response:
    content: '{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/pulls/857","id":986816548,"node_id":"PR_kwDOGCW1Us460aAk","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-jd/pull/857","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo-jd/pull/857.diff","patch_url":"https://github.com/mergifyio-testing/functional-testing-repo-jd/pull/857.patch","issue_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/issues/857","number":857,"state":"open","locked":false,"title":"test_draft_to_ready_for_review:
      pull request n1 from integration","user":{"login":"mergify-jd[bot]","id":108278600,"node_id":"BOT_kgDOBnQzSA","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-jd%5Bbot%5D","html_url":"https://github.com/apps/mergify-jd","followers_url":"https://api.github.com/users/mergify-jd%5Bbot%5D/followers","following_url":"https://api.github.com/users/mergify-jd%5Bbot%5D/following{/other_user}","gists_url":"https://api.github.com/users/mergify-jd%5Bbot%5D/gists{/gist_id}","starred_url":"https://api.github.com/users/mergify-jd%5Bbot%5D/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergify-jd%5Bbot%5D/subscriptions","organizations_url":"https://api.github.com/users/mergify-jd%5Bbot%5D/orgs","repos_url":"https://api.github.com/users/mergify-jd%5Bbot%5D/repos","events_url":"https://api.github.com/users/mergify-jd%5Bbot%5D/events{/privacy}","received_events_url":"https://api.github.com/users/mergify-jd%5Bbot%5D/received_events","type":"Bot","site_admin":false},"body":"test_draft_to_ready_for_review:
      pull request n1 from integration","created_at":"2022-07-04T21:04:55Z","updated_at":"2022-07-04T21:04:55Z","closed_at":null,"merged_at":null,"merge_commit_sha":null,"assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":true,"commits_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/pulls/857/commits","review_comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/pulls/857/comments","review_comment_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/pulls/comments{/number}","comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/issues/857/comments","statuses_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/statuses/e778a8977695194ce794085f14eb9544fdd94fc8","head":{"label":"mergifyio-testing:20220704210449/test_draft_to_ready_for_review/integration/pr1","ref":"20220704210449/test_draft_to_ready_for_review/integration/pr1","sha":"e778a8977695194ce794085f14eb9544fdd94fc8","user":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"repo":{"id":405124434,"node_id":"MDEwOlJlcG9zaXRvcnk0MDUxMjQ0MzQ=","name":"functional-testing-repo-jd","full_name":"mergifyio-testing/functional-testing-repo-jd","private":false,"owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/us[...]
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: GET
    uri: https://test-forwarder.mergify.io/events/github.com/214876/405124434?counter=1
  response:
    content: '[{"id":"f2f2b368-fbdc-11ec-9b88-39e5a0595596","type":"push","payload":{"ref":"refs/heads/20220704210449/test_draft_to_ready_for_review/main","before":"0000000000000000000000000000000000000000","after":"5bdd667a07333245b58f5a79ffeeeed26226fe2d","repository":{"id":405124434,"node_id":"MDEwOlJlcG9zaXRvcnk0MDUxMjQ0MzQ=","name":"functional-testing-repo-jd","full_name":"mergifyio-testing/functional-testing-repo-jd","private":false,"owner":{"name":"mergifyio-testing","email":null,"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","f[...]
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: GET
    uri: https://test-forwarder.mergify.io/events/github.com/214876/405124434?counter=2
  response:
    content: '[{"id":"f453eb00-fbdc-11ec-89bc-68db86cc55b7","type":"pull_request","payload":{"action":"opened","number":857,"pull_request":{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/pulls/857","id":986816548,"node_id":"PR_kwDOGCW1Us460aAk","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-jd/pull/857","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo-jd/pull/857.diff","patch_url":"https://github.com/mergifyio-testing/functional-testing-repo-jd/pull/857.patch","issue_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/iss[...]
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repositories/405124434/pulls?per_page=100
  response:
    content: '[{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/pulls/857","id":986816548,"node_id":"PR_kwDOGCW1Us460aAk","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-jd/pull/857","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo-jd/pull/857.diff","patch_url":"https://github.c[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repositories/405124434/pulls/857
  response:
    content: '{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/pulls/857","id":986816548,"node_id":"PR_kwDOGCW1Us460aAk","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-jd/pull/857","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo-jd/pull/857.diff","patch_url":"https://github.com/mergify[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/contents/.mergify.yml
  response:
    content: '{"name":".mergify.yml","path":".mergify.yml","sha":"27329eb9b598ced2f0f14f85992ee89709502372","size":172,"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/contents/.mergify.yml?ref=20220704210449/test_draft_to_ready_for_review/main","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-jd/blob/20220704210449/test_draft_to_ready_for_review/main/.mergify.yml","git_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/git/blobs/27329eb9b598ced2f0f14f85992ee89709502372","download_url":"https://raw.githubusercontent.com/mergifyio-testing/functional-testing-repo-jd/20220704210449/test_draft_to_ready_for_review/main/.mergify.yml","type":"file","content":"cHVsbF9yZXF1ZXN0X3J1bGVzOgotIGFjdGlvbnM6CiAgICBlZGl0OgogICAg\nICBkcmFmdDogZmFsc2UKICBjb25kaXRpb25zOgogIC0gYmFzZT0yMDIyMDcw\nNDIxMDQ0OS90ZXN0X2RyYWZ0X3RvX3JlYWR5X2Zvcl9yZXZpZXcvbWFpbgog\nIG5hbWU6IGNvbnZlcnQgUHVsbCBSZXF1ZXN0IHRvIERyYWZ0Cg==\n","encoding":"base64","_links":{"self":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/contents/.mergify.yml?ref=20220704210449/test_draft_to_ready_for_review/main","git":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/git/blobs/27329eb9b598ced2f0f14f85992ee89709502372","html":"https://github.com/mergifyio-testing/functional-testing-repo-jd/blob/20220704210449/test_draft_to_ready_for_review/main/.mergify.yml"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/commits/e778a8977695194ce794085f14eb9544fdd94fc8/check-runs?per_page=100
  response:
    content: '{"total_count":0,"check_runs":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=antiope-preview; format=json
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/contents/.mergify.yml?ref=fb31969cc52217735f4239c5cf46eb566850a044
  response:
    content: '{"name":".mergify.yml","path":".mergify.yml","sha":"27329eb9b598ced2f0f14f85992ee89709502372","size":172,"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/contents/.mergify.yml?ref=fb31969cc52217735f4239c5cf46eb566850a044","html_url":"https[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/contents/.mergify/config.yml?ref=fb31969cc52217735f4239c5cf46eb566850a044
  response:
    content: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest/reference/repos#get-repository-content"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 404
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/contents/.github/mergify.yml?ref=fb31969cc52217735f4239c5cf46eb566850a044
  response:
    content: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest/reference/repos#get-repository-content"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 404
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/issues/857/comments?per_page=100
  response:
    content: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 200
- request:
    body: '{"query": "\n            mutation {\n                markPullRequestReadyForReview(input:{pullRequestId:
      \"PR_kwDOGCW1Us460aAk\"}) {\n                    pullRequest {\n                        isDraft\n                    }\n                }\n            }\n        "}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/graphql
  response:
    content: '{"data":{"markPullRequestReadyForReview":{"pullRequest":{"isDraft":false}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - repo
      X-GitHub-Media-Type:
      - github.v4; param=machine-man-preview; format=json
      X-OAuth-Scopes:
      - repo
    status_code: 200
- request:
    body: '{"name": "Summary", "head_sha": "e778a8977695194ce794085f14eb9544fdd94fc8",
      "status": "completed", "started_at": "2022-07-04T21:04:57.329983+00:00", "details_url":
      "https://github.com/mergifyio-testing/functional-testing-repo-jd/pull/857/checks",
      "output": {"title": "1 rule matches", "summary": "<!-- J1J1bGU6IGNvbnZlcnQgUHVsbCBSZXF1ZXN0IHRvIERyYWZ0IChlZGl0KSc6IHN1Y2Nlc3MK
      -->\n### Rule: convert Pull Request to Draft (edit)\n- [X] `base=20220704210449/test_draft_to_ready_for_review/main`\n\n<hr
      />\n\n<details>\n<summary>Mergify commands and options</summary>\n\n<br />\n\nMore
      conditions and actions can be found in the [documentation](https://docs.mergify.com/).\n\nYou
      can also trigger Mergify actions by commenting on this pull request:\n\n- `@Mergifyio
      refresh` will re-evaluate the rules\n- `@Mergifyio rebase` will rebase this
      PR on its base branch\n- `@Mergifyio update` will merge the base branch into
      this PR\n- `@Mergifyio backport <destination>` will backport this PR on `<destination>`
      branch\n\nAdditionally, on Mergify [dashboard](https://dashboard.mergify.com/)
      you can:\n\n- look at your merge queues\n- generate the Mergify configuration
      with the config editor.\n\nFinally, you can contact us on https://mergify.com\n</details>\n"},
      "external_id": "857", "conclusion": "success", "completed_at": "2022-07-04T21:04:59.895408+00:00"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/check-runs
  response:
    content: '{"id":7186833579,"name":"Summary","node_id":"CR_kwDOGCW1Us8AAAABrF5gqw","head_sha":"e778a8977695194ce794085f14eb9544fdd94fc8","external_id":"857","url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/check-runs/7186833579","html_url":"https[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/pulls?per_page=100
  response:
    content: '[{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/pulls/857","id":986816548,"node_id":"PR_kwDOGCW1Us460aAk","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-jd/pull/857","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo-jd/pull/857.diff","[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/pulls/857
  response:
    content: '{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/pulls/857","id":986816548,"node_id":"PR_kwDOGCW1Us460aAk","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-jd/pull/857","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo-jd/pull/857.diff","patch_url"[...]
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-jd/branches?per_page=100
  response:
[...]
